<head><title>家長登記-Tutorseeking</title></head>
{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/parent-regis.css">
<style type="text/css">
.rmb-group .form-control {
    width: 100%;
}
.loading-btn{
    display: none;
    text-align: center;
}
.loading-btn a{
    display: inline-block;
    padding: 8px;
    width: 150px;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    color: #fff;
    background: #fbca21;
    line-height: 30px;
    cursor: pointer;
}
</style>
<link rel="stylesheet" href="{CSS_PATH}add/index.css">
<link href="{CSS_PATH}add_user/index.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{CSS_PATH}add/bootstrapValidator.css">
        {pc:get sql="select thumb from v9_position where posid=2 order by listorder desc" cache='3600' return="data"}
        {loop $data $v}
        <!--头部结束-->
        <div class="top-tutor-main" style="background-image:url({$v[thumb]})">
        {/loop}
        {/pc}
            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">家長登記</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>家長登記</span></li>
                        </ul>
                    </div>
                    <div class="entry-content">
                        <div class="panel-tab">
                            <div class="panel-tab-item active">填寫資料</div>
                            <div class="panel-tab-item">確認</div>
                        </div>
                        <div class="tab-panel-content">

                            <div class="tab-panel-item active">
                                <form  class="form-horizontal tuition-horizontal" id="stu_reg" enctype="multipart/form-data">
                                    <div class="info-list">
                                        <div class="list-title">個人資料</div>
                                        <div class="">
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>登記手提電話</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control require" data-info="聯絡人手提電話" data-type="tel" name="info[student_mobile]" id="mobile" oninput="checkusertel();">
                                                    <small class="help-block mobile_exist" style="display: none;color:#a94442;">手機號已註冊，請重新填寫</small>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <!-- info[catname] -->
                                                <input type="hidden" class="form-control" name="role_verify" value="1">
                                                <input type="hidden" class="form-control" name="groupid" value="2">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>聯絡人姓名</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control require" data-info="聯絡人姓名" name="info[student_contactname]" id="contactname">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>學生姓名</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control require" data-info="學生姓名" name="info[student_name]">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">學生昵稱</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" data-info="學生昵稱" name="nickname" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>登入密碼</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="password" class="form-control require" data-info="密碼" name="student_pwd" id="pwd"
                                                    placeholder="請輸入六位數以上密碼，密碼由字母+數字組成">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>確認密碼</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="password" class="form-control require" data-info="確認密碼" name="userrepwd" id="repwd">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">聯絡人住宅電話</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="info[student_housemobile]" data-type="tel">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>聯絡人與學生關係</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select  id="stu_relation" class="form-control require"  data-info="聯絡人與學生關係" name="info[student_relation]">
                                                        <option value="">請選擇</option>
                                                        <option value="父親">父親</option>
                                                        <option value="母親">母親</option>
                                                        <option value="監護人">監護人</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>電郵地址</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control require"  data-info="電郵地址" data-type="email" name="info[student_email]" id="email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>確認電郵地址</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control require"  data-info="確認電郵地址" data-type="email" name="re_email" id="re_email" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>住宅區域</label>
                                                <div class="col-md-7 col-sm-8">
                                                    {pc:get sql="SELECT loc_name,loc_id FROM v9_sys_location where loc_level=2 order by loc_seq asc--" return="location" }
                                                
                                                    <select  id="stu_loc" class="form-control require"  data-info="住宅區域" name="info[student_locid]">
                                                        <option value="">請選擇</option>
                                                        {loop $location $loc}
                                                        <optgroup label="{$loc[loc_name]}">
                                                        <?php $loc_id=$loc[loc_id]?>
                                                        {pc:get sql="SELECT loc_name,loc_id FROM v9_sys_location where loc_level=3 and loc_parentid=$loc_id order by loc_seq asc--" return="place" }
                                                        {loop $place $p}
                                                            <option value="{$p[loc_id]}">{$p[loc_name]}</option>
                                                        {/loop}
                                                        {/pc}    
                                                        </optgroup>
                                                        {/loop}
                                                    </select>   
                                                {/pc} 
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>居住地點</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control require"  data-info="居住地點" name="info[student_address]" id="stu_add">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">就讀學校</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="info[student_school]" data-info="就讀學校">
                                                   
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">期望補習成果</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <textarea class="form-control" name="info[tutor_res]" data-info="期望補習成果"></textarea> 
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-list">
                                        <table class="listpanel-table" id="time">
                                            <thead>
                                                <th colspan="2" class="listpanel-title">最佳上課時間</th>
                                            </thead>
                                            <tbody>
                                                <tr class="mon">
                                                    <td>星期一</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[mon][from_hour]"  class="from_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[mon][to_hour]"  class="to_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                           </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                                <tr class="tues">
                                                    <td>星期二</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[tues][from_hour]"  class="from_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[tues][to_hour]"  class="to_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                                <tr class="wed">
                                                    <td>星期三</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[wed][from_hour]"  class="from_hour class-control">
                                                                        <option value=""></option>
                                                                      <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[wed][to_hour]"  class="to_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                                <tr class="thur">
                                                    <td>星期四</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[thur][from_hour]"  class="from_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[thur][to_hour]"  class="to_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                                <tr class="fri">
                                                    <td>星期五</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[fri][from_hour]"  class="from_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[fri][to_hour]"  class="to_hour class-control">
                                                                        <option value=""></option>
                                                                       <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                                <tr class="sat">
                                                    <td>星期六</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[sat][from_hour]"  class="from_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[sat][to_hour]"  class="to_hour class-control">
                                                                        <option value=""></option>
                                                                       <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                                <tr class="sun">
                                                    <td>星期日</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[sun][from_hour]"  class="from_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[sun][to_hour]" class="to_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="info-list">
                                        <div class="list-title">尋找導師</div>
                                        <div class="">
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>補習類別</label>
                                                <div class="col-md-7 col-sm-8">
                                                {pc:get sql="SELECT * FROM v9_sys_tutor_type where tt_level=1 order by tt_seq asc--" return="data1" }
                                                    <select name="re_info[st_ttid_1]" id="st_ttid_1" class="form-control require"  data-info="補習類別">
                                                        <option value="">請選擇</option>
                                                        {loop $data1 $k1 $r1}
                                                        {pc:get sql="SELECT * FROM v9_sys_tutor_type where tt_level=2 and tt_parentid=$r1[tt_id] order by tt_seq asc--" return="datas" }
                                                        {if !empty($datas)}
                                                        <option value="{$r1[tt_id]}">{$r1[tt_name]}</option>
                                                        {/if}
                                                        {/pc}
                                                        {/loop}
                                                    </select>
                                                   {/pc} 
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>補習項目</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select name="re_info[st_ttid_2]" id="st_ttid_2" class="form-control require"  data-info="補習項目">
                                                        <option value="">請選擇</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>補習級別</label>
                                                <div class="col-md-7 col-sm-8">

                                                    <select name="re_info[st_ttid_3]" id="st_ttid_3" class="form-control require"  data-info="補習級別">
                                                        <option value="">請選擇</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">學生人數</label>

                                                <div class="col-md-7 col-sm-8">
                                                    <label for="" class="control-label text-right col-sm-2">男生:</label>
                                                    <div class="col-md-4 col-sm-4">
                                                    <input type="text" class="form-control mnum"  data-info="男生人數" name="re_info[st_num_join_m]" >
                                                    </div>
                                                    <label for="" class="control-label text-right col-sm-2">女生:</label>
                                                    <div class="col-md-4 col-sm-4">
                                                    <input type="text" class="form-control fnum"  data-info="女生人數" name="re_info[st_num_join_f]" >
                                                    </div>
                                                    <span class="error-tip" style="display: none;"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">每次時間</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select name="re_info[st_class_hour]" id="coaching_time" class="form-control" >
                                                        <option value="">請選擇</option>
                                                        <option value="0.75">45分鐘</option>
                                                        <option value="1">1小時</option>
                                                        <option value="1.5">1.5小時</option>
                                                        <option value="2">2小時</option>
                                                        <option value="2.5">2.5小時</option>
                                                        <option value="3">3小時</option>
                                                        <option value="3.5">3.5小時</option>
                                                        <option value="4">4小時</option>
                                                        <option value="4.5">4.5小時</option>
                                                        <option value="5">5小時</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>每小時學費</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="input-group rmb-group">
                                                        <div class="input-group-addon">$</div>
                                                        <input type="text" class="form-control require"   data-info="每小時學費" name="st_tutor_fee">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">要求導師最低學歷</label>
                                                <div class="col-md-7 col-sm-8">
                                                {pc:get sql="SELECT * FROM v9_grade order by grade_id asc" return="data_grade" }
                                                    <select name="re_info[st_min_grade]"  class="form-control" >
                                                        <option value="">請選擇</option>
                                                        {loop $data_grade $r_grade}
                                                        <option value="{$r_grade[grade_id]}">{$r_grade[grade_name]}</option>
                                                        {/loop}
                                                    </select>
                                                 {/pc}   
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">導師所讀心儀大學</label>
                                                <div class="col-md-7 col-sm-8">
                                                {pc:get sql="SELECT * FROM v9_collage order by id desc" return="data_collage" }
                                                    <select name="re_info[like_collage]"  class="form-control" >
                                                        <option value="">請選擇</option>
                                                        {loop $data_collage $r_collage}
                                                        <option value="{$r_collage[id]}">{$r_collage[c_name]}</option>
                                                        {/loop}
                                                    </select>
                                                 {/pc}   
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">授課語言</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select name="re_info[st_main_lang]" class="form-control" >
                                                        <option value="">請選擇</option>
                                                        <option value="廣東話">廣東話</option>
                                                        <option value="普通話">普通話</option>
                                                        <option value="英語">英語</option>
                                                        <option value="其他語言">其他語言</option>
                                                    </select>
                                                 {/pc}   
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">導師性別</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="radio-list">
                                                        <div class="radio-inline pl-0">
                                                            <span class="radio radio-primary">
                                                                <input type="radio" name="re_info[st_req_sex]"  value="M" checked="checked">
                                                            <label for="">男</label>
                                                            </span>
                                                        </div>
                                                        <div class="radio-inline">
                                                            <span class="radio radio-primary">
                                                                <input type="radio" name="re_info[st_req_sex]"  value="F">
                                                            <label for="">女</label>
                                                            </span>
                                                        </div>
                                                        <div class="radio-inline">
                                                            <span class="radio radio-primary">
                                                                <input type="radio" name="re_info[st_req_sex]"  value="A">
                                                            <label for="">無所謂</label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">如何得知本公司？</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select name="info[st_how_know]" id="how_konw" class="form-control" >
                                                        <option value="">請選擇</option>
                                                        <option value="1">朋友介紹</option>
                                                        <option value="2">宣傳廣告</option>
                                                        <option value="3">Facebook</option>
                                                        <option value="4">Google</option>
                                                        <option value="5">百度</option>
                                                        <option value="6">優惠劵</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">推薦碼 / 推薦人手提號碼</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control"  name="info[Referee]" id="Referee">
                                                    <span class="error-tip"></span>
                                                    <!-- <input type="hidden" name="info[myReferee]" id="myReferee" value="<?php echo $myReferee;?>"> -->
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>驗證碼：</label>
                                                <div class="col-md-3 col-sm-8">
                                                    <input type="text" class="form-control require" placeholder="驗證碼" data-info="驗證碼" name='code' oninput="checkcode();">
                                                    <div class="code-img" id="code">    
                                                {form::checkcode('code_img', '4', '14', 84, 24)}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group msg_code" style="display: none;">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>短信驗證碼：</label>
                                                <div class="col-md-3 col-sm-8">
                                                    <input type="text" class="form-control" placeholder="短信驗證碼" data-info="短信驗證碼" data-type="msg_code" name='msg_code' style="width:55%;float: left;">
                                                    <input type="button" value="發送驗證碼" onclick="send_msg_code();" style="height: 33px;width: 45%;" class="send_code">
                                                </div>
                                                
                                            </div>
                                            <input type="hidden" class="form-control" name="re_flag" id="re_flag" value="">
                                            <div class="comfirm">
                                                <a class="btn confirm-btn">確認</a>
                                                <p class="confirm-tip">如在登記過程中有任何疑問，請<a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=8" class="main-color">聯繫我們</a>並嘗試描述問題的詳情。</p>
                                            </div>
                                            <div class="loading-btn">
                                                <a href="javascript:; " class="loading">正在提交...</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-panel-item">
                                <div class="reg-finish">
                                    <div class="finish-title">
                                        最適合你的導師
                                    </div>
                                    <div class="row teacher"></div>

                                    <div class="finish-dec">
                                       
                                    </div>
                                    
                                    <div class="show_index" style="text-align: center;">
                                        <a style="width:150px;background-color: #b7b755;padding: 4px 20px;" href="{APP_PATH}">回到首頁</a>
                                   </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
       {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
    <script src="{JS_PATH}add/bootstrapValidator.min.js"></script>
    <script src="{JS_PATH}add_user/imgUp.js"></script>
    <script language='javascript' src='{JS_PATH}add/newPopup.js' charset="UTF-8"></script> 
    <script type="text/javascript">
    if(parseInt($(window).width()) > 768 && parseInt($(window).width()) < 1024){    //ipad版
        <?php if(isset($ip_src)){?>
            window.onload=ShowHtmlString('<?php echo $ip_src?>');
        <?php }?>
    }else if(parseInt($(window).width()) < 768){        //手機版
        <?php if(isset($ph_src)){?>
            window.onload=ShowHtmlString('<?php echo $ph_src?>');
        <?php }?>
    }else{          //電腦版
        <?php if(isset($com_src)){?>
            window.onload=ShowHtmlString('<?php echo $com_src?>');
        <?php }?>
    }
    // 进入页面显示弹窗
    function ShowHtmlString(src) //显示html 
    { 
        var strHtml = "<img src='"+src+"'>"; 
        var pop=new Popup({ contentType:2,isReloadOnClose:false,isHaveTitle:false,width:350,height:300}); 
        pop.setContent("contentHtml",strHtml); 
        pop.setContent("title","字符串示例html"); 
        pop.build(); 
        pop.show(); 
    }

    $(function(){
        var tuijian;
        var num;
        var telstatus;
    })

    $('#stu_reg').bootstrapValidator({
            message: '這個欄位必須填寫。',
            fields: {
                "info[student_mobile]": {
                    validators: {
                        notEmpty: {
                            message: '請填寫手提電話。'
                        },
                        regexp: {
                            regexp: /^(\d{8}|\d{11})$/,
                            // regexp: /((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)/,
                            message: '手機電話格式不正確。'
                        }
                    }
                },
                "info[student_contactname]": {
                    validators: {
                        notEmpty: {
                            message: '請填寫聯絡人姓名。'
                        }
                    }
                },
                "info[student_name]": {
                    validators: {
                        notEmpty: {
                            message: '請填寫學生姓名。'
                        }
                    }
                },
                student_pwd: {
                    validators: {
                        notEmpty: {
                            message: '請填寫登入密碼。'
                        },
                        regexp: {
                            regexp: /^(?![0-9]+$)(?![a-zA-Z]+$)(?!([^(0-9a-zA-Z)]|[\(\)])+$)([^(0-9a-zA-Z)]|[\(\)]|[a-zA-Z]|[0-9]){6,}$/,
                            message: '密碼格式不正確。'
                        },
                        identical: {
                            field: 'userrepwd',
                            message: '兩次密碼填寫不一樣。'
                        }
                    }
                },
                userrepwd: {
                    validators: {
                        notEmpty: {
                            message: '請確認填寫的密碼。'
                        },
                        identical: {
                            field: 'student_pwd',
                            message: '兩次密碼填寫不一樣。'
                        }
                    }
                },
                "info[student_relation]": {
                    validators: {
                        notEmpty: {
                            message: '請選擇聯絡人與學生關係。'
                        }
                    }
                },
                "info[student_email]": {
                    validators: {
                        notEmpty: {
                            message: '請填寫電郵地址。'
                        },
                        regexp: {
                            regexp: /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/,
                            message: '電郵地址格式不正確。'
                        },
                        identical: {
                            field: 're_email',
                            message: '兩次電郵地址填寫不一樣。'
                        }
                    }
                },
                re_email:{
                    validators: {
                        notEmpty: {
                            message: '請確認電郵地址。'
                        },
                        identical: {
                            field: 'info[student_email]',
                            message: '兩次電郵地址填寫不一樣。'
                        }
                    }
                },
                "info[student_locid]": {
                    validators: {
                        notEmpty: {
                            message: '請選擇住宅區域。'
                        }
                    }
                },
                "info[student_address]": {
                    validators: {
                        notEmpty: {
                            message: '請填寫居住地點。'
                        }
                    }
                },
                "re_info[st_ttid_1]": {
                    validators: {
                        notEmpty: {
                            message: '請選擇補習類別。'
                        }
                    }
                },
                "re_info[st_ttid_2]": {
                    validators: {
                        notEmpty: {
                            message: '請選擇補習項目。'
                        }
                    }
                },
                "re_info[st_ttid_3]": {
                    validators: {
                        notEmpty: {
                            message: '請選擇補習級別。'
                        }
                    }
                },
                "st_tutor_fee": {
                    validators: {
                        notEmpty: {
                            message: '請填寫每小時學費。'
                        }
                    }
                },
                "code": {
                    validators: {
                        notEmpty: {
                            message: '請填寫驗證碼。'
                        }
                    }
                },
                "msg_code": {
                    validators: {
                        notEmpty: {
                            message: '請填寫驗證碼。'
                        }
                    }
                },
            }
        });


        //ajax验证图片驗證碼
        function checkcode(){
            var code = $('input[name="code"]').val();
            if(code.length == 4){
                $('input[name="code"]').parent().find('span').remove();
                $.post("{APP_PATH}index.php?m=tparents&c=index&a=ajax_checkcode",{code:code},function(data){
                    if(data == '1'){
                        $('.msg_code').show();
                    }else{
                        $('input[name="code"]').parent().append('<span class="error-tip">請輸入正確的驗證碼。</span>');
                    }
                });
            }
        }

    //验证手机号是否已注册
    function checkusertel(){
        var usertel = $('input[name="info[student_mobile]"]').val();
        var mobileRule = /((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)/;
        var Verification = mobileRule.test(usertel);
        if(!Verification){
            return false;
        }
        $.post("{APP_PATH}index.php?m=teachers&c=index&a=ajax_checkusertel",{usertel:usertel,role:'1'},function(data){
            
            if(data == '1'){
                $('.mobile_exist').hide();
                $('.mobile_exist').parent().parent().removeClass('has-error');
                $('.mobile_exist').parent().parent().addClass('has-success');
               telstatus = true;
            }else if(data=="0"){
                $('.mobile_exist').show();
                $('.mobile_exist').parent().parent().removeClass('has-success');
                $('.mobile_exist').parent().parent().addClass('has-error');
                telstatus = false;
            }
        });
    }

    //驗證推薦人是否存在
    function checkReferee(){
       var  Referee= $('#Referee').val();
       
       if(Referee!=""){
        $.ajax({
            url:"{APP_PATH}index.php?m=teachers&c=index&a=ajax_checkReferee",
            data: {Referee:Referee},
            async:false,
            type:"post",
            success:function(data){
                if(data == '1'){
                   $('#Referee').parent().find(".error-tip").html("");
                   tuijian = true;
                }else if(data=='0'){
                    $('#Referee').parent().append('<span class="error-tip">此推薦人不存在，請重新填寫</span>');
                    tuijian = false;
                }
            }
        }) 
        }else{
           $('#Referee').parent().find(".error-tip").html(""); 
           tuijian = true;
        }
    }

    function checknum(){
        if($('.mnum').val()==""&& $('.fnum').val()==""){
            $('.mnum').parent().parent().find(".error-tip").html("請填寫學生人數");
            $('.mnum').parent().parent().find(".error-tip").css('display','block');
            num=false;
        }else{
            $('.mnum').parent().parent().find(".error-tip").css('display','none');
            num=true;
        }
    }

        //發送短信驗證碼
        function send_msg_code(){
            var phone = $('input[name="info[student_mobile]"]').val();
            if(phone == ''){
                // $('input[name="info[student_mobile]"]').parent().append('<span class="error-tip">聯絡人手提電話不能為空。</span>');
                $('input[name="info[student_mobile]"]').focus();return false;
            }
            $.post("{APP_PATH}index.php?m=tparents&c=index&a=send_msg_code",{phone:phone},function(data){
                if(data.error_code != '2'){
                    alert(data.msg);
                }else{
                    $('.send_code').attr("disabled",true);
                    countdown(60);//短信發送成功倒计时
                }
            },'json');
        }

        //發送按钮倒计时
        function countdown(v){
         if(v>0){
            $('.send_code').val((--v)+'秒後重發');
                setTimeout(function(){
                    countdown(v);
                },1000);
            }
            else{
             $('.send_code').val('重發驗證碼');
             $('.send_code').attr("disabled",false);
            }
        }

        //最佳上課時間的添加
        $('.add-class-group').click(function () {
            var str = '<div class="class-group"><div class="del-class-group"><i class="fa fa-minus"></i></div></div>';
            var text=$(".class-group").html();
            $(this).parent().append(str);
            $(this).parent().children("div:last-child").append(text);
        });
        $('.class-list').on('click','.del-class-group',function () {
            $(this).parent().remove();
        })


        //教授项目级别类型联动
        $("#st_ttid_1").change(function(){
            var v = $("#st_ttid_1").val();
            $("#st_ttid_1").attr('value',v);
            if(v){
                $.post('./index.php?m=teachers&c=index&a=TchItem_change',{tt_id:v},function(data){
                    $("#st_ttid_2").html(' ');
                    $("#st_ttid_2").append('<option value="">--請選擇補習項目--</option>');
                    $("#st_ttid_3").html(' ');
                    $("#st_ttid_3").append('<option value="">--請選擇補習級別--</option>');
                    if(data.length!==0){
                        for(i in data){
                        var course_option="<option class='c_option' value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;   
                        $("#st_ttid_2").append(course_option);
                        }
                    }
                },'json');
                return false;
            }else{
                $("#st_ttid_2").html(' ');
                $("#st_ttid_2").append('<option value="">--請選擇補習項目--</option>');
                $("#st_ttid_3").html(' ');
                $("#st_ttid_3").append('<option value="">--請選擇補習級別--</option>');  
            }
        });
        $("#st_ttid_2").change(function(){
            var v = $("#st_ttid_2").val();
            $("#st_ttid_1").attr('value',v);
            if(v){
                $.post('./index.php?m=tparents&c=index&a=stu_reg',{tt_id:v},function(data){
                    $("#st_ttid_3").html(' ');
                    $("#st_ttid_3").append('<option value="">--請選擇補習級別--</option>');
                    if(data.length!==0){
                        for(i in data){
                        var course_option="<option class='c_option' value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;   
                        $("#st_ttid_3").append(course_option);
                        }
                    }
                },'json');
                return false;
            }else{
                $("#st_ttid_3").html(' ');
                $("#st_ttid_3").append('<option value="">--請選擇補習級別--</option>'); 
            }
        });        

        //表单验证
        $('.confirm-btn').click(function () {
            $('.error-tip').html("");//錯誤信息全部重置
            $('#stu_reg').bootstrapValidator('validate');
            var flag = $('#stu_reg').data('bootstrapValidator').isValid();//表單驗證正確的標誌
            // console.log(flag)
            $('#stu_reg').find('*[data-bv-field]').each(function () {
                if($(this).parents('.form-group').hasClass('has-error')) {
                    $(this).focus();
                    return false;
                }
            })

            //时间选择必须完整
            var to_hour=[] ;
            var from_hour=[] ;
            $(".to_hour option:selected").each(function () {  
                to_hour.push($(this).text());  
            });
            $(".from_hour option:selected").each(function () {  
                from_hour.push($(this).text());  
            });
            for (var i = 0; i < from_hour.length; i++) {
                if ((from_hour[i]=="" && to_hour[i] != "") || (to_hour[i]=="" && from_hour[i] != "")) {
                    flag=false;
                    $(".to_hour").eq(i).parent().parent().append('<span class="error-tip">請輸入完整的時間。</span>');
                    $(".to_hour").eq(i).focus();//獲取焦點
                    $("#re_flag").val("");
                    var re_flag=$("#re_flag").val();
                    sessionStorage.setItem('Data',re_flag);
                }
                var t11=from_hour[i].split(":");
                var t21=to_hour[i].split(":");
                var sj1 = parseInt(t11[0])*24 + t11[1];
                var sj2 = parseInt(t21[0])*24 + t21[1];
                if (sj1 >= sj2) {    
                    flag=false;
                    $(".to_hour").eq(i).parent().parent().append('<span class="error-tip">請輸入正確的時間段。</span>');
                    $(".to_hour").eq(i).focus();//獲取焦點
                    $("#re_flag").val("");
                    var re_flag=$("#re_flag").val();
                    sessionStorage.setItem('Data',re_flag);
                }
            };

            // checkReferee();
            checknum();
            //表单验证成功后
            if(flag  && num && telstatus){
                //新增时间段
                var mon_time=[];
                var tues_time=[];
                var wed_time=[];
                var thur_time=[];
                var fri_time=[];
                var sat_time=[];
                var sun_time=[];
                $('.mon option:selected').each(function () {  
                    mon_time.push($(this).val());  
                });
                $('.tues option:selected').each(function () {  
                    tues_time.push($(this).val());  
                });
                $('.wed option:selected').each(function () {  
                    wed_time.push($(this).val());  
                });
                $('.thur option:selected').each(function () {  
                    thur_time.push($(this).val());  
                });
                $('.fri option:selected').each(function () {  
                    fri_time.push($(this).val());  
                });
                $('.sat option:selected').each(function () {  
                    sat_time.push($(this).val());  
                });
                $('.sun option:selected').each(function () {  
                    sun_time.push($(this).val());  
                });
                
                var time_arr = [];
                time_arr[0]=mon_time;
                time_arr[1]=tues_time;
                time_arr[2]=wed_time;
                time_arr[3]=thur_time;
                time_arr[4]=fri_time;
                time_arr[5]=sat_time;
                time_arr[6]=sun_time;
                
                var info=$('#stu_reg').serialize();
                $(".loading-btn").css('display','block');
                $(".comfirm").css('display','none');

                $.ajax({
                    url:"{APP_PATH}index.php?m=tparents&c=index&a=stu_reg",
                    type:"post",
                    data:info,
                    async:false,
                    dataType:"json",
                    success: function(mas_data){
                        var data=mas_data[1];
                        var time_a=mas_data[0];
                        //黑名单;
                        switch (time_a){
                            case 0:
                                $("#code").parent().append('<span class="error-tip">驗證碼不正确,請重新輸入。</span>');
                                $("#re_flag").val("");
                                var re_flag=$("#re_flag").val();
                                sessionStorage.setItem('Data',re_flag);
                                $(".loading-btn").css('display','none');
                                $(".comfirm").css('display','block');
                            break;
                            case 1:
                                $("#contactname").parent().append('<span class="error-tip">用戶名已存在，請重新輸入。</span>');
                                $("#re_flag").val("");
                                var re_flag=$("#re_flag").val();
                                sessionStorage.setItem('Data',re_flag);
                                $(".loading-btn").css('display','none');
                                $(".comfirm").css('display','block');
                            break;
                            case 2:
                                $("#email").parent().append('<span class="error-tip">郵箱已存在,請重新輸入。</span>');
                                $("#re_flag").val("");
                                var re_flag=$("#re_flag").val();
                                sessionStorage.setItem('Data',re_flag);
                                $(".loading-btn").css('display','none');
                                $(".comfirm").css('display','block');
                            break;
                            case 3:
                                $('input[name="msg_code"]').parent().append('<span class="error-tip">驗證碼错误。</span>');
                                $("#re_flag").val("");
                                var re_flag=$("#re_flag").val();
                                sessionStorage.setItem('Data',re_flag);
                                $(".loading-btn").css('display','none');
                                $(".comfirm").css('display','block');
                            break;
                            case 4:
                                alert('註冊手機號與接收手機號不一致!');
                                $('input[name="info[student_mobile]"]').focus();
                                $("#re_flag").val("");
                                var re_flag=$("#re_flag").val();
                                sessionStorage.setItem('Data',re_flag);
                                $(".loading-btn").css('display','none');
                                $(".comfirm").css('display','block');
                            break;
                            case 5:
                                $("#mobile").parent().append('<span class="error-tip">手機號已註冊,請重新輸入。</span>');
                                $("#re_flag").val("");
                                var re_flag=$("#re_flag").val();
                                sessionStorage.setItem('Data',re_flag);
                                $(".loading-btn").css('display','none');
                                $(".comfirm").css('display','block');
                            break;
                        }
                        if(time_a === undefined || time_a.length == 0){
                          alert('您註冊次數過多，已被加入黑名單'); 
                          $("#re_flag").val("");
                          var re_flag=$("#re_flag").val();
                          sessionStorage.setItem('Data',re_flag);
                          return; 
                        }else{
                            
                            var d=data.data;
                            // console.log(d);
                            if(d!=""){
                            for(var i in d){
                               var content='<div class="col-md-6 col-sm-6 course-col" style="margin-left:25%">'
                                            +'<div class="course-item">'
                                            +'<div class="course-head"></div>'
                                            +'<div class="course-content student-content">'  
                                            +' <div class="course-person">'
                                            +'<img src="'+d[i].userimage+'" alt="">'
                                            +'<p class="course-contain">導師</p></div>'
                                            +'<div class="course-file">'
                                            +'<dl class="course-file-item">'
                                            +'<dd>個案編號</dd>'
                                            +'<dt>'+d[i].tm_tutorid+'</dt></dl>'
                                            +'<dl class="course-file-item">'
                                            +'<dd>補習地區</dd>'
                                            +'<dt>'+d[i].teach_area+'</dt></dl>'
                                            +'<dl class="course-file-item"><dd>科目</dd><dt>'+d[i].teach_type+'</dt></dl>'
                                            +'<dl class="course-file-item"><dd>主要教學語言</dd><dt>'+d[i].tutor_main_lang+'</dt></dl>'
                                            +'<dl class="course-file-item"><dd>可教授日期</dd><dt class="class_time">'+d[i].teach_time+'</dt></dl>'   
                                            +'</div><div class="course-dec"><a href="{APP_PATH}index.php?m=teachers&c=index&a=tutor_detail&userid='+d[i].userid+'&tutor_id='+d[i].tm_tutorid+'">查看詳情</a></div><div class="course-meta">'
                                            +'<div class="rating">'
                                            +'<div class="star-rating">'
                                            +'<span class="star-show" style="width:'+d[i].star+'%"></span>'
                                            +'</div>'
                                            +'</div>' 
                                            +'<div class="course-three">$'+ d[i].tstt_fee+'</div></div><div class="course-match">配對中</div>'
                                             +'</div></div> </div>'
                                }
                            $('.teacher').html(content);
                        }else{
                            $('.finish-title').html('暫無導師適合你的要求，未有推薦個案。');
                        }
                            //非黑名单.新增时间数据 
                            $.ajax({
                                url:"{APP_PATH}index.php?m=tparents&c=index&a=time",
                                type: "POST",
                                async:false,
                                dataType: "text",
                                data:{"time_a" : time_a, "time_arr" : JSON.stringify(time_arr)},
                                success: function(data_time){    
                                //返回短信操作成功  
                                    var index = $(".btn").parents('.tab-panel-item').index();
                                    $(".btn").parents('.tab-panel-item').removeClass('active').siblings().addClass('active');
                                    var tab =  $(".btn").parents('.tab-panel-item').parent().siblings('.panel-tab').find('.panel-tab-item');
                                    tab.eq(index).removeClass('active').siblings().addClass('active');
                                    $("#re_flag").val('suc');
                                    var re_flag=$("#re_flag").val();
                                    sessionStorage.setItem('Data',re_flag);//设置数据 
                                //返回短信操作失败 
                                       
                                },
                                error: function(XMLHttpRequest, textStatus, errorThrown) {
                                    $("#re_flag").val("");
                                    var re_flag=$("#re_flag").val();
                                    sessionStorage.setItem('Data',re_flag);
                                    alert('填寫時間數據有錯誤，請重新填寫');
                                },
                            });
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        console.log(errorThrown);
                        $("#re_flag").val("");
                        var re_flag=$("#re_flag").val();
                        sessionStorage.setItem('Data',re_flag);
                        alert('填寫表單數據有錯誤，請重新填寫');
                    },
                });
            }
         });

    </script>
</body>
</html>