<title>家長個案信息</title>
{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/bootstrapValidator.css">
<link rel="stylesheet" href="{CSS_PATH}add/stu_detail.css">

        <!--头部结束-->
        <div class="top-tutor-main">
            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">家長個案信息</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>家長個案信息</span></li>
                        </ul>
                    </div>
                    <div class="entry-content">
                        <div class="col-sm-3">
                            <div class="parent-message">
                                <div class="parent-img">
                                    <img src="{$stu[0][userimage]}" alt="" onerror="javascript:this.src='{IMG_PATH}add_person/noimg.jpg';">
                                </div>
                                <div class="parent-detail">
                                    <p class="detail">用戶編號：<span>{$stu[0][personid]}</span></p>
                                    <p class="detail">姓名：<span>{$stu[0][username]}</span></p>
                                    <p class="detail">住宅區域：<span>{$stu[0][loc_name]}</span></p>
                                </div>
                                <!-- 登陸狀態 -->
                                <?php if(!empty($_SESSION['id'])){?>
                                    <div class="match-area" >
                                        <?php if(empty($pair_stu)){?>
                                            {if $stu[0][st_matched] == 0}<!-- 未配对 -->
                                                <a href="javascript: ;" class="match-btn click-btn" onclick="match();">立即配對</a>
                                            {elseif $stu[0][st_matched] == 1}<!-- 成功配对 -->
                                                <a href="javascript: ;" class="match-btn click-btn">配對成功</a>
                                            {else}
                                                <a href="javascript: ;" class="match-btn click-btn">不可配對</a>
                                            {/if}
                                        <?php }else{?>
                                            <?php if(!isset($tm_tutorid)){?>
                                                <?php if($pair_stu['pair_state'] == 1){?>
                                                    <a href="javascript: ;" class="ready-btn click-btn">配对成功</a>
                                                <?php }else{ ?>
                                                    <a href="javascript: ;" class="ready-btn click-btn">此個案配對中</a>
                                                <?php }?>
                                            <?php }else{?>
                                                <?php if($current_pair['pair_sponsor'] == 1){?><!-- 判斷發起者身份 -->
                                                    <?php if($current_pair['tutor_pay'] == 0){?><!-- 判斷發起者是否付款 -->
                                                        <a href="javascript: ;" class="match-btn click-btn" onclick="pair_request('<?php echo $tm_tutorid?>','<?php echo $stid?>');">立即付款</a>
                                                    <?php }else{?>
                                                        <?php if($current_pair['student_pay'] == 0){?><!-- 判斷學生是否付款 -->
                                                            <a href="javascript: ;" class="match-btn click-btn">等待學生付款</a>
                                                        <?php }else{?>
                                                            <a href="javascript: ;" class="match-btn click-btn">配對成功</a>
                                                        <?php }?>
                                                    <?php }?>
                                                <?php }else{?>
                                                    <?php if($current_pair['student_pay'] == 0){?><!-- 判斷學生是否付款 -->
                                                        <a href="javascript: ;" class="match-btn click-btn">等待學生付款</a>
                                                    <?php }elseif($current_pair['tutor_pay'] == 0){?><!-- 判斷導師是否付款 -->
                                                        <a href="javascript: ;" class="match-btn click-btn" onclick="tor_respond('<?php echo $tm_tutorid?>','<?php echo $stid?>','agree');">同意配對申請</a>
                                                        <a href="javascript: ;" class="match-btn click-btn" onclick="tor_respond('<?php echo $tm_tutorid?>','<?php echo $stid?>','disagree');">拒絕配對申請</a>
                                                    <?php }else{?>
                                                        <a href="javascript: ;" class="match-btn click-btn">配對成功</a>
                                                    <?php }?>
                                                <?php }?>
                                            <?php }?>
                                        <?php }?>
                                        </div>
                                    <?php }else{?><!-- 未登錄狀態 跳轉登錄頁 -->
                                    <div class="match-area" >
                                        <a href="{APP_PATH}index.php?m=content&c=index&a=tutor_login&uid={$stuid}&tranid={$tran_id}" class="match-btn click-btn">立即配對</a>
                                    </div>
                                    <?php }?>
                                    <!-- <div class="tutor-share-c">
                                            <div class="bdsharebuttonbox">
                                                <a href="#" class="bds_more" data-cmd="more"></a>
                                                <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
                                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                                <a href="javascript:;" class="copy"  title="分享到WhatsApp" style="background: url({IMG_PATH}add_image/whatsapp.png) no-repeat;background-size: 100%;" onclick="copy();"></a>
                                            </div>
                                            <div class="alertbox">
                                                <div class="md-modal modal-msg md-modal-transition">
                                                    <div class="md-modal-inner">
                                                        <div class="md-top">
                                                            <a class="closebox"></a>
                                                        </div>
                                                        <div class="md-content">
                                                             <p>網址已複製到剪貼板</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript" id="bdshare_js" data="type=tools&uid=0" ></script>
                                            <script type="text/javascript" id="bdshell_js"></script>
                                            <script>
                                                 name="家長<?php echo $stu[0][username];?>的個案信息";
                                            window._bd_share_config={"common":{"bdSnsKey":{},"bdText":name,"bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};
                                            with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

                                                function copy(url){
                                                    var url = window.location.href;
                                                    var save = function (e){
                                                        e.clipboardData.setData('text/plain',url);//下面会说到clipboardData对象
                                                        e.preventDefault();//阻止默认行为
                                                    }
                                                    document.addEventListener('copy',save);
                                                    document.execCommand("copy");//使文档处于可编辑状态，否则无效
                                                    $('.alertbox').addClass('md-show');
                                                    $('body').css('overflow','hidden');
                                                }
                                                $('.closebox').click(function () {
                                                    $('.alertbox').removeClass('md-show');
                                                    $('body').css('overflow','');
                                                });
                                        </script>
                                    </div> -->
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="base-message">
                                <h2 class="message-title">學生基本信息【{$stu[0][st_id]}】</h2>
                                <div class="message-box">
                                    <div class="message-list">
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    要求教授類別：
                                                </div>
                                                <div class="message-child-item">
                                                	<?php $oneid=$stu[0][st_ttid_1]?>
                                                   {pc:get sql="SELECT tt_name FROM v9_sys_tutor_type where tt_level=1 and tt_id=$oneid" return="level1" }
                                                   {loop $level1 $l1}
                                                   {$l1[tt_name]}
                                                   {/loop}
                                                   {/pc}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    要求教授項目：
                                                </div>
                                                <div class="message-child-item">
                                                    <?php $twoid=$stu[0][st_ttid_2]?>
                                                   {pc:get sql="SELECT tt_name FROM v9_sys_tutor_type where tt_level=2 and tt_id=$twoid" return="level2" }
                                                   {loop $level2 $l2}
                                                   {$l2[tt_name]}
                                                   {/loop}
                                                   {/pc}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-list">
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    要求教授級別：
                                                </div>
                                                <div class="message-child-item">
                                                 {$stu[0][tt_name]}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    要求上課區域：
                                                </div>
                                                <div class="message-child-item">
                                                    {php empty($stu[0][loc_name])?print "未填寫":print $stu[0][loc_name]}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-list">
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    男學生人數：
                                                </div>
                                                <div class="message-child-item">
                                                    {$stu[0][st_num_join_m]}人
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    女學生人數：
                                                </div>
                                                <div class="message-child-item">
                                                   {$stu[0][st_num_join_f]}人
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-list">
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    總人數：
                                                </div>
                                                <div class="message-child-item">
                                                    {$stu[0][st_num_join]}人
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    要求每次上課時間：
                                                </div>
                                                <div class="message-child-item">
                                                    <?php if(empty($stu[0]['st_class_hour'])){ echo '未填寫';}elseif($stu[0]['st_class_hour'] == '0.75'){ echo '45分鐘';}else{ echo $stu[0][st_class_hour].'小時'; } ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-list">
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    要求學費/每小時：
                                                </div>
                                                <div class="message-child-item">
                                                     {$stu[0][st_tutor_fee]}元/每小時
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    要求最低教育程度：
                                                </div>
                                                <div class="message-child-item">
                                                    {php empty($stu[0][grade_name])?print "未填寫":print $stu[0][grade_name]}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-list">
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    要求導師性別：
                                                </div>
                                                <div class="message-child-item">
                                                <?php if($stu[0][st_req_sex]=='M'){?>
                                                    男
                                                    <?php }elseif($stu[0][st_req_sex]=='F'){?>女
                                                    <?php 
                                                    }else{?>無所謂<?php }?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    要求授課語言：
                                                </div>
                                                <div class="message-child-item">
                                                    {php empty($stu[0][st_main_lang])?print "未填寫":print $stu[0][st_main_lang]}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-list">
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    配對情況：
                                                </div>
                                                <div class="message-child-item">
                                                <?php if(empty($pair_stu)){echo '等待配对';}elseif($pair_stu['pair_state'] == 1){echo '配对成功';}else{echo '配对中';}?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    更新時間：
                                                </div>
                                                <div class="message-child-item">
                                                {$stu[0][student_modtime]}  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-list">
                                        <div class="message-item">
                                            <div class="message-child-list">
                                                <div class="message-child-item">
                                                    期望補習成果：
                                                </div>
                                                <div class="message-child-item">
                                                     {php empty($stu[0][tutor_res])?print "未填寫":print $stu[0][tutor_res]}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="time-message">
                                <h2 class="message-title">學生時間要求信息</h2>
                                <table class="time-message-table">
                                    <thead>
                                        <tr>
                                            <th>星期</th>
                                            <th>補課時間</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <?php 
                                    $fromtime = explode(',',$stu[0][sst_fromtime]); 
        							$totime= explode(',',$stu[0][sst_totime]);
                                    if($stu[0][sst_weekday]==""){
                                        echo "<script>
                                                    $('.time-message').css('display','none');
                                                    </script>";
                                    }
                                    $weekday=explode(',',$stu[0][sst_weekday]);
        							$weeknums = array('0'=>"一",'1'=>"二",'2'=>"三",'3'=>"四",'4'=>"五",'5'=>"六",'6'=>"日");
							        $Arr4 = array();
							        foreach ($weeknums as $k => $r) {
							             $Arr4[] = array($weeknums[$weekday[$k]],$fromtime[$k],$totime[$k]);
							        }?>
							        <?php $str=":"?>
								    	<?php foreach ($Arr4 as $info){?>

								    	<?php if(!empty($info[1])){?>
							            <tr>
							            	<td>星期<?php echo $info[0];?></td>
											<td><p class="time"><?php 
													$arr = explode(';', $info[1]);
													$arr2 = explode(';', $info[2]);
													foreach ($arr as $key => $value) {
														if(!empty($value)){
															echo substr_replace($value,$str,2,0);
															echo "-";
															echo substr_replace($arr2[$key],$str,2,0);
															echo '<br >';
														}
													}?></p></td>
											<?php if(!empty($info[1]) && !empty($info[2])){?>
											<th><?php echo  $time_info['sst_modtime'];?></th>
											<?php }else{?>
											<th></th>
											<?php }?>
										</tr>
										<?php }?>  
										<?php }?>                                    
                                    </tbody>
                                </table>
                            </div>
                            <!--新增个案列表 -->
                            <div class="md-overlay">
                                <div class="md-modal modal-msg md-modal-transition">
                                    <div class="md-modal-inner">
                                        <div class="md-top">
                                            <a class="md-close"></a>
                                        </div>
                                        <div class="md-content">
                                             <p>請選擇您的個案</p>
                                           <table class="case_table"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--新增个案列表结束 -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
      {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
    <script type="text/javascript">
    $('.md-close').click(function () {
        $('.md-overlay').removeClass('md-show');
        $('body').css('overflow','');
    });
    function match(){
        var stid = '<?php echo $stu[0][st_id];?>';//學生個案編號
        $.post('./index.php?m=tparents&c=index&a=search_all',"",function(data){
            if(data=="0"){
                alert("請登録再進行配對");
                var stuid = '<?php echo $stuid?>';//stuid
                var jump_url = "{APP_PATH}index.php?m=content&c=index&a=tutor_login&uid="+stuid+"&tranid="+stid;
                window.location.href=jump_url;
            }else{
                switch(data.count){
                    case 0:window.location.href="{APP_PATH}index.php?m=person&c=tutor_index&a=tutor_add";
                    break;
                    case 1:
                    //导师去配對学生;
                    var list=data.list;
                    for (var i in list) {
                         pair_request(""+list[i].tm_tutorid+"",""+stid+"");
                    }
                   
                    break;
                    default:
                    var title="<tr><th>個案編號</th><th class='td-hide'>補習地區</th><th class='mobile-hide'>補習類別</th><th >補習項目</th><th class='mobile-hide'>補習級別</th><th class='td-hide'>補習價格</th><th>個案操作</th></tr>";
                     $('.case_table').html(title);
                     var list=data.list;
                    for (var i in list) {
                        var content="<tr><td>"+list[i].tm_tutorid+"</td>"
                        + "<td class='td-hide'>"+list[i].loc_name+"</td>"
                        + "<td class='mobile-hide'>"+list[i].sub_name_1+"</td>"
                        + "<td>"+list[i].sub_name_2+"</td>"
                        + "<td class='mobile-hide'>"+list[i].sub_name+"</td>"
                        + "<td class='td-hide'>"+list[i].tstt_fee+"</td>"
                        +"<td><a class='match-btn order-ck change"+i+"' href='javascript:;' style='width:80px;' onclick='pair_request(\""+list[i].tm_tutorid+"\",\""+stid+"\","+i+");'>配對</a></td></tr>";
                      $('.case_table').append(content); 
                      $('.md-overlay').addClass('md-show');
                      $('body').css('overflow','hidden');
                    }
                    break;
                } 
            }
        },'json');
    }

    //導師發起配對
    function pair_request(tmid,stid){
        var url = "{APP_PATH}index.php?m=pair&c=index&a=pay_fee&tmid="+tmid+'&stid='+stid;
        window.location.href=url;//跳轉配對支付頁面
    }

    //導師審核配對申請
    function tor_respond(tmid,stid,respond){
        if(confirm('確認此操作?')){
            //同意配对时跳转支付
            if(respond == 'agree'){
                var url = "{APP_PATH}index.php?m=pair&c=index&a=pay_fee&tmid="+tmid+'&stid='+stid;
                window.location.href=url;//跳轉配對支付頁面
            }else{
                $.post('./index.php?m=tparents&c=index&a=tor_respond',{tmid:tmid,stid:stid,respond:respond},function(data){
                    if(data.code == 'disagree_success'){
                        alert(data.msg);
                        window.location.reload();
                    }else{
                        alert(data.msg);
                        return false;
                    }
                },'json');
            }
        }
    }

    </script>

</body>
</html>