*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}
a{
    color: #333;
    -webkit-transition: all .3s;
    -khtml-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
a:hover{
    color: #e39916;
    text-decoration: none;
}
img{
    width: 100%;
}
input:focus,select:focus,textarea:focus,button:focus{
    border-color: #e39916;
    outline: none;
    box-shadow: none;
}
.form-control:focus{
    border-color: #e39916;
    outline: none;
    box-shadow: none;
}
ul,ol{
    margin-bottom: 0;
}
.main-color{
    color: #e39916;
}
.form-horizontal .radio-primary{
    padding-top: 4px;
}
.radio-primary label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.radio-primary input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.radio-primary label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #e39916;
}
.radio-primary label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio-primary input[type="radio"]:checked + label::after{
    background-color: #e39916;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
@media (min-width: 1200px){
    .container {
        width: 1200px;
    }
}
 /*头部*/
.tutor-header{
    background-color: #fff;
    box-shadow: 0 1px 5px -2px rgba(42,42,42,.4);
}
.header-content{
    position: relative;
    width: 100%;
    display: table;
    padding-top: 20px;
    padding-bottom: 5px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.logo{
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.logo a{
    display: block;
    width: 153px;
}
.header-menu{
    display: table-cell;
    vertical-align: middle;
    float: none;
    width: calc(100% - 153px);
}
.header-menu .nav-menu{
    width: 100%;
    text-align: right;
}
.header-menu .nav-menu li{
    display: inline-block;
    vertical-align: middle;
    max-height: 60px;
    text-align: center;
    position: relative;
}
.search-item:hover .header-search{
    display: block;
}
.header-search{
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background: #fff;
    border: 1px solid #e39916;
    padding: 10px 5px;
    z-index: 10;
    display: none;
}
.search-input{
    position: relative;
}
.search-input input{
    border: 1px solid #ddd;
    padding: 3px 5px;
}
.search-input .icon-search{
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    line-height: 28px;
}
.header-menu .nav-menu li > a{
    display: block;
    padding: 10px;
    line-height: 25px;
    -webkit-transition: all .3s ease-in-out;
    -khtml-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.nav-menu li>a:hover{
    color: #333;
}
.nav-menu li>a:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #e39916;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform-origin: left center;
    transition: all .15s ease-out;
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.nav-menu li.active>a:after,.nav-menu li > a:hover:after{
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 100;
    -khtml-opacity: 100;
    opacity: 100;
    opacity: 1;
}
.menu-mobile{
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
}
.menu-mobile .icon-bar{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #333;
}
/*底部*/
.tutor-footer{
    background-color: #111;
    font-size: 13px;
    color: #999;
}
.footer-content{
    padding: 50px 0;
    text-align: center;
}
.footer-content .footer-title{
    font-family: Roboto;
    font-size: 34px;
    margin-bottom: 30px;
    color: #fff;
}
.footer-content  .footer-ul{
    margin-bottom: 15px;
}
.footer-content  .footer-ul li{
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 5px;
}
.footer-content  .footer-ul li a{
    color: #999;
}
.footer-content  .footer-ul li a:hover {
    color: #e39916;
}
.copyright-content{
    border-top: 1px solid #222;
    padding: 20px 0;
}
.copyright-content p{
    text-align: center;
}
/*頂部圖片*/
.top-tutor-main{
    color: #fff;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-color: rgba(45,51,57,.95);
    min-height: 235px;
    padding-top: 100px;
}
.top-tutor-main .overlay-top-main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
}
.page-title-content{
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: left;
    position: relative;
    z-index: 1;
}
.page-title-content .page-title{
    color: inherit;
    margin: 0;
    line-height: 54px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    padding-left: 25px;
    position: relative;
}
.page-title-content .page-title:before{
    content: '';
    width: 3px;
    line-height: 54px;
    bottom: 0;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    margin-right: 22px;
    background-color: #e39916;
}
/*麵包導航*/
.breadcrumbs{
    position: relative;
    padding-bottom: 13px;
    margin-top: 13px;
    border-bottom: 1px solid #eee;
    margin-left: 15px;
}
.breadcrumbs ul li{
    display: inline-block;
    line-height: 25px;
    font-size: 12px;
}
.breadcrumbs li a{
    color: #666;
    display: inline-block;
    margin-right: 15px;
}
.breadcrumbs li a:hover{
    color: #e39916;
}
.breadcrumbs li a:after{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #aaa;
    display: inline-block;
    margin: 0 0 0 15px;
    line-height: 25px;
}
/*line title*/
.sc-widget-panel{
    margin-bottom: 30px;
    padding-bottom: 19px;
    position: relative;
}
.sc-widget-panel .title{
    text-transform: uppercase;
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 2px;
}
.sc-widget-panel .sub-heading{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    line-height: 30px;
    color: #999;
}
.sc-widget-panel .line{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #333;
    width: 35px;
}
/*event */
.list-event .item-event{
    padding: 50px 0 60px;
    overflow: hidden;
    border-top: 1px solid #eee;
}
.list-event .item-event:first-child {
    border-top: 0;
}
.item-event .time-form{
    float: left;
    width: 180px;
    text-align: left;
    color: #e39916;
}
.item-event .time-form .date{
    font-size: 72px;
    font-weight: 700;
    line-height: 73px;
    margin-top: 0;
}
.item-event .time-form .month{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 25px;
}
.item-event .image{
    width: 270px;
    float: right;
    margin-top: 10px;
}
.item-event .event-content{
    float: left;
    width: calc(100% - 450px);
    width: -webkit-calc(100% - 450px);
    width: -moz-calc(100% - 450px);
    color: #999;
    padding: 0 117px;
    position: relative;
}
.item-event .event-content:before{
    content: '';
    height: 52px;
    width: 1px;
    background: #eee;
    top: 10px;
    left: 0;
    position: absolute;
}
.item-event .event-content .title{
    font-size: 24px;
    /*font-weight: 700;*/
    letter-spacing: 5px;
    text-transform: none;
    margin: 0 0 8px;
    line-height: 36px;
}
.item-event .event-content .sub-title{
    /*font-weight: 700;*/
    font-size: 13px;
    color: #999;
    line-height: 25px;
}
.item-event .event-content .desc{
    margin-top: 25px;
    max-height: 60px;
    overflow: hidden;
}
.info-search{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 13px;
    color: #666;
}
.info-search .info-group{
    display: inline-block;
    position: relative;
    margin-left: 15px;
}
.info-search .info-group input{
    padding: 3px 8px;
    border: 1px solid #999;
    background-color: #999;
}
.info-search .info-group input:focus{
    border-color: #e39916;
    background-color: #fff;
}
.info-search .info-group .search-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 16px;
}
.has-error{
    border-color: red;
}
.error-tip{
    color: red;
    margin-top: 5px;
    display: block;
}
@media (max-width: 1024px){
    .item-event .time-form{
        width: 150px;
    }
    .item-event .event-content {
        width: calc(100% - 420px);
        width: -webkit-calc(100% - 420px);
        width: -moz-calc(100% - 420px);
        padding: 0 90px;
    }
}
@media (min-width: 992px){
    .header-menu{
        display: table-cell !important;
    }
}
@media (max-width: 991px){
    .header-content{
        padding-top: 10px;
    }
    .logo{
        display: block;
    }
    .logo a {
        display: block;
        width: 153px;
        margin: 0 auto;
    }
    .header-menu{
        display: none;
        width: 100%;
        padding-top: 20px;
    }
    .header-menu .nav-menu{
        text-align: center;
    }
    .header-menu .nav-menu li{
        display: block;
    }
    .header-menu .nav-menu .inline-item{
        display: inline-block;
    }
    .header-menu .nav-menu .search-item{
        display: none;
    }
    .header-menu .nav-menu li > a{
        padding: 8px;
        line-height: 1.2;
    }
    .menu-mobile{
        display: block;
    }
}
@media (max-width: 768px){
    .top-tutor-main{
        min-height: inherit;
        padding-top: 0;
    }
    .page-title-content{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .sc-widget-panel .title{
        font-size: 24px;
    }
    .sc-widget-panel .sub-heading{
        font-size: 14px;
    }
    .item-event .time-form{
        width: 90px;
    }
    .item-event .time-form .date{
        font-size: 60px;
        line-height: 62px;
    }
    .item-event .image{
        width: 240px;
    }
    .item-event .event-content {
        width: calc(100% - 330px);
        width: -webkit-calc(100% - 330px);
        width: -moz-calc(100% - 330px);
        padding: 0 30px;
    }
    .item-event .event-content:before{
        display: none;
    }
}
@media screen and (max-width: 667px){
    .page-title-content .page-title{
        font-size: 40px;
    }
    .item-event .time-form{
        width: 100%;
    }
    .item-event .time-form .date{
        display: inline-block;
        font-size: 50px;
        line-height: 50px;
        margin-right: 10px;
    }
    .item-event .time-form .month{
        display: inline-block;
        line-height: 50px;
    }
    .item-event .image{
        float: none;
        margin-bottom: 15px;
        width: 100%;
    }
    .item-event .event-content {
        clear: both;
        float: none;
        padding: 0 50px 0 0;
        width: 100%;
    }
    .list-event .item-event{
        padding: 20px 0 20px;
    }
    .info-search{
        position: relative;
        margin-top: 10px;
        display: block;
        right: 0;
    }
}
@media screen and (max-width: 480px){
    .footer-content  .footer-ul{
        text-align: left;
    }
}

/*回到頂部*/
#back-to-top {
    position: fixed;
    bottom: 14px;
    right: 14px;
    display: block;
    width: 32px;
    height: 32px;
    background: #333;
    color: #fff;
    text-align: center;
    z-index: 997;
    cursor: pointer;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all ease-in-out .3s;
    -khtml-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    visibility: visible;
}
#back-to-top i {
    line-height: 32px;
    font-size: 10px;
}
#back-to-top.active {
    background-color: #e39916;
    color: #333;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
}
/*弹窗*/
.window-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.window-overlay-mask{
    position: absolute;
    top: 0;
    left: 0;
    background: #0b0b0b;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}
.window-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 900px;
    margin: auto;
}