.video-part{
    position: relative;
    max-height: 700px;
    overflow: hidden;
}
.login-widget{
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 99;
}
.login-part{
    background: #fff;
    border: 1px solid #fff;
    position: relative;
    width: 400px;
}
.login-part .login-title{
    position: relative;
    line-height: 34px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    overflow: hidden;
    padding: 22px 0px 60px;
    margin: 0 0 5px;
    color: #fff;
}
.login-part .login-title span{
    z-index: 5;
    position: relative;
}
.login-part .login-title:after{
    /* z-index: 2; */
    content: '';
    position: absolute;
    top: auto;
    bottom: 20px;
    height: 820px;
    width: 820px;
    border-radius: 50%;
    left: calc(50% - 410px);
    left: -webkit-calc(50% - 410px);
    left: -moz-calc(50% - 410px);
    background: #e39916;
}

.login-content{

}
.login-content .login-tab{
    font-size: 0;
}
.login-tab .login-tab-item{
    display: inline-block;
    width: 50%;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    background: #ffffff;
    cursor: pointer;
    border: 1px solid #c2c2c2;
    border-bottom: none;
}
.login-tab .login-tab-item.active{
    background-color: #c2c2c2;
}
.login-tab .login-tab-item:first-child{
    width: calc(50% - 5px);
    margin-right: 5px;
    /*border-top: 1px solid #c2c2c2;*/
    /*border-right: 1px solid #c2c2c2;*/
}
.login-tab .login-tab-item:last-child{
    /*border-top: 1px solid #c2c2c2;*/
    /*border-left: 1px solid #c2c2c2;*/
}
.login-tab-panel{

}
.login-form{
    padding: 20px 50px 0px;
    background-color: #c2c2c2;
}
.tab-panel-item{
    display: none;
}
.login-form .form-group{
    position: relative;
    margin-bottom: 10px;
}
.login-form .form-control{
    border-radius: 25px 0 0 25px;
    padding: 8px 0;
    padding-left: 40px;
    height: 40px;
}
.login-form .span-icon{
    width: 30px;
    height: 30px;
    background: #c2c2c2;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
}
.login-form .span-icon.self-teicon{
	background: url("../images/phone-email-icon.png") center no-repeat;
}
.btn-part{
    overflow: hidden;
    padding: 10px 50px 0;
    margin: 10px -50px;
    background: #fff;
}
.part-btn{
    padding: 5px 12px;
    border: 1px solid #000;
    width: 100px;
    text-align: center;
    background-color: #fff;
    color: #000;
}
.login-btn{
    float: left;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.res-btn{
    float: right;
}
.code-img{
    position: absolute;
    top: 6px;
    right: 5px;
    width: 80px;
    height: 30px;
}
.code-img img{

}
.section-content{
    margin-top: 50px;
}
.course-item{
    text-align: center;
    margin-bottom: 20px;
}
.course-item .course-head{
    height: 40px;
    background-color: #e39916;
}
.course-content{
    line-height: 25px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    padding: 0 30px;
    position: relative;
}
.course-content .course-person{
    position: relative;
}
.course-content .course-person img{
    width: 40px;
    height: 40px;
    margin-top: -28px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    z-index: 3;
}
.course-content  .course-contain{
    color: #666;
}
.course-content  .course-meta{
    overflow: hidden;
    position: relative;
    padding: 14px 0 10px;
    display: block;
    margin: 0;
}
.course-content  .course-meta:before{
    content: '';
    width: 30px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #000;
    z-index: 10;
    background-color: #e39916;
}
.course-content  .course-meta:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 1px;
    height: 1px;
    width: 100%;
    background: #e5e5e5;
}
.course-one,.course-tow,.course-three{
    display: inline-block;
    float: left;
    line-height: 30px;
    margin-right: 15px;
    color: #666;
    padding: 0;
    border: 0;
    font-size: 16px;
}
.course-three{
    float: right;
    margin-right: 0;
    color: #e39916;
}
.course-file-item{
    padding-bottom: 5px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
    overflow: hidden;
}
.course-file-item dd,.course-file-item dt{
    background-color: #ccc;
    float: left;
    font-size: 12px;
    padding: 3px 0;
    height: 26px;
    line-height: 22px;
}
.course-file-item dd{
    width: 85px;
    margin-right: 20px;
    font-weight: bold;
}
.course-file-item dt{
    width: calc(100% - 105px);
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
}
.course-dec{
    color: #666;
    font-size: 12px;
    line-height: 1.3;
    margin: 20px 0;
    height: 46px;
    display: block;
    text-overflow: ellipsis;
    text-transform: none;
    text-align: left;
    overflow: hidden;
}
.course-match{
    position: absolute;
    top: 10px;
    right: 0;
    width: 28px;
    padding: 5px 4px;
    text-align: center;
    line-height: 1.2;
    background: #800000;
    color: #fff;
}
.student-content .course-file{
    margin-top: 30px;
}
.student-content .course-dec{
    height: 26px;
}
.veiw-all{
    position: absolute;
    top: 8px;
    right: 0;
}
.owl-grid{
    overflow: hidden;
}
.panel-grid{
    margin-bottom: 50px;
}
.owl-item{
    float: left;
    width: 14.285%;
    position: relative;
}
.owl-item .owl-img{
    overflow: hidden;
    position: relative;
    padding: 0 10px;
}
.owl-item .overlay-a{
    display: block;
    position: relative;
}
.owl-item .overlay-a img{
    width: 100%;
    -webkit-transition: all .4s ease-in-out;
    -khtml-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.owl-item .owl-img:hover img{
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
}
.owl-item .overlay-a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 2;
}
.owl-item .owl-title{
    z-index: 3;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 40%;
    /*-webkit-transform: translate(0,-50%);*/
    /*-moz-transform: translate(0,-50%);*/
    /*-ms-transform: translate(0,-50%);*/
    /*-o-transform: translate(0,-50%);*/
    text-align: center;
    overflow: hidden;
    line-height: 25px;
    text-overflow: ellipsis;
    left: 10px;
    right: 10px;
    padding: 0 10px;
    margin: 0;
    white-space: nowrap;
    color: #fff;
}
.owl-item .owl-title a{
    color: #fff;
}
.person-num{
    padding: 200px 0;
    background: url("../images/bg_register_now.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
}
.person-num:before{
    position: absolute;
    background: rgba(0,0,0,.6);
    left: 0;
    content: "";
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
}
.person-num .counter-box{
    text-align: center;
    border-right: 1px solid rgba(255,255,255,.3);
    margin: 20px -15px;
}
.person-num .counter-box.noborder{
    border: none;
}
.person-num .counter-box .counter-num{
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    display: block;
    margin: 0;
    padding-top: 12px;
    color: #e39916;
}
.person-num .counter-box .counter-dec{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    display: block;
    color: #fff;
    padding-bottom: 10px;
}
.entery-content{
    padding: 0 15px;
}
.newlleter-grid{
    padding-top: 90px;
    border-top: 1px solid #eee;
    margin-bottom: 0;
}
.newlleter-tutorseek{
    background: url("../images/newlleter.png") no-repeat;
    max-width: 753px;
    margin: auto;
    text-align: center;
    padding: 75px 15px 70px;
}
.newlleter-info{
    max-width: 490px;
    margin: 20px auto 40px;
    letter-spacing: 3px;
}
.newlleter-info .newlleter-title{
    font-size: 18px;
    margin-bottom: 20px;

}
.newlleter-info .sub-newlleter-title{
    font-size: 12px;
}
.form-newlleter .newlleter-email{
    background: url("../images/download.png") center right 10px no-repeat #fff;
    border: 1px solid #ddd;
    height: 48px;
    padding: 9px 10px;
    line-height: 30px;
    max-width: 425px;
    width: calc(100% - 120px);
    width: -webkit-calc(100% - 120px);
    width: -moz-calc(100% - 120px);
    color: inherit;
}
.form-newlleter .newlleter-submit{
    text-transform: uppercase;
    font-size: 13px;
    height: 48px;
    border: 0;
    padding: 10px 25px;
    font-weight: 700;
    line-height: 30px;
    margin-left: -4px;
    background-color: #e39916;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
    min-height: 500px;
}
@media  (max-width: 1200px){
    .login-widget{
        top: 50px;
        right: 50px;
    }
}
@media (min-width: 992px) and (max-width: 1024px){
    .course-col{
        width: 50%;
    }
}
@media screen and (max-width: 992px){
    .owl-grid{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .person-num{
        padding: 50px 0;
    }
    .person-num .counter-box{
        margin: 0;
        border: none;
    }
    .carousel{
        display: none;
    }
    .login-widget{
        position: static;
        border-bottom: 1px solid #ccc;
    }
    .login-part{
        width: 100%;
    }
}
@media screen and (max-width: 667px){
    .newlleter-tutorseek{
        margin-top: -20px;
        background: 0 0;
        padding-top: 50px;
        padding-bottom: 80px;
        box-shadow: 0 0 3px -1px #635f5f;
    }
}
@media screen and (max-width: 600px){
    .form-newlleter .newlleter-email{
        width: 100%;
        margin-bottom: 5px;
    }
}
