.top-tutor-main{
    background-image: url("../images/bg-page.jpg");
}
.entry-content{
    max-width: 900px;
    margin: 50px auto;
    padding: 0 15px;
}
.panel-tab{
    overflow: hidden;
    /*margin-bottom: 30px;*/
}
.panel-tab .panel-tab-item{
    float: left;
    width: 50%;
    padding: 10px 0;
    text-align: center;
    background-color: #eee;
}
.panel-tab .panel-tab-item.active{
    background-color: #e39916;
    color: #fff;
}
.tab-panel-item{
    display: none;
}
.tab-panel-item.active{
    display: block;
}
.info-list .list-title{
    color: #e39916;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.info-list{
    margin-bottom: 50px;
    padding-top: 50px;
    border-top: 1px solid #eee;
}
.info-list:first-child{
    border-top: none;
}
.listpanel-table{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.listpanel-title{
    padding: 15px 0;
    width: 100%;
    color: #fff;
    background-color: #e39916;
    text-align: center;
}
.listpanel-table tbody>tr>td{
	padding: 5px 8px 0;
	border: 1px solid #eee;
	/*border-bottom: none;
	border-top: none;*/
}
.listpanel-table .class-list{
	position: relative;
	margin-top: 5px;
}
.listpanel-table .class-list .class-group{
	position: relative;
}
.listpanel-table .add-class-group,.class-group .del-class-group{
	position: absolute;
    top: 3px;
    right: 0;
    width: 18px;
    height: 18px;
    background: #e39916;
    line-height: 20px;
    font-size: 13px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 9;
}
.listpanel-table .add-class-group:hover,.class-group .del-class-group:hover{
	background-color: #e6a303;
}
.tuition-horizontal{
    color: #666;
}
.tuition-horizontal .form-group{
    margin-bottom: 25px;
}
.tuition-horizontal .control-label{
    font-weight: 300;
}
.tuition-horizontal .control-label span{
    margin-right: 5px;
}
.form-control{
    border-radius: 0;
}
.rmb-group .form-control{
    width: 50%;
}
/*.class-box{
    border: 1px solid #eee;
}
.class-list{
    text-align: center;
    overflow: hidden;
}*/
/*.class-list .class-week{
    float: left;
    width: 20%;
    line-height: 38px;
    border-right: 1px solid #eee;
}
.class-list .class-group{
    float: left;
    width: 70%;
    text-align: center;
    padding-top: 5px;
}*/
.class-list .class-group .class-inline{
    display: inline-block;
    margin-left: 10px;
}
.class-group  .class-control{
    width: 150px;
    margin-left: 10px;
    padding: 3px;
    margin-bottom: 10px;
}
.class-group  .class-label{
    margin-left: 10px;
}
.comfirm{
    text-align: center;
    margin-top: 50px;
}
.comfirm .confirm-btn{
    display: inline-block;
    padding: 8px;
    width: 200px;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    color: #fff;
    background: #e39916;
    line-height: 30px;
    cursor: pointer;
}
.comfirm .confirm-btn:hover{
    background-color: #e6a303;
}
.reg-finish{
    margin-top: 30px;
    text-align: center;
    color: #333;
    letter-spacing: 3px;
}
.reg-finish .finish-title{
    font-size: 24px;

    margin-bottom: 20px;
}
.reg-finish .sub-finish-title{
    font-size: 16px;
    margin-bottom: 20px;
}
.reg-finish .finish-dec{
    margin-top: 50px;
    font-size: 18px;
    line-height: 25px;
}

@media (max-width: 600px){
	.listpanel-table{
		text-align: left;
	}
    .class-list .class-group .class-inline{
    	display: block;
    }
    .listpanel-table .class-list {
	    margin-left: -8px;
	}
    /*.class-list .class-week{
        line-height: 67px;
    }*/
    .info-list{
        padding-top: 0;
        border-top: 0;
        margin-bottom: 30px;
    }
    .tuition-horizontal .form-group{
        margin-bottom: 10px;
    }
    .comfirm{
        margin-top: 20px;
    }
}