                                        <div class="terms">
                <p>1、歡迎您登記為Tutorseeking（以下稱之為本網站）之會員，當您完成會員登記後，即表示你已經同意接受以下導師收費和付款條例之約束。</p>
<p>2、Tutorseeking有權修訂有關合約條款內容及收費，所有修改內容將透過本網站張貼，而有關修訂也會於張貼後自動生效，本網站會給予您一星期寬限期。倘於該等條款作出任何更改後，仍繼續使用本網站或本網站提供的服務，則表示您已接納該修改條例。</p>
<p>3、Tutorseeking是一個收費平台，所有費用均有導師支付。有關家長預付之一半費用，導師必須在上課時在學費中扣除。而家長與導師私下協議，本網站並不負責。</p>
<p>4、Tutorseeking是一個導師和家長/學生配對平台，其責任僅為導師及家長或學生進行相互配對，使導師可以向家長或學生提供最適合之補習服務, 其間只為雙方提供個人聯絡資料以供雙方訂定補習時間及收費，並不存在任何僱傭關係。導師提供之所有個人資料一定要確保正確無誤，本網站並不負責付費後由於資料錯誤所帶給閣下之損失。</p>
<p>5、Tutorseeking是一個商業系統網站，所有登記會員之資料可以用作本網站商業用途之用。</p>
<p>6、Tutorseeking不擔保導師，家長或學生之個人道德、修養、教學質素及質量。</p>
<p>7、Tutorseeking要求所有導師登記時必須聲明沒有性罪行行為。本網站不擔保導師，家長或學生之人生安全，同時亦不承擔有關導師和家長或學生之間之任何法律責任。  </p>
<p>8、Tutorseeking 不擔保家長或學生長期使用導師，導師如使用此網站服務，須自行評估風險或其他個人利益得失。</p>
<p>9、Tutorseeking 是一個自動配對網站，所有收費以導師要求學費為準，一經配對，家長/學生必須按照導師要求之學費支付給導師。</p>
<p>10、Tutorseeking要求所有會員登記時必須提供正確之個人資料，本網站不會對每一位會員確認身份，本網站有權提醒所有會員，提供虛假資料屬於違法行為，本網站發現後將會取消該會員資格並保留交予警方處理之權利。所有導師必須在登記後將有關要求之證書及相關資料電郵給本網站。但本網站並不擔保所有會員之個人身份是否屬實。 </p>
<p>11、Tutorseeking擁有絕對及不受約束之權力，刪除用戶所提供之任何資料，而毋須向任何一方發出通知或作出賠償。在無損此項權利下，倘導師所提供之任何資料一旦刊登或 繼續刊登，會導致本網站須為第三者負上任何法律責任，或令本網站觸犯任何有效司法管轄區的任何法律或規則或第三者的權益，則本網站擁有權拒絕或修改任何所提供之資料。 </p>
<p>12、Tutorseeking有權停止提供服務給予任何會員或終止任何人士之會員資格而不作任何解釋之權利，同時本網站也有權刪除任何人士提供之任何資料而無須向任何一方發出通知或作賠償。</p>
<p>13、Tutorseeking是一個利用電腦系統進行配對之電子收費平台，當閣下進行配對時必須清晰所有配對資料是否正確後再進行配對付款，本網站不負責由其導致之損失。當雙方確認接納個案之後，雙方必須及時聯絡，互相預約上課時間，導師上課時務必準時到達及依時完成，不可在沒有家長或學生同意的情況下任意刪減時間。</p>
<p>14、閣下同意授權本網站利用閣下之「登記資料」作為本網站的宣傳之用，而不受任何法例所限制。閣下亦同意本網站在必要時候局部或全部顯示「登記資料」，而不受任何版權法例及個人資料（私隱）條例所限制。閣下同意不會使用任何工具、軟件或程序干擾本網站伺服器的正常運作，更不會故意、有計劃地令本網站的系統負荷過重。閣下不可以傳播任何電腦病毒或有破壞性的程式給本網站和本網站的所有會員。閣下同意不會追究因本網站系統失靈而造成的任何損失。本網站會盡力維持系統的可靠性及安全性，並保持良好的配對效率。閣下不可利用任何本網站的服務作出非法或不道德的行為。 </p>
<p>15、跟據香港特別行政區法例對綱上行業／電貿（e-commerce）的規管及法律行駛，網際商業與其他實業皆受到相同法律之約束及保障。因此，會員於網上登記，在法律上與實體合約無異，會員虛報資料登記／行騙／與導師，學生或家長串聯行騙，將會被視作犯罪行為；Tutorseeking決不會因為會員年輕或對法律認知不足而不作追究。本網站絕不容忍會員有此等違法行為，所有會員登記時的ip地址及日後每一個動作的ip地址亦將被紀錄下來，請勿因一時貪念致前途盡毀。 </p>
<p>16、閣下必須對閣下之「登記資料」負責，「登記資料」必須合乎道德，並須保證沒有觸犯任何法律，不含有暴力、色情成份及 粗言穢語，以及不可包含任何侵犯私隱權或帶有歧視的成份的內容。若本網站認為你的「登記資料」會對任何人或機構造成負面影響，本網站將會保留採取法律行動的權利。</p>
<p>有關私隱條例請參考本站只私隱條例政策。</p>
<div class="hatom-extra" style="display:none;visibility:hidden;"><span class="entry-title">導師登記</span> was last modified: <span class="updated"> 十一月 2nd, 2016</span> by <span class="author vcard"><span class="fn">Tutorseeking admin</span></span></div>                </div>