                                        <div class="terms">
                <p>以下乃閣下須就Tutorseeking.com（簡稱「此網站」）及其提供之服務需要遵守之條款和規則。按下「我接受」，即表示你同意接受這些條款和規則之約束。</p>
<p>Tutorseeking可隨時修訂合約內容，修訂條款會在此網站內張貼。新修訂條款將於張貼七天後自動生效。因此，閣下該定期檢視Tutorseeking對該等條款所作出之更改。倘 於該等條款作出任何更改後，閣下仍繼續使用本網站或本網站提供的服務，則表示接納該等更改。</p>
<p>1. 定義</p>
<p>1.1 詞彙之定義</p>
<p>以下詞彙在此合約中具下列定義：</p>
<p>「個案確認(confirm)／接受個案」指此網站職員如在電話對話中表明「個案已經confirm／確認」，如導師沒有 提出反對，從電話結束以後的一刻開始，個案已被視為「已確認／confirm／已接受／已接納」</p>
<p>「全科」指該級別之全級常規科目，小學科目則為「中文、英文、數學、常識、普通話」，中學科目則需按個別學校情況而定，另功課輔導即等同全科補習</p>
<p>「導師／家長/ Tutorseeking三方關係 」指導師與家長之關係為服務合作關係，其間只為獨立合作聘約，並不存在僱傭關係；導師與此網站亦只存在服務提供者與服務使用者之關係，雙方沒有任何僱傭關係 ，服務亦與「職業介紹」完全無關</p>
<p>「會員合約 」指此網站的任何一部分所示指引、指南、內容、條款、說明，均為會員合約之一部分，此網站有權依據合約收取費用，成功登記即代表導師同意所有條款</p>
<p>「公司商業註冊及對不法行為之追究」指此網站提供服務公司Tutorseeking，是香港特區政府之依法註冊公司，跟據香港特別行政區法例對綱上行業／電貿（e-commerce）的規管及法律行駛，網際商業與其他實業皆受到相同法律之約束及保障</p>
<p>「導師登記」指會員導師於此網站上進行登記，法律上與實體合約無異</p>
<p>「欺騙行為」指會員導師虛報資料登記／行騙／與學生或家長串聯行騙</p>
<p>1.2 性別及數目</p>
<p>除非內文另有規定，有關此合約之條款之提述乃指此合約的條款，表明單數的字眼亦包括複數，反之亦然；表明自然人之字眼亦包括公司及未註冊組織；表示男性的字眼亦包括女性及中性性別。</p>
<p>1.3 標題</p>
<p>此合約中的標題只為方便閱讀而設，並非此合約內容的一部份，絕不會影響對此合約或其任何部份的解釋。</p>
<p>2. 提供服務</p>
<p>2.1 使用</p>
<p>任何人士欲以導師身份使用此網站的服務，必須先登記為會員。</p>
<p>2.2 登記成為會員</p>
<p>用戶向Tutorseeking提供所有需要資料及網上填妥表格，按下「確認」鍵後即成為會員。Tutorseeking保留拒絕任何會員申請而不作任何解釋的權利。</p>
<p>3. 入會資格</p>
<p>年 滿十五歲或以上，具中四或以上程度學歷之自然人且擁有簽訂合約的心智和法律能力之人士，以及獲其憲章、附例及公司組織章程大綱批准其與Tutorseeking簽訂此合約 的公司，方可申請成為會員。Tutorseeking保留拒絕任何人士申請成為會員或終止任何人士之會員資格而不作任何解釋之權利。不符合上述資格者不得使用服務。</p>
<p>4. 收費</p>
<p>4.1 導師收費說明</p>
<p>使 用服務中收費（「收費」）列於「導師收費說明」（收費說明）中，而該收費說明乃巳納入本合約中，並視為構成合約的一部份。Tutorseeking保留隨時更改有關收費的 權利，而新收費將於指定日期生效（生效日期將為網頁刊登經修訂收費表後的七天內）。所有用戶必須於每次使用服務前查核收費表。</p>
<p>4.2 繳費方法</p>
<p>收 費按以下方法繳付：倘用戶為自然人，則須透過銀行轉賬 或 信用卡網上付款 或 電話授權Tutorseeking從其信用咭戶口網上付費予Tutorseeking。就此而言，用戶須授權Tutorseeking於收費到期支付時，已給予信用咭備用資料的戶口支付該等款項；倘若任 何用戶不準時繳費，Tutorseeking有權暫停該用戶的會員資格及暫停提供服務，直至到用戶繳費為止。該用戶須在Tutorseeking要求下付尚欠金額的利息，按每月2%之利率 繳付日息，從繳費到期日起計算，直至付款為止。此款項為逾期繳費的算定損害賠償，並非罰款。另外，Tutorseeking有權在客戶過期未有繳款之十天後加收總結欠再加 上10%的罰款；如Tutorseeking最終交由香港特別行政區合法收賬公司及由律師發出相關信件代行收取，導師除了需繳付有關服務費用、利息及相關罰款之同時，導 師並必須繳付一切因其欠款所衍生之收賬公司之服務費用或佣金、律師及法律事務費用。</p>
<p>4.3 貨幣</p>
<p>除非另有所指，所有收費均以港幣為單位。</p>
<p>4.4 其他雜費</p>
<p>所有適用之稅項，以及在閣下使用Tutorseeking所帶來的收入而衍生之稅務情況，一概由閣下負責。Tutorseeking可全權酌情決定隨時增加、刪減或更改部份或全部服務。</p>
<p>5. Tutorseeking的職責</p>
<p>5.1 Tutorseeking僅作為一個網上交易平台</p>
<p>Tutorseeking只限於為導師及家長或學生進行相互配對，以使導師可以向家長或學生提供補習服務之網上交易平台。</p>
<p>5.2 概不擔保家長或學生對導師要求之合理性及概不擔保導師人生安全</p>
<p>Tutorseeking 明確聲明並沒有預先與家長或學生進行面談或家訪，而且家長或學生對導師在道德、學術、修養、教學質素及質量等之合法性、合適性或其他合理性和原則，並不在 Tutorseeking控制範圍之內；再者，Tutorseeking明確聲明導師的人生安全或其他個人利益得失，亦非Tutorseeking控制範圍之內。 Tutorseeking概不接納或承擔有關導師和家長或學生之間之任何法律責任。</p>
<p>5.3 概不擔保家長或學生長期使用導師</p>
<p>Tutorseeking概不擔保家長或學生長期使用導師，導師如使用此網站服務，須自行評估風險或其他個人利益得失。所有人士必須留意與未屆合法年齡人士、提供虛假理由或沒有訂約的行為能力的人士進行交易所涉及的風險。</p>
<p>5.4 概不擔保家長或學生或導師身份</p>
<p>Tutorseeking不能亦不會確認每一家長或學生或導師之身份。因此，閣下接受Tutorseeking所示與家長或學生進行交易時，務須小心防範欺騙行為。Tutorseeking概不就任何用戶之任何行為或遺漏負責。</p>
<p>5.5 概不擔保資料的準確性</p>
<p>Tutorseeking不能控制家長或學生透過本網站所提供之資料，有關保證項目已列於收費說明或服務簡介中，如前所述，該收費說明乃巳納入本合約中，並視為構成合約的一部份。因此，Tutorseeking概不擔保任何人士透過使用服務所一提供之任何資料之準確性。</p>
<p>5.6 免除Tutorseeking的法律責任</p>
<p>若家長或學生與導師之間出現任何糾紛或因使用服務而引起任何糾紛，與該等糾紛有關或因而引起的所有責任、索償、索求、賠償金（實質或間接），不論屬何性質，已知及未知、懷疑與否、已公開及未公開者，Tutorseeking一概毋須負上有關法律責任。</p>
<p>5.7 Tutorseeking的支出</p>
<p>倘 Tutorseeking因應閣下之要求或閣下所涉及的任何訴訟中作出的指令（不論通過傳票或任何具司法管轄權的法院所頒法令，包括遵守任何披露文件之法令或出席法院作 證）而引起的所有費用，包括Tutorseeking尋求法律或其他專業意見或陳述時的支出，一概由閣下負責。（在所有此等情況下，一切費用按實際損失計算）。</p>
<p>6. 有關補習中介服務之條款</p>
<p>6.1 導師之基本責任</p>
<p>倘閣下，作為導師，確認接納Tutorseeking之個案後，必須盡力依照Tutorseeking所發出的指示，上課務必準時到達及依時完成，不可在沒有家長或學生同意的情況下刪減時間。</p>
<p>6.2 導師提供正確資料之責任</p>
<p>導師如沒有提供正確資料，或因沒有提供正確資料而導師個案服務被終止，Tutorseeking可以拒絕為其提供服務，亦有可以收取所衍生之行政費用。</p>
<p>6.3 導師之付款責任</p>
<p>導師須於Tutorseeking指定日期或以前繳付所需費用，其收費方式及徵費辦法已列於收費說明上。</p>
<p>6.4 導師撤回個案所衍生之責任</p>
<p>在個案已確認後，如導師決定不對相關家長或學生提供周圍，導師需要繳付撤回個案所衍生之行政費用，並於Tutorseeking指定日期或以前繳付所需費用，其收費方式及徵費辦法已列於收費說明上。</p>
<p>6.5 導師進行欺騙行為之責任</p>
<p>導 師如被證實，或Tutorseeking認為或發現導師極有可能與家長或學生串聯進行任何欺騙行為，包括在導師仍然為家長或學生提供有關服務之時，其任何一方向Tutorseeking謊 報服務經已終止，Tutorseeking會立即終止有關導師的會員資格，並要求有關人士於五天內清繳有關全部費用；即使其後家長或學生決定終止有關人士之服務，有關人士 仍須繳付全數服務費用。 Tutorseeking會保留一切刑事及民事追究之權利，並不會容忍任何欺騙行為出現。</p>
<p>7. 保障私隱政策</p>
<p>Tutorseeking現行的保障私隱政策已載入本文，並構成本合約之一部份。閣下透過註冊成為用戶以及登入使用服務，即受該等政策所載之條款約束，並同意以該等政策所載之形式使用、披露及轉讓閣下之個人資料。</p>
<p>8. Tutorseeking的權利</p>
<p>8.1 倘發現用戶出現以下行為，則Tutorseeking有權暫停或終止用戶資格而毋須支付賠償：</p>
<p>(a) 違反本合約所列出之條件及條款，或</p>
<p>(b) （透過定罪、和解、保險或託管調查或其他方式）而從事與此網站有關之欺騙行為。</p>
<p>8.2 處理由用戶提供的資料的權利</p>
<p>Tutorseeking 擁有絕對及不受約束之權力，拒絕或刪除用戶所提供之任何資料，而毋須向任何一方發出通知或作出賠償。在無損此項權利下，倘導師所提供之任何資料一旦刊登或 繼續刊登，會導致Tutorseeking須為第三者負上任何法律責任，或令Tutorseeking觸犯任何有效司法管轄區的任何法律或規則或第三者的權益，則Tutorseeking擁有權拒絕或修改 任何所提供之資料。</p>
<p>8.3 撤回提供中介服務之權利</p>
<p>Tutorseeking擁有絕對及不受約束的權利，撤回任何服務條件而不向導師發出任何通知或作出任何賠償。在無減損此權利下，倘發生下列情況，Tutorseeking有權撤回服務：</p>
<p>(a) 該導師提供有個人資料有極大可能不全正確；</p>
<p>(b) 導師被發現違反本合約列出的條件及條款，或其戶口被Tutorseeking根據此合約的條款勒令暫停；</p>
<p>(c) Tutorseeking因任何原因無法核實或證實導師或家長或學生提供的任何資料。</p>
<p>9. 概不保證</p>
<p>9.1 按「現狀」基準提供服務</p>
<p>Tutorseeking 按「現狀」基準提供此網站服務。Tutorseeking之僅有責任已在此合約中列出。除在此合約中清楚列出之事項外，Tutorseeking不會作出任何明確或隱含之保證或條件。 Tutorseeking不能保證此網站所設之功能以及所提供之服務將會不受干擾或無誤，或問題將獲修正或此網站或其伺服器將無病毒或其他有害元素。Tutorseeking並不就用戶或 用戶使用此網站之後果作保證或任何聲明。</p>
<p>9.2 提供付款機制所屬責任</p>
<p>提供予用戶之付款機制以及輔助性處理付款設施，乃僅便 於用戶使用，而Tutorseeking概不就該等設施提供任何明確或隱含之保證。在任何情況下，Tutorseeking概不就用戶來自或因任何誤差及／或錯誤及／或錯誤扣除或計入信用 卡賬戶之錯誤月結單以及任何故障、失靈、中斷、停工時間、干擾、計算錯誤、延誤、失準、損失或數據訛誤或任何其他有關付款渠道設施失靈而蒙受或產生之任何 損失、賠償、成本或開支負上責任。</p>
<p>10. 其他事項</p>
<p>10.1 用戶不得：</p>
<p>(a) 使用任何裝置、軟件或程式干預或企圖干預此網站之正常運作或任何在此網站進行的交易；</p>
<p>(b) 進行任何令此網站的基礎設施承受不合理或不合比例的巨大負荷的活動；</p>
<p>(c) 把其密碼向第三者透露或與第三者使用同一密碼或將其密碼用作未經許可的用途。</p>
<p>10.2 遵守法律</p>
<p>所有用戶在使用此網站服務時，須遵守所有適用法律、規程、條例和守則。</p>
<p>10.3 概無代理關係</p>
<p>本文件任何內容均不會令Tutorseeking與任何人士或公司或其他使用此網站或服務之用戶之間構成或建立任何代理、合伙、聯營、僱員／僱主或專營商／專營承辦商之關係。</p>
<p>10.4 通知</p>
<p>除 非特別聲明，所有通知均以電子郵件或電話形式發出，及就用戶而言，倘通知已透過用戶於登記時向Tutorseeking提供的電郵地址或其他由該用戶指定的電郵地址或透過 在此網站張貼通知，則已被視作發出通知。Tutorseeking有權以各種形式，包括電郵、郵寄等會訊，如希望不再接收，必須之前電郵通知我們，我們在處理會回覆確實； 日後會員如需要再次接收，必須再行電郵通知Tutorseeking。Tutorseeking擁有這份會員合約的最終解釋權。</p>
<p>10.5 條款的獨立性</p>
<p>倘根據 任何具司法管轄權的法院所實際引用的適用法例，此合約中的任何條款屬違法或無法實施，此等條款將與合約分開及視作無效論，而絕不影響此合約的其餘條款。然 而，在有關法律容許的情況下，若有關法律條文可獲寬免，各方須同意其獲寬免，以便此合約的有關條款能夠有效、具約束力及得以實施。</p>
<p>10.6 網頁之完整性</p>
<p>倘閣下利用Tutorseeking系統或任何程序或伺服器漏動，竊取任何資料，閣下須負上一切法律責任。</p>
<p>10.7 報行管轄的法律及司法機構</p>
<p>(a) 本合約受香港特別行政區法律管轄，並依香港特別行政區法律詮釋。</p>
<p>(b) 與此網站之使用有關或因此而起的任何法律行動或訴訟，任何有關一方須願受香港特別行政區法院的司法管轄權管轄；任何一方不得以有關訴訟被帶到任何不相稱的法院為理由而提出反對。<br />
(c) 上文所述願受香港特別行政區法院司法管轄權的管轄並不會影響其他任何一方於任何司法範圍提起訴訟的權利；而於任何司法範圍提起訴訟亦不表示其他任何一方不能於其他任何司法範圍提起訴訟。</p>
<p>10.8 語文</p>
<p>此合約暫時只備中文版本。日後如有英文版本，中、英文本如有歧異，概以中文為準。</p>
<div class="hatom-extra" style="display:none;visibility:hidden;"><span class="entry-title">導師登記</span> was last modified: <span class="updated"> 十一月 2nd, 2016</span> by <span class="author vcard"><span class="fn">Tutorseeking admin</span></span></div>                </div>