<title>導師個案信息</title>
{template "content","header_new"}
  <link rel="stylesheet" href="{CSS_PATH}add/tutor_detail.css"> 
        <div class="top-tutor-main">
            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">導師個案信息</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>導師個案信息</span></li>
                        </ul>
                    </div>
                    <div class="entry-content">
                        <div>
                            <div class="col-sm-3">
                                <div class="tutor-message">
                                    <div class="tutor-img">
                                        <img src="{$tutor[0][userimage]}" alt="" onerror="javascript:this.src='{IMG_PATH}add_image/person.jpg';">
                                    </div>
                                    <div class="tutor-detail">
                                        <p class="detail">{$tutor[0][personid]}</span></p>
                                        <p class="detail">{$tutor[0][tutor_gname]}</span></p>
                                        <?php pc_base::load_app_class('tutor' ,'pair');
                                             $tt=new tutor();
                                            $star=$tt->return_star($tutor[0][master_id],$tutor[0][role_verify]);
                                            ?>
                                            <div class="rating">
                                            <div class="star-rating">
                                                <span class="star-show" style="width:<?php echo $star;?>%"></span>
                                            </div>
                                        </div>
                                        <p class="detail">{$tutor[0][loc_name]}</span></p>
                                    </div>
                                    <?php if(!empty($_SESSION['id'])){?>
                                    <div class="match-area" >
                                    <?php if(empty($pair_stu)){?>
                                        {if $tutor[0][tm_matched] == 0}<!-- 未配对 -->
                                            <a href="javascript: ;" class="match-btn click-btn" onclick="match();">立即配對</a>
                                        {elseif $tutor[0][tm_matched] == 1}<!-- 成功配对 -->
                                            <a href="javascript: ;" class="match-btn click-btn">配對成功</a>
                                        {else}
                                            <a href="javascript: ;" class="match-btn click-btn">不可配對</a>
                                        {/if}
                                    <?php }else{?>
                                        <?php if(!isset($stid)){?>
                                            <?php if($pair_stu['pair_state'] == 1){?>
                                                <a href="javascript: ;" class="ready-btn click-btn">配对成功</a>
                                            <?php }else{ ?>
                                                <a href="javascript: ;" class="ready-btn click-btn">此個案配對中</a>
                                            <?php }?>
                                        <?php }else{?>
                                            <?php if($current_pair['pair_sponsor'] == 2){?><!-- 判斷發起者身份 -->
                                                <?php if($current_pair['student_pay'] == 0){?><!-- 判斷發起者是否付款 -->
                                                    <a href="javascript: ;" class="match-btn click-btn" onclick="pair_request('<?php echo $tm_tutorid?>','<?php echo $stid?>');">立即付款</a>
                                                <?php }else{?>
                                                    <?php if($current_pair['tutor_pay'] == 0){?><!-- 判斷導師是否付款 -->
                                                        <a href="javascript: ;" class="match-btn click-btn">等待導師付款</a>
                                                    <?php }else{?>
                                                        <a href="javascript: ;" class="match-btn click-btn">配對成功</a>
                                                    <?php }?>
                                                <?php }?>
                                            <?php }else{?>
                                                <?php if($current_pair['tutor_pay'] == 0){?><!-- 判斷導師是否付款 -->
                                                    <a href="javascript: ;" class="match-btn click-btn">等待導師付款</a>
                                                <?php }elseif($current_pair['student_pay'] == 0){?><!-- 判斷學生是否付款 -->
                                                    <a href="javascript: ;" class="match-btn click-btn" onclick="std_respond('<?php echo $tm_tutorid?>','<?php echo $stid?>','agree');">同意配對申請</a>
                                                    <a href="javascript: ;" class="match-btn click-btn" onclick="std_respond('<?php echo $tm_tutorid?>','<?php echo $stid?>','disagree');">拒絕配對申請</a>
                                                <?php }else{?>
                                                    <a href="javascript: ;" class="match-btn click-btn">配對成功</a>
                                                <?php }?>
                                            <?php }?>
                                        <?php }?>
                                    <?php }?>
                                    </div>
                                    <?php }else{?><!-- 未登錄狀態 跳轉登錄頁 -->
                                    <div class="match-area" >
                                        <a href="{APP_PATH}index.php?m=content&c=index&a=std_login&uid={$userid}&tranid={$tutor_id}" class="match-btn click-btn">立即配對</a>
                                    </div>
                                    <?php }?>
                                    <!-- <div class="tutor-share-c">
                                            <div class="bdsharebuttonbox">
                                                <a href="#" class="bds_more" data-cmd="more"></a>
                                                <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
                                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                                <a href="javascript:;" class="copy"  title="分享到WhatsApp" style="background: url({IMG_PATH}add_image/whatsapp.png) no-repeat;background-size: 100%;" onclick="copy();"></a>
                                            </div>
                                            <div class="alertbox">
                                                <div class="md-modal modal-msg md-modal-transition">
                                                    <div class="md-modal-inner">
                                                        <div class="md-top">
                                                            <a class="closebox"></a>
                                                        </div>
                                                        <div class="md-content">
                                                             <p>網址已複製到剪貼板</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript" id="bdshare_js" data="type=tools&uid=0" ></script>
                                            <script type="text/javascript" id="bdshell_js"></script>
                                            <script>
                                                 name="家長<?php echo $stu[0][username];?>的個案信息";
                                            window._bd_share_config={"common":{"bdSnsKey":{},"bdText":name,"bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};
                                            with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

                                                function copy(url){
                                                    var url = window.location.href;
                                                    var save = function (e){
                                                        e.clipboardData.setData('text/plain',url);//下面会说到clipboardData对象
                                                        e.preventDefault();//阻止默认行为
                                                    }
                                                    document.addEventListener('copy',save);
                                                    document.execCommand("copy");//使文档处于可编辑状态，否则无效
                                                    $('.alertbox').addClass('md-show');
                                                    $('body').css('overflow','hidden');
                                                }
                                                $('.closebox').click(function () {
                                                    $('.alertbox').removeClass('md-show');
                                                    $('body').css('overflow','');
                                                });
                                        </script>
                                    </div> -->
                            </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="tutor-cate">
                                    <h2 class="message-title">可教授級別【{$tutor[0][tm_tutorid]}】</h2>
                                    <table class="tutor-cate-table tutor-base-table">
                                        <thead>
                                        <tr>
                                            <th>可教授類別</th>
                                            <th>可教授項目</th>
                                            <th>可教授級別</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {php $tutorid = $tutor[0][tm_tutorid]}
                                            {pc:get sql="SELECT tstt_ttid_1,tstt_ttid_2,tstt_ttid_3 FROM v9_tutor_sel_tutor_type WHERE tstt_tutorid = '$tutorid'" return="levellist"}

                                            {loop $levellist $level}
                                                {php $tstt_ttid_1 = explode(",",$level[tstt_ttid_1])}
                                                {php $tstt_ttid_2 = explode(",",$level[tstt_ttid_2])}
                                                {php $tstt_ttid_3 = explode(",",$level[tstt_ttid_3])}
                                                <?php foreach($tstt_ttid_1 as $key=>$ttid1){?>
                                                    {pc:get sql="SELECT tt_name FROM v9_sys_tutor_type WHERE tt_id = '$ttid1'" return="one"}
                                                    {pc:get sql="SELECT tt_name FROM v9_sys_tutor_type WHERE tt_id = '$tstt_ttid_2[$key]'" return="two"}
                                                    {pc:get sql="SELECT tt_name FROM v9_sys_tutor_type WHERE tt_id = '$tstt_ttid_3[$key]'" return="three"}
                                                    <tr>
                                                        <td><?php print_r($one[0][tt_name]);?></td>
                                                        <td><?php print_r($two[0][tt_name]);?></td>
                                                        <td><?php print_r($three[0][tt_name]);?></td>
                                                    </tr>
                                                    {/pc}
                                                    {/pc} 
                                                    {/pc}
                                                <?php }?> 
                                            {/loop}
                                            {/pc}
                                        
                                        </tbody>
                                    </table>
                                </div>
                                <div class="base-message">
                                    <h2 class="message-title">導師基本信息</h2>
                                    <table class="tutor-base-table">
                                        <tbody>
                                            <tr>
                                                <td>身份證上的英文名：</td>
                                                <!-- 任何一方付款则显示名称 -->
                                                <?php if($current_pair['student_pay']==1 or $current_pair['tutor_pay']==1){?>
                                                <td class="data-td">{php empty($tutor[0][tutor_fname_eng])?print "未填寫":print $tutor[0][tutor_fname_eng]}</td>
                                                <?php }else{?>
                                                <!-- 都未付款则显示*号 -->
                                                <td class="data-td">{php empty($tutor[0][tutor_fname_eng])?print "未填寫":print '*****'}</td>
                                                <?php }?>
                                                <td>身份證上的中文名：</td>
                                                <!-- 任何一方付款则显示名称 -->
                                                <?php if($current_pair['student_pay']==1 or $current_pair['tutor_pay']==1){?>
                                                <td class="data-td">{php empty($tutor[0][tutor_fname_chi])?print "未填寫":print $tutor[0][tutor_fname_chi]}</td>
                                                <?php }else{?>
                                                <!-- 都未付款则显示*号 -->
                                                <td>{php empty($tutor[0][tutor_fname_chi])?print "未填寫":print "*****"}</td>
                                                <?php }?>
                                                
                                            </tr>
                                            <tr>
                                                <td>出生年份：</td>
                                                <td class="data-td"d>{php empty($tutor[0][tutor_birth_year])?print "未填寫":print $tutor[0][tutor_birth_year]}</td>
                                                
                                                
                                                <td>性別：</td>
                                                <td><?php $tutor[0][tutor_sex]=="M"?print "男":print "女"?></td>
                                            </tr>
                                            <tr>
                                                <td>國籍：</td>
                                                <td class="data-td">{php empty($tutor[0][tutor_nation])?print "未填寫":print $tutor[0][tutor_nation]}</td>
                                                <td>主要語言：</td>
                                                <td>{php empty($tutor[0][tutor_main_lang])?print "未填寫":print $tutor[0][tutor_main_lang]}</td>
                                            </tr>
                                            <tr>
                                                <td>每小时價錢：</td>
                                                <td class="data-td">{$tutor[0][tstt_fee]}</td>
                                                <td>每次上課時間：</td>
                                                <td><?php if(empty($tutor[0]['tst_class_hour'])){ echo '未填寫';}elseif($tutor[0]['tst_class_hour'] == '0.75'){ echo '45分鐘';}else{ echo $tutor[0][tst_class_hour].'小時'; } ?></td>
                                            </tr>
                                            <tr>
                                                <td>最高教育程度：</td>
                                                <td>{$tutor[0][grade_name]}</td>
                                                <td>現時職業：</td>
                                                <td class="data-td">{$tutor[0][tutor_now_career]}</td>
                                            </tr>
                                            <tr>
                                                <td>工作經驗：</td>
                                                <td>{$tutor[0][tutor_work_exp]}</td>
                                                <td>最高可補年級：</td>
                                                <td class="data-td">{$tutor[0][st_name]}</td>
                                            </tr>
                                            <tr>
                                                <td>補習經驗及年資：</td>
                                                <td>{$tutor[0][tutor_teach_exp]}</td>
                                                <td>教育機構經驗：</td>
                                                <td class="data-td">{$tutor[0][tutor_edu_exp]}</td>
                                            </tr>
                                            <tr>
                                                <td>性罪行犯罪記録：</td>
                                                <td><?php empty($tutor[0][tutor_sexually])?print "無":print "有"?></td>
                                                <td>就讀小學：</td>
                                                <td class="data-td">{php empty($tutor[0][tutor_hschool1])?print "未填寫":print $tutor[0][tutor_hschool1]} </td>
                                            </tr>
                                            <tr>
                                                <td>就讀中學：</td>
                                                <td>{php empty($tutor[0][tutor_hschool2])?print "未填寫":print $tutor[0][tutor_hschool2]} </td>
                                                <td>中學學習語言：</td>
                                                <td class="data-td">{php empty($tutor[0][tutor_hschool_lang])?print "未填寫":print $tutor[0][tutor_hschool_lang]}</td>
                                            </tr>
                                            <tr>
                                                <td>就讀大學：</td>
                                                <td>{php empty($tutor[0][c_name])?print "未填寫":print $tutor[0][c_name]}</td>
                                                <!-- <td>其他大學：</td>
                                                <td class="data-td">{php empty($tutor[0][tutor_college_other])?print "未填寫":print $tutor[0][tutor_college_other]}</td>
                                            </tr>
                                            <tr>
                                                <td>高中選修科目類別：</td>
                                                <td>{php empty($tutor[0][tutor_hmainclass])?print "未填寫":print $tutor[0][tutor_hmainclass]}</td>
                                                <td>大學主修科目：</td>
                                                <td class="data-td">{php empty($tutor[0][tutor_cmainclass])?print "未填寫":print $tutor[0][tutor_cmainclass]}</td>
                                            </tr>
                                            <tr>
                                                <td>其他選修課程：</td>
                                                <td class="data-td">{php empty($tutor[0][tutor_otherclass])?print "未填寫":print $tutor[0][tutor_otherclass]}</td>
                                                <td>現時就讀年級：</td>
                                                <td>{php empty($tutor[0][tutor_now_edcuation])?print "未填寫":print $tutor[0][tutor_now_edcuation]}</td>
                                            </tr>
                                            <tr>
                                                <td>香港中學會考分數(六科總分)：</td>
                                                <td class="data-td">{php empty($tutor[0][tutor_hkcee_score])?print "未填寫":print $tutor[0][tutor_hkcee_score]}</td>-->
                                                <td>宗教信仰：</td> 
                                                <td>{php empty($tutor[0][tutor_believe])?print "未填寫":print $tutor[0][tutor_believe]}</td>
                                            </tr>
                                            <tr>
                                                <td>補習區域：</td>
                                                <td class="data-td">{$place}</td>
                                                <td>配對狀態：</td>
                                                <td><?php if(empty($pair_stu)){echo '等待配对';}elseif($pair_stu['pair_state'] == 1){echo '配对成功';}else{echo '配对中';}?></td>
                                            </tr>
                                            <?php if(!empty($tutor[0][tutor_working1])){?>
                                                <tr>
                                                    <td colspan="4">過去工作資料(1)</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">{php empty($tutor[0][tutor_working1])?print "未填寫":print $tutor[0][tutor_working1]}</td>
                                                </tr>
                                            <?php }?>
                                            
                                            <?php if(!empty($tutor[0][tutor_working2])){?>
                                                <tr>
                                                    <td colspan="4">過去工作資料(2)</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4">{php empty($tutor[0][tutor_working2])?print "未填寫":print $tutor[0][tutor_working2]}</td>
                                                </tr>
                                            <?php }?>
                                            <tr>
                                                <td colspan="4">自我介紹</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">{$tutor[0][tutor_self_describe]}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                                <div class="base-message" id="text_score">
                                    <h2 class="message-title">導師考試成績</h2>
                                    <!-- <table class="tutor-base-table">
                                        <thead>
                                            <tr>
                                                <th>導師考試類別</th>
                                                <th>導師考試類型</th>
                                                <th>導師考試科目</th>
                                                <th>導師考試成績</th>
                                            </tr>
                                        </thead>    
                                        <tbody>
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </tbody>    
                                    </table> -->
                                <div class="message-box">
                                 <div class="message-list">
                                        <div class="message-item">                    
                                            <div class="message-child-list" >
                                                <div class="message-child-item">
                                                   導師考試類別 
                                                </div>
                                                <div class="message-child-item">
                                                    導師考試類型
                                                </div>
                                                <div class="message-child-item">
                                                    導師考試科目
                                                </div>
                                                <div class="message-child-item">  
                                                    導師考試成績    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <?php
                                        foreach ($score_arr as $k => $v) {
                                            $tsa_taid=$v['tsa_taid'];
                                    ?>
                                    {pc:get sql="SELECT * FROM v9_sys_tutor_achieve where ta_id=$tsa_taid order by ta_seq asc--" return="level3"} 
                                    <?php $tt_id=$level3[0]['ta_parentid']?>
                                    {pc:get sql="SELECT * FROM v9_sys_tutor_achieve where ta_id=$tt_id order by ta_seq asc--" return="level2"}
                                    <?php $tt2_id=$level2[0]['ta_parentid']?>
                                    {pc:get sql="SELECT * FROM v9_sys_tutor_achieve where ta_id=$tt2_id order by ta_seq asc--" return="level1"}                    
                                    <div class="message-list" id="s{$k}">
                                        <div class="message-item">                    
                                            <div class="message-child-list" >
                                                <div class="message-child-item">
                                                    {$level1[0]['ta_name']}
                                                </div>
                                                
                                                <div class="message-child-item">
                                                    {$level2[0]['ta_name']}
                                                </div>
                                                <div class="message-child-item">
                                                    {$level3[0]['ta_name']}
                                                </div>
                                                <div class="message-child-item">
                                                    <?php print $v['tsa_asscore']?>      
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {/pc}
                                    {/pc}
                                    {/pc}
                                    <?php
                                    }
                                    if(empty($score_arr)){
                                        echo "<script >$('#text_score').css('display','none');</script>";
                                    }
                                    //只顯示前十條成績
                                    if(count($score_arr)>10){
                                        for($i=10;$i<count($score_arr);$i++){
                                            echo "<script >$('.message-list').eq($i).css('display','none');</script>";
                                        }?>
                                    <div class="message-list">
                                       <div class="message-item">
                                            <div class="message-child-list" >
                                                <a class="all_score" href="javascript:;" data="0">點擊查看全部成績</a>
                                            </div>
                                       </div> 
                                    </div>
                                    <script type="text/javascript">
                                        $(".all_score").click(function(){
                                            //剩下的成績展開
                                            if($(this).attr('data')=="0"){
                                                $('.message-list').css('display','block'); 
                                                $(this).attr('data','1');
                                                $(this).html("收起成績列表"); 
                                            }else{
                                            //將十條以後的成績收起
                                                $(this).attr('data','0');
                                                $(this).html("點擊查看全部成績");
                                                $(".message-list:gt(10)").css('display','none');
                                                $(".message-list:last").css('display','block');    
                                            }
                                        })
                                    </script>
                                    <?php }
                                    ?>
                                    
                                    
                                </div>
                                </div>
                                <div class="time-message">
                                    <h2 class="message-title">導師上課時間</h2>
                                    <table class="time-message-table tutor-base-table">
                                        <thead>
                                            <tr>
                                                <th>星期</th>
                                                <th>上課時間</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <?php 
                                        $fromtime = explode(';',$tutor[0][tst_fromtime]); 
                                        $totime= explode(';',$tutor[0][tst_totime]);
                                        if($tutor[0][tst_weekday]==""){
                                            echo "<script>
                                                        $('.time-message').css('display','none');
                                                        </script>";
                                        }
                                        $weekday=explode(',',$tutor[0][tst_weekday]); 
                                        $weeknums = array('0'=>"一",'1'=>"二",'2'=>"三",'3'=>"四",'4'=>"五",'5'=>"六",'6'=>"日");
                                        $Arr4 = array();
                                        foreach ($weeknums as $k => $r) {
                                             $Arr4[] = array($weeknums[$weekday[$k]],$fromtime[$k],$totime[$k]);
                                        }?>
                                        <?php $str=":"?>
                                            <?php foreach ($Arr4 as $info){?>

                                            <?php if(!empty($info[1])){?>
                                            <tr>
                                                <td>星期<?php echo $info[0];?></td>
                                                <td><p class="time"><?php 
                                                        $arr = explode(',', $info[1]);
                                                        $arr2 = explode(',', $info[2]);
                                                        foreach ($arr as $key => $value) {
                                                            if(!empty($value)){
                                                                echo substr_replace($value,$str,2,0);
                                                                echo "-";
                                                                echo substr_replace($arr2[$key],$str,2,0);
                                                                echo '<br >';
                                                            }
                                                        }?></p></td>
                                                <?php if(!empty($info[1]) && !empty($info[2])){?>
                                                <th><?php echo  $time_info['tst_modtime'];?></th>
                                                <?php }else{?>
                                                <th></th>
                                                <?php }?>
                                            </tr>
                                            <?php }?>  
                                            <?php }?>                                    
                                        </tbody>
                                    </table>
                                </div>   
                            <!--新增个案列表 -->
                            <div class="md-overlay">
                                <div class="md-modal modal-msg md-modal-transition">
                                    <div class="md-modal-inner">
                                        <div class="md-top">
                                            <a class="md-close"></a>
                                        </div>
                                        <div class="md-content">
                                            <p>請選擇您的個案</p>
                                            <table class="case_table"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--新增个案列表结束 -->
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
{template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
    <script type="text/javascript">       
        $('.md-close').click(function () {
            $('.md-overlay').removeClass('md-show');
            $('body').css('overflow','');
        });
        function match(){
            var tutorid = '<?php echo $tutor[0][tm_tutorid];?>';//導師個案編號
            $.post('./index.php?m=tparents&c=index&a=search_all',"",function(data){
                if(data=="0"){
                    alert("請登録再進行配對");
                    var userid = '<?php echo $userid?>';//userid
                    var jump_url = "{APP_PATH}index.php?m=content&c=index&a=std_login&uid="+userid+"&tranid="+tutorid;
                    window.location.href=jump_url;
                }else{
                    switch(data.count){
                        case 0:window.location.href="{APP_PATH}index.php?m=person&c=index&a=add";
                        break;
                        case 1:
                        //学生去匹配导师;
                        var list=data.list;
                        for (var i in list) {
                             pair_request(""+tutorid+"",""+list[i].st_id+"");
                        }
                        
                        break;
                         default:
                        var title="<tr><th>個案編號</th><th class='td-hide'>補習地區</th><th class='mobile-hide'>補習類別</th><th>補習項目</th><th class='mobile-hide'>補習級別</th><th class='td-hide'>補習價格</th><th>個案操作</th></tr>";
                         $('.case_table').html(title);
                         var list=data.list;
                        for (var i in list) {
                            var content="<tr><td>"+list[i].st_id+"</td>"
                            + "<td class='td-hide'>"+list[i].loc_name+"</td>"
                            + "<td class='mobile-hide'>"+list[i].sub_name_1+"</td>"
                            + "<td>"+list[i].sub_name_2+"</td>"
                            + "<td class='mobile-hide'>"+list[i].sub_name+"</td>"
                            + "<td class='td-hide'>"+list[i].st_tutor_fee+"</td>"
                            +"<td><a class='match-btn order-ck' href='javascript:;' style='width:80px;' onclick='pair_request(\""+tutorid+"\",\""+list[i].st_id+"\");'>配對</a></td></tr>";
                            $('.case_table').append(content);  
                            $('.md-overlay').addClass('md-show');
                            $('body').css('overflow','hidden');
                        }
                        break;
                    }
                } 
            },'json');
        }

    //學生發起配對
    function pair_request(tmid,stid){
        var url = "{APP_PATH}index.php?m=pair&c=index&a=pay_fee&tmid="+tmid+'&stid='+stid;
        window.location.href=url;//跳轉配對支付頁面
    }

    //學生審核配對申請
    function std_respond(tmid,stid,respond){
        if(confirm('確認此操作?')){
            //同意配对时跳转支付
            if(respond == 'agree'){
                var url = "{APP_PATH}index.php?m=pair&c=index&a=pay_fee&tmid="+tmid+'&stid='+stid;
                window.location.href=url;//跳轉配對支付頁面
            }else{
                $.post('./index.php?m=teachers&c=index&a=std_respond',{tmid:tmid,stid:stid,respond:'disagree'},function(data){
                    if(data.code == 'disagree_success'){
                        alert(data.msg);
                        window.location.reload();
                    }else{
                        alert(data.msg);
                        return false;
                    }
                },'json');
            }
        }
    }

    </script>

</body>
</html>