<title>學費參考-Tutorseeking</title>
{template "content","header_new"}

    <style>
   
        .entry-content{
            margin: 0 auto;
            margin-bottom: 50px;
            max-width: 900px;
            padding: 0 15px;

        }
        .tuition-box{
            margin-top: 80px;
            text-align: center;
        }
        .entry-content .tuition-box:first-child{
            margin-top: 50px;
        }
        .tuition-title{
            margin-top: 20px;
            margin-bottom: 30px;
        }
        .tuition-title h2{
            font-size: 26px;
            letter-spacing: 5px;
            line-height: 30px;
        }
        .tuition-table{
            width: 100%;
            text-align: center;
            color: #666;
        }
        .tuition-table thead th{
            background-color: #fbca21;
            text-align: center;
            color: #fff;

        }
        .tuition-table th,.tuition-table td{
            border: 1px solid #eee;
            padding: 8px 12px;
        }
        .tuition-table>tbody>tr:nth-of-type(even) {
            background-color: #eee;
        }
        .static-width{
        
        }
        .tuition-tip{
            color: #666;
            margin-top: 30px;
        }
        @media screen and (max-width: 667px){
            .entry-content .tuition-box:first-child{
                margin-top: 30px;
            }
            .tuition-title h2{
                font-size: 20px;
            }
            .tuition-box{
                margin-top: 50px;
            }
        }
    </style>
        {php $catid=$_GET['catid']}
        {pc:get sql="select banner from v9_category where catid=$catid order by listorder desc limit 1--" cache='3600' return="data"}
        {loop $data $v}
        <div class="top-tutor-main" style="background-image:url({$v[banner]})">
        {/loop}
        {/pc} 
            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">學費參考</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>學費參考</span></li>
                        </ul>
                    </div>
                    <div class="entry-content">


                            <?php //var_dump($info);exit;?>

                    <?php foreach ($info as $data => $val) {   ?>
                        
                            <div class="tuition-box">
                                <div class="tuition-title">
                                    <h2><?php echo $data ?></h2>
                                </div>
                                <table class="tuition-table">
                                    <thead>
                                        <tr>
                                            <th>學生等級\導師等級</th>
                                        <?php foreach($val['title'] as $data_k => $data_val) {?>
                                            <th><?php echo $data_val ?></th> 
                                         <?php } ?> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($val['data'] as $data_kk => $data_val2) {?>
                                         <tr>
                                          <?php foreach($data_val2 as $key => $value) {?>
                                            <td>
                                                
                                                {if $aLinkType == 1}
                                                    <a href="index.php?m=content&c=index&a=morecase&catid=6&type=<?php echo urlencode($data);?>&Level=<?php echo urlencode($key);?>&Project=<?php echo urlencode($data_kk);?>&price=<?php echo $value?>"><?php echo $value; ?>
                                                {else}
                                                    {$value}
                                                {/if}
                                            </td>
                                            <?php }?>   
                                        </tr>
                                        <?php }?>    
                                    </tbody>
                                </table>
                            </div> 
                        <?php } ?>

                        
                        <p class="tuition-tip">以上學費只供參考，家長請自行查詢學費</p>
                    </div>
                </div>
            </div>
        </div>
       {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
</body>
</html>