<head><title>新增個案信息-Tutorseeking</title></head>
{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/parent-regis.css">
<link rel="stylesheet" href="{CSS_PATH}add/index.css">
<link href="{CSS_PATH}add_user/index.css" type="text/css" rel="stylesheet">
<style type="text/css">
.rmb-group .form-control {
    width: 100%;
}
.loading-btn{
    display: none;
}
.loading-btn a{
    display: inline-block;
    padding: 8px;
    width: 150px;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    color: #fff;
    background: #fbca21;
    line-height: 30px;
    cursor: pointer;
}

#foot{
    display: none;
}
.betip a{
    color: #fbca21;
    text-align: center;
}
.betip{
    text-align: center;
}
.course-file-item dd{
    width: 155px;
    margin-right: 20px;
    font-weight: bold;
}
.course-file-item dt{
    width: calc(80% - 105px);
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
}
</style>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}index.php?m=person&c=index&a=init"><span>個人中心</span></a></li>
                            <li><span>新增個案信息</span></li>
                        </ul>
                    </div>
                    <div class="entry-content">
                        <div class="panel-tab">
                            <div class="panel-tab-item active">新增個案信息</div>
                            <div class="panel-tab-item">確認</div>
                        </div>
                        <div class="tab-panel-content">

                            <div class="tab-panel-item active">
                                <form  class="form-horizontal tuition-horizontal" id="stu_reg" enctype="multipart/form-data">
                                    <input type="hidden" value="" name="st_area">

                                    <div class="info-list">
                                        <div class="list-title">個案信息</div>
                                        <div class=""> 
                                            <?php if(!empty($list)){?>
                                            <?php foreach($list as $v){?>
                                            <input type="hidden" value="{$v['student_address']}" name="student_address">
                                            <input type="hidden" class="form-control" name="userid" value="{$v[userid]}">
                                            <input type="hidden" class="form-control" name="email" value="{$v[email]}">
                                            <input type="hidden" class="form-control" name="phone" value="{$v[phone]}">
                                            <input type="hidden" class="form-control" name="info[student_locid]" value="{$v[student_locid]}">
                                            <?php }?>
                                            <?php }?>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>學生姓名</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control require" data-info="學生姓名" name="info[student_name]">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">學生昵稱</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" data-info="學生昵稱" name="nickname">
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">就讀學校</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="info[student_school]" data-info="就讀學校">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">期望補習成果</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <textarea class="form-control" name="info[tutor_res]" data-info="期望補習成果"></textarea> 
                                                   
                                                </div>
                                            </div>

                                        <div class="info-list">
                                        <table class="listpanel-table" id="time">
                                            <thead>
                                                <th colspan="2" class="listpanel-title">最佳上課時間</th>
                                            </thead>
                                            <tbody>
                                                <tr class="mon">
                                                    <td>星期一</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[mon][from_hour]" id="" class="from_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[mon][to_hour]" id="" class="to_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                           </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                                <tr class="tues">
                                                    <td>星期二</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[tues][form_hour]" id="" class="from_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[tues][to_hour]" id="" class="to_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                                <tr class="wed">
                                                    <td>星期三</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[wed][from_hour]" id="" class="from_hour class-control">
                                                                        <option value=""></option>
                                                                      <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[wed][to_hour]" id="" class="to_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                                <tr class="thur">
                                                    <td>星期四</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[thur][from_hour]" id="" class="from_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[thur][to_hour]" id="" class="to_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                                <tr class="fri">
                                                    <td>星期五</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[fri][from_hour]" id="" class="from_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[fri][to_hour]" id="" class="to_hour class-control">
                                                                        <option value=""></option>
                                                                       <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                                <tr class="sat">
                                                    <td>星期六</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[sat][from_hour]" id="" class="from_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[sat][to_hour]" id="" class="to_hour class-control">
                                                                        <option value=""></option>
                                                                       <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                                <tr class="sun">
                                                    <td>星期日</td>
                                                    <td>
                                                        <div class="class-list">
                                                            <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                            <div class="class-group">
                                                                <div class="class-inline">
                                                                    <label for="">由</label>
                                                                    <select name="time[sun][from_hour]" id="" class="from_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                                <div class="class-inline">
                                                                    <label for="">至</label>
                                                                    <select name="time[sun][to_hour]" class="to_hour class-control">
                                                                        <option value=""></option>
                                                                        <?php foreach($timelist as $k=>$v){?>
                                                                        <option value="{$k}">{$v}</option>
                                                                       <?php }?> 
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>

                                    <div class="info-list">
                                        <div class="list-title">尋找導師</div>
                                        <div class="">
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>補習類別</label>
                                                <div class="col-md-7 col-sm-8">
                                                {pc:get sql="SELECT * FROM v9_sys_tutor_type where tt_level=1 order by tt_seq ASC--" return="data1" }
                                                    <select name="re_info[st_ttid_1]" id="st_ttid_1" class="form-control require"  data-info="補習類別">
                                                        <option value="">請選擇</option>
                                                        {loop $data1 $r1}
                                                        {pc:get sql="SELECT * FROM v9_sys_tutor_type where tt_level=2 and tt_parentid=$r1[tt_id] order by tt_seq ASC--" return="datas" }
                                                        {if !empty($datas)}
                                                        <option value="{$r1[tt_id]}">{$r1[tt_name]}</option>
                                                        {/if}
                                                        {/pc}
                                                        {/loop}
                                                    </select>
                                                   {/pc} 
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>補習項目</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select name="re_info[st_ttid_2]" id="st_ttid_2" class="form-control require"  data-info="補習項目">
                                                        <option value="">請選擇</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>補習級別</label>
                                                <div class="col-md-7 col-sm-8">

                                                    <select name="re_info[st_ttid_3]" id="st_ttid_3" class="form-control require"  data-info="補習級別">
                                                        <option value="">請選擇</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">學生人數</label>

                                                <div class="col-md-7 col-sm-8">
                                                    <label for="" class="control-label text-right col-sm-2">男生:</label>
                                                    <div class="col-md-4 col-sm-4">
                                                    <input type="text" class="form-control mnum"  data-info="男生人數" name="re_info[st_num_join_m]" >
                                                    </div>
                                                    <label for="" class="control-label text-right col-sm-2">女生:</label>
                                                    <div class="col-md-4 col-sm-4">
                                                    <input type="text" class="form-control fnum"  data-info="女生人數" name="re_info[st_num_join_f]" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">每次時間</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select name="re_info[st_class_hour]" id="coaching_time" class="form-control" >
                                                        <option value="">請選擇</option>
                                                        <option value="0.75">45分鐘</option>
                                                        <option value="1">1小時</option>
                                                        <option value="1.5">1.5小時</option>
                                                        <option value="2">2小時</option>
                                                        <option value="2.5">2.5小時</option>
                                                        <option value="3">3小時</option>
                                                        <option value="3.5">3.5小時</option>
                                                        <option value="4">4小時</option>
                                                        <option value="4.5">4.5小時</option>
                                                        <option value="5">5小時</option>
                                                    </select>
                                                </div>
                                            </div>

                                             <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">授課語言</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select name="re_info[st_main_lang]" class="form-control" >
                                                        <option value="">請選擇</option>
                                                         <?php foreach ($arr_class as $kar => $var) { ?>
                                                           <option value="{$var}" >{$var}</option>
                                                        <?php }?>
                                                    </select>
                                                 {/pc}   
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>每小時學費</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="input-group rmb-group">
                                                        <div class="input-group-addon">$</div>
                                                        <input type="text" class="form-control require"   data-info="每小時學費" name="st_tutor_fee">
                                                       <!--  <select name="st_tutor_hour" class="form-control" >
                                                            <option value="">請選擇</option>
                                                            <option value="1">1hr</option>
                                                            <option value="2">2hr</option>
                                                            <option value="3">3hr</option>
                                                        </select> -->
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">要求導師最低學歷</label>
                                                <div class="col-md-7 col-sm-8">
                                                {pc:get sql="SELECT * FROM v9_grade" return="data_grade" }
                                                    <select name="re_info[st_min_grade]" id="req_level" class="form-control" >
                                                        <option value="">請選擇</option>
                                                        {loop $data_grade $r_grade}
                                                        <option value="{$r_grade[grade_id]}">{$r_grade[grade_name]}</option>
                                                        {/loop}
                                                    </select>
                                                 {/pc}   
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">導師就讀心儀大學</label>
                                                <div class="col-md-7 col-sm-8">
                                                {pc:get sql="SELECT * FROM v9_collage order by id desc" return="data_collage" }
                                                    <select name="re_info[like_collage]" id="req_level" class="form-control" >
                                                        <option value="">請選擇</option>
                                                        {loop $data_collage $r_collage}
                                                        <option value="{$r_collage[id]}">{$r_collage[c_name]}</option>
                                                        {/loop}
                                                    </select>
                                                 {/pc}   
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">導師性別</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="radio-list">
                                                        <div class="radio-inline pl-0">
                                                            <span class="radio radio-primary">
                                                                <input type="radio" name="re_info[st_req_sex]" id="" value="M" checked="checked">
                                                            <label for="">男</label>
                                                            </span>
                                                        </div>
                                                        <div class="radio-inline">
                                                            <span class="radio radio-primary">
                                                                <input type="radio" name="re_info[st_req_sex]" id="" value="F">
                                                            <label for="">女</label>
                                                            </span>
                                                        </div>
                                                        <div class="radio-inline">
                                                            <span class="radio radio-primary">
                                                                <input type="radio" name="re_info[st_req_sex]" id="" value="A">
                                                            <label for="">無所謂</label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           <!--  <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">如何得知本公司？</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select name="info[st_how_know]" id="how_konw" class="form-control" >
                                                        <option value="">請選擇</option>
                                                        <option value="1">朋友</option>
                                                        <option value="2">海報</option>
                                                        <option value="3">百度</option>
                                                    </select>
                                                </div>
                                            </div> -->
                                           
                                            <input type="hidden" class="form-control" name="re_flag" id="re_flag" value="">
                                            <div class="comfirm">
                                                <a class="btn confirm-btn" id="confirm-btn">確認</a>
                                                <a class="btn confirm-btn" id="cancel-btn">取消</a>
                                            </div>
                                            <p class="betip">如在登記過程中有任何疑問，請<a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=8" target="_blank">聯繫我們</a>並嘗試描述問題的詳情。</p>
                                            <div class="loading-btn">
                                                <a href="javascript:; " class="loading">正在提交...</a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-panel-item" id="foot">
                        <div class="reg-finish">
                            <div class="finish-title">最適合你的導師</div>
                            <div class="row teacher"></div>
                            <div class="finish-dec"></div>
                            <div class="show_index" style="text-align: center;">
                                <a style="width:150px;background-color: #b7b755;padding: 4px 20px;" href="{APP_PATH}index.php?m=person&c=index&a=init">回到個人中心</a>
                           </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
    {template "content","footer_new"}
     <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
   <script type="text/javascript">

        //取消修改
        $("#cancel-btn").click(function(){
           window.location.href = "{APP_PATH}index.php?m=person&c=index&a=init"; 
        });

        //最佳上課時間的添加
        $('.add-class-group').click(function () {
            var str = '<div class="class-group"><div class="del-class-group"><i class="fa fa-minus"></i></div></div>';
            var text=$(".class-group").html();
            $(this).parent().append(str);
            $(this).parent().children("div:last-child").append(text);
        });
        $('.class-list').on('click','.del-class-group',function () {
            $(this).parent().remove();
        })


        //教授项目级别类型联动
        $("#st_ttid_1").change(function(){
            var v = $("#st_ttid_1").val();
            $("#st_ttid_1").attr('value',v);
            if(v){
                $.post('./index.php?m=teachers&c=index&a=TchItem_change',{tt_id:v},function(data){
                    $("#st_ttid_2").html(' ');
                    $("#st_ttid_2").append('<option value="">--請選擇補習項目--</option>');
                    $("#st_ttid_3").html(' ');
                    $("#st_ttid_3").append('<option value="">--請選擇補習級別--</option>');
                    if(data.length!==0){
                        for(i in data){
                        var course_option="<option class='c_option' value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;   
                        $("#st_ttid_2").append(course_option);
                        }
                    }
                },'json');
                return false;
            }else{
                $("#st_ttid_2").html(' ');
                $("#st_ttid_2").append('<option value="">--請選擇補習項目--</option>');
                $("#st_ttid_3").html(' ');
                $("#st_ttid_3").append('<option value="">--請選擇補習級別--</option>'); 
            }
        });
        $("#st_ttid_2").change(function(){
            var v = $("#st_ttid_2").val();
            $("#st_ttid_1").attr('value',v);
            if(v){
                $.post('./index.php?m=person&c=index&a=add',{tt_id:v},function(data){
                    $("#st_ttid_3").html(' ');
                    $("#st_ttid_3").append('<option value="">--請選擇補習級別--</option>');
                    if(data.length!==0){
                        for(i in data){
                        var course_option="<option class='c_option' value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;   
                        $("#st_ttid_3").append(course_option);
                        }
                    }
                },'json');
                return false;
            }else{
                $("#st_ttid_3").html(' ');
                $("#st_ttid_3").append('<option value="">--請選擇補習級別--</option>');  
            }    
        });   


        //表单验证
        $('#confirm-btn').click(function () {
            var flag = $(this).formConfirm();//表單驗證正確的標誌
            $('#stu_reg').find('*[data-info]').each(function () {
                if($(this).hasClass('has-error')) {
                    $(this).focus();
                    return false
                }
            })
            //时间选择必须完整
            var to_hour=[] ;
            var from_hour=[] ;
            $(".to_hour option:selected").each(function () {  
                to_hour.push($(this).text());  
            });
            $(".from_hour option:selected").each(function () {  
                from_hour.push($(this).text());  
            });
            for (var i = 0; i < from_hour.length; i++) {
                if ((from_hour[i]=="" && to_hour[i] != "") || (to_hour[i]=="" && from_hour[i] != "")) {
                    flag=false;
                    $(".to_hour").eq(i).parent().parent().append('<span class="error-tip">請輸入完整的時間。</span>');
                    $(".to_hour").eq(i).focus();//獲取焦點
                    $("#re_flag").val("");
                    var re_flag=$("#re_flag").val();
                    sessionStorage.setItem('Data',re_flag);
                }
                var t11=from_hour[i].split(":");
                var t21=to_hour[i].split(":");
                var sj1 = parseInt(t11[0])*24 + t11[1];
                var sj2 = parseInt(t21[0])*24 + t21[1];
                if (sj1 >= sj2) {    
                    flag=false;
                    $(".to_hour").eq(i).parent().parent().append('<span class="error-tip">請輸入正確的時間段。</span>');
                    $(".to_hour").eq(i).focus();//獲取焦點
                    $("#re_flag").val("");
                    var re_flag=$("#re_flag").val();
                    sessionStorage.setItem('Data',re_flag);
                }
            };

            //表单验证成功后
            if(flag){
                $(".loading-btn").css('display','block');
                $(".comfirm").css('display','none');
                //新增时间段
                var mon_time=[];
                var tues_time=[];
                var wed_time=[];
                var thur_time=[];
                var fri_time=[];
                var sat_time=[];
                var sun_time=[];
                $('.mon option:selected').each(function () {  
                    mon_time.push($(this).val());  
                });
                $('.tues option:selected').each(function () {  
                    tues_time.push($(this).val());  
                });
                $('.wed option:selected').each(function () {  
                    wed_time.push($(this).val());  
                });
                $('.thur option:selected').each(function () {  
                    thur_time.push($(this).val());  
                });
                $('.fri option:selected').each(function () {  
                    fri_time.push($(this).val());  
                });
                $('.sat option:selected').each(function () {  
                    sat_time.push($(this).val());  
                });
                $('.sun option:selected').each(function () {  
                    sun_time.push($(this).val());  
                });
                
                var time_arr = [];
                time_arr[0]=mon_time;
                time_arr[1]=tues_time;
                time_arr[2]=wed_time;
                time_arr[3]=thur_time;
                time_arr[4]=fri_time;
                time_arr[5]=sat_time;
                time_arr[6]=sun_time;
                
                var info=$('#stu_reg').serialize();
                $.ajax({
                    url:"{APP_PATH}index.php?m=person&c=index&a=add_add",
                    type:"post",
                    data:info,
                    async:false,
                    dataType:"json",
                    success: function(mas_data){
                        var time_a=mas_data[0];
                        var list=mas_data[1];
                        var alist=list.data;
                        if(alist!=""){
                            for(var i in alist){
                               var content='<div class="col-md-6 col-sm-6 course-col" style="margin-left:25%">'
                                            +'<div class="course-item">'
                                            +'<div class="course-head"></div>'
                                            +'<div class="course-content student-content">'  
                                            +' <div class="course-person">'
                                            +'<img src="'+alist[i].userimage+'" alt="">'
                                            +'<p class="course-contain">導師</p></div>'
                                            +'<div class="course-file">'
                                            +'<dl class="course-file-item">'
                                            +'<dd>個案編號</dd>'
                                            +'<dt>'+alist[i].tm_tutorid+'</dt></dl>'
                                            +'<dl class="course-file-item">'
                                            +'<dd>補習地區</dd>'
                                            +'<dt>'+alist[i].teach_area+'</dt></dl>'
                                            +'<dl class="course-file-item"><dd>科目</dd><dt>'+alist[i].teach_type+'</dt></dl>'
                                            +'<dl class="course-file-item"><dd>主要教學語言</dd><dt>'+alist[i].tutor_main_lang+'</dt></dl>'
                                            +'<dl class="course-file-item"><dd>可教授日期</dd><dt class="class_time">'+alist[i].teach_time+'</dt></dl>'
                                            +'</div>'
                                            +'<div class="course-dec"><a href="{APP_PATH}index.php?m=teachers&c=index&a=tutor_detail&userid='+alist[i].userid+'&tutor_id='+alist[i].tm_tutorid+'">查看詳情</a></div><div class="course-meta">'
                                            +'<div class="rating">'
                                            +'<div class="star-rating">'
                                            +'<span class="star-show" style="width:'+alist[i].star+'%"></span>'
                                            +'</div>'
                                            +'</div>' 
                                            +'<div class="course-three">$'+ alist[i].tstt_fee+'</div></div>'+alist[i].match_area
                                             +'</div></div> </div>'
                                }
                            $('.teacher').html(content);
                            $('.show_index').show();
                        }else{
                            $('.finish-title').html('暫無導師適合你的要求，未有推薦個案。');
                        }


                        $.ajax({
                            url:"{APP_PATH}index.php?m=person&c=index&a=add_time",
                            type: "POST",
                            async:false,
                            dataType: "text",
                            data:{"time_a" : time_a, "time_arr" : JSON.stringify(time_arr)},
                            success: function(data_time){
                                var index = $(".btn").parents('.tab-panel-item').index();
                                $(".btn").parents('.tab-panel-item').removeClass('active').siblings().addClass('active');
                                var tab =  $(".btn").parents('.tab-panel-item').parent().siblings('.panel-tab').find('.panel-tab-item');
                                tab.eq(index).removeClass('active').siblings().addClass('active');
                                $("#foot").css('display','block');
                                //setInterval(window.history.back(-1), 10000);
                                   
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                                $("#re_flag").val("");
                                var re_flag=$("#re_flag").val();
                                sessionStorage.setItem('Data',re_flag);
                                alert('填寫時間數據有錯誤，請重新填寫');
                            },
                        });
                        
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        $("#re_flag").val("");
                        var re_flag=$("#re_flag").val();
                        sessionStorage.setItem('Data',re_flag);
                        alert('填寫表單數據有錯誤，請重新填寫');
                    },
                });
            }
        });

    </script>
</body>
</html>