<title>尋找合適的導師個案-Tutorseeking</title>
{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/bootstrapValidator.css">
<link rel="stylesheet" href="{CSS_PATH}add/tutor-reg.css">
<link rel="stylesheet" href="{CSS_PATH}add/index.css">
    <style type="text/css">
        .loading-btn{
            display: none;
        }
        .loading-btn a{
            display: inline-block;
            padding: 8px;
            width: 150px;
            text-align: center;
            border: none;
            margin-bottom: 20px;
            color: #fff;
            background: #fbca21;
            line-height: 30px;
            cursor: pointer;
        }
        .course-file-item dd{
            width: 155px;
            margin-right: 20px;
            font-weight: bold;
        }
        .course-file-item dt{
            width: calc(80% - 105px);
            text-align: left;
            padding-left: 20px;
            font-size: 14px;
        }
    </style>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><a href="{APP_PATH}index.php?m=person&c=tutor_index&a=init"><span>個人中心</span></a></li>
                            <li><a href="#"><span>尋找最合適導師</span></a></li>
                        </ul>
                    </div>
                    <div class="entry-content tutor-horizontal">
                        <div class="tab-panel-item-ming">                           
                            <div class="reg-finish">
                                {if empty($tor_info)}
                                    <div class="finish-title">暫無導師適合你的要求，未有推薦個案。</div>
                                {else}
                                    <div class="finish-title">最適合你的導師</div>
                                    <div class="row student">
                                        <div class="col-md-6 col-sm-6 course-col" style="margin-left:25%">
                                            <div class="course-item">
                                            <div class="course-head"></div>
                                                <div class="course-content student-content">
                                                <div class="course-person">
                                                    <img src="{$tor_info['userimage']}" alt="">
                                                    <p class="course-contain">導師</p>
                                                </div>
                                                <div class="course-file">
                                                    <dl class="course-file-item">
                                                    <dd>個案編號</dd>
                                                    <dt>{$tor_info['tm_tutorid']}</dt></dl>
                                                    <dl class="course-file-item">
                                                    <dd>補習地區</dd>
                                                    <dt>{$tor_info['teach_area']}</dt></dl>
                                                    <dl class="course-file-item"><dd>科目</dd><dt>{$tor_info['teach_type']}</dt></dl>
                                                    <dl class="course-file-item"><dd>主要教學語言</dd><dt>{$tor_info['tutor_main_lang']}</dt></dl>
                                                    <dl class="course-file-item"><dd>可教授日期</dd><dt class="class_time">{$tor_info['teach_time']}</dt></dl>
                                                </div>
                                                <div class="course-dec"><a href="{APP_PATH}index.php?m=teachers&c=index&a=tutor_detail&userid={$tor_info['userid']}&tutor_id={$tor_info['tm_tutorid']}">查看詳情</a>
                                                </div>
                                                <div class="course-meta">
                                                    <div class="rating">
                                                        <div class="star-rating">
                                                            <span class="star-show" style="width:{$tor_info['star']}%"></span>
                                                        </div>
                                                    </div>
                                                    <div class="course-three">${$tor_info['tstt_fee']}</div>
                                                </div>{$tor_info['match_area']}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {/if}
                                <div class="finish-dec"></div>
                                <div class="show_index" style="text-align: center;">
                                    <!-- <a style="width:150px;background-color: #b7b755;padding: 4px 20px;" href="{APP_PATH}index.php?m=person&c=tutor_index&a=init">回到個人中心</a> -->
                                    <a style="width:150px;background-color: #b7b755;padding: 4px 20px;" onclick="history.back(-1);">回到個人中心</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
    <script src="{JS_PATH}add_person/tutor_edit/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add_person/tutor_edit/base.js"></script>
    <script src="{JS_PATH}add_person/tutor_edit/bootstrapValidator.min.js"></script>
    <script src="{JS_PATH}add_person/tutor_edit/zh_CN.js"></script>
</body>
</html>