<title>新增導師個案-Tutorseeking</title>
{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/bootstrapValidator.css">
<link rel="stylesheet" href="{CSS_PATH}add/tutor-reg.css">
<link rel="stylesheet" href="{CSS_PATH}add/index.css">
<style type="text/css">
    .error-tips{
        display: none;
    }
    .loading-btn{
        display: none;
    }
    .loading-btn a{
        display: inline-block;
        padding: 8px;
        width: 150px;
        text-align: center;
        border: none;
        margin-bottom: 20px;
        color: #fff;
        background: #fbca21;
        line-height: 30px;
        cursor: pointer;
    }
    .course-file-item dd{
    width: 155px;
    margin-right: 20px;
    font-weight: bold;
}
.course-file-item dt{
    width: calc(80% - 105px);
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
}
</style>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}index.php?m=person&c=tutor_index&a=init"><span>個人中心</span></a></li>
                            <li><span>新增導師個案</span></li>
                        </ul>
                    </div>
                    <div class="entry-content tutor-horizontal">
                        <div class="tab-panel-content">
                            <!--導師條款及規則-->
                            <!--導師條款及規則結束-->
                            <!--導師類別-->
                            <div class="tab-panel-item ">
                                <div class="tab-panel-title">導師類別</div>
                                <p>請選擇所有可教之項目，我們只根據你所選項目進行工作配對。</p>
                                <div class="tutor-cate-box">
                                    <div class="tutor-cate-content">
                                        <div class="tutor-cate-item cate-item-1">
                                            <div class="tutor-cate-title">可教授類別</div>
                                            <div class="cate-item-list">
                                                {pc:get sql="SELECT * FROM v9_sys_tutor_type where tt_level=1 order by tt_seq asc--" return="data1" }
                                                <select  id="" class="form-control TchCate" name="TchCate" >
                                                    <option value=""></option>
                                                    {loop $data1 $r1}
                                                    {pc:get sql="SELECT * FROM v9_sys_tutor_type where tt_level=2 and tt_parentid=$r1[tt_id] order by tt_seq asc--" return="datas" }
                                                    {if !empty($datas)}
                                                    <option value="{$r1[tt_id]}">{$r1[tt_name]}</option>
                                                    {/if}
                                                    {/pc}
                                                    {/loop}
                                                </select>
                                                {/pc}
                                            </div>
                                        </div>


                                        <div class="tutor-cate-item  cate-item-2">
                                            <div class="tutor-cate-title">可教授項目</div>
                                            <div class="cate-item-list">
                                                <select  id="" class="form-control TchItem ttid_2" name="TchItem">
                                                    <option value=""></option>
                                                </select>
                                            </div> 
                                        </div>
                                        <div class="tutor-cate-item  cate-item-3">
                                            <div class="tutor-cate-title">可教授級別</div>
                                            <div class="cate-item-list">
                                                <select  id="" class="form-control TchLevel ttid_3" name="TchLevel">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tutor-add">
                                        <i class="fa fa-plus"></i>&nbsp;增加可教授項目
                                    </div>
                                    <p class="error-area level">請至少選擇一個教授項目</p>
                                    <p class="error-area full">請選擇完整</p>
                                </div>
                            </div>

                            <!--導師類別結束-->
                            <!--授課區域-->

                            <div class="tab-panel-item area-panel active">
                                <div class="tab-panel-title">授課區域</div>
                                <!-- <p>請選擇不超過10個地區作為補習區域</p> -->
                                <div class="area-box">
                                    {pc:get sql="SELECT loc_name,loc_id FROM v9_sys_location where loc_level=2 order by loc_seq asc--" return="location" }
                                    <?php $i = 0;?>
                                    {loop $location $loc}
                                    <?php $i++;?>
                                    <div class="area-item display_<?php echo $i?>">
                                        <div class="area-item-panel">{$loc[loc_name]}</div>
                                        <ul class="item-panel-list">
                                            <?php $loc_id=$loc['loc_id']?>
                                            {pc:get sql="SELECT loc_name,loc_id FROM v9_sys_location where loc_level=3 and loc_parentid=$loc_id order by loc_seq asc--" return="place" }

                                             <?php if(empty($place)){
                                                echo "<script>
                                                    $('.display_".$i."').css('display','none');
                                                    </script>";
                                            }?>
                                            <li>
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" onclick="all_checkbox(this);" name="TchArea" class="all" value="{$loc['loc_id']}">
                                                    <label for="">全{$loc['loc_name']}</label>
                                                </div>
                                            </li>
                                            {loop $place $p}
                                           
                                            <li>
                                                <div class="checkbox checkbox-primary">
                                                    <input id="" type="checkbox" value="{$p[loc_id]}" name="TchArea" class="agree-check TchArea" onclick="single_click(this);">
                                                    <label for="">{$p[loc_name]}</label>
                                                </div>
                                            </li>
                                            {/loop}
                                            {/pc}
                                        </ul>
                                    </div>
                                    {/loop}
                                    {/pc}                                   
                                </div>
                                <script>

                                    //全選與全不選
                                    function all_checkbox(option){
                                        var allselect = $(option).is(':checked');//判斷全選或是全不選
                                        $(option).parent().parent().parent().find(".agree-check").each(function(){
                                            // alert($(this).is(":checked"));
                                            if(allselect){                      //全選 
                                                if(!$(this).is(":checked")){    //click未選中的選項
                                                    // $(this).click();
                                                    $(this).prop("checked",true);
                                                }
                                            }else{                              //全不選
                                                if($(this).is(":checked")){     //click已選中的選項
                                                    // $this.click();
                                                    $(this).prop("checked",false);
                                                }
                                            }
                                        });
                                    }

                                    //點擊地區時
                                    function single_click(option){
                                        var allselect = 0;
                                        if(!$(option).is(':checked')){ //取消選擇時 全選按鈕去除勾選
                                            $(option).parent().parent().parent().find('.all').removeAttr('checked');
                                        }else{
                                            //點擊選擇時 判斷若全部選擇 則全選按鈕打勾
                                            $(option).parent().parent().parent().find('.agree-check').each(function(){
                                                if(!$(this).is(':checked')){
                                                    allselect = 1;
                                                }
                                            });
                                            if(allselect == 0){
                                                $(option).parent().parent().parent().find('.all').click();
                                            }
                                        }
                                    }

                                </script>
                                <p class="error-area">請不要選擇超過十個地區</p>

                                <div class="tab-panel-title">授課時間</div>
                                <div class="info-list"> 
                                   <table class="listpanel-table" id="time"> 
                                    <thead> 
                                     <tr>
                                      <th colspan="2" class="listpanel-title">可教授時間</th> 
                                     </tr>
                                    </thead> 
                                    <tbody> 
                                     <tr class="mon">
                                        <td>星期一</td>
                                        <td>
                                            <div class="class-list">
                                                <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                <div class="class-group aa">
                                                    <div class="class-inline">
                                                        <label for="">由</label>
                                                        <select name="time[mon][from_hour]" id="" class="from_hour class-control">
                                                            <option value=""></option>
                                                            <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                                    <div class="class-inline">
                                                        <label for="">至</label>
                                                        <select name="time[mon][to_hour]" id="" class="to_hour class-control">
                                                            <option value=""></option>
                                                            <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                               </div>
                                            </div>  
                                        </td>
                                    </tr>
                                    <tr class="tues">
                                        <td>星期二</td>
                                        <td>
                                            <div class="class-list">
                                                <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                <div class="class-group aa">
                                                    <div class="class-inline">
                                                        <label for="">由</label>
                                                        <select name="time[tues][from_hour]" id="" class="from_hour class-control">
                                                            <option value=""></option>
                                                            <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                                    <div class="class-inline">
                                                        <label for="">至</label>
                                                        <select name="time[tues][to_hour]" id="" class="to_hour class-control">
                                                            <option value=""></option>
                                                            <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>  
                                        </td>
                                    </tr>
                                    <tr class="wed">
                                        <td>星期三</td>
                                        <td>
                                            <div class="class-list">
                                                <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                <div class="class-group aa">
                                                    <div class="class-inline">
                                                        <label for="">由</label>
                                                        <select name="time[wed][from_hour]" id="" class="from_hour class-control">
                                                            <option value=""></option>
                                                          <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                                    <div class="class-inline">
                                                        <label for="">至</label>
                                                        <select name="time[wed][to_hour]" id="" class="to_hour class-control">
                                                            <option value=""></option>
                                                            <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>  
                                        </td>
                                    </tr>
                                    <tr class="thur">
                                        <td>星期四</td>
                                        <td>
                                            <div class="class-list">
                                                <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                <div class="class-group aa">
                                                    <div class="class-inline">
                                                        <label for="">由</label>
                                                        <select name="time[thur][from_hour]" id="" class="from_hour class-control">
                                                            <option value=""></option>
                                                            <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                                    <div class="class-inline">
                                                        <label for="">至</label>
                                                        <select name="time[thur][to_hour]" id="" class="to_hour class-control">
                                                            <option value=""></option>
                                                            <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>  
                                        </td>
                                    </tr>
                                    <tr class="fri">
                                        <td>星期五</td>
                                        <td>
                                            <div class="class-list">
                                                <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                <div class="class-group aa">
                                                    <div class="class-inline">
                                                        <label for="">由</label>
                                                        <select name="time[fri][from_hour]" id="" class="from_hour class-control">
                                                            <option value=""></option>
                                                            <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                                    <div class="class-inline">
                                                        <label for="">至</label>
                                                        <select name="time[fri][to_hour]" id="" class="to_hour class-control">
                                                            <option value=""></option>
                                                           <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>  
                                        </td>
                                    </tr>
                                    <tr class="sat">
                                        <td>星期六</td>
                                        <td>
                                            <div class="class-list">
                                                <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                <div class="class-group aa">
                                                    <div class="class-inline">
                                                        <label for="">由</label>
                                                        <select name="time[sat][from_hour]" id="" class="from_hour class-control">
                                                            <option value=""></option>
                                                            <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                                    <div class="class-inline">
                                                        <label for="">至</label>
                                                        <select name="time[sat][to_hour]" id="" class="to_hour class-control">
                                                            <option value=""></option>
                                                           <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>  
                                        </td>
                                    </tr>
                                    <tr class="sun">
                                        <td>星期日</td>
                                        <td>
                                            <div class="class-list">
                                                <div class="add-class-group"><i class="fa fa-plus"></i></div>
                                                <div class="class-group aa">
                                                    <div class="class-inline">
                                                        <label for="">由</label>
                                                        <select name="time[sun][from_hour]" id="" class="from_hour class-control">
                                                            <option value=""></option>
                                                            <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>

                                                    <div class="class-inline">
                                                        <label for="">至</label>
                                                        <select name="time[sun][to_hour]" class="to_hour class-control">
                                                            <option value=""></option>
                                                            <?php foreach($timelist as $k=>$v){?>
                                                            <option value="{$k}">{$v}</option>
                                                           <?php }?> 
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>  
                                        </td>
                                    </tr> 
                                    </tbody> 
                                   </table> 
                                  </div>
                                  
                            </div>
                        <form name="others" class="others">
                            <!--授課區域結束-->
                            <!--個人資料-->
                            <?php foreach ($infos as $info){ ?>
                                <input type="hidden" name="tutor_id" value="{$info[tutor_id]}">
                                <input type="hidden" name="tm_id" value="{$info[tm_id]}">
                                <input type="hidden" name="tutor_sex" value="{$info[tutor_sex]}">
                                <input type="hidden" name="tutor_college" value="{$info[tutor_college]}">
                                <input type="hidden" name="tutor_high_grade" value="{$info[tutor_high_grade]}">
                                <input type="hidden" name="tutor_main_lang" value="{$info[tutor_main_lang]}">
                            <?php } ?>
                            
                            <div class="form-group">
                                <label for="" class="control-label text-right col-sm-2 class-time"><span class="main-color">*</span>每次上课時間:</label>
                                <div class="col-md-10 col-sm-10">
                                    <select name="tst_class_hour" id="coaching_time" class="form-control">
                                        <option value="">請選擇</option>
                                        <option value="0.75">45分鐘</option>
                                        <option value="1">1小時</option>
                                        <option value="1.5">1.5小時</option>
                                        <option value="2">2小時</option>
                                        <option value="2.5">2.5小時</option>
                                        <option value="3">3小時</option>
                                        <option value="3.5">3.5小時</option>
                                        <option value="4">4小時</option>
                                        <option value="4.5">4.5小時</option>
                                        <option value="5">5小時</option>
                                    </select>
                                    <span class="error-tip error-tips error-tips1">請輸入正確的上课時間。</span>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label text-right col-sm-2 fee"><span class="main-color">*</span>每小時學費:</label>
                                <div class="col-md-10 col-sm-10">
                                    <input type="text" class="form-control" name="tstt_fee" id="fee">
                                    <span class="error-tip error-tips error-tips2">請輸入正確的每小時學費。</span>
                                </div>

                            </div>
                            
                        </form>
                            <!--個人資料結束-->
                            <!--音樂及其他技能-->
                            <!--音樂技能結束-->
                            <!--音樂及其他技能結束-->
                            <!--自我介紹-->
                            <!--自我介紹結束-->
                            <!--完成-->
                            <!--完成結束-->
                        </div>

                        <!--步驟-->
                        <div class="tab-panel-item">                           
                            <div class="reg-finish">
                                <div class="finish-title">最適合你的學生</div>
                                <div class="row student"></div>
                                <div class="finish-dec"></div>
                                <div class="show_index" style="text-align: center;">
                                    <a style="width:150px;background-color: #b7b755;padding: 4px 20px;" href="{APP_PATH}index.php?m=person&c=tutor_index&a=init">回到個人中心</a>
                                </div>
                            </div>
                        </div>
                        <div class="step-box">
                            <div class="step-btn">
                                <a href="javascript:; " class="step-prev">確認</a>
                                <a href="javascript:; " class="step-next">取消</a>
                                
                            </div>
                            <div class="loading-btn">
                                <a href="javascript:; " class="loading">正在提交...</a>
                            </div>
                            <p class="betip">如在登記過程中有任何疑問，請<a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=8" target="_blank">聯繫我們</a>並嘗試描述問題的詳情。</p>
                        </div>
                    
                        <!--步驟結束-->
                    </div>
                </div>
            </div>
        </div>
{template "content","footer_new"}

        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
    <script src="{JS_PATH}add_person/tutor_edit/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add_person/tutor_edit/base.js"></script>
    <script src="{JS_PATH}add_person/tutor_edit/bootstrapValidator.min.js"></script>
    <script src="{JS_PATH}add_person/tutor_edit/zh_CN.js"></script>
    <script>
        
        $(document).on('click','.step-btn .step-prev',function () {
            var flag = true;
            var flags = checkNum();
            var date = checkdate();
            if(!flags){
                flag=false;
            }
            if(!date){
                flag=false;
            }

            var class_time = $('#coaching_time option:selected').val();
            var fee = $("#fee").val();
            if(!class_time){
                flag=false;
                $(".error-tips1").css('display','block');
            }
            if(!fee){
                flag=false;
                $(".error-tips2").css('display','block');
            }
            var ttid_1=[] ;
            var ttid_2=[] ;
            var ttid_3=[] ;
            $(".TchCate option:selected").each(function () {  
                ttid_1.push($(this).val());  
            });
            $('.TchItem option:selected').each(function () {  
                ttid_2.push($(this).val());  
            });
            $('.TchLevel option:selected').each(function () {  
                ttid_3.push($(this).val());  
            });

            if(!ttid_1.join("") ||!ttid_2.join("") ||!ttid_3.join("")){
                 $('.tutor-cate-box .level').show();
                 flag =false;
             }else{
                var ty = 0;
                $(".TchLevel option:selected").each(function(){
                    console.log($(this).val());
                    if($(this).val()== ""){
                        var index=$(".cate-item-3 .cate-item-list").index($(this).parent().parent());
                        if($(".cate-item-1 .cate-item-list").eq(index).children().find("option:selected").val()!==""){
                            ty = 1; 
                        }                   
                    }
                });
                if(ty == 1){
                     $('.tutor-cate-box .full').show();
                    flag =false;
                 }
             }

            if(flag){
                $(".loading-btn").css('display','block');
                $(".step-btn").css('display','none');
                obj = document.getElementsByName("TchArea");
                check_val = [];
                for(k in obj){
                    if(obj[k].checked)
                        check_val.push(obj[k].value);
                }
                // var checkArea=JSON.stringify(check_val);

                //获取上课时间数据
                var mon_time=[];
                var tues_time=[];
                var wed_time=[];
                var thur_time=[];
                var fri_time=[];
                var sat_time=[];
                var sun_time=[];
                $('.mon option:selected').each(function () {  
                    mon_time.push($(this).val());  
                });
                $('.tues option:selected').each(function () {  
                    tues_time.push($(this).val());  
                });
                $('.wed option:selected').each(function () {  
                    wed_time.push($(this).val());  
                });
                $('.thur option:selected').each(function () {  
                    thur_time.push($(this).val());  
                });
                $('.fri option:selected').each(function () {  
                    fri_time.push($(this).val());  
                });
                $('.sat option:selected').each(function () {  
                    sat_time.push($(this).val());  
                });
                $('.sun option:selected').each(function () {  
                    sun_time.push($(this).val());  
                });
                
                var time_arr = [];
                time_arr[0]=mon_time;
                time_arr[1]=tues_time;
                time_arr[2]=wed_time;
                time_arr[3]=thur_time;
                time_arr[4]=fri_time;
                time_arr[5]=sat_time;
                time_arr[6]=sun_time;
                var time=JSON.stringify(time_arr);
                //获取上课时间数据結束

                var others = $(".others").serialize();
                var data = others+'&check_val='+check_val+'&ttid_1='+ttid_1+'&ttid_2='+ttid_2+'&ttid_3='+ttid_3+'&teachertime='+time;
                $.ajax({
                    url:"{APP_PATH}index.php?m=person&c=tutor_index&a=ajax_tutor_add",
                    type:"post",
                    data:data,
                    asyn:false,
                    dataType:"json",
                    success: function(data){
                        if(data=="2"){
                            alert("新增失敗,請刷新重試!");
                            window.location.reload();
                        }else{
                            $('.tab-panel-item').addClass('active');
                            $('.tab-panel-content').css('display','none'); 
                            $('.step-box').css('display','none'); 
                            if(data!=""){                            
                               var content='<div class="col-md-6 col-sm-6 course-col" style="margin-left:25%">'
                                            +'<div class="course-item">'
                                            +'<div class="course-head"></div>'
                                            +'<div class="course-content student-content">'  
                                            +' <div class="course-person">'
                                            +'<img src="'+data.userimage+'" alt="">'
                                            +'<p class="course-contain">學生</p></div>'
                                            +'<div class="course-file">'
                                            +'<dl class="course-file-item">'
                                            +'<dd>個案編號</dd>'
                                            +'<dt>'+data.st_id+'</dt></dl>'
                                            +'<dl class="course-file-item">'
                                            +'<dd>補習地區</dd>'
                                            +'<dt>'+data.loc_name+'</dt></dl>'
                                            +'<dl class="course-file-item"><dd>科目</dd><dt>'+data.tt_name+'</dt></dl>'
                                            +'<dl class="course-file-item"><dd>學生人數</dd><dt>'+data.st_num_join+'</dt></dl>'
                                            +'<dl class="course-file-item"><dd>要求上課日期</dd><dt class="class_time">'+data.stu_time+'</dt></dl>'
                                            +'</div><div class="course-dec"><a href="{APP_PATH}index.php?m=tparents&c=index&a=stu_detail&stuid='+data.userid+'&tran_id='+data.st_id+'">查看詳情</a></div><div class="course-meta">'
                                            +'<div class="rating">'
                                            +'<div class="star-rating">'
                                            +'<span class="star-show" style="width:'+data.star+'%"></span>'
                                            +'</div>'
                                            +'</div>'
                                            +'<div class="course-three">$'+ data.st_tutor_fee+'</div></div>'+data.match_area
                                             +'</div></div> </div>';
 
                                $('.student').html(content);
                                }else{
                                    $('.finish-title').html('暫無學生適合你的要求，未有推薦個案。');
                                }
                         }
                    }
                }); 
            }
           
        });


        //取消
        $(".step-next").click(function(){
            window.location.href = "{APP_PATH}index.php?m=person&c=tutor_index&a=init"; 
        });

        //最佳上課時間的添加
        $('.add-class-group').click(function () {
            var str = '<div class="class-group"><div class="del-class-group"><i class="fa fa-minus"></i></div></div>';
            var text=$(".class-group").html();
            $(this).parent().append(str);
            $(this).parent().children("div:last-child").append(text);
        });
        $('.class-list').on('click','.del-class-group',function () {
            $(this).parent().remove();
        })

        //教授类别，项目，级别三级联动
        $(".TchCate").change(function(){
            var v = $(".TchCate").val();
            var index=$(".TchCate").index(this);
            var th = $(this);
            if(v==""){
                var ThisSelectObj = th.parent().parent().next().children().eq(index+1).find('select');
                ThisSelectObj.html(' ');
                var ThisSelectObj1 = th.parent().parent().next().next().children().eq(index+1).find('select');
                ThisSelectObj1.html(' ');
                var text=" <option disabled='disabled' selected='selected'></option>";
                ThisSelectObj.append(text);
                var text1=" <option disabled='disabled' selected='selected'></option>";
                ThisSelectObj1.append(text);
            }else{
                $.post('./index.php?m=teachers&c=index&a=TchItem_change',{tt_id:v},function(data){
                var ThisSelectObj = th.parent().parent().next().children().eq(index+1).find('select');
                 // console.log(ThisSelectObj.html());
                ThisSelectObj.html(' ');
                var ThisSelectObj1 = th.parent().parent().next().next().children().eq(index+1).find('select');
                ThisSelectObj1.html(' ');
                var text=" <option disabled='disabled' selected='selected'></option>";
                ThisSelectObj.append(text);
                var text1=" <option disabled='disabled' selected='selected'></option>";
                ThisSelectObj1.append(text);
                if(data.length!==0){
                    for(i in data){
                    var course_option="<option value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;   
                    ThisSelectObj.append(course_option);
                    }
                }
                },'json');
                return false;
            }
        });

        $(".TchItem").change(function(){
            var v = $(".TchItem").val();
            var index=$(".TchItem").index(this);
            var th = $(this);
            if(v){
                $.post('./index.php?m=person&c=tutor_index&a=tutor_level_ajax',{tt_id:v},function(data){
                    var ThisSelectObj = th.parent().parent().next().children().eq(index+1).find('select');
                    ThisSelectObj.html(' ');
                    var text=" <option disabled='disabled' selected='selected'></option>";
                    ThisSelectObj.append(text);
                    if(data.length!==0){
                        for(i in data){
                        var course_option="<option value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;   
                        ThisSelectObj.append(course_option);
                        }
                        
                    }
                },'json');
                return false;
            }else{
                var ThisSelectObj = th.parent().parent().next().children().eq(index+1).find('select');
                ThisSelectObj.html(' ');
                var text=" <option disabled='disabled' selected='selected'></option>";
                ThisSelectObj.append(text);
            }
        });


        //個人資料表单初始配置
        $('#personForm').bootstrapValidator({
            message: '這個欄位必須填寫。',
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: '請填寫用戶名。'
                        },
                    }
                },
                useremail: {
                    validators: {
                        notEmpty: {
                            message: '請填寫您的郵箱。'
                        },
                        regexp: {
                            regexp: /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/,
                            message: '郵箱格式不正確。'
                        },
                        identical: {
                            field: 'useremailAgain',
                            message: '兩次填寫的郵箱地址不一樣'
                        }
                    }
                },
                useremailAgain: {
                    validators: {
                        notEmpty: {
                            message: '請確認您的郵箱地址。'
                        },
                        identical: {
                            field: 'useremail',
                            message: '兩次填寫的郵箱地址不一樣'
                        }
                    }
                },
                usertel: {
                    validators: {
                        notEmpty: {
                            message: '請填寫正確的手機電話。'
                        },
                        regexp: {
                            regexp: /((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)/,
                            message: '手機電話格式不正確。'
                        }
                    }
                },
                userpwd: {
                    validators: {
                        notEmpty: {
                            message: '請填寫密碼。'
                        },
                        identical: {
                            field: 'userpwdAgain',
                            message: '兩次密碼填寫不一樣。'
                        }
                    }
                },
                userpwdAgain: {
                    validators: {
                        notEmpty: {
                            message: '請確認填寫的密碼。'
                        },
                        identical: {
                            field: 'userpwd',
                            message: '兩次密碼填寫不一樣。'
                        }
                    }
                },
                userIdEn: {
                    validators: {
                        notEmpty: {
                            message: '請填寫身份證上的英文名。'
                        }
                    }
                },
                userIdCh: {
                    validators: {
                        notEmpty: {
                            message: '請填寫身份證上的中文名。'
                        }
                    }
                },
                userHomeAddr: {
                    validators: {
                        notEmpty: {
                            message: '請填寫固定住宅完整地址。'
                        }
                    }
                },
                userHomeArea: {
                    validators: {
                        notEmpty: {
                            message: '請填寫固定住宅地址區域。'
                        }
                    }
                },
                userNickName: {
                    validators: {
                        notEmpty: {
                            message: '請填寫暱稱或英文名。'
                        }
                    }
                },
                userSex: {
                    validators: {
                        notEmpty: {
                            message: '請選擇性別。'
                        }
                    }
                },
                userBirth: {
                    validators: {
                        notEmpty: {
                            message: '請選擇出生年份。'
                        }
                    }
                },
                userMainLan: {
                    validators: {
                        notEmpty: {
                            message: '請選擇主要語言。'
                        }
                    }
                },
                tutorPrice: {
                    validators: {
                        notEmpty: {
                            message: '請填寫每堂價錢範圍。'
                        },
                        regexp: {
                            regexp: /\d/,
                            message: '請填寫數字。'
                        }
                    }
                },
                userHighEd: {
                    validators: {
                        notEmpty: {
                            message: '請填寫最高教育程度。'
                        }
                    }
                },
                userCurOct: {
                    validators: {
                        notEmpty: {
                            message: '請選擇現時職業。'
                        }
                    }
                },
                userWorkExp: {
                    validators: {
                        notEmpty: {
                            message: '請選擇工作經驗。'
                        }
                    }
                },
                userTutorClass: {
                    validators: {
                        notEmpty: {
                            message: '請選擇最高可補年級。'
                        }
                    }
                },
                userTutorExp: {
                    validators: {
                        notEmpty: {
                            message: '請選擇補習經驗及年資。'
                        }
                    }
                },
                userEdiExp: {
                    validators: {
                        notEmpty: {
                            message: '請選擇教育機構經驗。'
                        }
                    }
                }
            }
        });

       
        //初始設置
        $('.tab-panel-content .tab-panel-item').first().addClass('active');

        //導師類別添加
        $('.tutor-add').click(function () {
            var str='<div class="cate-item-list"></div>';
            var str1 = $(this).siblings().find('.cate-item-1').children("div:last-child").html();

            var str2 ="<div class='cate-item-list'><select class='form-control TchItem' name='TchItem'><option></option></select></div>";
            var str3 ="<div class='cate-item-list'><select  class='form-control TchLevel' name='TchLevel'><option></option></select></div>";

            $(this).siblings().find('.cate-item-1').append(str);
            $(this).siblings().find('.cate-item-2').append(str2);
            $(this).siblings().find('.cate-item-3').append(str3);
            $(this).siblings().find('.cate-item-1').children("div:last-child").append(str1);

            $(".tutor-cate-content").on("change",".form-control",function(){        //重新绑定事件
                    // alert(123);
                    var th = $(this);
                    var name = $(this).attr('name');            //获取下拉框的name名
                    if(name == 'TchCate'){
                         var v = $(this).val();
                            var index=$(".TchCate").index(this);            //当前元素的索引
                            // alert(index);
                            if(v){
                                $.post('./index.php?m=teachers&c=index&a=TchItem_change',{tt_id:v},function(data){

                                   var ThisSelectObj = th.parent().parent().next().children().eq(index+1).find('select');       //获取下一级下拉框节点
                                   // console.log(ThisSelectObj.html());
                                    ThisSelectObj.html(' ');
                                    // $(".TchItem").html(' ');
                                    var ThisSelectObj1 = th.parent().parent().next().next().children().eq(index+1).find('select');
                                    ThisSelectObj1.html(' '); 

                                    var text=" <option disabled='disabled' selected='selected'></option>";
                                    ThisSelectObj.append(text);
                                    var text1=" <option disabled='disabled' selected='selected'></option>";
                                    ThisSelectObj1.append(text); 
                                    if(data.length!==0){
                                        for(i in data){
                                        var course_option="<option value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;  
                                        ThisSelectObj.append(course_option);
                                        }
                                    }
                                },'json');
                            }else{
                                var ThisSelectObj = th.parent().parent().next().children().eq(index+1).find('select');       //获取下一级下拉框节点
                                   // console.log(ThisSelectObj.html());
                                    ThisSelectObj.html(' ');
                                    // $(".TchItem").html(' ');
                                    var ThisSelectObj1 = th.parent().parent().next().next().children().eq(index+1).find('select');
                                    ThisSelectObj1.html(' '); 

                                    var text=" <option disabled='disabled' selected='selected'></option>";
                                    ThisSelectObj.append(text);
                                    var text1=" <option disabled='disabled' selected='selected'></option>";
                                    ThisSelectObj1.append(text); 
                            }
                    }else if(name == 'TchItem'){
                         var v = $(this).val();
                            var index=$(".TchItem").index(this);   //当前元素的索引
                            if(v){
                                $.post('./index.php?m=person&c=tutor_index&a=tutor_level_ajax',{tt_id:v},function(data){
                                    // $(".TchLevel").html(' ');
                                     var ThisSelectObj = th.parent().parent().next().children().eq(index+1).find('select');    //获取下一级下拉框节点
                                    ThisSelectObj.html(' ');
                                    var text=" <option disabled='disabled' selected='selected'></option>";
                                    // $(".TchLevel").eq(index).append(text);
                                    ThisSelectObj.append(text);
                                    if(data.length!==0){
                                        for(i in data){
                                        var course_option="<option value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;   
                                        ThisSelectObj.append(course_option);
                                        }
                                        
                                    }
                                },'json');
                            }else{
                               var ThisSelectObj = th.parent().parent().next().children().eq(index+1).find('select');    //获取下一级下拉框节点
                                    ThisSelectObj.html(' ');
                                    var text=" <option disabled='disabled' selected='selected'></option>"; 
                            }
                    }
                    // alert(a);
             });

            
        })

      
      
        $('.item-panel-list input[type=checkbox]').click(function () {
            checkNum();
        });

        function checkNum() {
            var length = $('.item-panel-list input[type=checkbox]:checked').length;
            if(length == 0){
                $('.area-panel .error-area').text('請選擇授課區域');
                $('.area-panel .error-area').show();
                return false;
            }
            // else if(length > 10 ) {
            //     $('.area-panel .error-area').text('請不要選擇超過十個地區');
            //     $('.area-panel .error-area').show();
            //     return false;
            // }
            else{
                $('.area-panel .error-area').hide();
                return true;
            }
        }

        function checkdate(){
            $('.info-list .error-tip').remove();//重置
            var flag = $(this).formConfirm();//表單驗證正確的標誌
            //时间选择必须完整
            var to_hour=[] ;
            var from_hour=[] ;
            $(".to_hour option:selected").each(function () {  
                to_hour.push($(this).text());  
            });
            $(".from_hour option:selected").each(function () {  
                from_hour.push($(this).text());  
            });
            for (var i = 0; i < from_hour.length; i++) {
                if ((from_hour[i]=="" && to_hour[i] != "") || (to_hour[i]=="" && from_hour[i] != "")) {
                    flag=false;
                    $(".to_hour").eq(i).parent().parent().append('<span class="error-tip">請輸入完整的時間。</span>');
                    $(".to_hour").eq(i).focus();//獲取焦點
                   
                }
                var t11=from_hour[i].split(":");
                var t21=to_hour[i].split(":");
                var sj1 = parseInt(t11[0])*24 + t11[1];
                var sj2 = parseInt(t21[0])*24 + t21[1];
                if (sj1 >= sj2) {    
                    flag=false;
                    $(".to_hour").eq(i).parent().parent().append('<span class="error-tip">請輸入正確的時間段。</span>');
                    $(".to_hour").eq(i).focus();//獲取焦點
                    
                }
            };
            return flag;
        }
    </script>

</body>
</html>