<title>修改導師基本信息-Tutorseeking</title>
{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add_person/tutor_edit/bootstrapValidator.css">
<link rel="stylesheet" href="{CSS_PATH}add_person/tutor_edit/tutor-reg.css">
<link rel="stylesheet" href="{CSS_PATH}add/index.css">
<style type="text/css">
    .tutor_self_describe{
        height: 40%;
        text-indent: 24px;
        width: 100%;
    }
    .loading-btn{
        display: none;
    }
    .loading-btn a{
        display: inline-block;
        padding: 8px;
        width: 150px;
        text-align: center;
        border: none;
        margin-bottom: 20px;
        color: #fff;
        background: #fbca21;
        line-height: 30px;
        cursor: pointer;
    }
    .course-file-item dd{
    width: 155px;
    margin-right: 20px;
    font-weight: bold;
}
.course-file-item dt{
    width: calc(80% - 105px);
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
}
</style>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}index.php?m=person&c=tutor_index&a=init"><span>個人中心</span></a></li>
                            <li><span>修改導師基本信息</span></li>
                        </ul>
                    </div>
                    <?php if(!empty($infos)){?>
                    <?php foreach($infos as $info){?>
                    <form action="" id="personForm" method="post">
                    <input type="hidden" value="{$info[tutor_id]}" name="tutor_id">
                    <input type="hidden" value="{$info[userid]}" name="tutor_userid">
                    <input type="hidden" name="tstt_ttid_1" value="{$info[tstt_ttid_1]}">
                    <input type="hidden" name="tstt_ttid_2" value="{$info[tstt_ttid_2]}">
                    <input type="hidden" name="tstt_ttid_3" value="{$info[tstt_ttid_3]}">
                    <input type="hidden" name="tstt_fee" value="{$info[tstt_fee]}">
                    <input type="hidden" name="tsl_locid" value="{$info[tsl_locid]}">
                    <input type="hidden" name="tst_class_hour" value="{$info[tst_class_hour]}">
                    <input type="hidden" name="tst_weekday" value="{$info[tst_weekday]}">
                    <div class="entry-content tutor-horizontal">
                        <div class="tab-panel-content">
                            <!--導師條款及規則-->
                            <!--導師條款及規則結束-->
                            <!--導師類別-->
                            <!--導師類別結束-->
                            <!--授課區域-->
                            <!--授課區域結束-->
                            <!--個人資料-->
                            <div class="tab-panel-item">
                                    <!--賬號註冊-->
                                    <!--賬號註冊結束-->
                                    <!--個人資料-->
                                    <div class="panel-list-item borb">
                                        <div class="tab-panel-title">個人資料</div>
                                        <div class="">
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>身份證上的英文名</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control require" name="tutor_fname_eng"
                                                    value="{$info[tutor_fname_eng]}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>身份證上的中文名</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control require" name="tutor_fname_chi" value="{$info[tutor_fname_chi]}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>暱稱或英文名</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="tutor_gname" value="<?php empty($info['tutor_gname'])?print $info['tutor_fname_eng']:print $info['tutor_gname']?>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>性别</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="radio-list">
                                                   
                                                        <div class="radio-inline pl-0">
                                                        <span class="radio radio-primary ">
                                                            <input type="radio" name="tutor_sex" id="" value="M"  {if $info[tutor_sex]=="M"}checked="checked"{/if}>
                                                        <label for="">男</label>
                                                        </span>
                                                        </div>
                                                        <div class="radio-inline">
                                                        <span class="radio radio-primary ">
                                                            <input type="radio" name="tutor_sex" id="" value="F" {if $info[tutor_sex]=="F"}checked="checked"{/if}>
                                                        <label for="">女</label>
                                                        </span>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"></label>
                                                <div class="col-md-7 col-sm-8">
                                                    <div style="width: 30%; height: 30%;display:none;" class="Man">
                                                        <img src="{APP_PATH}statics/images/add_image/nantimg.jpg" width="100%" height="100%">
                                                    </div>
                                                    <div style="width: 30%; height: 30%;display:none;" class="Female">
                                                        <img src="{APP_PATH}statics/images/add_image/Nvtimg.jpg" width="100%" height="100%">
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                $('input[name="tutor_sex"]').click(function(){
                                                    var gender = $('input[name="tutor_sex"]:checked').val();
                                                    if(gender == 'M'){
                                                        $('.Man').show();
                                                        $('.Female').hide();
                                                    }else{
                                                        $('.Female').show();
                                                        $('.Man').hide();
                                                    }
                                                });
                                            </script>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>出生年份</label>
                                                <div class="col-md-7 col-sm-8">

                                                     <?php 
                                                    for ($i=date("Y")-17; $i >=date("Y")-97 ; $i--) {
                                                        $time[$i]=$i;      
                                                    }?>
                                                    <select id="" class="form-control" name="tutor_birth_year">
                                                        <option value="" >請選擇</option>
                                                        <?php foreach($time as $k=>$v){?>
                                                        <option value="{$k}" {if $info[tutor_birth_year]==$v}selected{/if}>{$v}</option>
                                                        <?php }?>
                                                    </select>

                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">宗教信仰</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="tutor_believe" value="{$info[tutor_believe]}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">國籍</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="tutor_nation" value="{$info[tutor_nation]}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>主要語言</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select  id="" class="form-control" name="tutor_main_lang">

                                                        <option value="" >請選擇</option>
                                                        <?php foreach ($lang as $lk => $lv) { ?>
                                                            <option value="{$lv}" {if $lv==$info[tutor_main_lang]}selected{/if}>{$lv}</option>
                                                        <?php }?>

                                                    </select>
                                                </div>
                                            </div>                            

                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">性罪行犯罪記録</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="radio-list">
                                                        
                                                        {if $info[tutor_sexually]=='0'}
                                                        <div class="radio-inline pl-0">
                                                        <span class="radio radio-primary ">
                                                            <input type="radio" name="tutor_sexually" id="" value="0" checked="checked">
                                                        <label for="">沒有</label>
                                                        </span>
                                                        </div>
                                                        <div class="radio-inline">
                                                        <span class="radio radio-primary ">
                                                            <input type="radio" name="tutor_sexually" id="" value="1">
                                                        <label for="">有</label>
                                                        </span>
                                                        </div>
                                                        {elseif $info[tutor_sexually]=='1'}
                                                        <div class="radio-inline pl-0">
                                                        <span class="radio radio-primary ">
                                                            <input type="radio" name="tutor_sexually" id="" value="0">
                                                        <label for="">沒有</label>
                                                        </span>
                                                        </div>
                                                        <div class="radio-inline">
                                                        <span class="radio radio-primary ">
                                                            <input type="radio" name="tutor_sexually" id="" value="1" checked="checked">
                                                        <label for="">有</label>
                                                        </span>
                                                        </div>
                                                        {else}
                                                        <div class="radio-inline pl-0">
                                                        <span class="radio radio-primary ">
                                                            <input type="radio" name="tutor_sexually" id="" value="0">
                                                        <label for="">沒有</label>
                                                        </span>
                                                        </div>
                                                        <div class="radio-inline">
                                                        <span class="radio radio-primary ">
                                                            <input type="radio" name="tutor_sexually" id="" value="1">
                                                        <label for="">有</label>
                                                        </span>
                                                        </div>
                                                        {/if}
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--個人資料結束-->
                                    <!--學歷履歷資料-->
                                    <div class="panel-list-item borb">
                                        <div class="tab-panel-title">學歷履歷資料</div>
                                        <div class="">
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>最高教育程度</label>
                                                <div class="col-md-7 col-sm-8">
                                                    {pc:get sql="SELECT * FROM v9_grade order by grade_id asc" return="data_grade" }
                                                    <select  id="" class="form-control" name="tutor_high_grade">
                                                        <option  value="">請選擇</option>
                                                        {loop $data_grade $r_grade}

                                                            {php $grade_id = $info[tutor_high_grade]}
                                                            {pc:get sql="SELECT grade_name FROM v9_grade WHERE grade_id=$grade_id" num="1" return="gradenames"}
                                                            
                                                            {loop $gradenames $gradename}
                                                            <option value="{$r_grade[grade_id]}" {if $gradename[grade_name]==$r_grade[grade_name]}selected{/if}>{$r_grade[grade_name]}</option>
                                                            {/loop}
                                                            {/pc}

                                                        
                                                        {/loop}
                                                    </select>
                                                    {/pc}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">就讀小學</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="tutor_hschool1" value="{$info[tutor_hschool1]}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">就讀中學</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="tutor_hschool2" value="{$info[tutor_hschool2]}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">中學主要教學語言</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select  id="" class="form-control" name="tutor_hschool_lang">
                                                        <option value="" >請選擇</option>
                                                        <?php if(empty($info['tutor_hschool_lang'])){ ?>
                                                            <?php foreach ($lang as $lk => $lv) { ?>
                                                            <option value="{$lk}">{$lv}</option>
                                                            <?php }?>
                                                         <?php  }else{ ?>
                                                            <?php foreach ($lang as $lk => $lv) { ?>
                                                            <option value="{$lk}" {if $lk==$info[tutor_hschool_lang]}selected{/if}>{$lv}</option>
                                                            <?php }?>
                                                         <?php  }?>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">就讀大學</label>
                                                <div class="col-md-7 col-sm-8">
                                                    {pc:get sql="SELECT * FROM v9_collage order by id desc" return="data_collage" }
                                                    <select  id="" class="form-control" name="tutor_college">
                                                        <option value="" >請選擇</option>
                                                        {loop $data_collage $r_collage}

                                                            {php $id = $info[tutor_college]}
                                                            <?php if(empty($id)){ ?>
                                                                 <option value="{$r_collage[id]}">{$r_collage[c_name]}</option>
                                                            <?php  }else{ ?>

                                                                {pc:get sql="SELECT c_name FROM v9_collage WHERE id = $id" num="1" return="c_names"}
                                                                {loop $c_names $c_name}
                                                                <option value="{$r_collage[id]}" {if $c_name[c_name]==$r_collage[c_name]}selected{/if}>{$r_collage[c_name]}</option>
                                                                {/loop}
                                                                {/pc}

                                                             <?php  }?>
                                                            

                                                        {/loop}
                                                    </select>
                                                    {/pc}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">其他大學</label>
                                                <div class="col-md-7 col-sm-8">
                                                {php $ids = $info[tutor_college_other]}
                                                <input type="text" class="form-control" name="tutor_college_other" value="{$info[tutor_college_other]}">
                                                </div>
                                            </div>
                                            <!-- <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">高中修讀科目類別</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select  id="" class="form-control" name="tutor_hmainclass">
                                                    <option value="" >請選擇</option>
                                                        <?php foreach ($subject_type as $ks => $vs) { ?>
                                                             <option value="{$vs}" {if $vs==$info[tutor_hmainclass]}selected{/if}>{$vs}</option>
                                                        <?php }?>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">大學主修科目</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="tutor_cmainclass" value="{$info[tutor_cmainclass]}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">現時就讀年級</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="tutor_now_edcuation" value="{$info[tutor_now_edcuation]}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">香港中學會考分數(六科成績總分)</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="tutor_hkcee_score" value="{$info[tutor_hkcee_score]}">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">其他修讀課程</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="tutor_otherclass" value="{$info[tutor_otherclass]}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4">其他專業應可課程</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" name="tutor_other_major" value="{$info[tutor_other_major]}">
                                                </div>
                                            </div> -->
                                            
                                        </div>
                                    </div>
                                    <!--香港中學會考成績（中五）-->
                                    <!--職業履歷資料-->
                                    <div class="panel-list-item">
                                        <div class="tab-panel-title">職業履歷資料</div>
                                        <div class="">
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>現時職業</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select id="" class="form-control require" name="tutor_now_career">

                                                        <option value="" >請選擇</option>
                                                        <?php foreach ($now_job as $kn => $vn) { ?>
                                                            <option value="{$vn}" {if $vn==$info[tutor_now_career]}selected{/if}>{$vn}</option>
                                                        <?php }?>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>工作經驗</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select id="" class="form-control require" name="tutor_work_exp">
                                                       
                                                        <option value="" >請選擇</option>
                                                        <?php foreach ($experience as $ke => $ve) { ?>
                                                            <option value="{$ve}" {if $ve==$info[tutor_work_exp]}selected{/if}>{$ve}</option>
                                                        <?php }?>
                                                       
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>最高可補年級</label>
                                                <div class="col-md-7 col-sm-8">
                                                    {pc:get sql="SELECT st_id,st_name FROM v9_student_type where st_ttid=19 order by st_order" return="student_type" }
                                                    <select id="" class="form-control require" name="tutor_high_teach">
                                                       <option value="" >請選擇</option>
                                                        {loop $student_type $stut}
                                                            {php $st_id = $info[tutor_high_teach]}
                                                            {pc:get sql="SELECT st_name FROM v9_student_type WHERE st_id=$st_id" num="1" return="st_names"}
                                                            
                                                            {loop $st_names $st_name}
                                                    
                                                             <option value="{$stut[st_id]}" {if $st_name[st_name]==$stut[st_name]}selected{/if}>{$stut[st_name]}</option>
                                                            {/loop}
                                                            {/pc}
                                                        
                                                        {/loop}

                                                    </select>
                                                    {/pc}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>補習經驗及年資</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select id="" class="form-control require" name="tutor_teach_exp">
                                                      
                                                         <option value="" >請選擇</option>
                                                        <?php foreach ($experience as $ke => $ve) { ?>
                                                            <option value="{$ve}" {if $ve==$info[tutor_teach_exp]}selected{/if}>{$ve}</option>
                                                        <?php }?>
                                                
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>教育機構經驗</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <select id="" class="form-control require" name="tutor_edu_exp">
                                                      
                                                        <option value="" >請選擇</option>
                                                        <?php foreach ($experience as $ke => $ve) { ?>
                                                            <option value="{$ve}" {if $ve==$info[tutor_edu_exp]}selected{/if}>{$ve}</option>
                                                        <?php }?>
                                                      
                                                    </select>
                                                </div>
                                            </div>

                                             <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="req-color">*</span>導師自我介紹</label>
                                                <div class="col-md-7 col-sm-8">
                                                   <textarea class="col-md-12 col-sm-12 tutor_self_describe" name="tutor_self_describe">
                                                        <?php if(empty(trim($info['tutor_self_describe']))?print '未填寫':print $info['tutor_self_describe'])?>
                                                    </textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--職業履歷資料結束-->
                                   
                                </form>
                            </div>
                            <!--個人資料結束-->
                            <!--音樂及其他技能-->
                            <!--完成結束-->
                        </div>
                        </from>
                        <?php }?>
                        <?php }?>
                        <!--步驟-->
                        <div class="tab-panel-item">
                            <div class="reg-finish">
                                <div class="finish-title">最適合你的學生</div>
                                <div class="row student"></div>
                                <div class="finish-dec"></div>
                                <div class="show_index" style="text-align: center;">
                                    <a style="width:150px;background-color: #b7b755;padding: 4px 20px;" href="{APP_PATH}index.php?m=person&c=tutor_index&a=init">回到個人中心</a>
                                </div>
                            </div>
                        </div>

                        <div class="step-box">
                            <div class="step-btn">
                                <a href="javascript:; " class="step-prev">確認</a>
                                <a href="javascript:; " class="step-next">取消</a>
                            </div>
                            <div class="loading-btn">
                                <a href="javascript:; " class="loading">正在提交...</a>
                            </div>
                            <p class="betip">如在登記過程中有任何疑問，請<a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=8" target="_blank">聯繫我們</a>並嘗試描述問題的詳情。</p>
                        </div>
                        <!--步驟結束-->
                    </div>
                </div>
            </div>
        </div>
{template "content","footer_new"}

        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
    <script src="{JS_PATH}add_person/tutor_edit/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add_person/tutor_edit/base.js"></script>
    <script src="{JS_PATH}add_person/tutor_edit/bootstrapValidator.min.js"></script>
    <script src="{JS_PATH}add_person/tutor_edit/zh_CN.js"></script>
    <script>
    //提交修改
    $('.step-prev').click(function(){
        $('#personForm').bootstrapValidator('validate');
         if ($("#personForm").data('bootstrapValidator').isValid()) {
            $(".loading-btn").css('display','block');
            $(".step-btn").css('display','none');
            var info_form = $('#personForm').serialize();
            $.ajax({
                url:"{APP_PATH}index.php?m=person&c=tutor_index&a=ajax_info_edit",
                type:"post",
                data:info_form,
                asyn:false,
                dataType:"json",
                success: function(data){
                        if(data=="2"){
                            alert("修改失敗!");
                            window.location.reload(); 
                        }else{
                            $('.tab-panel-item').addClass('active');
                            $('.tab-panel-content').css('display','none'); 
                            $('.step-box').css('display','none'); 
                            if(data!=""){                            
                               var content='<div class="col-md-6 col-sm-6 course-col" style="margin-left:25%">'
                                            +'<div class="course-item">'
                                            +'<div class="course-head"></div>'
                                            +'<div class="course-content student-content">'  
                                            +' <div class="course-person">'
                                            +'<img src="'+data.userimage+'" alt="">'
                                            +'<p class="course-contain">學生</p></div>'
                                            +'<div class="course-file">'
                                            +'<dl class="course-file-item">'
                                            +'<dd>個案編號</dd>'
                                            +'<dt>'+data.st_id+'</dt></dl>'
                                            +'<dl class="course-file-item">'
                                            +'<dd>補習地區</dd>'
                                            +'<dt>'+data.loc_name+'</dt></dl>'
                                            +'<dl class="course-file-item"><dd>科目</dd><dt>'+data.tt_name+'</dt></dl>'
                                            +'<dl class="course-file-item"><dd>學生人數</dd><dt>'+data.st_num_join+'</dt></dl>'
                                            +'<dl class="course-file-item"><dd>要求上課日期</dd><dt class="class_time">'+data.stu_time+'</dt></dl>'
                                            +'</div><div class="course-dec"><a href="{APP_PATH}index.php?m=tparents&c=index&a=stu_detail&stuid='+data.userid+'&tran_id='+data.st_id+'">查看詳情</a></div><div class="course-meta">'
                                            +'<div class="rating">'
                                            +'<div class="star-rating">'
                                            +'<span class="star-show" style="width:'+data.star+'%"></span>'
                                            +'</div>'
                                            +'</div>'
                                            +'<div class="course-three">$'+ data.st_tutor_fee+'</div></div>'+data.match_area
                                             +'</div></div> </div>';
 
                                $('.student').html(content);
                                }else{
                                    $('.finish-title').html('暫無學生適合你的要求，未有推薦個案。');
                                }
                         }
                    }
            });
        }

        $('*[data-bv-field]').each(function () {
            if($(this).parents('.form-group').hasClass('has-error')) {
                $(this).focus();
                return false;
            }
        });
    });

        //個人資料表单初始配置
        $('#personForm').bootstrapValidator({
            message: '這個欄位必須填寫。',
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: '請填寫用戶名。'
                        },
                    }
                },
                useremail: {
                    validators: {
                        notEmpty: {
                            message: '請填寫您的郵箱。'
                        },
                        regexp: {
                            regexp: /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/,
                            message: '郵箱格式不正確。'
                        },
                        identical: {
                            field: 'useremailAgain',
                            message: '兩次填寫的郵箱地址不一樣'
                        }
                    }
                },
                useremailAgain: {
                    validators: {
                        notEmpty: {
                            message: '請確認您的郵箱地址。'
                        },
                        identical: {
                            field: 'useremail',
                            message: '兩次填寫的郵箱地址不一樣'
                        }
                    }
                },
                usertel: {
                    validators: {
                        notEmpty: {
                            message: '請填寫正確的手機電話。'
                        },
                        regexp: {
                            regexp: /((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)/,
                            message: '手機電話格式不正確。'
                        }
                    }
                },
                userpwd: {
                    validators: {
                        notEmpty: {
                            message: '請填寫密碼。'
                        },
                        identical: {
                            field: 'userpwdAgain',
                            message: '兩次密碼填寫不一樣。'
                        }
                    }
                },
                userpwdAgain: {
                    validators: {
                        notEmpty: {
                            message: '請確認填寫的密碼。'
                        },
                        identical: {
                            field: 'userpwd',
                            message: '兩次密碼填寫不一樣。'
                        }
                    }
                },
                tutor_fname_eng: {
                    validators: {
                        notEmpty: {
                            message: '請填寫身份證上的英文名。'
                        }
                    }
                },
                tutor_fname_chi: {
                    validators: {
                        notEmpty: {
                            message: '請填寫身份證上的中文名。'
                        }
                    }
                },
                // userHomeAddr: {
                //     validators: {
                //         notEmpty: {
                //             message: '請填寫固定住宅完整地址。'
                //         }
                //     }
                // },
                userHomeArea: {
                    validators: {
                        notEmpty: {
                            message: '請填寫固定住宅地址區域。'
                        }
                    }
                },
                tutor_gname: {
                    validators: {
                        notEmpty: {
                            message: '請填寫暱稱或英文名。'
                        }
                    }
                },
                tutor_sex: {
                    validators: {
                        notEmpty: {
                            message: '請選擇性別。'
                        }
                    }
                },
                tutor_birth_year: {
                    validators: {
                        notEmpty: {
                            message: '請選擇出生年份。'
                        }
                    }
                },
                tutor_main_lang: {
                    validators: {
                        notEmpty: {
                            message: '請選擇主要語言。'
                        }
                    }
                },
                tutorPrice: {
                    validators: {
                        notEmpty: {
                            message: '請填寫每堂價錢範圍。'
                        },
                        regexp: {
                            regexp: /\d/,
                            message: '請填寫數字。'
                        }
                    }
                },
                tutor_high_grade: {
                    validators: {
                        notEmpty: {
                            message: '請填寫最高教育程度。'
                        }
                    }
                },
                tutor_now_career: {
                    validators: {
                        notEmpty: {
                            message: '請選擇現時職業。'
                        }
                    }
                },
                tutor_work_exp: {
                    validators: {
                        notEmpty: {
                            message: '請選擇工作經驗。'
                        }
                    }
                },
                tutor_high_teach: {
                    validators: {
                        notEmpty: {
                            message: '請選擇最高可補年級。'
                        }
                    }
                },
                tutor_teach_exp: {
                    validators: {
                        notEmpty: {
                            message: '請選擇補習經驗及年資。'
                        }
                    }
                },
                tutor_edu_exp: {
                    validators: {
                        notEmpty: {
                            message: '請選擇教育機構經驗。'
                        }
                    }
                }
            }
        });

        //初始設置
        $('.tab-panel-content .tab-panel-item').first().addClass('active');
        
        //取消
        $(".step-next").click(function(){
            window.location.href = "{APP_PATH}index.php?m=person&c=tutor_index&a=init"; 
        });
    </script>

</body>
</html>