/*.top-tutor-main{
    background-image: url("../../images/add_image/bg-page.jpg");
}*/
.entry-content{
    padding-top: 60px;
    overflow: hidden;
    margin-bottom: 80px;
}
.panel-list{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    overflow: hidden;
}
.panel-list .panel-xm-6{
    width: 50%;
    float: left;
}
.iconbox{
    margin: 27px 0 -4px;
}
.iconbox .box-icon{
    width: 30px;
    height: 30px;
    float: left;
}
.iconbox .box-icon .fa{
    color: #fbca21;
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
}
.content-inner{
    padding-left: 35px;
}
.content-inner .inner-title{
    font-size: 15px;
    line-height: 20px;
    /*font-weight: 700;*/
    margin: 0;
    margin-bottom: 10px;
}
.content-inner .inner-desc{
    color: #666;
    font-size: 15px;
}
.tutor-social{
    margin-top: 170px;
}
.tutor-social .social-link li{
    display: inline-block;
    margin-right: 10px;
}
.social-link li a{
    display: block;
    width: 31px;
    height: 31px;
    border: 1px solid #666;
    border-radius: 50%;
    text-align: center;
}
.social-link li span{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #666;
    color: #eee;
    margin-top: 2px;
    margin-left: 2px;
    -webkit-transition: all .3s;
    -khtml-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.social-link li i{
    display: block;
    line-height: 25px;
    font-size: 16px;
}
.social-link li a:hover{
    border-color: #fbca21;
}
.social-link li a:hover span{
    background-color: #fbca21;
    color: #fff;
}
.form-control{
    border-radius: 0;
    min-height: 40px;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
    box-shadow: none;
}
.form-control:focus{
    border-color: #fbca21;
    outline: none;
    box-shadow: none;
}
.form-submit{
    display: inline-block;
    border-radius: 0;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    border: 0;
    background-color: #fbca21;
}
.form-submit:hover{
    background-color: #e6a303;
    color: #333;
}
.newlletter-contact{
    position: relative;
    padding: 170px 0;
    background: url("../../images/add_image/bg_register_now.jpg") center no-repeat;
    background-size: cover;
}
.newlletter-contact:before{
    position: absolute;
    background: rgba(0,0,0,.6);
    left: 0;
    content: "";
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
}
.contact-newlletter{
    text-align: center;
    padding: 0 15px;
    position: relative;
}
.contact-newlletter .newlletter-title{
    margin-bottom: 50px;
}
.contact-newlletter .newlletter-title h2{
    color: #fff;
    font-size: 26px;
    margin: 0;
}
.contact-newlletter .newlletter-title h2:after{
    content: '';
    height: 2px;
    background-color: #fff;
    width: 35px;
    display: block;
    margin: 30px auto 0;
}
.form-newlleter .newlleter-email{
    background: none;
    border: 1px solid #ddd;
    height: 48px;
    padding: 9px 10px;
    line-height: 30px;
    max-width: 425px;
    width: calc(100% - 120px);
    width: -webkit-calc(100% - 120px);
    width: -moz-calc(100% - 120px);
    color: #fff;
}
.form-newlleter .newlleter-submit{
    text-transform: uppercase;
    font-size: 13px;
    height: 48px;
    border: 0;
    padding: 10px 25px;
    font-weight: 700;
    line-height: 30px;
    margin-left: -4px;
    background-color: #fbca21;
}
@media screen and (max-width: 768px){
    .entry-content{
        padding-top: 30px;
    }
    .tutor-social{
        margin: 30px 0;
    }
    .newlletter-contact{
        padding: 100px 0;
    }
}
@media screen and (max-width: 667px){
    .newlleter-tutorseek{
        margin-top: -20px;
        background: 0 0;
        padding-top: 50px;
        padding-bottom: 80px;
        box-shadow: 0 0 3px -1px #635f5f;
    }
}
@media screen and (max-width: 600px){
    .form-newlleter .newlleter-email{
        width: 100%;
        margin-bottom: 5px;
    }
    .newlletter-contact{
        padding: 50px 0;
    }
}
@media screen and (max-width: 480px){
    .panel-list .panel-xm-6{
        float: none;
        width: 100%;
    }
}