.top-tutor-main{
    background-image: url("../../images/add_image/bg-page.jpg");
}
.entry-content{
    margin-top: 20px;
}
.parent-message{
    margin-bottom: 20px;
}
.parent-img{
    text-align: center;
    margin-bottom: 15px;
}
.parent-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.parent-detail .detail{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.message-title{
    font-size: 24px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
.base-message,.time-message{
    margin-bottom: 30px;
}
.message-box{

}
.message-list{
    display: flex;
    border: 1px solid #ccc;
    border-bottom: none;
    border-left: none;
}
.message-list:last-child{
    border-bottom: 1px solid #ccc;
}
.message-list .message-item{
    flex: 1;
}
.message-child-list{
    display: flex;
}
.message-child-item{
    flex: 1;
    border-left: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.time-message-table{
    width: 100%;
}
.time-message-table thead th,.time-message-table tbody td{
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    font-weight: bold;
}
.time-message-table tbody td{
    padding-bottom: 5px;
}
.time-message-table tbody td p.time{
    margin-bottom: 5px;
}
.match-area{
    text-align: center;
}
.match-btn{
    display: inline-block;
    padding: 10px 0;
    width: 180px;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    color: #fff;
    background: #fbca21;
    /*line-height: 30px;*/
    cursor: pointer;
}
.match-btn:hover{
    background-color: #e6a303;
    color: #fff;
}
/*已配對中按鈕*/

.ready-btn{
    display: inline-block;
    padding: 10px 0;
    width: 180px;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    color: #fff;
    background: grey;
    /*line-height: 30px;*/
    cursor: pointer;
}
.ready-btn:hover{
    background-color: grey;
    color: #fff;
}
/*match-table*/
.case_table{
    width: 100%
}
.case_table tr>th,.case_table tr>td{
    padding: 6px;
    text-align: center;
    min-width: 70px;
}
.case_table tr{
    border-bottom: 1px solid red;
}
.md-content p{
    text-align: center;
    /*color: #e39916;*/
    font-size: 18px;
}
@media (max-width: 700px){
    .message-list{
        display: block;
        border: none;
    }
    .message-list:last-child{
        border-bottom: none;
    }
    .message-list .message-item{
        flex: auto;

    }
    .message-child-list .message-child-item{
        border: none;
        text-align: left;
    }
}
@media (max-width: 480px){
    .case_table .td-hide{
        display: none;
    }
}