/*查看更多成績按鈕*/
.all_score{
    margin: 10px 43%;
    font-weight: bold;
}

/*已配對中按鈕*/

.ready-btn{
    display: inline-block;
    padding: 10px 0;
    width: 180px;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    color: #fff;
    background: grey;
    /*line-height: 30px;*/
    cursor: pointer;
}
.ready-btn:hover{
    background-color: grey;
    color: #fff;
}
/*match-table*/
.case_table{
    width: 100%
}
.case_table tr>th,.case_table tr>td{
    padding: 6px;
    text-align: center;
    min-width: 70px;
}
.case_table tr{
    border-bottom: 1px solid red;
}
.md-content p{
    text-align: center;
    /*color: #e39916;*/
    font-size: 18px;
}
@media (max-width: 700px){
    .message-list{
        display: block;
        border: none;
    }
    .message-list:last-child{
        border-bottom: none;
    }
    .message-list .message-item{
        flex: auto;

    }
    .message-child-list .message-child-item{
        border: none;
        text-align: left;
    }
}
@media (max-width: 480px){
    .case_table .td-hide{
        display: none;
    }
}
/*match-table結束*/
       .top-tutor-main{
            background-image: url("../../images/add_image/bg-page.jpg");
        }
        .entry-content{
            margin-top: 20px;
            overflow: hidden;
            /*margin-bottom: 30px;*/
        }
        .tutor-message{
            margin-bottom: 20px;
        }
        .tutor-img{
            text-align: center;
            margin-bottom: 15px;
        }
        .tutor-img img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        .tutor-detail .detail{
            text-align: center;
            font-size: 14px;
            font-weight: bold;
        }
        .message-title{
            font-size: 24px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 20px;
        }
        .base-message,.tutor-cate{
            margin-bottom: 30px;
        }
        .message-box{

        }
        .match-area{
            text-align: center;
        }
        .match-btn{
            display: inline-block;
            padding: 8px;
            width: 200px;
            text-align: center;
            border: none;
            margin-bottom: 20px;
            color: #fff;
            background: #e39916;
            line-height: 30px;
            cursor: pointer;
        }
        .match-btn:hover{
            background-color: #e6a303;
            color: #fff;
        }
        .message-list{
            display: flex;
            border: 1px solid #ccc;
            border-bottom: none;
            /*border-left: none;*/
        }
        .message-list{
            border-bottom: 1px solid #ccc;
        }
        .message-list .message-item{
            flex: 1;
        }
        .message-child-list{
            display: flex;
        }
        .message-child-item{
            flex: 1;
            border-left: 1px solid #ccc;
            text-align: center;
            padding: 10px;
            font-weight: bold;
        }
        /* .tutor-cate-table{
            width: 100%;
        } */
        /* .tutor-cate-table thead th,.tutor-cate-table tbody td{
            text-align: center;
            border: 1px solid #ccc;
            padding: 10px;
            font-weight: bold;
        }
        .tutor-cate-table tbody td{
            padding-bottom: 5px;
        }
        .tutor-cate-table tbody td p.time{
            margin-bottom: 5px;
        } */
        /*---------------------*/

        .panel-bread{
            padding: 12px 20px;
            border-radius: 10px;
            background-color: #efefef;
        }
        .panel-list-item{
            margin-bottom: 30px;
        }
        .panel-bread-title{
            font-size: 16px;
            color: #e39916;
            margin-bottom: 15px;
        }
        .panel-bread-content{
            display: flex;
        }
        .panel-bread-content .panel-bread-item{
            flex: 1;
            margin-right: 20px;
        }
        .panel-bread-content .panel-bread-item:last-child{
            margin: 0;
        }
        .panel-bread-item .bread-item-title{
            padding: 10px 0;
            color: #fff;
            background-color: #bebebe;
            text-align: center;
            margin-bottom: 10px;
        }
        .bread-item-list li{
            margin-bottom: 10px;
            display: flex;
        }
        .bread-item-list li .bread-left,.bread-item-list li .bread-right{
            flex: 1;
            line-height: 30px;
        }
        .bread-item-list li .bread-right{
            /*text-align: right;*/
            flex: inherit;
        }
        .bread-item-list li .bread-right select, .bread-grid-item select{
            width: 80px;
            height: 30px;
            padding: 6px 12px;
            font-size: 14px;
            border: 1px solid #ccc;
        }
        /*-----------------*/
        .bread-grid-list{
            margin-bottom: 10px;
        }
        .bread-grid-title{
            padding: 8px 0;
            color: #fff;
            background-color: #bebebe;
            text-align: center;
            margin-bottom: 12px;
        }
        .bread-grid-list .bread-grid-content{
            display: flex;
        }
        .bread-grid-content .bread-grid-item{
            flex: 1;
            margin-right: 20px;
        }
        /*.bread-grid-content .bread-grid-item:last-child{*/
            /*margin-right: 0;*/
        /*}*/
        .bread-grid-item .grid-item-list{
            display: flex;
            margin-bottom: 12px;
        }
        .grid-item-list .bread-grid-left,.grid-item-list .bread-grid-right{
            flex: 1;
            line-height: 30px;
        }
        .grid-item-list .bread-grid-right{
             flex: initial;
         }
        .rating{
            /*display: block;*/
            width: 100%;
            margin-bottom: 10px;
            z-index: 12;
        }
        .star-rating {
            float: none;
            margin: auto !important;
            font-size: 13px;
            width: 6.75em;
            height: 1em;
            line-height: 1;
            letter-spacing: 5px;
            overflow: hidden;
            position: relative;
            font-family: 'FontAwesome';
        }
        .star-rating:before {
            content: "\f005\f005\f005\f005\f005";
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            color: #efefef;
        }
        .star-rating .star-show{
            overflow: hidden;
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            padding-top: 1.5em;
            width: 100%;
            color: #e39916;
        }
        .star-rating .star-show:before {
            content: "\f005\f005\f005\f005\f005";
            top: 0;
            left: 0;
            position: absolute;
            color: #e39916;
        }
        @media (max-width: 750px){
            .panel-bread {
                padding: 12px 20px;
            }
            .panel-bread-content,.area-box,.bread-grid-list .bread-grid-content{
                display: block;
            }
            .area-item,.panel-bread-content .panel-bread-item,.bread-grid-content .bread-grid-item{
                flex: auto;
                margin-right: 0;
            }
            .bread-item-list li .bread-right {
                padding-right: 20px;
            }
            .panel-bread-item .bread-item-title{
                margin: 0 -15px 15px;
            }
        }
        @media (max-width: 700px){
            .message-list{
                display: block;
                border: none;
            }
            .message-list:last-child{
                border-bottom: none;
            }
            .message-list .message-item{
                flex: auto;

            }
            .message-child-list .message-child-item{
                border: none;
                text-align: right;
            }
        }
    /*新增上課時間框*/
    .time-message{
    margin-bottom: 30px;
}
.message-box{

}
.message-list{
    display: flex;
    border: 1px solid #ccc;
   /* border-left: none;*/
}
.message-list{
    border-bottom: 1px solid #ccc;
}
.message-list .message-item{
    flex: 1;
}
.message-child-list{
    display: flex;
}
.message-child-item{
    flex: 1;
    border-left: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.tutor-base-table {
    width: 100%;
}
.data-td {
    max-width: 250px;
}
.tutor-base-table thead th,.tutor-base-table tbody td{
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    min-width: 76px;
}
.tutor-base-table tbody td{
    padding-bottom: 5px;
}
.tutor-base-table tbody td p.time{
    margin-bottom: 5px;
}