.course-file-item dt.class_time{
            color: #E6E6E6;
            padding-left: 5px;
        }
/*新增星星样式*/
        .rating{
            /*display: block;*/
            width: 50%;
            margin-bottom: 10px;
            z-index: 12;
            float: left;
        }
        .course-three{margin-top: -8px;}
        .star-rating {
            float: none;
            margin: auto !important;
            font-size: 13px;
            width: 6.75em;
            height: 1em;
            line-height: 1;
            letter-spacing: 5px;
            overflow: hidden;
            position: relative;
            font-family: 'FontAwesome';
        }
        .star-rating:before {
            content: "\f005\f005\f005\f005\f005";
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            color: #efefef;
        }
        .star-rating .star-show{
            overflow: hidden;
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            padding-top: 1.5em;
            color: #fbca21;
        }
        .star-rating .star-show:before {
            content: "\f005\f005\f005\f005\f005";
            top: 0;
            left: 0;
            position: absolute;
            color: #fbca21;
        }
/*新增星星样式结束*/
.checkbox {
    padding-left: 20px;
}
.Extend{

}
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.checkbox input[type="checkbox"]{
    opacity: 0;
    z-index: 1;
}
.checkbox input[type="checkbox"]:checked + label::after{
    font-family: "FontAwesome";
    content: "\f00c";
    color: #fff;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #fbca21;
    border-color: #fbca21;
}
.ml-5{
    margin-left: 5px;
}
.mr-5{
    margin-right: 5px;
}
.mr0{
    margin-right: 0 !important;
}
ul{
    list-style: none;
}
a:link{
    text-decoration: none;
}
.form-control{
    border-radius: 0;
}
.req-color {
    color: red;
    margin-right: 5px;
}
.top-tutor-main{
    background-image: url("../images/bg-page.jpg");
}
.entry-content{
    margin: 20px 15px;
    color: #555
}
.panel-tab{
    display: flex;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 8px;
    margin: 20px 0 30px;
}
.panel-tab .panel-tab-item{
    flex: 1;
    padding: 20px 0;
    text-align: center;
    color: #6a6a6a;
}
.panel-tab-rule{
    display: none !important;
}
.panel-tab .panel-tab-item:nth-child(2){
    border-radius: 8px 0 0 8px;
}
.panel-tab .panel-tab-item:last-child{
    border-radius: 0 8px 8px 0;
}
.panel-tab .panel-tab-item.active{
    background-color: #fbca21;
    color: #fff;
}
.tab-panel-item{
    margin-bottom: 20px;
    display: none;
}
.tab-panel-item.active{
    display: block;
}
.tab-panel-item .tab-panel-title{
    font-size: 18px;
    color: #fbca21;
    margin-bottom: 15px;
}
.rule-box{
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #dfdfdf;
    margin-bottom: 20px;
}
.rule-box .rule-content{
    padding: 20px;
    color: #535353;
}
.rule-checkbox{
    color: #535353;
}
.rule-box .rule-content p{
    margin-bottom: 10px;
}
.rule-tip{
    vertical-align: top;
}
.error-rule,.error-area{
    color: red;
    display: none;
}
/*-----------*/
.tutor-cate-content{
    display: flex;
}
.tutor-cate-content .tutor-cate-item{
    flex: 1;
}
.tutor-cate-item .tutor-cate-title{
    padding: 12px 0;
    color: #fff;
    text-align: center;
    background-color:  #fbca21;
    margin-bottom: 15px;
}
.cate-item-list{
    margin: 0 15px 20px;
    text-align: center;
}
.cate-item-list .auto-select{
    display: inline-block;
    width: 100px;
    /*height: 34px;*/
    /*padding: 6px 12px;*/
    /*font-size: 14px;*/
    /*border: 1px solid #ccc;*/
}
.tutor-add{
    padding: 12px 0;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #bababa;
    cursor: pointer;
    margin-bottom: 10px;
}
.tutor-Remove{
    padding: 12px 0;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #bababa;
    cursor: pointer;
    margin-bottom: 10px;
}
/*--------------*/
.area-box{
    display: flex;
}
.area-item{
    flex: 1;
    margin-right: 30px;
}
.area-item:last-child{
    margin-right: 0;
}
.area-item .area-item-panel{
    padding: 12px 0;
    text-align: center;
    color: #fff;
    background-color: #fbca21;
    margin-bottom: 10px;
}
.item-panel-list{
    padding-left: 15px;
}
.item-panel-list li{
    margin-bottom: 15px;
}
.item-panel-list li span{
    vertical-align: top;
}
.tutor-horizontal .form-group{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    /*overflow: hidden;*/
}
.form-group:after,.form-group:before{
    display: table;
    content: " ";
    clear: both;
}
.tutor-horizontal .form-group .control-label{
    font-weight: 300;
    color: #5d5d5d;
}
.panel-list-item{
    padding: 12px;
    margin-bottom: 12px;
}
.panel-list-item.borb{
    border-bottom: 2px solid #dbdbdb;
}
.price-input{
    display: inline-block;
    width: 120px;
    /*height: 30px;*/
    /*padding: 6px 12px;*/
    /*font-size: 14px;*/
    /*color: #555;*/
    /*border: 1px solid #ccc;*/
}
.tutor-horizontal .radio{
    margin-bottom: 0;
    margin-top: 0;
}
.panel-bread{
    padding: 12px 30px;
    border-radius: 10px;
    background-color: #efefef;
}
.panel-bread-title{
    display:inline-block;
    font-size: 16px;
    color: #fbca21;
    margin-bottom: 15px;
    margin-right:15px;
}
.panel-bread-content, .panel-bread-grid{
    display: none;
}
.panel-bread-content .panel-bread-item{
    flex: 1;
    margin-right: 20px;
}
.panel-bread-content .panel-bread-item:last-child{
    margin: 0;
}
.panel-bread-item .bread-item-title{
    padding: 10px 0;
    color: #fff;
    background-color: #bebebe;
    text-align: center;
    margin-bottom: 10px;
}
.bread-item-list li{
    margin-bottom: 10px;
    display: flex;
}
.bread-item-list li .bread-left,.bread-item-list li .bread-right{
    flex: 1;
    line-height: 30px;
}
.bread-item-list li .bread-right{
    text-align: right;
}
.bread-item-list li .bread-right select, .bread-grid-item select{
    width: 80px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
}
/*-----------------*/
.bread-grid-list{
    margin-bottom: 10px;
}
.bread-grid-title{
    padding: 8px 0;
    color: #fff;
    background-color: #bebebe;
    text-align: center;
    margin-bottom: 12px;
}
.bread-grid-list .bread-grid-content{
    display: flex;
}
.bread-grid-content .bread-grid-item{
    flex: 1;
    margin-right: 10px;
}
.bread-grid-content .bread-grid-item:last-child{
	margin-right: 0;
}
.bread-grid-item .grid-item-list{
    display: flex;
    margin-bottom: 12px;
}
.grid-item-list .bread-grid-left,.grid-item-list .bread-grid-right{
    flex: 1;
    line-height: 30px;
}
/*-------------------------*/
.sta-tutor-catelist{
    display: flex;
}
.sta-tutor-catelist .sta-tutor-cateitem{
    flex: 1;
    margin-bottom: 5px;
}
/*------------------------*/
.step-box{
    margin: 40px 0;
    text-align: center;
}
.step-btn a{
    display: inline-block;
    padding: 8px;
    width: 150px;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    color: #fff;
    background: #fbca21;
    line-height: 30px;
    cursor: pointer;
}
.step-btn a:hover{
    background-color: #fbca21;
}
.betip a{
    color: #fbca21;
}
.reg-finish{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
    letter-spacing: 3px;
}
.reg-finish .finish-title{
    font-size: 24px;

    margin-bottom: 20px;
}
.reg-finish .sub-finish-title{
    font-size: 16px;
    margin-bottom: 20px;
}
.reg-finish .finish-dec{
    margin-top: 50px;
    font-size: 18px;
    line-height: 25px;
}

@media (max-width: 992px){
	.tutor-cate-content{
		display: block;
	}
	..tutor-cate-content .tutor-cate-item{
		flex: auto;
	}
}
@media (max-width: 750px){
	.panel-bread-content,.area-box,.bread-grid-list .bread-grid-content{
		display: block;
	}
	.area-item,.panel-bread-content .panel-bread-item,.bread-grid-content .bread-grid-item{
		flex: auto;
		margin-right: 0;
	}
}
@media (max-width: 700px){
	.panel-tab{
		display: block;
        border: none;
	}
	.panel-tab .panel-tab-item{
		flex: auto;
        display: none;
        border-radius: 8px;
	}
    .panel-tab .panel-tab-item.active{
        display: block;
    }
    .panel-tab .panel-tab-item:nth-child(2),.panel-tab .panel-tab-item:last-child{
        border-radius: 8px;
    }
	.step-btn a{
		width: 100px;
	}
	.panel-bread{
		padding: 12px;
	}
}


/*
 新增 用于导师可授课时间表格样式 
     2017/11/30 By Ming
 */
.info-list{
    margin-bottom: 50px;
    border-top: 1px solid #eee;
}
.listpanel-table{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.listpanel-title{
    padding: 15px 0;
    width: 100%;
    color: #fff;
    background-color: #fbca21;
    text-align: center;
}
.listpanel-table tbody tr td{
    padding: 5px 8px 0;
    border: 1px solid #eee;
}
.listpanel-table .class-list{
    position: relative;
    margin-top: 5px;
}
.listpanel-table .add-class-group, .class-group .del-class-group{
    position: absolute;
    top: 3px;
    right: 0;
    width: 18px;
    height: 18px;
    background: #fbca21;
    /*line-height: 20px;*/
    padding-top: 3px;
    font-size: 13px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 9;
}
.listpanel-table .class-list .class-group{
        position: relative;
}
.class-list .class-group .class-inline{
    display: inline-block;
    margin-left: 10px;
}
.class-group  .class-control{
        width: 150px;
    margin-left: 10px;
    padding: 3px;
    margin-bottom: 10px;
}
