

div.calendar { position: relative; }

.calendar, .calendar table {
  border: 1px solid #b3cbe4;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #F1F8FC;
  font-family: tahoma,verdana,sans-serif;
}

.calendar table{border: 1px solid #fff;}

.calendar table thead td{background:#d5e5f6; color:#6993c0; border-bottom:1px solid #fff; border-right:none; height:16px; width:18px}
.calendar table thead tr.headrow td{ background:#e0ecf9}
.headrow{border-top:1px solid #b3cbe4}

.calendar table thead td.button div div{
	background-image: url(../../images/admin_img/question-balloon.png);
	background-repeat: no-repeat; text-indent:-100px; overflow:hidden
}
.headrow .button { 
  text-align: center;   
  border-right:1px solid #FFF; padding:0
}
.headrow .button div,.calendar table .wn div{border-right:1px solid #b3cbe4; height:23px; line-height:23px}
.calendar .nav {
}

.calendar thead .title { 
  font-weight: bold;     
  text-align: center;
  padding: 2px;
  color:#366699; width:auto
}

.calendar thead tr { 
  background: #007ED1;
  color: #fff;
}

.calendar thead .daynames { 
  background: #e0ecf9;
}

.calendar thead .name {
  border-bottom: 1px solid #b3cbe4;
  padding: 2px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend { 
  color: #a66;
}

.calendar thead .hilite {
  background-color: #d5e5f6;
  color: #366699;

}




.calendar tbody .day { 
  width: 2em;
  color: #456;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day div{ padding-right:5px}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
  color: #fbb;
}

.calendar table .wn {
  border-right: 1px solid #fff;
  background: #e0ecf9; padding:0
}

.calendar tbody .rowhilite td {
  background: #def;
}

.calendar tbody .rowhilite td.wn {
  background: #F1F8FC;
}

.calendar tbody td.hilite { 
  background: #93b9e2;
  padding: 1px 3px 1px 1px;
  color:#fff
}

.calendar tbody td.active {
  background: #cde;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected {
  font-weight: bold;
  padding: 1px 3px 1px 1px;
  background: #ff7200;
  color: #fff;
}

.calendar tbody td.weekend { 
  color: #a66;
}

.calendar tbody td.today {
  font-weight: bold;
  color: #D50000;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { 
  visibility: hidden;
}

.calendar tbody .emptyrow { 
  display: none;
}

.calendar tfoot .footrow { 
  text-align: center;
  background: #206A9B;
  color: #fff;
}
.calendar tfoot .ttip { 
  background: #e0ecf9;
  color: #366699;
  border-top: 1px solid #b3cbe4;
  padding: 1px; height:24px
}

.calendar tfoot .hilite {
  background: #B8DAF0;
  border: 1px solid #178AEB;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { 
  background: #006AA9;
  padding: 2px 0px 0px 2px;
}



.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #def;
  color: #000;
  font-size: 90%;
  z-index: 9999999999999999999999999999;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background: #34ABFA;
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  font-weight: bold;
}

.calendar .combo .active {
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  background: #F1F8FC;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #b3cbe4;
  padding: 1px 0px;
  text-align: center;
  background-color: #E3F0F9;
  height:24px
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #F1F8FC;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #267DB7;
  color: #fff;
}

.calendar td.time span.active {
  border-color: red;
  background-color: #000;
  color: #A5FF00;
}
.calendar thead .active div{
  background: #bdd2e8;
}