@charset "utf-8";
/*重置CSS*/
body,
html{
	color: #333;
	font-size:12px;}
body,
html,
div,
blockquote,
img,
label,
p,
h1,h2,h3,h4,h5,h6,
pre,
ul,ol,li,
dl,dt,dd,
form,
a,
fieldset,
input,
th,
td{
	margin:0;
	padding:0;
	border:0;
	outline:none;
	word-break: break-all;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif}
select,textarea{
	outline:none;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif}
table {
	border-collapse:collapse;
	border-spacing:0}
fieldset,img {
	border:0}
/*address,caption,cite,code,dfn,em,i,strong,th,var{
	font-style:normal;
	font-weight:normal}*/
ol,ul {
	list-style:none;
	list-style-position:inside}
a{
	color:#333;
	text-decoration:none}
caption,th{
	text-align:left;}
/*h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal}*/
q:before,q:after{
	content:'.';
	display:block;
	height:0;
	clear:both;
	visibility:hidden}
abbr,acronym{
	border:0}
@font-face {font-family: "st-iconfont";
    src: url('../fonts/iconfont.eot?t=1471499964'); /* IE9*/
    src: url('../fonts/iconfont.eot?t=1471499964#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1471499964') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1471499964') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1471499964#iconfont') format('svg'); /* iOS 4.1- */
}
input::-webkit-input-placeholder {
    color: #ccc !important;
}
input:-moz-placeholder {
    color: #ccc !important;
}
input::-moz-placeholder {
    color: #ccc !important;
}
input:-ms-input-placeholder {
    color: #ccc !important;
}
/*公用css*/
.fl{
	float:left}
.fr{
	float:right}
.clear{
	clear:both}
.clearfix:before,
.clearfix:after{
	content:'.';
	display:block;
	height:0;
	clear:both;
	overflow:hidden}
.w100{
    width:100px !important;}
.w105{
	width:105px !important;}
.w120{
	width:120px !important;}
.w230{
	width:230px !important;}
.w250{
	width:250px !important;}
.w260{
    width:260px !important;}
.w270{
	width:270px !important;}
.w300{
    width:300px !important;}
.w500{
    width:500px !important;}
.w550{
    width:550px !important;}
.w700{
    width:700px !important;}
.w790{
	width:790px !important;}
.pl10{
    padding-left: 10px;
}
.pr10{
    padding-right: 10px;
}
.mt5{
    margin-top:5px !important;}
.mt10{
	margin-top:10px !important;}
.mt15{
	margin-top:15px !important;}
.mt20{
	margin-top:20px !important;}
.mt25{
	margin-top:25px !important;}
.mt50{
    margin-top:50px !important;}
.mt100{
	margin-top:100px !important;}
.ml5{
    margin-left: 5px !important;}
.ml10{
    margin-left: 10px !important;}
.ml20{
    margin-left: 20px !important;}
.ml15{
	margin-left:15px !important;}
.mr20{
    margin-right:20px !important;}
.mb15{
	margin-bottom:15px !important;}
.mb35{
	margin-bottom:35px !important;}
.hide{
	display:none !important;}
.big{
	margin-bottom:20px;
	float:left;
	width:100%;
}
.st-guide{
    color: #999;
	height: 30px;
	line-height: 30px;
	padding: 10px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis
}
.st-guide a{
	color: #666;
}
.st-guide a:hover{
	color: #31a5e7;
}
.st-star-ico{
	color:#ff3f3f;
	height:30px;
	line-height:30px}
.st-ts-ico{
  float:left;
  width:15px;
  height:15px;
  margin:8px 0 0 10px;
  background: url(../images/st-ts-ico.png) no-repeat 0 bottom}
.st-ts-text{
	color:#ff3f3f;
	float:left;
	height:30px;
	line-height:30px;
	padding-left:20px;
	margin-left:5px;
	font-size:12px;
	background:url(../images/st-ts-ico.png) no-repeat 0 -42px}
.st-delete-ico{
	display:block;
	width:14px;
	height:17px;
	cursor:pointer;
	background:url(../images/delete-ico.png) no-repeat 0 bottom}
.st-delete-ico:hover{
	background:url(../images/delete-ico.png) no-repeat 0 top}

/*分页代码样式*/
.main_mod_page{
	width:100%;
	padding:20px 0;
	overflow:hidden}
.main_mod_page p.page_right{
	width:100%;
	height:30px;
	text-align:center}
.main_mod_page .back-first,
.main_mod_page .go-last,
.main_mod_page .prev,
.main_mod_page .next{
	display:inline-block;
	*zoom:1;
	*display:inline;
	width:30px;
	height:30px;
	font-size:14px;
	vertical-align:top}
.main_mod_page .back-first{
	width:11px;
	background:url(../images/page_home_bg.png) center no-repeat}
.main_mod_page .back-first:hover{
	background:url(../images/page_home_bg_hover.png) center no-repeat}
.main_mod_page .go-last{
	width:11px;
	background:url(../images/page_last_bg.png) center no-repeat}
.main_mod_page .go-last:hover{
	background:url(../images/page_last_bg_hover.png) center no-repeat}
.main_mod_page .prev{
	background:url(../images/page_prev_bg.png) center no-repeat}
.main_mod_page .prev:hover{
	background:url(../images/page_prev_bg_hover.png) center no-repeat}
.main_mod_page .next{
	background:url(../images/page_next_bg.png) center no-repeat}
.main_mod_page .next:hover{
	background:url(../images/page_next_bg_hover.png) center no-repeat}
.main_mod_page .mod_pagenav_count{
	display:inline-block;
	height:30px;
	vertical-align:top}
.main_mod_page .mod_pagenav_count a{
	display:inline-block;
	*zoom:1;
	*display:inline;
	color:#ccc;
	width:28px;
	height:28px;
	line-height:28px;
	font-size:14px;
	text-align:center;
	margin:0 1px 0;
	border:1px solid #ccc;
	border-radius:3px}
.main_mod_page .mod_pagenav_count a.current,
.main_mod_page .mod_pagenav_count a:hover{
	color:#f60;
	border:1px solid #f60}

/*搜索*/
.st-list-search{
	float:left;
	width:903px;
	border:1px solid #d8d8d8}
.st-list-search .been-tj{
	float:left;
	width:903px;
	min-height:44px;
	background:#f9f9f9}
.st-list-search .been-tj strong,
.st-list-search .line-search-tj dl dt{
	float:left;
	color:#333;
	width:83px;
	height:24px;
	line-height:24px;
	margin:10px 0;
	text-align:right}
.st-list-search .been-tj p,
.st-list-search .line-search-tj dl dd{
	float:left;
	width:820px;
	min-height:24px;
	margin:10px 0}
.st-list-search .been-tj p span{
	float:left;
	color:#fff;
	height:24px;
	line-height:24px;
	padding:0 8px 0 10px;
	margin:0 10px 10px 0;
	background:#00b7ee}
.st-list-search .been-tj p span i{
	float:right;
	display:block;
	width:7px;
	height:7px;
	margin:9px 0 0 5px;
	cursor:pointer;
	background:url(../images/st-line-ico.png) no-repeat 0 0}
.st-list-search .been-tj p a{
	float:left;
	height:24px;
	line-height:24px}

.st-list-search .line-search-tj{
    position: relative;
}
.st-list-search .line-search-tj,
.st-list-search .line-search-tj dl{
	float:left;
	width:903px}
.st-list-search .line-search-tj dl{
	border-bottom:1px solid #d8d8d8}
.st-list-search .line-search-tj dl.bor_0{
	border-bottom:0}
.st-list-search .line-search-tj dl.type dd p{
	float:left;
	width:720px;
	/*height:24px;*/
	overflow:hidden
}
.st-list-search .line-search-tj dl.type dd p a{
    float:left;
    color:#333;
    height:24px;
    line-height:24px;
    /*margin: 2px 0;*/
    padding: 0 12px;
}
.st-list-search .line-search-tj dl.type dd p a:hover,
.st-list-search .line-search-tj dl.type dd p a.on{
	color:#00b7ee}
.st-list-search .line-search-tj dl.type dd em{
	float:left;
	width:100px;
	height:24px;
	line-height:24px;
	text-align:center;
	cursor:pointer}
.st-list-search .line-search-tj dl.type dd em b{
	font-weight:500}
.st-list-search .line-search-tj dl.type dd em i{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:11px;
	height:6px;
	vertical-align:middle;
	margin-left:5px;
	background:url(../images/st-line-ico.png) no-repeat 0 -27px}
.st-list-search .line-search-tj dl.type dd em i.up{
	background:url(../images/st-line-ico.png) no-repeat 0 -53px}

.st-list-search .line-search-tj dl.date dt{
	height:28px;
	line-height:28px}
.st-list-search .line-search-tj dl.date input{
	float:left;
	color:#333;
	width:120px;
	height:26px;
	line-height:26px;
	padding-left:5px;
	border:1px solid #d8d8d8;
	border-radius:3px;
	background:url(../images/st-line-ico.png) no-repeat 104px -140px}
.st-list-search .line-search-tj dl.date span{
	float:left;
	height:28px;
	line-height:28px;
	margin:0 10px}
	
/*排序*/
.st-sort-menu{
	float:left;
	width:905px;
	height:46px;
	margin-top:15px;
	background:#f9f8f8}
.st-sort-menu .sort-sum{
	float:left;
	height:46px}
.st-sort-menu .sort-sum a{
	float:left;
	height:46px;
	line-height:46px;
	padding:0 20px;
	font-size:14px}
.st-sort-menu .sort-sum a i{
	display:inline-block;
	*zoom:1;
	*display:inline;
	width:7px;
	height:10px;
	margin-left:2px;
	background:url(../images/sort-menu-ico.png) no-repeat}
.st-sort-menu .sort-sum a i.jg-default{
	background-position:0 0} 
.st-sort-menu .sort-sum a i.jg-up{
	background-position:-8px 0} 
.st-sort-menu .sort-sum a i.jg-down{
	background-position:-16px 0} 
.st-sort-menu .sort-sum a i.xl-default,
.st-sort-menu .sort-sum a i.tj-default{
	background-position:-24px 0} 
.st-sort-menu .sort-sum a i.xl-down,
.st-sort-menu .sort-sum a i.tj-down{
	background-position:-32px 0} 

.st-sort-menu .switch-show{
	float:right;
	height:46px}
.st-sort-menu .switch-show a{
	float:left;
	color:#333;
	height:46px;
	line-height:46px;
	padding:0 12px}
.st-sort-menu .switch-show a i{
	display:inline-block;
	*zoom:1;
	*display:inline;
	width:12px;
	height:12px;
	vertical-align:middle;
	margin:-3px 5px 0 0;
	background:url(../images/st-line-ico.png) no-repeat}
.st-sort-menu .switch-show a.on{
	color:#f60;
	background:#ebebeb}
.st-sort-menu .switch-show a i.lt{
	background-position:0 -180px}
.st-sort-menu .switch-show a i.pic{
	background-position:0 -115px}
.st-sort-menu .switch-show a.on i.lt{
	background-position:-13px -180px}
.st-sort-menu .switch-show a.on i.pic{
	background-position:-13px -115px}

/*点评*/
.st-list-pl{
	float:left;
	width:863px}
.st-comment-block{
    float: left;
	width: 863px;
}
.comment-nav{
    height: 40px;
    background: #f5f5f5;
}
.comment-nav span{
    color: #333;
    float: left;
    height: 40px;
    line-height: 40px;
    padding:0 15px;
    cursor: pointer;
    font-size: 14px;
}
.comment-nav span em{
    color: #999;
}
.comment-nav span.on,
.comment-nav span.on em{
    color: #ff6600;
}
.comment-con dl{
	float:left;
	width:863px;
	padding:20px 0;
	border-bottom:1px solid #d8d8d8}
.comment-con dl.bor_0{
	border-bottom:0}
.comment-con dl dt{
	float:left;
	width:70px;
	padding-left:5px;
	text-align: center;
}
.comment-con dl dt img{
	float:left;
	width:70px;
	height:70px;
	border-radius:50%}
.comment-con dl dt span{
	float:left;
	width:70px;
	height:30px;
	line-height:30px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis}
.comment-con dl dt .level{
	color: #fff;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding:0 7px;
	background: #4cb786;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;;
}
.comment-con dl dd{
	float:left;
	width:753px;
	padding-left:35px;}
.comment-con dl dd .zs{
    margin-bottom: 10px;
}
.comment-con dl dd .zs:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}
.comment-con dl dd .zs .grade{
    float:left;
    width: 99px;
    height: 18px;
    background: url("../images/base-pl-ico.png") no-repeat 0 -18px;
}
.comment-con dl dd .zs .grade i{
	display: block;
    height: 18px;
	background: url("../images/base-pl-ico.png") no-repeat 0 0;
}
.comment-con dl dd .zs .jf{
	float:right;
  color:#ff9b3a;
  height:19px;
  line-height:19px;
  font-size:12px;
  padding-left:59px;
  margin-right:5px;
  background:url(../images/ls-icobg.png) no-repeat 0 -345px}
.comment-con dl dd .zs .jf i{
	float:right;
  width:5px;
  height:19px;
  background:url(../images/ls-icobg.png) no-repeat -123px -364px}
.comment-con dl dd .txt{
    margin-bottom: 5px;
	line-height:22px;
	font-size:14px}
.comment-con dl dd .plImgBox{
    margin-bottom: 5px;
}
.comment-con dl dd .plImgBox .fancybox{
    float: left;
    width: 86px;
    height: 86px;
    padding:1px;
    margin: 5px 15px 10px 0;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    background: #fff;
}
.comment-con dl dd .date{
	color:#a0a0a0;
    margin-bottom: 5px;
}

.st-pl-box{
	float:left;
	width:863px;
	padding:19px 0 16px}
.st-pl-box span{
	float:left;
	height:50px;
    line-height: 50px;
	padding:0 30px;
	vertical-align:middle;
    font-size: 14px;
	border-right:1px solid #d8d8d8}
.st-pl-box span.myd strong{
	color:#f80;
    padding-left: 10px;
    vertical-align: middle;
	font-size:30px;
	font-weight:bold;
	font-family: Arial, "Microsoft YaHei", Helvetica, sans-serif}
.st-pl-box span.txt{
    color: #999;
    height: 40px;
	line-height:20px;
    padding: 5px 60px;
    font-size: 12px;
}
.st-pl-box a.pl-btn{
	float:right;
	color:#fff;
	width:110px;
	height:34px;
	line-height:34px;
	margin:8px 70px 0 0;
	text-align:center;
	font-size:14px;
	border-radius:20px;
	background:#ff9b3a}
.st-pl-box a.pl-btn:hover{
	background:#f80}
	
/*咨询*/
.st-consult,
.st-consult ul{
	float:left;
	width:863px}
.st-consult ul li{
	float:left;
	width:863px;
	padding:20px 0;
	border-bottom:1px dotted #d8d8d8}
.st-consult ul li.bor_0{
	border-bottom:0}
.st-consult dl{
	float:left;
	width:863px}
.st-consult dl dt{
	float:left;
	width:75px;
	padding-left:40px;
	font-size:14px}
.st-consult dl.ask dt{
	color:#00b7ee;
	background:url(../images/ls-icobg.png) no-repeat 15px -134px}
.st-consult dl.answer dt{
	color:#ff9b3a;
	background:url(../images/ls-icobg.png) no-repeat 15px -172px}
.st-consult dd,
.st-consult dl.ask dd p{
	float:left;
	width:748px}
.st-consult dl.ask p{
	margin-bottom:10px}
.st-consult dl.ask p.bt{
	color:#333;
	font-size:14px}
.st-consult dl.ask p.name{
	color:#a0a0a0}
.st-consult dl.ask p.name span{
	float:left;
	margin-right:20px}
.st-consult dl.answer p.txt{
	font-size:14px}

.st-tj-question,
.st-tj-question .msg{
	float:left;
	width:863px}
.st-tj-question .msg{
	margin-top:15px}
.st-tj-question textarea{
	float:left;
	width:851px;
	min-height:100px;
	padding:5px;
	outline:none;
	border:1px solid #d8d8d8}
.st-tj-question .msg .tj-btn{
	float:right;
	color:#fff;
	width:80px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	background:#fc6000}
.st-tj-question .msg span{
	float:right;
	margin-right:20px;}
.st-tj-question .msg span em{
	float:left;
	height:30px;
	line-height:30px}
.st-tj-question .msg span img,
.st-tj-question .msg span a,
.st-tj-question .msg span input{
	float:left;
	height:30px;
	line-height:30px;
	margin-left:10px}
.st-tj-question .msg span input{
	width:80px;
	height:28px;
	line-height:28px;
	border:1px solid #d8d8d8}

/*产品订单*/
.con-order-box{
	float:left;
	width:833px;
	padding:35px;
	border:1px solid #d8d8d8}
.con-order-box .product-msg{
	float:left;
	width:833px;
	margin-bottom:40px}
.con-order-box .product-msg .pm-tit{
	float:left;
	color:#333;
	width:833px;
	height:34px;
	line-height:34px;
	margin-bottom:10px;
	font-size:18px;
	border-bottom:1px solid #dcdcdc}
.con-order-box .product-msg .pm-tit strong{
	float:left;
	padding-left:25px;
	background:url(../images/order-show-ico.png) no-repeat}
.con-order-box .product-msg .pm-tit strong.ico01{
	background-position:0 7px}
.con-order-box .product-msg .pm-tit strong.ico02{
	background-position:0 -44px}
.con-order-box .product-msg .pm-tit strong.ico03{
	background-position:0 -140px}
.con-order-box .product-msg .pm-tit strong.ico04{
	background-position:0 -190px}
.con-order-box .product-msg .pm-tit strong.ico05{
	background-position:0 -235px}
.con-order-box .product-msg .pm-tit strong.ico06{
	background-position:0 -282px}
.con-order-box .product-msg .pm-tit strong.ico07{
	background-position:0 -330px}
.con-order-box .product-msg .pm-tit strong.ico08{
	background-position:0 -95px}
.con-order-box .product-msg .pm-tit strong.ico09{
    background-position:0 -424px
}
.con-order-box .product-msg .pm-tit .user-link{
	float:right;
	color:#fff;
	width:75px;
	height:22px;
	line-height:22px;
	margin-top:4px;
	text-align:center;
	font-size:12px;
	border-radius:3px;
	background:#f80}
.con-order-box .product-msg .pm-list,
.receipt-msg .rp-con .pm-list{
	float:left;
	width:833px;
    padding: 3px 0;
}
.con-order-box .product-msg .pm-list dt,
.receipt-msg .rp-con .pm-list dt{
	float:left;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:right;
	font-size:14px}
.con-order-box .product-msg .pm-list dd,
.receipt-msg .rp-con .pm-list dd{
	float:left;
	width:733px;
	min-height:30px;
	line-height:30px;
	font-size:14px}
.con-order-box .product-msg .pm-list dd .price{
	color: #c00;
	font-weight: bold;
}
.con-order-box .product-msg .table-msg{
	float:left;
	width:833px;
	margin-top:10px}
.con-order-box .product-msg .table-msg table{
	border:1px solid #d8d8d8;
	border-top:0}
.con-order-box .product-msg .table-msg th{
	text-align:center;
	border-top:1px solid #d8d8d8;
	background:#f2f2f2}
.con-order-box .product-msg .table-msg td{
	text-align:center;
	border-top:1px solid #d8d8d8}
.con-order-box .product-msg .table-msg .price{
	color:#c00;
	font-size:14px;
	font-weight:bold}
.con-order-box .product-msg .table-msg .fk-style{
	width:80px;
	height:24px;
	line-height:24px;
	border:1px solid #d8d8d8}
.line-ins-name{
	color:#0082dd;
    width: 100%;
	display: block;
    height: 30px;
    line-height: 30px;
	padding: 0 20px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	cursor:pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.line-ins-type{
    width: 100%;
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ins-check-key{
    display: inline-block;
	width:14px;
	height:14px;
    vertical-align: middle;
    margin: -3px 5px 0 0;
    cursor: pointer;
	background:url(../images/form-ico.png) no-repeat 0 0}
.ins-check-key.selected{
	background:url(../images/form-ico.png) no-repeat 0 -16px}
.l-i-down-show{

}
.l-i-item{
    padding: 10px 20px 5px;
}
.l-i-item>li{
    color: #666;
    height: 24px;
    line-height: 24px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.l-i-wrapper{

}
.l-i-wrapper .item-tit{
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-align: left;
    font-weight: bold;
}
.l-i-type-table{
    width: 100%;
    border: 0 !important;;
}
.l-i-type-table th,
.l-i-type-table td{
    border: 0 !important;
}
.l-i-list{
    width: 100%;
    border: 0 !important;;
}
.l-i-list th{
    color: #666;
    height: 36px;
    line-height: 36px;
    padding: 0 40px;
    text-align: left !important;
    font-weight: bold;
    border-top: 1px solid #f0f0f0 !important;
    background: #fafafa !important;
}
.l-i-list td{
    color: #666;
    height: 36px;
    line-height: 36px;
    border-top: 1px solid #f0f0f0 !important;
}
.l-i-list .border-line-r td{
    border-right: 1px solid #f0f0f0 !important;
}
.l-i-list .name{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 40px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-i-list .pri{
    color: #666;
}
.con-order-box .product-msg .table-msg .control-box{
	width:80px;
	height:24px;
	line-height:24px;
	margin:0 auto;
	text-align:center}
.con-order-box .product-msg .table-msg .control-box .add-btn,
.con-order-box .product-msg .table-msg .control-box .sub-btn{
	float:left;
	width:22px;
	height:22px;
	line-height:22px;
	margin-right:-1px;
	text-align:center;
	vertical-align:middle;
	font-size:16px;
	font-weight:bold;
	cursor:pointer;
	border:1px solid #d8d8d8}
.con-order-box .product-msg .table-msg .control-box .add-btn:hover,
.con-order-box .product-msg .table-msg .control-box .sub-btn:hover{
	color:#f60}
.con-order-box .product-msg .table-msg .control-box .number-text{
	float:left;
	width:30px;
	height:22px;
	line-height:22px;
	margin-right:-1px;
	text-align:center;
	font-size:14px;
	border:1px solid #d8d8d8}
.con-order-box .product-msg .pm-list .linkman-text{
	float:left;
	width:200px;
	height:28px;
	line-height:28px;
	padding-left:5px;
	margin-bottom:10px;
	font-size:14px;
	border:1px solid #d8d8d8;
	background:#fff}
.con-order-box .product-msg .pm-list .order-remarks{
	float:left;
	width:500px;
	height:100px;
	line-height:20px;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
	outline:none;
	border:1px solid #d8d8d8}
.con-order-box .product-msg .visitor-msg{
	float:left;
	width:833px}
.con-order-box .product-msg .visitor-msg table td{
	border-bottom:1px solid #d8d8d8}
.con-order-box .product-msg .visitor-msg .child,
.add-linkman-box .linkman-list .child{
	float:left;
	padding-left:15px}
.con-order-box .product-msg .visitor-msg .child em,
.add-linkman-box .linkman-list .child em{
	float:left;
	height:30px;
	line-height:30px}
.con-order-box .product-msg .visitor-msg .child .lm-text,
.add-linkman-box .linkman-list .child .lm-text{
	float:left;
	width:150px;
	height:28px;
	line-height:28px;
	padding-left:5px;
	border:1px solid #d8d8d8;
	background:#fff}
.con-order-box .product-msg .visitor-msg .child select,
.add-linkman-box .linkman-list .child select{
	float:left;
	width:90px;
	height:30px;
	line-height:30px;
	margin-right:5px;
	border:1px solid #d8d8d8}

.select-linkman{
    clear: both;
    padding-top: 20px;
	border-bottom:1px dotted #d8d8d8}
.select-linkman .bt{
	margin:5px 0 10px;
	font-size:14px}
.select-linkman .son{
    float: left;
    width: 780px;
	height:30px;
	overflow:hidden;
	margin-bottom:10px}
.select-linkman:after,
.select-linkman .son:after{
    content: "";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}
.select-linkman .son span{
	float:left;
	color:#333;
	width:156px;
	height:30px;
	line-height:30px;
	font-size:14px;
	cursor:pointer}
.select-linkman .son span i{
	float:left;
	width:14px;
	height:14px;
	margin:8px 5px 0 0;
	background:url(../images/form-ico.png) no-repeat 0 0}
.select-linkman .son span i.on{
	background:url(../images/form-ico.png) no-repeat 0 -16px}
.select-linkman .more{
	float:right;
	color:#fc6000;
	height:30px;
	line-height:30px;
	cursor:pointer}

.receipt-msg{
	float:left;
	width:833px}
.receipt-msg .rp-nav{
	float:left;
	width:833px}
.receipt-msg .rp-nav span{
	float:left;
	height:30px;
	line-height:30px;
	margin:0 30px;
	padding-left:18px;
	font-size:14px;
	cursor:pointer;
	background:url(../images/form-ico.png) no-repeat 0 -43px}
.receipt-msg .rp-nav span.on{
	background:url(../images/form-ico.png) no-repeat 0 -77px}
.receipt-msg .rp-con{
	float:left;
	width:833px;
	margin-top:10px}
.receipt-msg .rp-con .pm-list .price{
	float:left;
	color:#c00}
.receipt-msg .rp-con .pm-list .sm{
	color:#f90;
	font-size:12px;
	margin-left:20px}
.receipt-msg .rp-con .pm-list .rp-text{
	float:left;
	width:230px;
	height:28px;
	line-height:28px;
	padding-left:5px;
	margin-bottom:10px;
	border:1px solid #d8d8d8;
	background:#fff}
.receipt-msg .rp-con .pm-list .dest-select{
	float:left;
	width:110px;
	height:30px;
	line-height:30px;
	margin-right:15px;
	border:1px solid #d8d8d8}
.receipt-msg .rp-con .pm-list .ads-area{
	float:left;
	width:500px;
	height:60px;
	line-height:20px;
	padding:5px;
	margin-top:10px;
	border:1px solid #d8d8d8}
.con-order-box .product-msg .pay-way{
	float:left;
	width:833px;}
.con-order-box .product-msg .pay-way span{
	float:left;
	width:160px;
	margin:10px 0 10px 10px;
	padding-left:20px;
	cursor:pointer;
	background:url(../images/form-ico.png) no-repeat 0 -43px}
.con-order-box .product-msg .pay-way span.on{
	background:url(../images/form-ico.png) no-repeat 0 -77px}
.con-order-box .product-msg .pay-way span img{
	float:left;}
.con-order-box .product-msg .st-linedown-text{
	float:left;
	width:833px;
	margin-top:10px;
	padding-top:10px;
	border-top:1px dotted #d8d8d8}
.con-order-box .product-msg .st-linedown-text .tit{
	color:#333;
	height:40px;
	line-height:40px;
	font-size:14px}
.con-order-box .product-msg .st-linedown-text .tit span{
	color:#fc6000;
	cursor:pointer;
	padding-right:18px;
	background:url(../images/st-ts-ico.png) no-repeat right 7px}
.con-order-box .product-msg .st-linedown-text .tit span.on{
	background:url(../images/st-ts-ico.png) no-repeat right -18px}
.con-order-box .product-msg .st-linedown-text .con{
	display:block;
	color:#7d7d7d;
	padding:10px;
	line-height:22px;
	border:1px solid #d8d8d8}
/*.con-order-box .product-msg .jf{
	float:left;
	width:870px;
	margin:10px 0 20px}
.con-order-box .product-msg .jf span{
	float:left;
	height:26px;
	line-height:26px;
	margin-right:20px;
	border:1px solid #00b7ee;
	border-radius:3px;
	overflow:hidden}
.con-order-box .product-msg .jf span em{
	float:left;
	color:#fff;
	width:70px;
	text-align:center;
	background:#00b7ee}
.con-order-box .product-msg .jf span b{
	float:left;
	color:#00b7ee;
	height:26px;
	padding:0 8px;
	background:#fff}*/
.item-yh{
    clear: both;
    margin-bottom: 30px;
}
.item-yh h3{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px;
    background: #f2f2f2;
}
.item-yh .item-nr{
    margin-top: 20px;
    padding: 0 10px;
}
.item-yh .item-list{
    display: inline-block;
    margin-right: 30px;
}
.item-yh .item-list .item-hd{
    font-size: 14px;
}
.item-yh .item-list .down-list{
    width: 220px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border: 1px solid #d8d8d8;
}
.item-yh .item-list .num-select{
    width: 110px;
}
.item-nr .use-jf{
    display: inline-block;
    font-size: 14px;
}
.item-nr .use-jf label{
	display: inline-block;
    font-size: 14px;
}
.item-nr .use-jf .jf-num{
    width: 58px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    border: 1px solid #ccc;
}
.item-nr .dk-num{
    color: #c00;
    margin-left: 10px;
    font-size: 14px;
}
.item-nr .not-full{
    color: #c00;
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
}
.item-nr .cur-jf{
    margin-left: 30px;
    font-size: 14px;
}
.con-order-box .order-js-box{
	float:left;
	width:833px}
.con-order-box .order-js-box .total,
.con-order-box .order-js-box .yz{
	float:left;
	color:#333;
	width:833px;
	margin-top:20px;
	font-size:14px;
	text-align:right}
.con-order-box .order-js-box .get-jf{
    float:left;
    width:833px;
    margin-top: 10px;
    text-align: right;
    font-size: 14px;
}
.con-order-box .order-js-box .get-jf span{
    color: #999;
}
.con-order-box .order-js-box .total span{
	color:#c00;
	font-size:24px;
	font-weight:bold}
.con-order-box .order-js-box .yz .tj-btn{
	float:right;
	color:#fff;
	width:136px;
	height:32px;
	line-height:32px;
	text-align:center;
	font-size:16px;
	cursor:pointer;
	background:#c00;
	border-radius:3px;}
.con-order-box .order-js-box .yz .tj-btn:hover{
	background:#bb0c0c}
.con-order-box .order-js-box .yz .ma-text{
	float:right;
	width:60px;
	height:30px;
	line-height:30px;
	margin-right:10px;
	border:1px solid #d8d8d8}
.con-order-box .order-js-box .yz .pic{
	float:right;
	width:80px;
	height:32px;
	margin-right:10px;
	cursor:pointer;
	overflow:hidden}
.con-order-box .order-js-box .yz .bt{
	float:right;
	height:32px;
	line-height:32px}
	

	
.side-order-box{
	float:right;
	width:278px;
	border:1px solid #f8dbb6;
	background:#fff}
.side-order-box .order-total-tit{
	float:left;
	color:#fc6000;
	width:263px;
	height:40px;
	line-height:40px;
	padding-left:15px;
	font-size:16px;
	background:#fff4e4}
.side-order-box .show-con{
	float:left;
	width:266px;
	padding:6px}
.side-order-box .show-con .ul-cp,
.side-order-box .show-con .ul-cp li{
	float:left;
	width:266px}
.side-order-box .show-con .ul-cp li .pic{
    display: table-cell;
	width:266px;
	height:187px;
    vertical-align: middle;
    text-align: center;
	overflow:hidden}
.side-order-box .show-con .ul-cp li .pic img{
    max-width:266px;
    max-height:187px;
    vertical-align: middle;
}
.side-order-box .show-con .ul-cp li .txt{
	float:left;
	width:266px;
	line-height:20px;
	margin-top:10px;
	font-size:14px}
.side-order-box .show-con .ul-cp li .txt:hover{
	color:#f60;
	text-decoration:underline}
.side-order-box .show-con .ul-cp li .address{
	float:left;
	color:#7d7d7d;
	width:250px;
	line-height:18px;
	margin-top:5px;
	padding-left:16px;
	background:url(../images/hotel-ico.png) no-repeat 0 -147px}
	
.side-order-box .show-con .ul-list{
	float:left;
	width:266px;
	line-height:18px;
	margin-top:12px;
	padding: 10px 0;
	border-top:1px solid #e8e8e8}
.side-order-box .show-con .ul-list li{
    line-height: 22px;
}
.side-order-box .show-con .ul-list:last-child{
	border-bottom:0}
.side-order-box .show-con .total-price{
	float:left;
	width:266px;
	height:48px;
	line-height:48px;
	text-align:center;
	font-size:14px;
	margin-top:6px;
	background:#fff4e4}
.side-order-box .show-con .total-price span{
	color:#fc6000;
	font-size:24px;
	font-weight:bold}



/*右侧模块*/
.st-sidebox{
	float:right;
	width:280px}
.side-userlogin-box{
	float:left;
	width:220px;
	padding:20px 17px;
	border:13px solid #f3f3f3;
	background:#fff}
.side-userlogin-box .side-userMsg,
.side-userlogin-box .side-userMsg dl{
	float:left;
	width:220px}
.side-userlogin-box .side-userMsg dl dt,
.side-userlogin-box .side-userMsg dl dt img{
	float:left;
	width:50px;
	height:50px;
	overflow:hidden}
.side-userlogin-box .side-userMsg dl dd{
	padding:5px 0 0 60px}
.side-userlogin-box .side-userMsg dl dd .name{
	color:#333;
	height:20px;
	line-height:20px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size:14px;
	font-weight:bold}
.side-userlogin-box .side-userMsg dl dd .name span{
	padding-right:5px;
	color:#ff7200}
.side-userlogin-box .side-userMsg dl dd .txt{
	color:#333;
	height:20px;
	line-height:20px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis}
.side-userlogin-box .side-userBtn{
	float:left;
	width:220px;
	margin-top:15px}
.side-userlogin-box .side-userBtn a{
	float:left;
	color:#fff;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px}
.side-userlogin-box .side-userBtn a.dl-btn{
	background:#00c0ff}
.side-userlogin-box .side-userBtn a.zc-btn{
	margin-left:15px;
	background:#65b71f}
.side-userlogin-box .side-userBtn a.uc-btn{
	margin-left:60px;
	background:#0082dd}

.side-onlineZx,
.side-newdp-box,
.side-newbooking-box{
	float:left;
	width:254px;
	padding:13px;
	background:#f3f3f3}
.side-onlineZx h3,
.side-newdp-box h3,
.side-newbooking-box h3{
	color:#333;
	font-size:14px;
	font-weight:bold}
.side-onlineZx .onlineZx-list li,
.side-newdp-box .newdp-list li,
.side-newbooking-box .newbooking-list li{
	padding:10px 15px;
	margin-top:13px;
	background:#fff}
.side-onlineZx .onlineZx-list li .bt{
	color:#333;
	max-height:40px;
	line-height:20px;
	padding-left:18px;
	overflow:hidden;
	background:url(../images/st-side-ico.png) no-repeat 0 5px}
.side-onlineZx .onlineZx-list li .txt,
.side-newdp-box .newdp-list li .txt{
	color:#777;
	max-height:54px;
	line-height:18px;
	margin-top:5px;
	overflow:hidden}

.side-newdp-box .newdp-list li .name{
	color:#999;
	height:24px;
	line-height:24px;
	padding-left:18px;
	font-family: "宋体", "Microsoft YaHei", Arial, Helvetica, sans-serif;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	background:url(../images/st-side-ico.png) no-repeat 0 -45px}
.side-newdp-box .newdp-list li .bt{
	max-height:40px;
	line-height:20px;
	overflow:hidden}
.side-newdp-box .newdp-list li .bt a:hover{
	color:#00b7ee;
	text-decoration:underline}

.side-newbooking-box .newbooking-list li .bt{
	max-height:36px;
	line-height:18px;
	overflow:hidden}
.side-newbooking-box .newbooking-list li .bt a:hover{
	color:#fc6000;
	text-decoration:underline}
.side-newbooking-box .newbooking-list li .bkTime{
	color:#999;
	height:20px;
	line-height:20px;
	margin-top:5px;
	overflow:hidden;
	text-align:right;
	font-family: "宋体", "Microsoft YaHei", Arial, Helvetica, sans-serif}
.side-newbooking-box .newbooking-list li .bkTime i{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:11px;
	height:11px;
	vertical-align:middle;
	margin:-3px 5px 0 0;
	background:url(../images/st-side-ico.png) no-repeat 0 -103px}

.side-hot-product{
	float:left;
	width:248px;
	padding:10px 15px;
	border:1px solid #d8d8d8;
	background: #fff;
}
.side-hot-product h3{
	color:#333;
	padding:5px 0;
	font-size:16px;
	font-weight:bold}
.side-hot-product .hp-conlist{
	width:248px}
.side-hot-product .hp-conlist li{
	float:left;
	width:248px;
	margin-top:10px;
	padding-bottom:10px;
	position:relative;
	border-bottom:1px solid #eee}
.side-hot-product .hp-conlist li .num-label{
	position:absolute;
	left:0;
	top:0;
	display:block;
	color:#fff;
	width:23px;
	height:23px;
	line-height:23px;
	text-align:center;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	background:#ffa535}
.side-hot-product .hp-conlist li a{
	display:block;
	float:left;
	width:248px}
.side-hot-product .hp-conlist li .pic{
	display:none}
.side-hot-product .hp-conlist li.hover .pic{
	display:block}
.side-hot-product .hp-conlist li .pic,
.side-hot-product .hp-conlist li .pic img{
	float:left;
	width:90px;
	height:64px;
	margin-right:13px}
.side-hot-product .hp-conlist li .nr{
	padding-left:38px;}
.side-hot-product .hp-conlist li .nr p{
	height:20px;
	line-height:20px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis}
.side-hot-product .hp-conlist li .nr p.bt{
	color:#333}
.side-hot-product .hp-conlist li.hover .nr p.bt{
	height:auto !important;
	max-height:40px;
	white-space:inherit}
.side-hot-product .hp-conlist li a:hover .nr p.bt{
	color:#fc6000;}
.side-hot-product .hp-conlist li .nr p.myd{
	color:#777}
.side-hot-product .hp-conlist li .nr p.price{
	color:#fc6000}

.side-other-box{
	float:left;
	width:248px;
	padding:10px 15px;
	border:1px solid #d8d8d8;
    background: #fff;
}
.side-other-box h3{
	color:#333;
	padding-bottom:10px;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #d8d8d8}
.side-other-box .other-con{}
	
.xggl-conlist li{
	float:left;
	width:248px;
	margin-top:15px}
.xggl-conlist li a{
	display:block;
	float:left;
	width:248px}
.xggl-conlist li .pic{
	float:left;
	width:86px;
	height:50px;
	padding:5px;
	margin-right:10px;
	box-shadow:2px 2px 3px rgba(0,0,0,.1),-2px -2px 3px rgba(0,0,0,.1)}
.xggl-conlist li .pic img{
	float:left;
	width:86px;
	height:50px}
.xggl-conlist li .txt{
	color:#333;
	max-height:80px;
	line-height:20px;
	overflow:hidden}
.xggl-conlist li a:hover .txt{
	color:#fc6000}

.newyj-conlist li{
	float:left;
	width:248px;
	margin-top:12px}
.newyj-conlist li a{
	float:left;
	width:248px}
.newyj-conlist li .pic,
.newyj-conlist li .pic img{
	width:248px;
	height:145px;}
.newyj-conlist li .bt{
	color:#333;
	height:30px;
	line-height:30px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis}
.newyj-conlist li a:hover .bt{
	color:#00b7ee;
	text-decoration:underline}
.newyj-conlist li .data{
	color:#999;
	height:20px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif}
.newyj-conlist li .data .name{
	float:left;
	height:20px;
	padding-left:18px;
	background:url(../images/st-side-ico.png) no-repeat 0 -100px}
.newyj-conlist li .data .rq{
	float:right;
	height:20px;}

.tjtg-conlist li{
	margin-top:15px;
	position:relative}
.tjtg-conlist li a{
	display:block;}
.tjtg-conlist li i{
	position:absolute;
	left:10px;
	top:15px;
	display:block;
	color:#fff;
	width:46px;
	height:46px;
	line-height:46px;
	text-align:center;
	font-size:14px;
	font-style:normal;
	background:url(../images/st-side-ico.png) no-repeat 0 bottom}
.tjtg-conlist li .pic,
.tjtg-conlist li .pic img{
	width:248px;
	height:120px}
.tjtg-conlist li p{
	padding:0 7px;}
.tjtg-conlist li p.time{
	color:#fff;
	height:26px;
	line-height:26px;
	padding-left:35px;
	background:url(../images/st-side-ico.png) no-repeat 8px -150px #fc6000}
.tjtg-conlist li p.txt{
	color:#333;
	height:24px;
	line-height:24px;
	margin-top:5px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis}
.tjtg-conlist li a:hover .txt{
	color:#fc6000;
	text-decoration:underline}
.tjtg-conlist li p.price{
	height:30px;
	line-height:30px;
	text-align:right}
.tjtg-conlist li p.price span{
	color:#f5372e;
	font-size:16px;
	font-weight:bold}
.tjtg-conlist li p.price span b{
	padding-left:2px;
	font-size:22px;
	font-family: Arial, "Microsoft YaHei", Helvetica, sans-serif}
.tjtg-conlist li p.price del{
	color:#888;
	margin:4px 0 0 15px;
	font-size:14px}
.tjtg-conlist li p.num{
	color:#333;
	height:22px;
	line-height:22px;
	margin-top:5px;
	text-align:right;
	background:#f3f3f3}
/*相关线路*/
.xg-lines-box,
.cloud-search-hotdest{
	margin-top:30px}
.xg-lines-box h3,
.cloud-search-hotdest h3{
	color:#333;
	height:40px;
	line-height:40px;
	padding:0 5px;
	font-size:16px;
	font-weight:bold;
	border-bottom:2px solid #d8d8d8}
.xg-lines-box h3 a.more,
.cloud-search-hotdest h3 a.more{
	color:#333;
	float:right;
	height:40px;
	line-height:40px;
	padding-left:17px;
	font-size:12px;
	font-weight:500;
	background:url(../images/index-ico.png) no-repeat 0 15px}
.xg-lines-box h3 a:hover.more,
.cloud-search-hotdest h3 a:hover.more{
	color:#f80;
	background:url(../images/st-hover-ico.png) no-repeat 0 15px}
.xg-lines-box .conlist:after,
.cloud-search-hotdest .conlist:after{
	content:'.';
	clear:both;
	height:0;
	display:block;
	overflow:hidden}
.xg-lines-box .conlist li{
	height:70px;
	padding:14px 0;
	overflow:hidden;
	border-bottom:1px solid #d8d8d8}
.xg-lines-box .conlist li .pic{
	float:left;
	width:100px;
	height:68px;
	overflow:hidden;
	border:1px solid #dcdcdc;
	border-radius:3px}
.xg-lines-box .conlist li .pic a{
    display: table-cell;
    width: 100px;
    height: 68px;
    vertical-align: middle;
    text-align: center;
}
.xg-lines-box .conlist li .pic img{
    max-width:100px;
	max-height:68px;
    vertical-align: middle;
}
.xg-lines-box .conlist li .nr{
	float:left;
	width:500px;
	padding:0 20px}
.xg-lines-box .conlist li .nr p{
	float:left;
	width:500px}
.xg-lines-box .conlist li .nr p.bt a{
	float:left;
	color:#333;
	width:500px;
	height:24px;
	font-size:14px}
.xg-lines-box .conlist li .nr p.bt a:hover{
	color:#f60;
	text-decoration:underline}
.xg-lines-box .conlist li .nr p.attr img{
	float:left;
	margin-right:5px}
.xg-lines-box .conlist li .nr p.data span{
	float:left;
	color:#999;
	height:30px;
	line-height:30px;
	margin-right:30px}
.xg-lines-box .conlist li .price{
	float:right;
	width:145px;
	padding-right:5px;
	text-align:right}
.xg-lines-box .conlist li .price em{
	color:#999;
	display:block;
	margin-top:15px;
	font-style:normal}
.xg-lines-box .conlist li .price span{
	color:#fc6000;
	display:block;
	margin-top:10px}
.xg-lines-box .conlist li .price span b{
	padding:0 3px;
	font-size:18px;
	font-weight:500;
	font-family:Arial, Helvetica, sans-serif}
/*云搜索目的地*/
.cloud-search-hotdest .conlist li{
	float:left;
	width:118px;
	height:118px;
	margin:20px 20px 0 0;
	border-radius:5px;
	overflow:hidden;
	position:relative}
.cloud-search-hotdest .conlist li.mr_0{
	margin-right:0}
.cloud-search-hotdest .conlist li img{
	width:118px;
	height:118px;}
.cloud-search-hotdest .conlist li span{
	position:absolute;
	left:0;
	bottom:0;
	display:block;
	color:#fff;
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	opacity:0;
	filter:Alpha(opacity=0);
	transition:all ease-in-out .3s;
	background:rgba(0,0,0,.5)}
.cloud-search-hotdest .conlist li a:hover span{
	opacity:1;
	filter:Alpha(opacity=100);}
/*无产品*/
.no-content{
	width:448px;
	height:88px;
	line-height:88px;
	margin:100px auto;
	text-align:center;
	border:1px solid #d8d8d8;
	border-radius:5px;
	background:#f9f9f9}
.no-content p{
	color:#333;
	font-size:14px}
.no-content p i{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:25px;
	height:25px;
	vertical-align:middle;
	margin:-3px 10px 0 0; 
	background:url(../images/photo-ico.png) no-repeat 0 bottom}
.no-content p a{
	color:#fc6000;
	text-decoration:underline}
/*侧边栏操作导航*/
.st-sidemenu-box{
	position:fixed;
	top:0;
	right:0;
	width:35px;
	z-index:99999;
	background:#333}
.st-sidemenu-con{
	width:35px;
	height:100%;
	position:relative}
.st-sidemenu-con li{
	padding:12px 0;
	margin-bottom:-1px;
	cursor:pointer;
	border-top:1px solid #333;
	border-bottom:1px solid #333}
.st-sidemenu-con .microblog,
.st-sidemenu-con .wechat{
	width:35px;
	height:17px;
	cursor:pointer;
	font-size:0;
	position:relative}
.st-sidemenu-con .microblog a{
	display:block;
	width:35px;
	height:17px;
	background:url(../images/st-sidehome-ico.png) no-repeat -24px 0}
.st-sidemenu-con .microblog:hover a{
	background:url(../images/st-sidehome-ico.png) no-repeat 7px 0}
.st-sidemenu-con .wechat:before{
	content:' ';
	display:block;
	width:35px;
	height:17px;
	background:url(../images/st-sidehome-ico.png) no-repeat -24px -27px}
.st-sidemenu-con .wechat:hover:before{
	background:url(../images/st-sidehome-ico.png) no-repeat 7px -27px}
.st-sidemenu-con .wechat .wechat-box{
	position:absolute;
	top:0;
	right:35px;
	padding:15px;
	display:none;
	animation:leftFadeIn ease-in-out .5s;
	border:5px solid #5e5e5e;
	background:#fff}
.st-sidemenu-con .wechat:hover .wechat-box{
	display:block}
.st-sidemenu-con .wechat .wechat-box:after{
	content:' ';
	display:block;
	width:4px;
	height:10px;
	position:absolute;
	right:-9px;
	top:20px;
	background:url(../images/side-arrow-rig-ico.png) left no-repeat}
.st-sidemenu-con .wechat .wechat-box img{
	width:110px;
	height:110px}
.st-sidemenu-con .myorder{
	width:35px;
	position:relative}
.st-sidemenu-con .myorder:before{
	content:' ';
	display:block;
	width:35px;
	height:20px;
	background:url(../images/st-sidehome-ico.png) no-repeat -21px -54px}
.st-sidemenu-con .myorder:hover:before{
	background:url(../images/st-sidehome-ico.png) no-repeat 10px -54px}
.st-sidemenu-con .myorder a{
	color:#fff;
	display:block;
	width:17px;
	line-height:14px;
	padding:5px 9px 0;
	text-align:center}
.st-sidemenu-con .myorder:hover a{
	color:#00b7ee}

.st-sidemenu-bom{
	position:absolute;
	bottom:20px;
	right:0}
.st-backTop{
	padding:12px 0;
	cursor:pointer}
.st-backTop:before{
	content:' ';
	display:block;
	width:35px;
	height:19px;
	background:url(../images/st-sidehome-ico.png) no-repeat -23px -114px}
.st-backTop:hover:before{
	background:url(../images/st-sidehome-ico.png) no-repeat 8px -114px}
.st-backTop a{
	color:#fff;
	display:block;
	text-align:center;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif}
.st-backTop:hover a{
	color:#00b7ee}
.st-sidemenu-closed{
	width:35px;
	height:35px;
	cursor:pointer;
	transition:all ease-in-out .2s;
	-webkit-transition:all ease-in-out .2s;
	-moz-transition:all ease-in-out .2s;
	background:url(../images/st-sidemenu-closed-ico.png) center no-repeat}
.st-sidemenu-closed:hover{
	transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg)}

.st-travel-show{
	width:63px;
	height:52px;
	position:fixed;
	bottom:50px;
	right:-100px;
	z-index:99999;
	cursor:pointer;
	background:url(../images/st-tarvel-flex.png) center no-repeat}

/*提示框*/
.order-content{
	float:left;
	width:905px}
.order-hint-msg-box{
	padding:10px 30px;
	margin-bottom:15px;
	background:#fff4e4}
.order-hint-msg-box .hint-txt{
	color:#666;
	height:24px;
	line-height:24px;
	font-size:16px;}
.order-hint-msg-box .hint-txt:before{
	content:' ';
	display:inline-block;
	width:24px;
	height:24px;
	overflow:hidden;
	vertical-align:middle;
	margin:-3px 20px 0 0;
	background:url(../images/user-hintmsg-ico.png) no-repeat 0 -28px}
.order-hint-msg-box .hint-txt a{
	color:#f80;
	padding:0 3px;
	font-weight:bold}
.order-hint-msg-box .hint-txt a:hover{
	text-decoration:underline}

/*弹出登陆层*/
.content-fix-box{
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index:999999;
	background:url(../images/aph_bg.png) left top repeat}
.login-small-box{
	width:364px;
	height:440px;
	padding:10px 30px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-230px 0 0 -212px;
	background:#fff;
	box-shadow:2px 2px 10px rgba(0,0,0,.2),-2px -2px 10px rgba(0,0,0,.2);
	border-radius:10px}
.login-small-con{
	background:#fff}
.login-small-con h3{
	color:#333;
	height:40px;
	line-height:40px;
	font-size:18px;
	position:relative;
	border-bottom:1px solid #e6e6e6}
.login-small-con h3 .close-btn{
	content:' ';
	display:block;
	position:absolute;
	right:-20px;
	top:0;
	width:12px;
	height:12px;
	cursor:pointer;
	transition:all .3s;
	background:url(../images/login-small.png) no-repeat 0 -152px}
.login-small-con h3 .close-btn:hover{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);}
.login-small-con .error-ts{
	color:#fff;
	position:absolute;
	top:-22px;
	left:0;
	width:100%;
	height:20px;
	line-height:20px;
	text-align:center;
	font-size:12px;
	background:#ff870f}
.login-small-con .user-name,
.login-small-con .user-password,
.login-small-con .user-num{
	height:40px;
	line-height:40px;
	padding-left:50px;
	margin-top:20px;
	font-size:16px;
	position:relative;
	border:1px solid #e6e6e6}
.login-small-con .user-name:before,
.login-small-con .user-password:before,
.login-small-con .user-num:before{
	content:' ';
	display:block;
	width:22px;
	height:22px;
	padding-right:7px;
	border-right:1px solid #e6e6e6;
	position:absolute;
	left:12px;
	top:9px;
	background:url(../images/login-small.png) no-repeat}
.login-small-con .user-name:before{
	background-position:0 -30px}
.login-small-con .user-password:before{
	background-position:0 -71px}
.login-small-con .user-num:before{
	background-position:0 -112px}
.login-small-con .user-name .user-zh,
.login-small-con .user-password .user-zh{
	display:inline-block;
	width:100%;}
.login-small-con .user-num .user-zh{
	width:120px}
.login-small-con .user-num .yzm{
	display:inline-block;
	width:90px;
	height:30px;
	vertical-align:middle;
	margin-top:-3px;
	cursor:pointer;
	overflow:hidden}
.login-small-con .user-num .yzm img{
	width:90px;
	height:30px}
.login-small-con .user-num .change-next{
	color:#11b6e8;
	margin-left:10px;
	font-size:14px;
	cursor:pointer}
.login-small-con .reg-find-acc{
	color:#666;
	padding-top:15px;
	font-size:14px}
.login-small-con .reg-find-acc a{
	color:#fc6000}
.login-error{
	color:#fc6000;
	height:20px;
	line-height:20px;
	padding-left:17px;
	margin-top:10px;
	background:url(../images/login-small.png) no-repeat -5px 4px}
.login-small-con .login-btn{
	margin-top:10px}
.login-small-con .login-btn a{
	display:block;
	color:#fff;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:18px;
	background:#0082dd}
.other-login,
.other-login dl{
	float:left;
	width:340px;
	margin-top:10px}
.other-login dt{
	float:left;
	color:#1b1b1b;
	width:340px;
	height:30px;
	font-size:14px}
.other-login dt span{
	float:left;
	height:30px;
	line-height:30px}
.other-login dt em{
	float:right;
	width:210px;
	height:0;
	margin-top:14px;
	border-top:1px solid #e6e6e6}
.other-login dd{
	float:left;
	width:340px;
	height:39px;
	margin-top:5px}
.other-login dd a,
.reg-tig-box dl dd a{
	float:left;
	width:29px;
	height:29px;
	margin-right:11px;
	font-size:0;
	background:url(../images/st-userlogin-bg.png) no-repeat}
.other-login dd a.qq,
.reg-tig-box dl dd a.qq{
	background-position:0 -155px}
.other-login dd a.wx,
.reg-tig-box dl dd a.wx{
	background-position:-40px -155px}
.other-login dd a.wb,
.reg-tig-box dl dd a.wb{
	background-position:-80px -155px}
.other-login dd a:hover,
.reg-tig-box dl dd a:hover{
	background:url(../images/st-userlogin-bg.png) no-repeat}
.other-login dd a.qq:hover,
.reg-tig-box dl dd a.qq:hover{
	background-position:0 -194px}
.other-login dd a.wx:hover,
.reg-tig-box dl dd a.wx:hover{
	background-position:-40px -194px}
.other-login dd a.wb:hover,
.reg-tig-box dl dd a.wb:hover{
	background-position:-80px -194px}

/* 搜索列表目的地弹出层 */
.st-search-pop-layer{
    width: 100%;
    position: absolute;
    left: 0;
    border-top: 1px solid #d8d8d8;
    background: #fff;
}
.layer-child-block{
    padding: 8px 0 8px 83px;
    border-bottom: 1px solid #d8d8d8;
}
.layer-child-block:after{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    overflow: hidden;
}
.layer-child-block a,
#search-type-dest dd a{
    float:left;
    color:#333;
    height:24px;
    line-height:24px;
    margin: 2px 0;
    padding: 0 12px;
}
.layer-child-block a:hover,
#search-type-dest dd a:hover{
    background: #f3f2f2;
}
.layer-child-block a.cur,
#search-type-dest dd a.cur{
    background: #f3f2f2;
}
.layer-child-block a .down-ico,
.layer-child-block a .up-ico,
#search-type-dest dd a .down-ico,
#search-type-dest dd a .up-ico{
    content: '';
    display: inline-block;
    width: 7px;
    height: 4px;
    vertical-align: middle;
    margin: 0 0 0 6px;
}
.layer-child-block a .down-ico,
#search-type-dest dd a .down-ico{
    background: url("../images/down-type-ico.png") no-repeat 0 0;
}
.layer-child-block a .up-ico,
#search-type-dest dd a .up-ico{
    background: url("../images/down-type-ico.png") no-repeat -7px 0;
}


@-webkit-keyframes leftFadeIn{
	0%{opacity:0;-webkit-transform:translatex(-30px)}
	100%{opacity:1;-webkit-transform:translatex(0)}
	}
@-moz-keyframes leftFadeIn{
	0%{opacity:0;-moz-transform:translatex(-30px)}
	100%{opacity:1;-moz-transform:translatex(0)}
	}
@keyframes leftFadeIn{
	0%{opacity:0;transform:translatex(-30px)}
	100%{opacity:1;transform:translatex(0)}
	}

/* 游轮预定信息 */
.ship-order-table th{
    color: #999;
    height: 30px;
    font-size: 12px;
    text-align: center;
    background: #f6f6f6;
}
.ship-order-table th .pl20{
    float: left;
    padding-left: 20px;
}
.ship-order-table td{
    height: 50px;
    text-align: center;
}
.ship-order-table select{
    float: left;
    width: 160px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    border: 1px solid #e6e6e6;
}
.ship-order-table .price{
    color: #f60;
    font-size: 12px;
}
.ship-order-table .price strong{
    padding-left: 2px;
    font-size: 16px;
}
.ship-order-table .num-opt{
    vertical-align: middle;
}

.num-opt{
    display: inline-block;
    height: 22px;
    padding-left: 1px;
    font-size: 0;
}
.num-opt i{
    color: #2da1e7;
    display: inline-block;
    width: 18px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-left: -1px;
    vertical-align: top;
    border: 1px solid #ddd;
}
.num-opt input{
    color: #666;
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-left: -1px;
    vertical-align: top;
    border: 1px solid #ddd;
}
/* 结伴弹出框宽度 */
.jb-box{
	width: 420px;
	margin: -72px 0 0 -210px;
}
/* 查看报名情况弹出框宽度 */
.bm-box{
	width: 700px;
	margin: -232px 0 0 -350px;
}
/* 弹出层确认框 */
.layer-content{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 99999;
	background: rgba(0,0,0,.3);
}
.confirm-content{
	position: absolute;
	left: 50%;
	top: 50%;
	background: #fff;
}
.confirm-bar{
	height: 40px;
	padding: 0 15px;
	background: #009fde;
}
.confirm-bar .title{
	color: #fff;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}
.confirm-bar .close{
	float: right;
	width: 12px;
	height: 12px;
	margin-top: 14px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	background: url("../images/close-white-ico.png") center no-repeat;
}
.confirm-bar .close:hover{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.confirm-block{
	padding: 20px;
}
.confirm-nr{
	text-align: center;
	font-size: 14px;
}
.confirm-block .choose-btn{
	margin-top: 20px;
	text-align: center;
	font-size: 0;
}
.confirm-block .choose-btn .cancel-btn,
.confirm-block .choose-btn .confirm-btn{
	display: inline-block;
	color: #fff;
	width: 75px;
	height: 26px;
	line-height: 26px;
	margin: 0 10px;
	text-align: center;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.confirm-block .choose-btn .cancel-btn{
	background: #ccc;
}
.confirm-block .choose-btn .confirm-btn{
	background: #00b7ee;
}
/* 查看报价 */
.sign-up-block{
	height: 384px;
	overflow-y: auto;
}
.sign-up-table th{
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #f5f5f5;
}
.sign-up-table td{
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #dcdcdc;
}
