/* 打印样式 */
@media print {
    color: red

;
}
body{
    font-size: 13px;
}
/* 手机等小屏幕手持设备 */
@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        /*background: yellow;*/
    }
}

/* 平板之类的宽度 1024 以下设备 */
@media only screen and (min-width: 321px) and (max-width: 1024px) {
    body {
        /*background: blue;*/
    }

    /*.user-msg-con {*/
        /*width: 100% !important;*/
    /*}*/

    /*.name {*/
        /*font-size: 10% !important;*/
    /*}*/

    /*.user-pic {*/
        /*margin-top: 10%;*/
        /*width: 80% !important;*/
        /*height: 80% !important;*/
    /*}*/

    /*.user-home-box .user-msg-tj {*/
        /*margin-left: 0% !important;*/
        /*float: left;*/
        /*width: 100% !important;*/
        /*margin-top: 10%;*/
    /*}*/

    /*.user-home-box .user-msg-tj {*/
        /*margin-left: 55%;*/
        /*float: left;*/
        /*width: 45%;*/
        /*margin-top: 1% !important;*/
    /*}*/

    /*.userimg {*/
        /*width: 70% !important;*/
        /*height: 45% !important;*/
        /*border-radius: 5%;*/
        /*margin: 0 auto;*/
        /*margin-left: 10% !important;*/
        /*margin-top: -10% !important;*/
    /*}*/

    /*.user-pic {*/
        /*width: 55% !important;*/
        /*height: 60% !important;*/
    /*}*/

    /*.user-txt {*/
        /*width: 45% !important;*/
        /*margin-left: 2%;*/
        /*margin-top: 5% !important;*/
    /*}*/

}

/* PC客户端或大屏幕设备: 1028px 至更大 */
@media only screen and (min-width: 1029px) {
    /*body {*/
        /*!*background: green;*!*/
    /*}*/
}

/* 竖屏 */
@media screen and (orientation: portrait) and (max-width: 720px) {

}

/* 横屏 */
@media screen and (orientation: landscape) {

}

/*用户中心首页*/
.st-main-page {
    margin: 30px 0;
    padding: 0 15px;
}

.user-order-box {
    width: 100%;
}

.user-home-box .user-home-msg {
    /*width: 94% !important;*/
    /*margin-left: 3%;*/
}

.user-home-box .user-home-order {
    /*width: 94% !important;*/
    /*margin-left: 3%;*/
    /*margin-bottom: 5%;*/
}

/*.user-home-box .user-home-order .order-list {*/
    /*width: 100% !important;*/

/*}*/

/*.user-home-box .user-home-order .order-tit {*/
    /*width: 100% !important;*/
/*}*/

.page {
    margin-left: 0 !important;
    /*width: 30%;*/
    text-align: center;
}

.a1 {
    width: 2%;
    padding-left: 10%;
}

/*.user-msg-con {*/
    /*width: 60%;*/
/*}*/

.userimg {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5%;
}

.user-pic {
    width: 48%;
    /*height: 50% !important;*/
}

.user-txt {
    width: 50%;
    margin-left: 2%;

}

.revise {
    margin-left: 5%;
    color: #0082dd;
}

.revise:hover {
    color: #fc6000
}

.menu-item {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14.2px;
    line-height: 1.42857143;
    color: #333;
}

.header-menu .nav-menu li > a {
    display: block;
    padding: 10px;
    padding-left: 9.5px;
    line-height: 26px;
    padding-bottom: 11px;
}

.header-menu .nav-menu li {
    display: inline-block;
    vertical-align: middle;
    max-height: 60px;
    text-align: center;
    position: relative;
}

.user-home-box {
    /*width: 90%;*/
    /*margin: 0 auto;*/
    padding: 3% 0;
    background: #f7f7f7;
}

.user-home-box .user-home-msg {
    /*float:left;*/
    /*padding:5% 0;*/
    /*margin-bottom: 5%;*/
    overflow: hidden;

}

.user-home-box .user-msg-con {
    /*float:left;*/
    /*padding-left:30px;*/
    /*overflow:hidden;*/
    border-right: 1px dotted #d8d8d8
}

.user-home-box .user-msg-con .user-pic {
    float: left;
    text-align: center;
    margin-bottom: 10px;
}

.user-home-box .user-msg-con .user-txt {
    float: left;
}

.user-home-box .user-msg-con .user-txt .name {
    color: #333;
    padding-bottom: 5px;
    font-size: 24px;
}

.user-home-box .user-msg-con .user-txt .name .level {
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 7px;
    vertical-align: middle;
    margin: -3px 0 0 10px;
    font-size: 12px;
    background: #4cb786;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 3px;;
}

.user-msg-con .user-txt .item-bar {
    color: #333;
    /*height: 40px;*/
    line-height: 20px;
    padding-top: 10px;
    overflow: hidden
}

.user-msg-con .user-txt .rz-no {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #fff;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    margin: -3px 0 0 10px;
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid #faa119;
    border-radius: 3px;
    background: #ffbd13
}

.user-home-box .user-msg-tj {
    padding-top: 50px;
    /*margin-left: 55%;*/
    /*float:left;*/
    /*width:45%;*/
    /*margin-top: -18%;*/
}

.user-home-box .user-msg-tj ul li {
    float: left;
    width: 50%;
    cursor: pointer;
    text-align: center
}

.user-home-box .user-msg-tj ul li em {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 5px;
    background: url(../images/user-home-ico.png) no-repeat
}

.user-home-box .user-msg-tj ul li.my-jf em {
    background-position: 0 0
}

.user-home-box .user-msg-tj ul li.un-fk em {
    background-position: 0 -100px
}

.user-home-box .user-msg-tj ul li.un-dp em {
    background-position: 0 -200px
}

.user-home-box .user-msg-tj ul li.my-zx em {
    background-position: 0 -300px
}

.user-home-box .user-msg-tj ul li.my-jf:hover em {
    background-position: -80px 0
}

.user-home-box .user-msg-tj ul li.un-fk:hover em {
    background-position: -80px -100px
}

.user-home-box .user-msg-tj ul li.un-dp:hover em {
    background-position: -80px -200px
}

.user-home-box .user-msg-tj ul li.my-zx:hover em {
    background-position: -80px -300px
}

.user-home-box .user-msg-tj ul li span {
    color: #333;
    display: block;
    font-size: 14px;
}

.user-home-box .user-msg-tj ul li strong {
    color: #fbca21;
    display: block;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.user-order-box .user-home-order {
    /*float: left;*/
    padding: 0 4%;
    border: 1px solid #dcdcdc;
    margin-top: 30px;
}

.user-order-box .user-home-order .order-tit {
    /*float: left;*/
    color: #333;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    margin-top: 10px;
    font-size: 18px;
    border-bottom: 2px solid #f4f4f4;
    background: url(../images/user-home-ico.png) no-repeat -155px -130px;
    text-align: center;
}

.user-order-box .user-home-order .order-tit a.more {
    float: right;
    /*color: #333;*/
    font-size: 14px;
}

/*.user-order-box .user-home-order .order-tit a:hover.more {*/
    /*color: #0082dd*/
/*}*/

.user-order-box .user-home-order .order-list {
    /*float: left;*/
    /*width: 954px;*/
    /*margin-top: 18px*/
}

.order-no-have,
.jf-no-have,
.zx-no-have {
    clear: both;
    padding: 50px 0
}

.order-no-have span {
    display: block;
    width: 73px;
    height: 74px;
    margin: 0 auto;
    background: url(../images/user-home-ico.png) no-repeat -160px -216px
}

.jf-no-have span {
    display: block;
    width: 129px;
    height: 131px;
    margin: 0 auto;
    background: url(../images/no-jf-ico.png) left no-repeat
}

.zx-no-have span {
    display: block;
    width: 110px;
    height: 108px;
    margin: 0 auto;
    background: url(../images/no-zixun-ico.png) left no-repeat
}

.order-no-have p,
.jf-no-have p,
.zx-no-have p {
    color: #333;
    margin-top: 20px;
    font-size: 14px;
    text-align: center
}

.order-no-have p a,
.jf-no-have p a,
.zx-no-have p a {
    color: #0088d0;
    font-size: 14px
}

.order-no-have p a:hover,
.jf-no-have p a:hover,
.zx-no-have p a:hover {
    color: #fc6000;
    text-decoration: underline
}
.order-list table.order-table{
    width: 100%;
}
.user-order-box .user-home-order .order-list table th {
    padding: 8px;
    color: #7c7c7c;
    font-size: 14px;
    text-align: center
}

.user-order-box .user-home-order .order-list table td {
    border-top: 1px solid #dcdcdc;
    text-align: center;
    padding: 8px;
    font-size: 14px;
}

.user-order-box .user-home-order .order-list .con,
.user-order-box .user-home-order .order-list .con dl {
    float: left
}

.user-order-box .user-home-order .order-list .con dl dt {
    float: left;
    width: 110px;
    height: 80px;
    overflow: hidden
}

.user-order-box .user-home-order .order-list .con dl dt a {
    display: table-cell;
    width: 110px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
}

.user-order-box .user-home-order .order-list .con dl dt a img {
    max-width: 110px;
    max-height: 80px;
    vertical-align: middle;
}

.user-order-box .user-home-order .order-list .con dl dd {
    float: left;
    width: 250px;
    padding-left: 20px
}

.user-order-box .user-home-order .order-list .con dl dd .tit {
    display: block;
    font-size: 14px;
    max-height: 40px;
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden
}

.user-order-box .user-home-order .order-list .con dl dd .tit:hover {
    color: #f60
}

.user-order-box .user-home-order .order-list .con dl dd p {
    color: #7c7c7c;
    height: 18px;
    line-height: 18px
}

.user-order-box .user-home-order .order-list .price {
    color: #fc6000;
    font-size: 14px;
    font-weight: bold
}

.user-order-box .user-home-order .order-list .ty-label {
    font-size: 14px;
}

.user-order-box .user-home-order .order-list .pay-part {
    color: #666;
    display: block;
    padding: 10px 0;
    font-size: 14px;
}

.user-order-box .user-home-order .order-list .rq {
    color: #333;
    display: block;
    line-height: 30px;
    font-size: 14px
}

.user-order-box .user-home-order .order-list .now-fk,
.user-order-box .user-home-order .order-list .now-dp {
    color: #fff;
    display: inline-block;
    width: 75px;
    height: 26px;
    line-height: 26px;
    margin-bottom: 5px;
    font-size: 14px;
    border-radius: 3px;
    background: #fb4734
}

.user-home-box .user-home-order .order-list .now-dp {
    background: #ff9b3c
}

.user-home-box .user-home-order .order-list .order-ck {
    color: #333;
    display: block;
    padding: 4px 0;
    font-size: 14px
}

.user-order-box .user-home-order .order-list .order-ck:hover {
    /*color: #f60*/
}

.user-order-box .user-home-order .order-list .attr {
    color: #7c7c7c;
    font-size: 14px
}

.user-order-box .user-home-order .order-list .dfk {
    color: #e60012;
    font-size: 14px
}

.user-order-box .user-home-order .order-list .dcl {
    color: #fb4734;
    font-size: 14px
}

.user-order-box .user-home-order .order-list .yqx {
    color: #c9c9c9;
    font-size: 14px
}

.user-order-box .user-home-order .order-list .wdp {
    color: #ff9b3a;
    font-size: 14px
}

.user-order-box .user-home-order .order-list .ywc {
    color: #00b7ee;
    font-size: 14px
}

.user-order-box .user-home-order .order-list .revise-yj,
.user-order-box .user-home-order .order-list .delete-yj {
    color: #333;
    height: 20px;
    line-height: 20px;
    margin: 0 10px;
    font-size: 14px;
    display: inline-block;
}

.user-order-box .user-home-order .order-list .revise-yj:before,
.user-order-box .user-home-order .order-list .delete-yj:before {
    content: ' ';
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin: -3px 5px 0 0;
    background: url(../images/user-yj-ico.png) no-repeat
}

.user-order-box .user-home-order .order-list .revise-yj:before {
    background-position: 0 0
}

.user-order-box .user-home-order .order-list .delete-yj:before {
    background-position: 0 bottom
}

.user-order-box-box .user-home-order .order-list .dest {
    font-size: 14px;
}

.user-order-box .user-home-order .order-list .sign-btn,
.user-order-box .user-home-order .order-list .close-btn {
    display: block;
    color: #fff;
    width: 75px;
    height: 26px;
    line-height: 26px;
    margin: 5px 0;
    text-align: center;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.user-order-box .user-home-order .order-list .sign-btn {
    background: #00b7ee;
}

.user-order-box .user-home-order .order-list .close-btn {
    background: #ff9b3a;
}

.user-order-box .user-home-order .order-list .over {
    font-size: 14px;
}

.ha_edit {
    text-align: right;
    margin-bottom: 8px;
}
/*積分兌換*/
.redeem{
    display: inline-block;
    padding: 1px 5px;
    background: #fbca21;
    color: white;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.redeem:hover{
    background-color: #e6a303;
    color: white;
}
/*積分兌換彈窗*/
.md-content .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}
.md-content>p {
    margin-bottom: 8px;
}
.md-content .addr-group{
    display: table;
    width: 100%;
    margin-bottom: 10px;
}
.addr-group .addr-item{
    display: table-cell;
}
.addr-group .addr-item:first-child {
    padding-right: 10px;
}
.addr-group .form-control {
    text-align: left;
}
.addr-btn {
    text-align: center;
}
.addr-btn .addr-confirm {
    display: inline-block;
    padding: 6px;
    background: #fbca21;
    color: white;
    font-size: 14px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
}
.addr-btn .addr-confirm:hover {
    background-color: #e6a303;
    color: white;
}
/*確認彈窗*/
.cm-content{
    padding: 20px;
    background: #fff;
    z-index: 999;
    width: 200px;
    text-align: center;
    
}
.cm-content .c-title{
    margin-bottom: 10px;
    font-size: 16px;
}
.c-part a{
    margin-right: 10px;
    display: inline-block;
    padding: 6px;
    background: #fbca21;
    color: white;
    font-size: 14px;
    width: 60px;
    border-radius: 4px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .user-home-box .user-msg-tj{
        padding-top: 20px;
    }
}
@media (max-width: 600px) {
    .user-home-box .user-msg-con .user-pic{
        float: none;
        width: 100%;
    }
    .user-home-box .user-msg-con .user-txt{
        float: none;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .userimg{
        max-width: 100px;
        max-height: 100px;
    }

}