        <!--底部-->
        <footer class="tutor-footer">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-content">
                            <div class="footer-title">TutorSeeking</div>
                            {pc:get sql="SELECT * from v9_category order by listorder" cache="3600" return="data"}
                            <ul class="footer-ul">
                                <li class="menu-item"><a href="{APP_PATH}">首頁</a></li>
                                {loop $data $k $v}
                                    <li class="menu-item"><a href="{$v[url]}">{$v[catname]}</a></li>
                                {/loop}
                            </ul>
                            {/pc}
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="copyright-content">
                            <p class="text-center">Copyright © 2017-<?php echo date("Y");?> <span class="main-color">TutorSeeking</span> All Right reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Google Tag Manager (noscript) -->

        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W775LCQ"

        height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>

        <!-- End Google Tag Manager (noscript) -->