<script type="text/javascript">
    // if(window.location.href.indexOf("index.php")<0){
    //     window.location.href="/index.php";
    // };
</script>
{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/index.css">
    <style type="text/css">
        #login_click_name{
            /*border:1px solid black;  */
            text-align: center;
            margin-bottom: 40px;
        }
        #login_click_name a{
            font-size: 30px;
            font-weight: bold;
            color:#474747;
            text-decoration: none;
            transition: all linear 0.30s;
        }
        .rating{
            /*display: block;*/
            width: 50%;
            margin-bottom: 10px;
            z-index: 12;
            float: left;
        }
        .course-three{margin-top: -8px;}
        .star-rating {
            float: none;
            margin: auto !important;
            font-size: 13px;
            width: 6.75em;
            height: 1em;
            line-height: 1;
            letter-spacing: 5px;
            overflow: hidden;
            position: relative;
            font-family: 'FontAwesome';
        }
        .star-rating:before {
            content: "\f005\f005\f005\f005\f005";
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            color: #efefef;
        }
        .star-rating .star-show{
            overflow: hidden;
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            padding-top: 1.5em;
            color: #fbca21;
        }
        .star-rating .star-show:before {
            content: "\f005\f005\f005\f005\f005";
            top: 0;
            left: 0;
            position: absolute;
            color: #fbca21;
        }
     
        .course-file-item dt.class_time{
            color: #E6E6E6;
            padding-left: 5px;
        }
    </style>
    
    <!-- facebook点赞部分 START -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/zh_HK/sdk.js#xfbml=1&version=v2.12';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- facebook点赞部分 END -->

        <!--slide 部分-->
        <div class="video-part">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 ，辉-->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    {pc:get sql="SELECT setting FROM v9_poster WHERE spaceid = 12 AND type='images' AND disabled=0 ORDER BY listorder ASC" num="3" return="data"}
                    {loop $data $r}  
                    {php $narry = string2array($r[setting]); }  
                        {php $i=1; }
                        {loop $narry $j} 
                        <li data-target="#myCarousel" data-slide-to="{$i}"></li>
                        {php $i++ }
                        {/loop}
                    {/loop}
                    {/pc}
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                {pc:get sql="SELECT setting FROM v9_poster WHERE spaceid = 12 AND type='images' AND disabled=0 ORDER BY listorder ASC" num="3" return="data"}
                    {loop $data $r}
                    {php $narry = string2array($r[setting]); }  
                        {loop $narry $j} 
                        <div class="item" data-url="">
                        <a href="{$j[linkurl]}"><img src="{$j[imageurl]}" alt="{$j[alt]}"/></a>
                        </div>
                        {/loop}
                    {/loop}
                    {/pc}
                </div>
            </div>
            <!--登录部分-->
            
            <div class="login-widget">
                <div class="login-part">
                    <h2 class="login-title">
                        <span>TutorSeeking</span>
                    </h2>
                    
                    <?php if(!isset($userid) || empty($userid)){?>
                    <!--未登录状态-->
                    <div class="login-content">
                        <div class="login-tab">
                            <div class="login-tab-item" data='0'>導師</div>
                            <div class="login-tab-item" data='1'>家長 / 學生</div>   
                        </div>
                        <div class="login-tab-panel">
                            <div class="login-form" >
                                <!--导师登录-->
                                <div class="tab-panel-item">
                                    <span class='teacher error-tip'></span>
                                    <form  action="" class="teacherform">
                                        <input type="hidden" name="role" class='role' value="0">
                                        <div class="form-group">
                                            <input type="text" class="form-control require" placeholder="電郵/電話" data-info="電郵" name='email'>
                                            <div class="span-icon self-teicon"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control require" placeholder="請輸入由字母+數字組成的密碼" data-info="密碼" name='pwd'>
                                            <div class="span-icon"><i class="fa fa-lock"></i></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control require" placeholder="驗證碼" data-info="驗證碼" name='code'>
                                            <div class="span-icon"><i class="fa fa-key"></i></div>
                                            <div class="code-img"> 
                                            {form::checkcode('code_img', '4', '14', 84, 24)}   
                                            </div>
                                        </div>
                                        <div class="btn-part">
                                            <a type="submit" class="part-btn login-btn">導師登入</a>
                                            <div class="login-link">
                                                <a href="{APP_PATH}index.php?m=content&c=index&a=password_find">找回密碼</a>
                                                &nbsp;|&nbsp;
                                                <a href="{APP_PATH}index.php?m=teachers&c=index&a=init">註冊</a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <!--学生登录-->
                                <div class="tab-panel-item">
                                    <span class='student error-tip'></span>
                                    <form action="" class="studentform">
                                        <input type="hidden" name="role" class='role' value="1">
                                        <div class="form-group">
                                            <input type="text" class="form-control require" placeholder="電郵/電話" data-info="電郵" name='email'>
                                            <div class="span-icon self-teicon"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control require" placeholder="請輸入由字母+數字組成的密碼" data-info="密碼" name='pwd'>
                                            <div class="span-icon"><i class="fa fa-lock"></i></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control require" placeholder="驗證碼" data-info="驗證碼" name='code'>
                                            <div class="span-icon"><i class="fa fa-key"></i></div>
                                            <div class="code-img">    
                                                {form::checkcode('code_img', '4', '14', 84, 24)}
                                            </div>
                                        </div>
                                        <div class="btn-part">
                                        <a class="part-btn login-btn">家長登入</a>
                                            <div class="login-link">
                                                <a href="{APP_PATH}index.php?m=content&c=index&a=password_find">找回密碼</a>
                                                &nbsp;|&nbsp;
                                                <a href="{APP_PATH}index.php?m=tparents&c=index&a=init">註冊</a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                     <?php }else{?>
                     <!--登录状态-->
                        {pc:get sql="select personid,userimage,username,role_verify,integral from v9_member where userid=$userid" cache="1" return="data"}
                        {loop $data $k $v}
                        <div class="tou">
                            <img style="width: 100px;height: 100px;margin-top: 30px;    border-radius: 50%;" src="{$v[userimage]}" onerror="javascript:this.src='{IMG_PATH}add_person/noimg.jpg';">
                        </div>
                        
                         <!-- <div class="name">{$v[username]}</div> -->
                        {if $v[role_verify]=='0'}
                        <div id="login_click_name"><a href="javascript:void(0);">{$v[username]}</a></div>
                        <div id="login_click"><a href="{APP_PATH}index.php?m=person&c=tutor_index&a=init">個人資料</a></div>
                        {elseif $v[role_verify]=='1'}
                        <div id="login_click_name"><a href="javascript:void(0);">{$v[username]}</a></div>
                        <div id="login_click"><a href="{APP_PATH}index.php?m=person&c=index&a=init">個人資料</a></div>
                        {/if}
                        <div id="login_click"><a href="{APP_PATH}index.php?m=content&c=index&a=logout">登出</a></div>
                        {/loop}
                        {/pc}

                     <?php }?>
                    
                </div>
            </div>
           
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="entery-content">
                        <!--网站导航部分-->
                        {pc:get sql="SELECT * from v9_category where isimage = '1' order by listorder" cache="3600" return="data"}
                       
                        <div class="panel-grid owl-grid">

                            {loop $data $k $v}
                            <div class="owl-item">
                                <div class="owl-img">
                                    <a href="{$v[url]}" class="overlay-a"><img src="{$v[image]}" alt=""></a>
                                    <h3 class="owl-title"><a href="{$v[url]}">{$v[catname]}</a></h3>
                                </div>
                            </div>
                            {/loop}
                        </div>
                        {/pc}
                        <!--最新个案-->
                        <div class="panel-grid new-case-grid">   
                            
                            <?php if(!empty($exlist)){?>
                            <div class="sc-widget-panel">
                                <h3 class="title">最新個案</h3>
                                <span class="line"></span>
                                <div class="veiw-all" style="border:2px solid #333"><a style="margin: 5px 12px" href="{APP_PATH}index.php?m=content&c=index&a=morecase&catid=6">更多個案</a></div>
                            </div>
                            <div class="row">
                                <!--循环部分-->
                                <?php foreach($exlist as $v){?>
                                <div class="col-md-3 col-sm-6 course-col">
                                    <div class="course-item">
                                        <div class="course-head"></div>
                                        <div class="course-content student-content">
                                            <div class="course-person">
                                                <img src="{$v[userimage]}" onerror="javascript:this.src='{IMG_PATH}add_person/noimg.jpg';" alt="">
                                                <p class="course-contain"><?php $v[role_verify]=="1"?print "學生【".$v[personid]."】":print "導師【".$v[personid]."】"?></p>
                                            </div>
                                         
                                            <div class="course-file">
                                                <dl class="course-file-item">
                                                    <dd>個案編號</dd>
                                                    <dt><?php $v[role_verify]=="1"?print $v[st_id]:print $v['tm_tutorid']?></dt>
                                                </dl>
                                                <dl class="course-file-item">   
                                                <?php if($v[role_verify]=="0"){
                                                pc_base::load_app_class('helpcommon' ,'pair');
                                                $helpcommon=new helpcommon();
                                                $place=$helpcommon->create_location($v[tsl_locid]);
                                                if(strpos($place,',') !== false){
                                                    $place=substr($place,0,strpos($place,','))."...";
                                                }
                                                ?>
                                                    <dd>授課地區</dd>
                                                    <dt>{$place}</dt> 
                                                <?php }else{?>
                                                    <dd>上課地區</dd>
                                                    <dt>{$v[loc_name]}</dt>
                                                <?php }?>
                                                </dl>
                                                <dl class="course-file-item">
                                                    <dd>科目</dd>
                                                    <?php if($v[role_verify]=="0"){
                                                        $helpcommon=new helpcommon();
                                                        $subject=$helpcommon->create_subject($v[tstt_ttid_2]);
                                                        if(strpos($subject,',') !== false){
                                                            $subject=substr($subject,0,strpos($subject,','))."...";
                                                        }?>
                                                        <dt>{$subject}</dt>  
                                                    <?php }else{?>
                                                        <dt>{$v[tt_name]}</dt>
                                                    <?php }?>
                                                    
                                                </dl>
                                                <dl class="course-file-item">
                                                    <?php if($v[role_verify]=="1"){?>
                                                        <dd>學生人數</dd>
                                                        <dt>{$v[st_num_join]}</dt>
                                                    <?php }else{?>
                                                        <dd>主要教學語言</dd>
                                                        <dt>{$v[tutor_main_lang]}</dt>
                                                    <?php }?>
                                                </dl>
                                                <dl class="course-file-item">
                                                <?php $weeknums = array(6=> "S",0=> "M",1=> "T",2=> "W",3=> "T",4=> "F",5=> "S");?>
                                                <?php if($v[role_verify]=="1"){?>
                                                    <dd>要求上課日期</dd>
                                                    <dt class="class_time">
                                                    <?php if($v[sst_weekday]==""){
                                                        foreach($weeknums as $num){?>
                                                        <span>{$num}</span>
                                                    <?php }
                                                        }else{
                                                        $week=explode(",",$v[sst_weekday]);
                                                        foreach($weeknums as $k=>$num){?>
                                                            <span <?php if(strpos($v[sst_weekday],strval($k)) !== false ){?>
                                                                style="color: black;"
                                                            <?php }?>>
                                                            <?php print $num;?>
                                                            </span>
                                                        <?php  }
                                                        }?></dt>
                                                <?php }else{?>
                                                    <dd>可教授日期</dd>
                                                    <dt class="class_time">
                                                    <?php if($v[tst_weekday]==""){
                                                        foreach($weeknums as $num){?>
                                                        <span>{$num}</span>
                                                    <?php }
                                                        }else{
                                                        $week=explode(",",$v[tst_weekday]);
                                                        foreach($weeknums as $k=>$num){?>
                                                            <span <?php if(strpos($v[tst_weekday],strval($k)) !== false ){?>
                                                                style="color: black;"
                                                            <?php }?>>
                                                            <?php print $num;?>
                                                            </span>
                                                        <?php  }
                                                        }?></dt>
                                                <?php }?>
                                            </dl>
                                            </div>
                                            <div class="course-dec">
                                                <?php if($v[role_verify]=="1"){ ?>
                                                <a href="{APP_PATH}index.php?m=tparents&c=index&a=stu_detail&stuid={$v[userid]}&tran_id={$v[st_id]}">查看詳情</a>
                                                <?php }else{ ?>
                                                <a href="{APP_PATH}index.php?m=teachers&c=index&a=tutor_detail&userid={$v[userid]}&tutor_id={$v[tm_tutorid]}">查看詳情</a>
                                                <?php }?>
                                            </div>
                                            <div class="course-meta">
                                            <?php 
                                            pc_base::load_app_class('tutor' ,'pair');
                                            $tutor=new tutor();
                                            if($v[role_verify]=="1"){
                                                $star=$tutor->return_star($v[st_studentid],$v[role_verify]);
                                            }elseif($v[role_verify]=="0"){
                                                $star=$tutor->return_star($v[master_id],$v[role_verify]);
                                            }
                                            ?>
                                                <div class="rating">
                                                    <div class="star-rating">
                                                        <span class="star-show" style="width:<?php echo $star;?>%"></span>
                                                    </div>   
                                                </div>
                                                <div class="course-three">$<?php $v[role_verify]=="1"?print $v[st_tutor_fee]:print $v[tstt_fee]?>    
                                                </div>  
                                            </div>
                                            
                                            {if ($v[role_verify]=="1")}
                                                {pc:get sql="select pair_id from v9_pair where pair_student_tranid='$v[st_id]'" return="pairid"}
                                                    {if !empty($pairid)}
                                                        <div class="course-match">配對中</div>
                                                    {/if}
                                                {/pc}
                                            {elseif ($v[role_verify]=="0")}
                                                {pc:get sql="select pair_id from v9_pair where pair_tutor_tranid='$v[tm_tutorid]'" return="pairid"}
                                                    {if !empty($pairid)}
                                                        <div class="course-match">配對中</div>
                                                    {/if}
                                                {/pc}
                                            {/if} 
                                        </div>
                                    </div>
                                </div>
                               <?php }?>
                     
                            </div>
                            <?php }?>
                        </div>
                
                        <div class="panel-grid entery-content">
                            <div class="adv-img">
                            
                                <script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=10"></script>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
  
        <div class="person-num">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="counter-box">
                            <div class="counter-num">
                                <?php echo $num1[0][count]+263?>
                            </div>
                            <div class="counter-dec">總導師人數</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="counter-box">
                            <div class="counter-num">
                                <?php echo $num2[0][count]+572?>
                            </div>
                            <div class="counter-dec">總家長人數</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="counter-box">
                            <div class="counter-num">
                               <?php echo $sum?>
                            </div>
                            <div class="counter-dec">總配對次數</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="counter-box noborder">
                            <div class="counter-num">
                               <?php echo $num4[0][count]+6?>
                            </div>
                            <div class="counter-dec">今日配對人數</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="entery-content">
      
                        <div class="panel-grid">
                            <div class="sc-widget-panel">
                                <h3 class="title">
                                    最新消息
                                </h3>
                                <span class="line"></span>
                            </div>
                            {pc:get sql="SELECT * from v9_news order by inputtime desc limit 0,2--" cache="3600" return="data"}
                            <div class="list-event">
                            
                                {loop $data $k $v}
                                <div class="item-event">
                                    <div class="time-form">
                                        <div class="date">
                                        {intval(explode("-",date('Y-m-d H:i:s',$v[inputtime]))[2])}</div>
                                        <div class="month">{Month_E(explode("-",date('Y-m-d H:i:s',$v[inputtime]))[1])}</div>
                                    </div>
                                    <div class="image"> 
                                        <img src="{$v[thumb]}" alt="" onerror="javascript:this.src='{IMG_PATH}add_image/default_article.jpg';">
                                    </div>
                                    <div class="event-content">
                                        <h5 class="title"><a href="{$v[url]}">{$v[title]}</a></h5>
                                        <p class="sub-title"></p>
                                        <div class="desc"><p>{$v[description]}</p></div>
                                    </div>
                                </div>
                                {/loop}
                        
                            </div>
                            {/pc}
                            <div class="item-event">
                                <p style="border: 2px solid #fbca21;width:105px;margin:20px auto 0 auto;padding:10px;">
                                    <a style="margin: 6px 12px;" href="index.php?m=content&c=index&a=lists&catid=3">查看更多</a>
                                </p>
                            </div>
                        </div>
                        <!--咨询订阅-->
                        <div class="panel-grid newlleter-grid clearfix">
                            <div class="newlleter-tutorseek col-md-8">
                                <div class="newlleter-info">
                                    <div class="newlleter-title">訂閱資訊</div>
                                    <div class="sub-newlleter-title">跟蹤TutorSeeking訂閱你最新的資訊，一切方便，快捷，簡單</div>
                                </div>
                                <form action="{APP_PATH}index.php?m=content&c=index&a=subscribe" class="newlleter-form" method="post">
                                    <div class="form-newlleter">
                                        <input type="text" class="newlleter-email" placeholder="您的電郵" name='newlleter-email' required pattern="^(\w)+(\.\w+)*@(\w)+((\.\w{2,3}){1,3})$">
                                        <button class="newlleter-submit" type='submit'>訂閱</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <div class="foot-share-block">
                                    <div class="fs-box">
                                        <div class="fs-title"><a href="https://www.facebook.com/TutorSeeking/" target="_blank" class="fb_href">Facebook</a></div>
                                        <div class="fs-content">
                                          
                                            <div class="fb-like" data-href="https://www.facebook.com/TutorSeeking/" data-width="280px" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
                                        </div>
                                    </div>
                                    <div class="fs-ig">
                                        <a href="https://www.instagram.com/tutorseeking/" class="ig_href_contact" target="_blank"><img src="{APP_PATH}statics/images/ig.png" width="48" height="48"></a>
                                        instagram
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/bootstrap.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
    <script src="https://vjs.zencdn.net/6.2.8/video.js"></script>
    <script language='javascript' src='{JS_PATH}add/newPopup.js' charset="UTF-8"></script>  
    <script type="text/javascript">
       
        if(parseInt($(window).width()) > 768 && parseInt($(window).width()) < 1024){    //ipad版
            <?php if(isset($ip_src)){?>
                window.onload=ShowHtmlString('<?php echo $ip_src?>');
            <?php }?>
        }else if(parseInt($(window).width()) < 768){        //手機版
            <?php if(isset($ph_src)){?>
                window.onload=ShowHtmlString('<?php echo $ph_src?>');
            <?php }?>
        }else{          //電腦版
            <?php if(isset($com_src)){?>
                window.onload=ShowHtmlString('<?php echo $com_src?>');
            <?php }?>
        }

        function ShowHtmlString(src) //显示html 
        { 
            var strHtml = "<img src='"+src+"'>"; 
            var pop=new Popup({ contentType:2,isReloadOnClose:false,isHaveTitle:false,width:350,height:300}); 
            pop.setContent("contentHtml",strHtml); 
            pop.setContent("title","字符串示例html"); 
            pop.build(); 
            pop.show(); 
        }




        $("#myCarousel").carousel('cycle');
        $(".veiw-all").find("a").mouseover(function(){
            $(".veiw-all").css("border","2px solid #fbca21");
        });
        $(".veiw-all").find("a").mouseout(function(){
             $(".veiw-all").css("border","2px solid #333");
        });
        $(".carousel-indicators li:last").css('display','none');


        $('.item').eq(0).addClass('active');

        $('.login-tab-item').eq(0).addClass('active');
        $('.tab-panel-item').eq(0).show();
 
        $('.login-tab-item').click(function () {
            var index = $(this).index();
            $(this).addClass('active').siblings().removeClass('active');
            var panel = $(this).parent().siblings('.login-tab-panel').find('.tab-panel-item');
            panel.eq(index).show().siblings().hide();
        });
  
        $('.login-btn').click(function () {
            data=$('.login-tab .active').attr('data');
            var flag = $(this).formConfirm();
    
            if(flag){
                if(data=='0'){
                   var dataInfo=$('.teacherform').serialize();
                   var area='teacher';
                   var con='tutor_index';
                }else if(data=='1'){
                   var dataInfo=$('.studentform').serialize();
                   var area='student';
                   var con='index';
                }
                $.ajax({
                    url:'{APP_PATH}index.php?m=content&c=index&a=log',
                    type:"post",
                    data:dataInfo,
                    dataType:"html",
                    success: function(data){
                        if(data=='0'){
                            history.go(0) ;
                        }else if(data=='1'){                                                
                            if(confirm("您的帳號積分可兌換禮品，是否兌換？")){
                                window.location.href="/index.php?m=person&c="+con+"&a=init";
                            }else{
                               history.go(0) ; 
                            } 
                        }else{
                            $('.'+area+'').html(data);   
                        }       
                    }
                }); 
            }
        });

        
    </script>
</body>
</html>