{template "content","header_new"}
    <style>
     
        .adv-img{
            margin: 30px 0;
        }
        .entry-content{
            padding: 0 15px;
            margin-top: 30px;
        }
        .pagination{
            
        }
        .pagination .page-numbers li{
            display: inline-block;
            margin-right: 6px;
        }
        .page-numbers li a{
            width: 40px;
            height: 40px;
            border: 1px solid #aaa;
            line-height: 38px;
            display: inline-block;
            color: #333;
            font-size: 13px;
            font-weight: 700;
            text-align: center;
            overflow: hidden;
        }
        .page-numbers li .current,.page-numbers li a:hover{
            border-color: #fbca21;
            background-color: #fbca21;
        }
        .page-numbers.prev,.page-numbers.next{
            white-space: nowrap;
            overflow: hidden;
            font-size: 0;
        }
        .page-numbers.prev,.page-numbers.next{
            content: "";
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: 400;
            line-height: 38px;
            font-size: 15px;
        }
        .page-numbers.prev{
            content: "\f104";
        }
        .page-numbers.next{
            content: "\f105";
        }
    </style>
        {pc:get sql="select banner from v9_category where catid=$catid order by listorder desc" cache='3600' return="data"}
        {loop $data $v}
        <div class="top-tutor-main" style="background-image:url({$v[banner]})">
        {/loop}
        {/pc}
            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">資訊分享</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                	<div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>資訊分享</span></li>
                        </ul>
                        <div class="info-search">
                            <span>搜尋</span>
                            <div class="info-group">
                                <form action="{APP_PATH}index.php?m=content&c=index&a=search&catid=3" method='post'>
                                <input type="text" name='keyword' class="info-input" required="required" value="<?php echo $keyword;?>"><!-- <i class="fa fa-search"></i> --><button type="submit" class="fa fa-search" style="width:26px; height:26px;"></button>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="entry-content">
                    	<div class="adv-img">
	                    	<div class="sc-widget-panel">
	                            <h3 class="title"> 最新推廣</h3>
	                            <span class="line"></span>
	                        </div>
                            <script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=11"></script>
	          
	                    </div>
                        <div class="sc-widget-panel">
                            <h3 class="title">
                               最新消息
                            </h3>
                            <span class="line"></span>
                        </div>
                        <div class="list-event">
         
                            <?php foreach($newslist as $v){?>
                            <div class="item-event">
                                <div class="time-form">
                                    <div class="date"><?php echo intval(explode("-",date('Y-m-d H:i:s',$v[inputtime]))[2])?></div>
                                    <div class="month"><?php echo Month_E(explode("-",date('Y-m-d H:i:s',$v[inputtime]))[1])?></div>
                                </div>
                                <div class="image">
                                    <img src="<?php echo $v[thumb]?>" alt="" onerror="javascript:this.src='{IMG_PATH}add_image/default_article.jpg';">
                                </div>
                                <div class="event-content">
                                    <h5 class="title"><a href="<?php echo $v[url];?>"><?php echo $v[title];?></a></h5>
                                    <p class="sub-title"></p>
                                    <div class="desc"><p><?php echo $v[description];?></p></div>
                                </div>
                            </div>
                            <?php }?>
                    
                        </div> 
                       
                        <div class="pagination">  
							<ul class="page-numbers">
                                <?php echo $wz_pages;?>
							</ul>
						</div>
                    </div>
                </div>
            </div>
        </div>
{template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
</body>
</html>