{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/index.css">
    <style>
  
        .entry-content{
            margin: 50px 0;
        }
        .parent-img{
            margin-bottom: 20px;
            text-align: center;
        }
        .parent-img img{
            width: auto;
            height: auto;
            max-width: 100%;
        }
        .pagination{
           display: block;
           text-align: right;
        }
        .page-numbers a{
            border: 1px solid #aaa;
            line-height: 38px;
            padding: 10px;
            text-align: center;
        }
        .page-numbers span{
            border: 1px solid #aaa;
            line-height: 38px;
            padding: 10px;
            text-align: center;
            background-color: rgb(251, 202, 33); 
        }
        .filter_part{
            margin: 30px 0;
            padding: 0 15px;
        }
        .filter-list{
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
        }
        .filter-list .filter-item{
            flex: 1;
            min-width: 100px;
            margin-bottom: 10px;
            margin-right: 5px;
        }
        .filter-list .filter-item:last-child{
            margin-right: 0;
        }
        .filter-item  .filter-btn{
            background: #fbca21;
            color: #fff;
            border: none;
            max-width: 200px;
            margin: 0 auto;
        }
  
        .rating{
   
            width: 50%;
            margin-bottom: 10px;
            z-index: 12;
            float: left;
        }
        .course-three{margin-top: -8px;}
        .star-rating {
            float: none;
            margin: auto !important;
            font-size: 13px;
            width: 6.75em;
            height: 1em;
            line-height: 1;
            letter-spacing: 5px;
            overflow: hidden;
            position: relative;
            font-family: 'FontAwesome';
        }
        .star-rating:before {
            content: "\f005\f005\f005\f005\f005";
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            color: #efefef;
        }
        .star-rating .star-show{
            overflow: hidden;
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            padding-top: 1.5em;
            color: #fbca21;
        }
        .star-rating .star-show:before {
            content: "\f005\f005\f005\f005\f005";
            top: 0;
            left: 0;
            position: absolute;
            color: #fbca21;
        }

.course-file-item dt.class_time{
            color: #E6E6E6;
            padding-left: 5px;
        }
    </style> 
        {php $catid=$_GET['catid']}
        {pc:get sql="select banner from v9_category where catid=$catid order by listorder desc limit 1--" cache='3600' return="data"}
        {loop $data $v}
        <div class="top-tutor-main" style="background-image:url({$v[banner]})">
        {/loop}
        {/pc}          

            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">配對中心</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>配對中心</span></li>
                        </ul>
                    </div>
                    <?php if($PageType != 1){?>
                      <div class="filter_part">
                         <form action="index.php?m=content&c=index&a=morecase&catid={$_GET['catid']}" method="post" class="filter_form">
                             <div class="filter-list">
                              <div class="filter-item">
                                     <input type="text" name="personid" value="{$ScreeningData['personid']}" placeholder="學生/導師編號" class="form-control">
                                 </div>
                                  <div class="filter-item">
                                  <?php $classlang = array('廣東話','普通話','英語','其他語言')?>
                                     <select  id="like_collage" class="form-control require"  data-info="授課語言" name="classlang">
                                         <option value="">授課語言</option>
                                          <?php foreach ($classlang as $key => $value) {?>
                                         <option value="{$value}" {if $value == $ScreeningData['classlang'] }selected{/if}>{$value}</option>
                                         <?php }?>
                                       
                                     </select>
                                 </div>
                                 <div class="filter-item">
                                     <select  id="type" class="form-control require"  data-info="補習類別" name="typeid" class="form-control">
                                        <option value=""  selected="selected">補習類別</option>
                                        {pc:get sql="SELECT * FROM v9_sys_tutor_type where tt_level=1 order by tt_seq ASC--" return="data1" }
                                        {loop $data1 $k1 $r1}
                                            {pc:get sql="SELECT * FROM v9_sys_tutor_type where tt_level=2 and tt_parentid=$r1[tt_id] order by tt_seq ASC--" return="datas" }
                                                {if !empty($datas)}
                                              <option value="{$r1[tt_id]}" {if $r1[tt_id] == $ScreeningData['type']}selected{/if}>{$r1[tt_name]}</option>
                                                {/if}
                                            {/pc}
                                         {/loop}
                                         {/pc}
                                     </select>
                                 </div>
                                 <div class="filter-item" id="subjectDiv" style="display:none;">
                                     <select  id="subject" class="form-control require"  data-info="補習項目" name="subid" class="form-control">
                                         <option value="" >補習項目</option>
                                     </select>
                                 </div>
                                 <div class="filter-item" id="gradeDiv" style="display:none;">
                                     <select  id="grade" class="form-control require"  data-info="補習級別" name="gradeid" class="form-control">
                                         <option value="" >補習級別</option>
                                     </select>
                                 </div>



                                 <div class="filter-item">
                                     <select  id="education" class="form-control require"  data-info="導師最低學歷" name="eduid" class="form-control">
                                         <option value="">要求導師最低學歷</option>
                                         {pc:get sql="SELECT * FROM v9_grade" return="data_grade" }
                                         {loop $data_grade $r_grade}
                                         <option value="{$r_grade[grade_id]}" {if $r_grade[grade_id] == $ScreeningData['miniEduLevel']}selected{/if}>{$r_grade[grade_name]}</option>
                                         {/loop}
                                         {/pc}
                                     </select>
                                 </div>
                             </div>
                             <div class="filter-list">
                                {if $session_role=="1"}
                               <div class="filter-item">
                                <input type="text" name="tutor_hschool2" value="{$ScreeningData['tutor_hschool2']}" placeholder="導師所讀的中學" class="form-control">
                                </div> 
                                <div class="filter-item">
                                     <select  id="teachstar" class="form-control require"  data-info="導師星級" name="teachstar" class="form-control">
                                         <option value="">導師星級</option>
                                         <option value="20" {if $ScreeningData['teachstar'] == '20'}selected{/if}>一星級</option>
                                         <option value="40" {if $ScreeningData['teachstar'] == '40'}selected{/if}>二星級</option>
                                         <option value="60" {if $ScreeningData['teachstar'] == '60'}selected{/if}>三星級</option>
                                         <option value="80" {if $ScreeningData['teachstar'] == '80'}selected{/if}>四星級</option>
                                         <option value="100" {if $ScreeningData['teachstar'] == '100'}selected{/if}>五星級</option>
                                     </select>
                                 </div>
                                 {/if}
                                  <div class="filter-item">
                                    {pc:get sql="SELECT loc_name,loc_id FROM v9_sys_location where loc_level=2 order by loc_seq ASC--" return="location" }            
                                    <select  id="area" class="form-control require"  data-info="授課地區" name="place" class="form-control">
                                        <option value="">授課地區</option>
                                        {loop $location $loc}
                                        <optgroup label="{$loc[loc_name]}" data="" class="area-item{$loc[loc_id]}">
                                        <?php $loc_id=$loc[loc_id]?>
                                        {pc:get sql="SELECT loc_name,loc_id FROM v9_sys_location where loc_level=3 and loc_parentid=$loc_id order by loc_seq ASC--" return="place" }
                                        <?php if(empty($place)){
                                                echo "<script>
                                                    $('.area-item".$loc_id."').css('display','none');
                                                    </script>";
                                            }?>
                                        {loop $place $p}
                                            <option value="{$p[loc_id]}" {if $p[loc_id] == $ScreeningData['place']}selected{/if}>{$p[loc_name]}</option>
                                        {/loop}
                                        {/pc}    
                                        </optgroup>
                                        {/loop}
                                    </select>   
                                    {/pc} 
                                 </div>

                                 <div class="filter-item">
                                     <select  id="sex" class="form-control require"  data-info="要求導師性別" name="sexid">
                                         <option value="">要求導師性別</option>
                                         <option value="M" {if $ScreeningData['gender'] == 'M'}selected{/if}>男</option>
                                         <option value="F" {if $ScreeningData['gender'] == 'F'}selected{/if}>女</option>
                                     </select>
                                 </div>
                                 <div class="filter-item">
                                     <input type="text" name="fee" value="{$ScreeningData['hourlyfee']}" placeholder="學費每小時" class="form-control">
                                 </div>
                                  <div class="filter-item">
                                     <select  id="weekday" class="form-control require"  data-info="上課時間" name="weeknum" class="form-control">
                                         <option value="">上課時間</option>
                                         <option value="0" {if $ScreeningData['weeknum'] == '0'}selected{/if}>星期一</option>
                                         <option value="1" {if $ScreeningData['weeknum'] == '1'}selected{/if}>星期二</option>
                                         <option value="2" {if $ScreeningData['weeknum'] == '2'}selected{/if}>星期三</option>
                                         <option value="3" {if $ScreeningData['weeknum'] == '3'}selected{/if}>星期四</option>
                                         <option value="4" {if $ScreeningData['weeknum'] == '4'}selected{/if}>星期五</option>
                                         <option value="5" {if $ScreeningData['weeknum'] == '5'}selected{/if}>星期六</option>
                                         <option value="6" {if $ScreeningData['weeknum'] == '6'}selected{/if}>星期日</option>
                                     </select>
                                 </div>
                                 <div class="filter-item">
                                     <input type="button" value="提交搜索" class="form-control filter-btn">
                                 </div>
                             </div>
                          </form>
                          <script>
                              $('.filter-btn').click(function(){
                                var data = $(".filter_form").serialize();
                                window.location.href = './index.php?m=content&c=index&a=morecase&catid={$_GET["catid"]}&'+data;
                              });
                          </script>
                      </div>
                    <?php }?>
                    <div style="overflow:hidden;" >
                    <?php $case=$caselist['data'];?>
                    <?php foreach($case as $v){?>
                      <?php if($PageType == 1){?>
                      <div style="margin-top:40px;overflow:hidden;" >
                      <?php }?>

                    <div class="col-md-3 col-sm-6 course-col  <?php if($PageType == 1){?>col-md-offset-4<?php }?>">

                        <?php if($PageType == 1){?>
                          <h1 style="<?php if($isShow == 1){echo 'font-size:25px;';}else{echo 'font-size:20px;';}?> text-align: center;color:#fbca21;">  <?php echo $til;?></h1>
                        <?php }?>
                           
                                <div class="course-item">
                                    
                                    <?php if($isShow == 1){ //判斷是否顯示個案?>
                                    <div class="course-head"></div>
                                   <div class="course-content student-content">
                                    <div class="course-person">
                                        <img src="{$v[userimage]}" onerror="javascript:this.src='{IMG_PATH}add_person/noimg.jpg';" alt="">
                                        <p class="course-contain"><?php $v[role_verify]=="1"?print "學生【".$v[personid]."】":print "導師【".$v[personid]."】"?></p>
                                    </div>
                                 
                                    <div class="course-file">
                                        <dl class="course-file-item">
                                            <dd>個案編號</dd>
                                            <dt><?php $v[role_verify]=="1"?print $v[st_id]:print $v['tm_tutorid']?></dt>
                                        </dl>
                                        <dl class="course-file-item">   
                                        <?php if($v[role_verify]=="0"){
                                        pc_base::load_app_class('helpcommon' ,'pair');
                                        $helpcommon=new helpcommon();
                                        $place=$helpcommon->create_location($v[tsl_locid]);
                                        if(strpos($place,',') !== false){
                                            $place=substr($place,0,strpos($place,','))."...";
                                        }
                                        ?>
                                            <dd>授課地區</dd>
                                            <dt>{$place}</dt> 
                                        <?php }else{?>
                                            <dd>上課地區</dd>
                                            <dt>{$v[loc_name]}</dt>
                                        <?php }?>
                                        </dl>
                                        <dl class="course-file-item">
                                            <dd>科目</dd>
                                            <?php 
                                            if($v[role_verify]=="0"){
                                                $helpcommon=new helpcommon();
                                                $subject=$helpcommon->create_subject($v[tstt_ttid_2]);
                                                if(strpos($subject,',') !== false){
                                                    $subject=substr($subject,0,strpos($subject,','))."...";
                                                }
                                            ?>
                                            <dt>{$subject}</dt>
                                            <?php }else{?>
                                                <dt>{$v[tt_name]}</dt>
                                            <?php }?>
                                            
                                        </dl>
                                        <dl class="course-file-item">
                                            <?php if($v[role_verify]=="1"){?>
                                                <dd>學生人數</dd>
                                                <dt>{$v[st_num_join]}</dt>
                                            <?php }else{?>
                                                <dd>主要教學語言</dd>
                                                <dt>{$v[tutor_main_lang]}</dt>
                                            <?php }?>
                                        </dl>
                                        <dl class="course-file-item">
                                                <?php $weeknums = array(6=> "S",0=> "M",1=> "T",2=> "W",3=> "T",4=> "F",5=> "S");?>
                                                <?php if($v[role_verify]=="1"){?>
                                                    <dd>要求上課日期</dd>
                                                    <dt class="class_time">
                                                    <?php if($v[sst_weekday]==""){
                                                        foreach($weeknums as $num){?>
                                                        <span>{$num}</span>
                                                    <?php }
                                                        }else{
                                                        $week=explode(",",$v[sst_weekday]);
                                                        foreach($weeknums as $k=>$num){?>
                                                            <span <?php if(strpos($v[sst_weekday],strval($k)) !== false ){?>
                                                                style="color: black;"
                                                            <?php }?>>
                                                            <?php print $num;?>
                                                            </span>
                                                        <?php  }
                                                        }?></dt>
                                                <?php }else{?>
                                                    <dd>可教授日期</dd>
                                                    <dt class="class_time">
                                                    <?php if($v[tst_weekday]==""){
                                                        foreach($weeknums as $num){?>
                                                        <span>{$num}</span>
                                                    <?php }
                                                        }else{
                                                        $week=explode(",",$v[tst_weekday]);
                                                        foreach($weeknums as $k=>$num){?>
                                                            <span <?php if(strpos($v[tst_weekday],strval($k)) !== false ){?>
                                                                style="color: black;"
                                                            <?php }?>>
                                                            <?php print $num;?>
                                                            </span>
                                                        <?php  }
                                                        }?></dt>
                                                <?php }?>
                                            </dl>
                                    </div>
                                    <div class="course-dec">
                                        <?php if($v[role_verify]=="1"){ ?>
                                        <a href="{APP_PATH}index.php?m=tparents&c=index&a=stu_detail&stuid={$v[userid]}&tran_id={$v[st_id]}">查看詳情</a>
                                        <?php }else{ ?>
                                        <a href="{APP_PATH}index.php?m=teachers&c=index&a=tutor_detail&userid={$v[userid]}&tutor_id={$v[tm_tutorid]}">查看詳情</a>
                                        <?php }?>
                                    </div>
                                    <div class="course-meta">
                                        <?php 
                                            pc_base::load_app_class('tutor' ,'pair');
                                            $tutor=new tutor();
                                            if($v[role_verify]=="1"){
                                                $star=$tutor->return_star($v[st_studentid],$v[role_verify]);
                                            }elseif($v[role_verify]=="0"){
                                                $star=$tutor->return_star($v[master_id],$v[role_verify]);   
                                            }
                                        ?>
                                        <div class="rating">
                                            <div class="star-rating">
                                                <span class="star-show" style="width:<?php echo $star;?>%"></span>
                                            </div>
                                        </div>
                                                <div class="course-three">$<?php $v[role_verify]=="1"?print $v[st_tutor_fee]:print $v[tstt_fee]?></div>   
                                                </div>
                                                
                                                {if ($v[role_verify]=="1")}
                                                {pc:get sql="select pair_id from v9_pair where pair_student_tranid='$v[st_id]'" return="pairid"}
                                                    {if !empty($pairid)}
                                                        <div class="course-match">配對中</div>
                                                    {/if}
                                                {/pc}
                                            {elseif ($v[role_verify]=="0")}
                                                {pc:get sql="select pair_id from v9_pair where pair_tutor_tranid='$v[tm_tutorid]'" return="pairid"}
                                                    {if !empty($pairid)}
                                                        <div class="course-match">配對中</div>
                                                    {/if}
                                                {/pc}
                                            {/if}                                    
                                </div>
                           <?php }?>
                      <?php if($PageType == 1){?>
                              <br >
                          <a href="javascript:void(0);" id="bottom" type="<?php echo $usetType;?>" style="text-align:center;padding:10px;">點擊<?php echo $bottomName;?></a>

                          <script type="text/javascript">
                                $("#bottom").click(function(){
                                    var type = $("#bottom").attr('type');
                                    $.post('index.php?m=content&c=index&a=set_uert_type',{type:type},function(data){
                                        window.location.href = "{APP_PATH}index.php?m=content&c=index&a=morecase";
                                        // console.log(data);
                                    })
                                })
                          </script>

                      </div>
                    <?php }?>
                        </div>
                    
                    </div>

                    <?php }?>
                    </div>
                    <div class="pagination">  
                        <ul class="page-numbers">
                            <?php echo $caselist['page_link'];?>
                        </ul>
                    </div>                 
                </div>
            </div>
        </div>
        <!--底部-->
        {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
    <script type="text/javascript">
        $("#type").change( function(){
           var v = $("#type").val();
           if(v == 0){
             
                $("#subject").html(' ');
                 $("#subject").append('<option value="" selected="selected">補習項目</option>');
                $("#grade").html(' ');
                 $("#grade").append('<option value="" selected="selected">補習級別</option>');
                return false;

           }
            $.post('./index.php?m=teachers&c=index&a=TchItem_change',{tt_id:v},function(data){
                $("#subjectDiv").show();
                $("#subject").html(' ');
                $("#grade").html(' ');
                $("#subject").append('<option value="" selected="selected">補習項目</option>');
                if(data.length!==0){
                    for(i in data){
                    var course_option="<option value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;   
                    $("#subject").append(course_option);
                    }
                }
            },'json');
            return false;
            
        });
        $("#subject").change(function(){
            var v = $("#subject").val();

            if(v == 0){
              
   
           
                $("#grade").html(' ');
                 $("#grade").append('<option value="" selected="selected">補習級別</option>');
                return false;

           }

            $.post('./index.php?m=tparents&c=index&a=stu_reg',{tt_id:v},function(data){
                $("#gradeDiv").show();
                $("#grade").html(' ');
                $("#grade").append('<option value="" selected="selected">補習級別</option>');
                if(data.length!==0){
                    for(i in data){
                    var course_option="<option value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;   
                    $("#grade").append(course_option);
                    }
                }
            },'json');
        return false;
        }); 


     
        var type = <?php echo !empty($ScreeningData['type'])?$ScreeningData['type']:0?>;
        var item = <?php echo !empty($ScreeningData['item'])?$ScreeningData['item']:0?>;
        var level = <?php echo !empty($ScreeningData['level'])?$ScreeningData['level']:0?>;                                
        if(type != '0'){
            showSubjectDiv(type,item);
        }
        if(item != '0'){
            showGradeDiv(item,level)
        }

            function showSubjectDiv(v,listV){
                listV = listV || '';
                console.log(v);
                $.post('./index.php?m=teachers&c=index&a=TchItem_change',{tt_id:v},function(data){

                    $("#subjectDiv").show();
                    $("#subject").html(' ');
                    $("#subject").append('<option value="" selected="selected">補習項目</option>');
                    if(data.length!==0){
                        for(i in data){

                            if(listV == data[i].tt_id){
                                var course_option="<option value='"+data[i].tt_id+"' selected>"+data[i].tt_name+"</option>" ;
                            }else{
                                var course_option="<option value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;
                            }
                           
                        $("#subject").append(course_option);
                        }
                    }
                },'json');
            }


            function showGradeDiv(v,listV){
                listV = listV || '';
                $.post('./index.php?m=tparents&c=index&a=stu_reg',{tt_id:v},function(data){
                    $("#gradeDiv").show();
                    $("#grade").html(' ');
                    $("#grade").append('<option value="" selected="selected">補習級別</option>');
                    if(data.length!==0){
                        for(i in data){
                         if(listV == data[i].tt_id){
                                var course_option="<option value='"+data[i].tt_id+"' selected>"+data[i].tt_name+"</option>" ;
                            }else{
                                var course_option="<option value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;
                            }
                           
                        $("#grade").append(course_option);
                        }
                    }
                },'json');
            }
    </script>
</body>
</html>