{template "content","header_new"}

    <style>
   
        .mtb4 {
            margin: 40px 0;
            overflow: hidden;
        }
        .entry-content{
            margin: 50px 0;
        }
        .parent-img{
            margin-bottom: 20px;
            text-align: center;
        }
        .parent-img img{
            width: auto;
            height: auto;
            max-width: 100%;
        }
        @media (min-width: 768px) {
            .img-group .col-sm-3 {
                display: table-cell;
                vertical-align: middle;
                float: none
            }
        }
        
    </style>
        {php $catid=$catid}
        {pc:get sql="select banner from v9_category where catid=$catid order by listorder desc" cache='3600' return="data"}
        {loop $data $v}
        <div class="top-tutor-main" style="background-image:url({$v[banner]})">
        {/loop}
        {/pc}
            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">{$title}</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>{$title}</span></li>
                        </ul>
                    </div>
                    <div class="mtb4">
                        {$content} 
                    </div>
                                     
                </div>
            </div>
        </div>
        <!--底部-->
        {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
    <script src="{JS_PATH}add/bootstrap.min.js"></script>
</body>
</html>