{template "content","header_new"}
<script src="http://www.tutorseeking.com/statics/js/add/bootstrap.min.js"></script>
<link rel="stylesheet" href="{CSS_PATH}add/index.css">
    <style>
        .entry-content{
            margin: 50px 0;
        }
        .parent-img{
            margin-bottom: 20px;
            text-align: center;
        }
        .parent-img img{
            width: auto;
            height: auto;
            max-width: 100%;
        }

        .filter_part{
            margin: 30px 0;
            padding: 0 15px;
        }
        .filter-list{
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
        }
        .filter-list .filter-item{
            flex: 1;
            min-width: 100px;
            margin-bottom: 10px;
            margin-right: 5px;
        }
        .filter-list .filter-item:last-child{
            margin-right: 0;
        }
        .filter-item  .filter-btn{
            background: #e39916;
            color: #fff;
            border: none;
            max-width: 200px;
            margin: 0 auto;
        }


        .course-file-item dt.class_time{
            color: #E6E6E6;
            padding-left: 5px;
        }
 
        .BMapLib_SearchInfoWindow .BMapLib_trans{
            width: auto;
            top: 0px;
        }
        .BMapLib_SearchInfoWindow .BMapLib_nav{
            display: none;
        }

        .BMap_Marker img{
            width: auto;
        }
        .BMapLib_sendToPhone{
            display: none;
        }
        .course-file-item dd, .course-file-item dt{
            padding: 3px 5px;
        }
    </style>
        {php $catid=$catid}
        {pc:get sql="select banner from v9_category where catid=$catid order by listorder desc" cache='3600' return="data"}
        {loop $data $v}
        <div class="top-tutor-main" style="background-image:url({$v[banner]})">
        {/loop}
        {/pc}
            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">{$title}</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>{$title}</span></li>
                        </ul>
                    </div>
                    <div class="filter_part">
                         <form method="/index.php?m=content&c=index&a=map" class="filter_form">
                             <div class="filter-list">
                              <div class="filter-item">
                                     <input type="text" name="personid" value="{$ScreeningData['personid']}" placeholder="學生/導師編號" class="form-control">
                                 </div>
                                  <div class="filter-item">
                                  <?php $classlang = array('廣東話','普通話','英語','其他語言')?>
                                     <select  id="like_collage" class="form-control require"  data-info="心儀大學" name="classlang">
                                         <option value="">授課語言</option>
                                          <?php foreach ($classlang as $key => $value) {?>
                                         <option value="{$value}" {if $value == $ScreeningData['classlang'] }selected{/if}>{$value}</option>
                                         <?php }?>
                                       
                                     </select>
                                 </div>
                                 <div class="filter-item">
                                     <select  id="type" class="form-control require"  data-info="補習類別" name="typeid" class="form-control">
                                         <option value="">補習類別</option>
                                         {pc:get sql="SELECT * FROM v9_sys_tutor_type where tt_level=1--" return="data1" }
                                         {loop $data1 $r1}
                                              <option value="{$r1[tt_id]}" {if $r1[tt_id] == $ScreeningData['type']}selected{/if}>{$r1[tt_name]}</option>
                                         {/loop}
                                         {/pc}
                                     </select>
                                 </div>
                                 <div class="filter-item" id="subjectDiv" style="display:none;">
                                     <select  id="subject" class="form-control require"  data-info="補習項目" name="subid" class="form-control">
                                         <option value="">補習項目</option>
                                     </select>
                                 </div>
                                 <div class="filter-item" id="gradeDiv" style="display:none;">
                                     <select  id="grade" class="form-control require"  data-info="補習級別" name="gradeid" class="form-control">
                                         <option value="">補習級別</option>
                                     </select>
                                 </div>

                                 <div class="filter-item">
                                     <select  id="education" class="form-control require"  data-info="導師最低學歷" name="eduid" class="form-control">
                                         <option value="">要求導師最低學歷</option>
                                         {pc:get sql="SELECT * FROM v9_grade" return="data_grade" }
                                         {loop $data_grade $r_grade}
                                         <option value="{$r_grade[grade_id]}" {if $r_grade[grade_id] == $ScreeningData['miniEduLevel']}selected{/if}>{$r_grade[grade_name]}</option>
                                         {/loop}
                                         {/pc}
                                     </select>
                                 </div>
                             </div>
                             <div class="filter-list">
                                {if $session_role=="1"}
                               <div class="filter-item">
                                <input type="text" name="tutor_hschool2" value="{$ScreeningData['tutor_hschool2']}" placeholder="導師所讀的中學" class="form-control">
                                 </div> 
                                 {/if}
                                  <div class="filter-item">
                                    {pc:get sql="SELECT loc_name,loc_id FROM v9_sys_location where loc_level=2" return="location" }            
                                    <select  id="area" class="form-control require"  data-info="授課地區" name="place" class="form-control">
                                        <option value="" disabled="disabled">授課地區</option>
                                        {loop $location $loc}
                                        <optgroup label="{$loc[loc_name]}" class="area-item{$loc[loc_id]}">
                                        <?php $loc_id=$loc[loc_id]?>
                                        {pc:get sql="SELECT loc_name,loc_id FROM v9_sys_location where loc_level=3 and loc_parentid=$loc_id" return="place" }
                                        <?php if(empty($place)){
                                               echo "<script>
                                                    $('.area-item".$loc_id."').css('display','none');
                                                    </script>";
                                            }?>
                                        {loop $place $p}
                                            <option value="{$p[loc_id]}" {if $p[loc_id] == $ScreeningData['place']}selected{/if}>{$p[loc_name]}</option>
                                        {/loop}
                                        {/pc}    
                                        </optgroup>
                                        {/loop}
                                    </select>   
                                    {/pc} 
                                 </div>

                                 <div class="filter-item">
                                     <select  id="sex" class="form-control require"  data-info="要求導師性別" name="sexid">
                                         <option value="">要求導師性別</option>
                                         <option value="M" {if $ScreeningData['gender'] == 'M'}selected{/if}>男</option>
                                         <option value="F" {if $ScreeningData['gender'] == 'F'}selected{/if}>女</option>
                                     </select>
                                 </div>
                                 <div class="filter-item">
                                     <input type="text" name="fee" value="{$ScreeningData['hourlyfee']}" placeholder="學費每小時" class="form-control">
                                 </div>
                                  <div class="filter-item">
                                     <select  id="weekday" class="form-control require"  data-info="上課時間" name="weeknum" class="form-control">
                                         <option value="">上課時間</option>
                                         <option value="0" {if $ScreeningData['weeknum'] == '0'}selected{/if}>星期一</option>
                                         <option value="1" {if $ScreeningData['weeknum'] == '1'}selected{/if}>星期二</option>
                                         <option value="2" {if $ScreeningData['weeknum'] == '2'}selected{/if}>星期三</option>
                                         <option value="3" {if $ScreeningData['weeknum'] == '3'}selected{/if}>星期四</option>
                                         <option value="4" {if $ScreeningData['weeknum'] == '4'}selected{/if}>星期五</option>
                                         <option value="5" {if $ScreeningData['weeknum'] == '5'}selected{/if}>星期六</option>
                                         <option value="6" {if $ScreeningData['weeknum'] == '6'}selected{/if}>星期日</option>
                                     </select>
                                 </div>
                                 <div class="filter-item">
                                     <input type="button" value="提交搜索" class="form-control filter-btn" onclick="tijiao();">
                                 </div>
                             </div>
                          </form>
                    </div>

<div id="allmap" style="width:90%;height:500px;margin: 50px 5%"></div>
<!--引入百度api-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=KmdZeOMk3vfHONeyPlDEe1YHKAYrGnmD"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/GeoUtils/1.5/src/GeoUtils_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
<script type="text/javascript">
    window.onload=function(){
        $('#area option').eq(1).attr("selected",'selected');
        tijiao();
    };

    var map = new BMap.Map("allmap");
    map.enableScrollWheelZoom();
    
    function tijiao(){
        var data = $(".filter_form").serialize();
    
        $.ajax({
            url:'./index.php?m=content&c=index&a=map',
            type:"post",
            data:data,
            dataType:"json",
            success: function(data){ 
                caselist=data.case;
                lng_lat=data.lng_lat;
                
                var strs= new Array(); 
                strs=lng_lat.split(",");
                map.clearOverlays();

                map.centerAndZoom(new BMap.Point(strs[0],strs[1]),14); 
                if(caselist!=null){
                    for(i in caselist){
                        var description="<div class='course-file'>"
                            +"<dl class='course-file-item'>"
                            +"<dd>個案編號</dd>" 
                            +"<dt>"+caselist[i].caseid+"</dt>"
                            +"</dl>"
                            +"<dl class='course-file-item'>"+caselist[i].place+"</dl>"
                            +"<dl class='course-file-item'>"+caselist[i].subject+"</dl>"
                            +"<dl class='course-file-item'>"+caselist[i].studentnum+"</dl>"
                            +"<dl class='course-file-item'>"+caselist[i].weeknum+"</dl>";      
                    var title = caselist[i].userid+'<a style="float:right;margin-top:-35px;margin-right:30px;" href="'+caselist[i].url+'">查看詳情</a>';
                    var content = '<div style="overflow:auto;margin:0;line-height:20px;padding:2px;height:400px;">' +
                    '<img src="'+caselist[i].userimage+'" alt="loading" style="float:right;zoom:1;overflow:hidden;width:100px;height:100px;margin-left:3px;"/>' +description+'</div>';
                    addOverlay(strs[0],strs[1],title,content);
                    }
                }       
            }
        });
    }      
    function addOverlay(x,y,title,content) {
        
                               
        var searchInfoWindow = null;
        searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
            title  :title,    
            width  : 350,         
            height : 205,          
            panel  : "panel",        
            enableAutoPan : true, 
            searchTypes   :[
                BMAPLIB_TAB_SEARCH, 
                BMAPLIB_TAB_TO_HERE, 
                BMAPLIB_TAB_FROM_HERE
            ]
        });
        var point = new BMap.Point(x, y);
        var marker = new BMap.Marker(point);
        marker.enableDragging();
        marker.addEventListener("click", function(e){
            searchInfoWindow.open(marker);
        })
        map.addOverlay(marker); 
    }

</script>             
                </div>
            </div>
        </div>
        <!--底部-->
        {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
    <script type="text/javascript">
        $("#type").change(function(){
            var v = $("#type").val();
            $.post('./index.php?m=tparents&c=index&a=stu_reg',{tt_id:v},function(data){
                $("#subjectDiv").show();
                $("#subject").html(' ');
                $("#subject").append('<option value="">補習項目</option>');
                if(data.length!==0){
                    for(i in data){
                    var course_option="<option value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;   
                    $("#subject").append(course_option);
                    }
                }
            },'json');
        return false;
        });
        $("#subject").change(function(){
            var v = $("#subject").val();
            $.post('./index.php?m=tparents&c=index&a=stu_reg',{tt_id:v},function(data){
                $("#gradeDiv").show();
                $("#grade").html(' ');
                $("#grade").append('<option value="">補習級別</option>');
                if(data.length!==0){
                    for(i in data){
                    var course_option="<option value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;   
                    $("#grade").append(course_option);
                    }
                }
            },'json');
        return false;
        }); 


      
        var type = <?php echo !empty($ScreeningData['type'])?$ScreeningData['type']:0?>;
        var item = <?php echo !empty($ScreeningData['item'])?$ScreeningData['item']:0?>;
        var level = <?php echo !empty($ScreeningData['level'])?$ScreeningData['level']:0?>;                                
        if(type != '0'){
            showSubjectDiv(type,item);
        }
        if(item != '0'){
            showGradeDiv(item,level)
        }
        
            function showSubjectDiv(v,listV = ''){
                console.log(v);
                $.post('./index.php?m=tparents&c=index&a=stu_reg',{tt_id:v},function(data){

                    $("#subjectDiv").show();
                    $("#subject").html(' ');
                    $("#subject").append('<option value="">補習項目</option>');
                    if(data.length!==0){
                        for(i in data){

                            if(listV == data[i].tt_id){
                                var course_option="<option value='"+data[i].tt_id+"' selected>"+data[i].tt_name+"</option>" ;
                            }else{
                                var course_option="<option value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;
                            }
                           
                        $("#subject").append(course_option);
                        }
                    }
                },'json');
            }


            function showGradeDiv(v,listV = ''){
                $.post('./index.php?m=tparents&c=index&a=stu_reg',{tt_id:v},function(data){
                    $("#gradeDiv").show();
                    $("#grade").html(' ');
                    $("#grade").append('<option value="">補習級別</option>');
                    if(data.length!==0){
                        for(i in data){
                         if(listV == data[i].tt_id){
                                var course_option="<option value='"+data[i].tt_id+"' selected>"+data[i].tt_name+"</option>" ;
                            }else{
                                var course_option="<option value='"+data[i].tt_id+"'>"+data[i].tt_name+"</option>" ;
                            }
                           
                        $("#grade").append(course_option);
                        }
                    }
                },'json');
            }
    </script>
</body>
</html>