{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/contact-us.css">
        {php $catid=$catid}
        {pc:get sql="select banner from v9_category where catid=$catid order by listorder desc" cache='3600' return="data"}
        {loop $data $v}
        <div class="top-tutor-main" style="background-image:url({$v[banner]})">
        {/loop}
        {/pc}
            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">{$title}</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>{$title}</span></li>
                        </ul>
                    </div>
                    <div class="entry-content">
                        <div class="col-sm-6">
                            {$content}
                            <div class="tutor-social">
                                <ul class="social-link">
                                    <li><a target="_blank" href="https://www.facebook.com/TutorSeeking/" class="fb_href"><span><i class="fa fa-facebook"></i></span></a></li>
                                    <!-- <li><a href=""><span><i class="fa fa-youtube"></i></span></a></li> -->
                                    <li><a target="_blank" href="https://www.instagram.com/tutorseeking/" class="ig_href_contact"><span><i class="fa fa-instagram"></i></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="sc-widget-panel">
                                <h3 class="title">
                                    發送訊息
                                </h3>
                                <p class="sub-heading">您的電郵地址不會公開發佈，已標記必填項目。</p>
                                <span class="line"></span>
                            </div>
                            <!--联络我们的表单-->
                            <form action="" class='cotform'>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control require" placeholder="姓名*" data-info="姓名" name='nickname'>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control require" placeholder="電話*" data-info="電話" data-type='tel' name='phone'>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control require" placeholder="電郵地址*" data-info="電郵地址" data-type='email' name='email'>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control require" placeholder="題目*" data-info="題目" name='title'>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type='hidden' name='content' class='content'>
                                            <textarea id="content" class="form-control require" placeholder="訊息*" cols="40" rows="8" data-info="訊息"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <input type='hidden' name='dosubmit' value='dosubmit'>
                                        <a class="form-submit">提交</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--订阅部分-->
        <div class="newlletter-contact">
            <div class="container">
                <div class="row">
                    <div class="contact-newlletter">
                        <div class="newlletter-title">
                            <h2>訂閱資訊</h2>
                        </div>
                        <form action="{APP_PATH}index.php?m=content&c=index&a=subscribe" class="newlleter-form" method="post">
                            <div class="form-newlleter">
                                <input type="text" class="newlleter-email" placeholder="您的電郵" data-type='email' name='newlleter-email' required="required" pattern="^(\w)+(\.\w+)*@(\w)+((\.\w{2,3}){1,3})$">
                                <button class="newlleter-submit" type="submit">訂閱</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
    <script>
    	//表单验证
        $('.form-submit').click(function () {
            var flag = $(this).formConfirm();//表單驗證正確的標誌
            //表单验证成功
            if(flag){
                $('.content').val($('#content').val());
                var dataInfo=$('.cotform').serialize();
                $.ajax({
                    url:"{APP_PATH}index.php?m=content&c=index&a=contact_us",
                    type:"post",
                    data:dataInfo,
                    dataType:"json",
                    success: function(data){    
                         if(data){
                             alert('提交成功，已收到您的寶貴意見');
                             $('.cotform input').val("");
                             $('.cotform textarea').val("");
                         }
                    },
                }); 
            }
        });

        // Fb、Ig打开APP 未安装则跳转链接
            // $('.fb_href').click(function() {

            //     if(navigator.userAgent.match(/(iPhone|iPod|iPad);?/i)) {
            //         var loadDateTime = new Date();
            //         window.setTimeout(function() {
            //             var timeOutDateTime = new Date();
            //             if(timeOutDateTime - loadDateTime < 5000) {
            //                 window.location = "https://www.facebook.com/TutorSeeking/";
            //             }else{
            //                 window.close();
            //             }
            //         },
            //     25);
            //     window.location = "fb:page/<span style='color:#ff0000;'>341983292945136</span>";
            //     }else if(navigator.userAgent.match(/android/i)) {
            //         var state = null;
            //         try{
            //            state = window.open("fb:page/<span style='color:#ff0000;'>341983292945136</span>", '_blank');
            //         }catch(e){}
            //             if(state){
            //             window.close();
            //         }else{
            //             window.location = "https://www.facebook.com/TutorSeeking/";
            //         }
            //     }

            // });

            // $('.ig_href_contact').click(function() {
                
            //     if(navigator.userAgent.match(/(iPhone|iPod|iPad);?/i)) {
            //         var loadDateTime = new Date();
            //         window.setTimeout(function() {
            //             var timeOutDateTime = new Date();
            //             if(timeOutDateTime - loadDateTime < 5000) {
            //                 window.location = "https://www.instagram.com/tutorSeeking/";
            //             }else{
            //                 window.location = 'instagram:open';
            //             }
            //         },
            //     25);
            //     window.location = "instagram:open";
            //     }else if(navigator.userAgent.match(/android/i)) {
            //         var state = null;
            //         try{
            //            state = window.open("instagram:open ", '_blank');
            //         }catch(e){}
            //             if(state){
            //             window.close();
            //         }else{
            //             window.location = "https://www.instagram.com/tutorSeeking/";
            //         }
            //     }
                
            // });
  
    </script>
</body>
</html>