{template "content","header_page"}
<div id="content">
    <div class="col-left left-nav">
        <h1>关于我们</h1>
        <ul class="content">
            {loop $arrchild_arr $cid}
                <li{if $catid==$cid} class="cur"{/if}><a href="{$CATEGORYS[$cid][url]}">{$CATEGORYS[$cid][catname]}</a><>
            {/loop}
        </ul>
        <div class="bottom"></div>
    </div>
  <div class="col-auto">
        <img src="{IMG_PATH}v9/about_ad.png" width="659" height="171" />
        <h1 class="title">{$title}</h1>
        <div class="content">
                {$content}
        </div>
    </div>
 </div>
{template "content","footer"}