{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/index.css">
    <style>
      
        .entry-content{
            margin: 50px 0;
        }
        .parent-img{
            margin-bottom: 20px;
            text-align: center;
        }
        .parent-img img{
            width: auto;
            height: auto;
            max-width: 100%;
        }
        .pagination{
           display: block;
           text-align: right;
        }
        .page-numbers a{
            border: 1px solid #aaa;
            line-height: 38px;
            padding: 10px;
            text-align: center;
        }
        .page-numbers span{
            border: 1px solid #aaa;
            line-height: 38px;
            padding: 10px;
            text-align: center;
            background-color: rgb(251, 202, 33); 
        }
        .filter_part{
            margin: 30px 0;
            padding: 0 15px;
        }
        .filter-list{
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
        }
        .filter-list .filter-item{
            flex: 1;
            min-width: 100px;
            margin-bottom: 10px;
            margin-right: 5px;
        }
        .filter-list .filter-item:last-child{
            margin-right: 0;
        }
        .filter-item  .filter-btn{
            background: #fbca21;
            color: #fff;
            border: none;
            max-width: 200px;
            margin: 0 auto;
        }
        .course-file {
            margin-top: 15px !important;
        }

        p{
            margin: 10px 10px !important;
        }
        .course-file-item dd{
            width: 105px;
           height: auto;
           word-break:break-all;
           word-wrap:break-word;
        }
        .course-file-item dt{
            width: calc(100% - 125px);
           height: auto;
           word-break:break-all;
           word-wrap:break-word;
        }

        .pagination{
            text-align: right;
        }
        .page-numbers a {
            padding: 10px;
        }
        .page-numbers span {
            padding: 10px;
        }
     
        @media screen and (max-width: 400px) {
             .pagination{
                text-align: center;
            }
            .page-numbers a {
                padding: 5px;
            }
            .page-numbers span {
                padding: 5px;
            }
        }
        
    </style> 
        {php $catid=$_GET['catid']}
        {pc:get sql="select banner from v9_category where catid=$catid order by listorder desc limit 1--" cache='3600' return="data"}
        {loop $data $v}
        <div class="top-tutor-main" style="background-image:url({$v[banner]})">
        {/loop}
        {/pc}       
       
            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">家長活動</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>家長活動</span></li>
                        </ul>
                    </div>

                      <div class="filter_part">
                         <form action="index.php?m=content&c=index&a=paren_act&catid={$_GET['catid']}" method="post" class="filter_form">
                             <div class="filter-list">
                             
                                 <div class="filter-item">
                                     <input type="text" name="act_number" class="form-control" placeholder="<?php isset($act_number)?print $act_number : print '活動編號'?>" value="<?php if(isset($act_number)){echo $act_number;}?>">
                                 </div>
                                 <div class="filter-item">
                                    {pc:get sql="SELECT loc_name,loc_id FROM v9_sys_location where loc_level=2 order by loc_seq ASC--" return="location" }            
                                    <select  id="area" class="form-control require"  data-info="活動地區" name="act_area" class="form-control">
                                        <option value="">活動地區</option>
                                        {loop $location $loc}
                                        <optgroup label="{$loc[loc_name]}" data="" class="area-item{$loc[loc_id]}">
                                        <?php $loc_id=$loc[loc_id]?>
                                        {pc:get sql="SELECT loc_name,loc_id FROM v9_sys_location where loc_level=3 and loc_parentid=$loc_id order by loc_seq ASC--" return="place" }
                                        <?php if(empty($place)){
                                                echo "<script>
                                                    $('.area-item".$loc_id."').css('display','none');
                                                    </script>";
                                            }?>
                                        {loop $place $p}
                                            <option value="{$p[loc_id]}" {if $p[loc_id] == $act_area}selected{/if}>{$p[loc_name]}</option>
                                        {/loop}
                                        {/pc}    
                                        </optgroup>
                                        {/loop}
                                    </select>   
                                    {/pc} 
                                 </div>
                                 <div class="filter-item">
                                    <input type="text" name="start_date" id="start_date" class="form-control" readonly placeholder="<?php isset($start_date)?print $start_date : print '活動開始日期'?>" value="<?php if(isset($closing_date)){echo $start_date;}?>">
                                 </div>
                                 <div class="filter-item">
                                    <input type="text" name="closing_date" id="closing_date" class="form-control" readonly placeholder="<?php isset($closing_date)?print $closing_date : print '活動結束日期'?>" value="<?php if(isset($closing_date)){echo $closing_date;}?>">
                                 </div>
                                 <div class="filter-item">
                                     <input type="button" value="提交搜索" class="form-control filter-btn">
                                 </div>
                                 <div class="filter-item">
                                    <button class="form-control filter-btn"><a href="?m=content&c=index&a=parent_act&catid={$_GET['catid']}" style="color: white;">重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置</a></button>
                               
                                 </div>
                             </div>
                          </form>
                          <script>
                              $('.filter-btn').click(function(){
                                var data = $(".filter_form").serialize();
                                window.location.href = './index.php?m=content&c=index&a=parent_act&catid={$_GET["catid"]}&'+data;
                              });
                          </script>
                      </div>
                    <div class="container">
                    <div class="row" style="margin-top:40px;overflow: hidden;" >
                    <?php if(isset($infos)){?>
                    <?php foreach($infos as $info){?>
             
                      <div class="col-xs-12 col-sm-3">
                        <div class="course-item">
                            <div class="course-head"></div>
                            <div class="course-content student-content">
                                <div class="course-person">
                                    <p class="course-contain">活動編號【{$info[act_number]}】</p>
                                </div>
                               
                                <div class="course-file">
                                    <dl class="course-file-item">
                                        <dd>活動名稱</dd>
                                        <?php if(strlen($info[act_name])>10){ ?>
                                            <dt><?php echo mb_substr($info[act_name],0,6,'utf-8');?>...</dt>
                                        <?php }else{?>
                                            <dt>{$info[act_name]}</dt>
                                        <?php }?>
                                    </dl>
                                </div>
                                <div class="course-file">
                                    <dl class="course-file-item">
                                        <dd>活動地區</dd>
                                        {pc:get sql="SELECT loc_name FROM v9_sys_location WHERE loc_id = $info[act_area]" num="1" return="data"}
                                        {loop $data $area}
                                        <dt>{$area[loc_name]}</dt>
                                        {/loop}
                                        {/pc}
                                    </dl>
                                </div>
                                <div class="course-file">
                                    <dl class="course-file-item">
                                        <dd>活動詳細地址</dd>
                                        <?php if(strlen($info[act_address])>10){ ?>
                                            <dt><?php echo mb_substr($info[act_address],0,6,'utf-8');?>...</dt>
                                        <?php }else{?>
                                            <dt>{$info[act_address]}</dt>
                                        <?php }?>
                                    </dl>
                                </div>
                                <div class="course-file">
                                    <dl class="course-file-item">
                                        <dd>活動是否收費</dd>
                                        <dt><?php $info[act_ischarge]=='1'?print '是':print '否'?></dt>
                                    </dl>
                                </div>
                                
                                <div class="course-file">
                                    <dl class="course-file-item">
                                        <dd>活動人數限額</dd>
                                        <dt>成年人:{$info[act_adult_limit]}<br /> 兒&nbsp;&nbsp;&nbsp;童:{$info[act_child_limit]}</dt>
                                    </dl>
                                </div>
                                <?php 
                                    $time_arr = explode(',',$info['act_time']);
                                ?>
                                <div class="course-file">
                                    <dl class="course-file-item">
                                        <dd>活動時間</dd>
                                        <?php if(!empty($info['act_time'])){?>
                                        <dt><?php echo substr_replace($time_arr[0],':','2','0');?>-<?php echo substr_replace($time_arr[1],':','2','0');?></dt>
                                        <?php }else{?>
                                        <dt></dt>
                                        <?php }?>
                                    </dl>
                                </div>
                                <div class="course-file">
                                    <dl class="course-file-item">
                                        <dd>活動開始日期</dd>
                                        <dt>{$info[act_date]}</dt>
                                    </dl>
                                </div>
                                <div class="course-file">
                                    <dl class="course-file-item">
                                        <dd>活動結束日期</dd>
                                        <dt>{$info[act_closing_date]}</dt>
                                    </dl>
                                </div>
                                 <div class="course-file">
                                    <dl class="course-file-item">
                                        <dd>活動報名截止日期</dd>
                                        <dt>{$info[act_cut_date]}</dt>
                                    </dl>
                                </div>
                                <div class="course-file">
                                    <dl class="course-file-item">
                                        <dd>活動內容</dd>
                                        <?php if(strlen($info[act_content])>10){ ?>
                                            <dt><?php echo mb_substr($info[act_content],0,6,'utf-8');?>...</dt>
                                        <?php }else{?>
                                            <dt>{$info[act_content]}</dt>
                                        <?php }?>
                                    </dl>
                                </div>
                                <div class="course-file">
                                    <dl class="course-file-item">
                                        <dd>活動目的</dd>
                                        <?php if(strlen($info[act_aim])>10){ ?>
                                            <dt><?php echo mb_substr($info[act_aim],0,6,'utf-8');?>...</dt>
                                        <?php }else{?>
                                            <dt>{$info[act_aim]}</dt>
                                        <?php }?>
                                    </dl>
                                </div>
                                
                                <div class="course-dec">
                                    <a href="{APP_PATH}index.php?m=content&c=index&a=parent_act_detail&act_id={$info[act_number]}&act_personid={$info[personid]}">查看詳情</a>
                                </div>                            
                            </div>
                        </div>    
                      </div>
                    <!-- </div> -->
                    <?php }?>
                    <?php }?>
                    </div>
                    <div class="pagination">  
                        <ul class="page-numbers">
                            {$pages}
                        </ul>
                    </div>                 
                </div>
                

            </div>
        </div>
        <!--底部-->
        {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>

    <!-- 调用时间控件 -->
    <link rel="stylesheet" href="{CSS_PATH}add_actdate/bootstrap-datetimepicker.min.css" rel="external nofollow" >
    <script src="{JS_PATH}add_actdate/bootstrap-datetimepicker.js"></script>
    <!-- 调用时间控件 -->
</body>

<script type="text/javascript">
        $("#start_date").datetimepicker({
            format: 'yyyy-mm-dd',
            minView:'month',
            language: 'zh-CN',
            autoclose:true,
            startDate:new Date()
          });

          $("#closing_date").datetimepicker({
            format: 'yyyy-mm-dd',
            minView:'month',
            language: 'zh-CN',
            autoclose:true,
            startDate:new Date()
          });
</script> 
</body>
</html>