<meta http-equiv="content-type" content="txt/html; charset=utf-8" />
<title>家長活動詳情-Tutorseeking</title>
{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/bootstrapValidator.css">
<link rel="stylesheet" href="{CSS_PATH}add/tutor-reg.css">
<link rel="stylesheet" href="{CSS_PATH}add/index.css">
    <style type="text/css">
        .loading-btn{
            display: none;
        }
        .loading-btn a{
            display: inline-block;
            padding: 8px;
            width: 150px;
            text-align: center;
            border: none;
            margin-bottom: 20px;
            color: #fff;
            background: #fbca21;
            line-height: 30px;
            cursor: pointer;
        }
        .course-file-item dd{
            width: 100%;
            margin-right: 20px;
            font-weight: bold;
        }
        .course-file-item dt{
            width: 100%;
            text-align: center;
    
            font-size: 14px;
            word-break:break-all;
            word-wrap:break-word; 
            height: auto;
        }
        .help-block{
            color: red !important;
        }
        .time_error{
            display: none;
        }
        p {
            margin: -10px 0 10px;
        }
        .step-btn a {width: 160px;}
        @media (min-width: 992px){
            #act_container {
                margin-left:25%
            } 
           .course-file-item dd{
                width: 155px;
            }
            .course-file-item dt{
                width: calc(80% - 75px);
                text-align: left;
                padding-left: 20px;
                word-break:break-all;
                word-wrap:break-word; 
                height: auto;
            }
        }

        @media (max-width: 700px){
            .step-btn a {
                width: 100%;
            }
        }
        #myModal{
            padding-right: 0px !important;
        }
    </style>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>家長活動詳情</span></li>
                        </ul>
                    </div>
                    <div class="entry-content tutor-horizontal">
                        <div class="tab-panel-item-ming">                           
                            <div class="reg-finish">
                                    <div class="finish-title">家長活動詳情</div>
                                    <div class="row student">
                                        <div class="col-md-6 col-sm-6 course-col" id="act_container">
                                            <div class="course-item">
                                            <div class="course-head"></div>
                                                <div class="course-content student-content">
                                                <div class="course-file">
                                                    <div class="course-person">
                                                        <p class="course-contain">活動編號【<b class="act_num">{$act_detail[0][act_number]}</b>】</p>
                                                    </div>
                                                    <dl class="course-file-item">
                                                        <dd>活動名稱</dd>
                                                        <dt>{$act_detail[0][act_name]}</dt>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <dd>活動舉行地區</dd>
                                                        <?php $loc_id = $act_detail[0][act_area];?>
                                                        {pc:get sql="SELECT loc_name FROM v9_sys_location WHERE loc_id = $loc_id" num="1" return="data"}
                                                        {loop $data $areas}
                                                        <dt>{$areas[loc_name]}</dt>
                                                        {/loop}
                                                        {/pc}
                                                       
                                                    </dl>

                                                    <dl class="course-file-item">
                                                        <dd>活動舉行地址</dd>
                                                        <dt>{$act_detail[0][act_address]}</dt>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <dd>活動是否收費</dd>
                                                        <dt><?php $act_detail[0][act_ischarge]=='1'?print '是':print '否'?></dt>
                                                    </dl>
                                                    <?php if( $act_detail[0][act_ischarge]=='1'){?>
                                                    <dl class="course-file-item">
                                                        <dd>活動收費模式</dd>
                                                        <dt>{$act_detail[0][act_charge]}/<?php $act_detail[0][act_charge_mode]=='1'?print '每次':print '每小時'?></dt>
                                                    </dl>
                                                    <?php }?>

                                                    <dl class="course-file-item">
                                                        <dd>活動人數限額</dd>
                                                        <dt>成年人:{$act_detail[0][act_adult_limit]}人&nbsp;&nbsp;&nbsp;兒童:{$act_detail[0][act_child_limit]}人</dt>
                                                    </dl>

                                                    <dl class="course-file-item">
                                                        <dd>活動已參加人數</dd>
                                                        <dt>成年人:{$act_detail[0][act_adult]}人&nbsp;&nbsp;&nbsp;兒童:{$act_detail[0][act_child]}人</dt>
                                                    </dl>
                                                    <?php 
                                                        $time_arr = explode(',',$act_detail[0]['act_time']);
                                                    ?>
                                                    <dl class="course-file-item">
                                                        <dd>活動時間</dd>
                                                        <?php if(!empty($act_detail[0]['act_time'])){?>
                                                        <dt><?php echo substr_replace($time_arr[0],':','2','0');?>-<?php echo substr_replace($time_arr[1],':','2','0');?></dt>
                                                        <?php }else{?>
                                                        <dt></dt>
                                                        <?php }?>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <dd>活動開始日期</dd>
                                                        <dt>{$act_detail[0][act_date]}</dt>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <dd>活動結束日期</dd>
                                                        <dt>{$act_detail[0][act_closing_date]}</dt>
                                                    </dl>
                                                     <dl class="course-file-item">
                                                        <dd>活動報名截止日期</dd>
                                                        <dt>{$act_detail[0][act_cut_date]}</dt>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <dd>活動內容</dd>
                                                        <dt>{$act_detail[0][act_content]}</dt>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <dd>活動目的</dd>
                                                        <dt>{$act_detail[0][act_aim]}</dt>
                                                    </dl>
                                                </div>

                                                <?php if(isset($_SESSION['id']) && $_SESSION['role_verify']=="1"){?>
                                                <div class="step-box">
                                                    <div class="step-btn">
                                                    <?php 
                                                        date_default_timezone_set("Asia/Shanghai");  
                                                        $td = date('Y-m-d');
                                                        $t = $act_detail[0][act_cut_date];
                                                        $tt = $act_detail[0][act_closing_date];
                                                    ?>    
                                                    <?php if(strtotime($tt)<strtotime($td)){?>
                                                        <a href="javascript:; " class="step-next" style="background-color: #ccc;">該活動已過期</a>
                                                    <?php }elseif(strtotime($t)<strtotime($td)){?>
                                                        <a href="javascript:; " class="step-next" style="background-color: #ccc;">該活動已截止</a> 
                                                     
                                                    <?php }elseif($act_rev_detail[0][par_status]=='0'){?>
                                                        <a href="javascript:; " class="step-next">該活動待審核</a>   
                                                    <?php }elseif($act_rev_detail[0][par_status]=='2'){?>
                                                        <a href="javascript:; " class="step-next">該活動未通過審核</a>     
                                                    <?php }elseif($is_inactid){?>
                                                    
                                                        <a href="javascript:; " class="step-next">您已參加該活動</a>
                                                    <?php }else{?>
                                                        <a href="javascript:; " class="step-prev" data-toggle="modal" data-target="#myModal">參加活動</a>
                                                    <?php }?>
                                                    </div>
                                                    <div class="loading-btn">
                                                        <a href="javascript:; " class="loading">正在提交...</a>
                                                    </div>
                                                   
                                                </div>
                                                <?php }?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                請填寫出席人數
                            </h4>
                        </div>
                        <input type="hidden" class="parent_id" value="{$act_personid}">
                        <div class="modal-body">
                                <label>成年人:</label><input type="text" class="adult_num">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label>兒&nbsp;&nbsp;&nbsp;&nbsp;童:</label><input type="text" class="child_num">
                        </div>
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">
                                    家長活動條款及規則
                            </h4>
                        </div>
                         <div class="modal-body">
               
                                {template "content","parent_rule"}

                     
                        </div>
                        <div class="modal-footer">
                            <div class="btn_s">
                                <div class="checkbox checkbox-primary">
                                    <input  type="checkbox" class="agree-check" id="agree-check">
                                    <label for="">我同意以上條款，並開始進行登記</label>
                                </div>
                                <button type="button" class="btn btn_close" data-dismiss="modal" style="background: #fbca21;color:#FFFFFF;">
                                    关闭
                                </button>
                                <button type="button" class="btn btn_submit" style="background: #fbca21;color:#FFFFFF;" disabled="disabled">
                                    提交
                                </button>
                            </div>
                            <div class="loading-btn">
                                <button type="button" class="btn loading" style="background: #fbca21;color:#FFFFFF;">正在提交...</button>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
    <script src="{JS_PATH}add/bootstrapValidator.min.js"></script>
    <script src="{JS_PATH}add_user/imgUp.js"></script>
    <script src="{JS_PATH}add/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript">
     

        //參加活動
       $(function () { $('#myModal').modal('hide')});
       $(".agree-check").click(function(){
            if($(".agree-check").is(":checked")){
                $(".btn_submit").removeAttr('disabled');
                 $(".btn_submit").click(function(){
                    $(".loading-btn").show();
                    $(".btn_s").hide();
                    $(".step-btn").hide();
                    var adult_num = $('.adult_num').val();
                    var child_num = $('.child_num').val();
                    var act_num = $('.act_num').text();
                    var parent_id = $(".parent_id").val();
                    $.post('index.php?m=content&c=index&a=parent_act_detail',{parent_id:parent_id,adult_num:adult_num,child_num:child_num,act_num:act_num},function(data){
                        $(".loading").css('display','block');
                        switch (data){
                            case "adult_full":
                                alert("成年人人數已滿額,請重新填寫!");
                                window.location.reload(); 
                            break;
                            case "child_full":
                                alert("兒童人數已滿額,請重新填寫!");
                                window.location.reload(); 
                            break;
                            case "adult_error":
                                alert("成年人人數超過限制,請重新填寫!");
                                window.location.reload(); 
                            break;
                            case "child_error":
                                alert("兒童人數超過限制,請重新填寫!");
                                window.location.reload(); 
                            break;
                            case "error_adult_num":
                                alert("人数应为正整数,請重新填寫!");
                                window.location.reload(); 
                            break;
                            case "error_child_num":
                                alert("人数应为正整数,請重新填寫!");
                                window.location.reload(); 
                            break;
                            case "success":
                                alert("參加活動成功!");
                                window.location.reload();
                       
                            break;
                            case "fail":
                                alert("參加活動失敗,請重新嘗試!");
                                window.location.reload();
                           
                            break;
                        }

                    });
               });

            }else{
                $(".btn_submit").attr("disabled",'disabled');
            }
       });

     

    </script>

</body>
</html>