<meta http-equiv="content-type" content="txt/html; charset=utf-8" />
<title>新增家長活動-Tutorseeking</title>
{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/bootstrapValidator.css">
<link rel="stylesheet" href="{CSS_PATH}add/tutor-reg.css">
<link rel="stylesheet" href="{CSS_PATH}add/act_index.css">
    <style type="text/css">
        .loading-btn{
            display: none;
        }
        .loading-btn a{
            display: inline-block;
            padding: 8px;
            width: 150px;
            text-align: center;
            border: none;
            margin-bottom: 20px;
            color: #fff;
            background: #fbca21;
            line-height: 30px;
            cursor: pointer;
        }
        .course-file-item dd{
           margin-bottom: 5;
           font-weight: bold;
           height: auto;
           word-break:break-all;
           word-wrap:break-word;
        }
        .course-file-item dt{
            width: calc(80% - 105px);
            text-align: left;
            padding-left: 20px;
            font-size: 14px;
        }
        .help-block{
            color: red !important;
        }
        .time_error{
            display: none;
        }
        @media (min-width: 992px){
            #act_container {
                margin-left:25%
            } 
        }
        .comments{
            width: 100%;
            overflow:auto;  
            word-break:break-all; 
        }
        .people_error-tip {
            color: red;
            margin-top: 5px;
            display: block;
        }
        .people_error{
            display: none;
        }
        .people_t_error-tip {
            color: red;
            margin-top: 5px;
            display: block;
        }
        .people_t_error{
            display: none;
        }
        .charge_error{
            display: none;
        }
        .charge_error-tip{
            color: red;
            margin-top: 5px;
            display: block;
        }
        #myModal{
            padding-right: 0px !important;
        }
    </style>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><a href="{APP_PATH}index.php?m=person&c=index&a=init"><span>家長活動</span></a></li>
                        </ul>
                    </div>
                    <div class="entry-content tutor-horizontal">
                        <div class="tab-panel-item-ming">                           
                            <div class="reg-finish">
                                    <div class="finish-title">發起家長活動</div>
                                    <div class="row student">
                                        <div class="col-md-6 col-sm-6" id="act_container">
                                            <div class="course-item">
                                            <div class="course-head"></div>
                                                <div class="course-content student-content">
                                                <form id="parent_act_add">
                                                <div class="course-file">
                                                    <dl class="course-file-item">
                                                        <div class="col-xs-12 col-sm-4">
                                                            <dd>活動名稱</dd>
                                                        </div>
                                                        <div class="col-xs-12 col-md-8 col-sm-9">
                                                            <input type="text" class="form-control require" name="parent_act_info[act_name]" data-info="活動名稱"  autofocus="autofocus">
                                                        </div>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <div class="col-xs-12 col-sm-4">
                                                        <dd>活動舉行地區</dd>
                                                        </div>
                                                        <div class="col-md-8 col-sm-9">
                                                            {pc:get sql="SELECT loc_name,loc_id FROM v9_sys_location where loc_level=2 order by loc_seq asc--" return="location" }
                                                            <select class="form-control require"  data-info="活動舉行地區" name="parent_act_info[act_area]">
                                                                <option value="">請選擇</option>
                                                                {loop $location $loc}
                                                                <optgroup label="{$loc[loc_name]}">
                                                                <?php $loc_id=$loc[loc_id]?>
                                                                {pc:get sql="SELECT loc_name,loc_id FROM v9_sys_location where loc_level=3 and loc_parentid=$loc_id order by loc_seq asc--" return="place" }
                                                                {loop $place $p}
                                                                    <option value="{$p[loc_id]}">{$p[loc_name]}</option>
                                                                {/loop}
                                                                {/pc}    
                                                                </optgroup>
                                                                {/loop}
                                                            </select>   
                                                            {/pc} 

                                                        </div>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <div class="col-xs-12 col-sm-4">
                                                        <dd>活動舉行地址</dd></div>
                                                        <div class="col-md-8 col-sm-9">
                                                            <input type="text" class="form-control require" name="parent_act_info[act_address]" data-info="活動舉行地址">
                                                        </div>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <div class="col-xs-12 col-sm-4">
                                                        <dd>活動是否收費</dd></div>
                                                        <div class="col-md-8 col-sm-9">
                                                            <div class="radio-list">
                                                                <div class="col-md-5 col-sm-5">
                                                                    <div class="radio-inline pl-0">
                                                                        <span class="radio radio-primary">
                                                                            <input type="radio" name="parent_act_info[act_ischarge]"  value="1" id="ischarge" >
                                                                        <label for="">是</label>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5 col-sm-5">
                                                                    <div class="radio-inline">
                                                                        <span class="radio radio-primary">
                                                                            <input type="radio" name="parent_act_info[act_ischarge]"  value="0" checked="checked">
                                                                        <label for="">否</label>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </dl>

                                                    <div class="charge_mode" >
                                                    <dl class="course-file-item">
                                                        <div class="col-xs-12 col-sm-4">
                                                        <dd>活動收費模式</dd></div>
                                                        <div class="col-md-8 col-sm-9">
                                                            <div class="col-md-7 col-sm-8">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">$</span>
                                                                    <input type="text" class="form-control require" name="parent_act_info[act_charge]" data-info="活動收費模式" value="0.00" id="charge_mode">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5 col-sm-5">
                                                                <select name="parent_act_info[act_charge_mode]" class="form-control">
                                                                    <option value="1">每次</option>
                                                                    <option value="0">每小時</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="charge_error">
                                                            <div class="col-xs-12 col-sm-4"></div>
                                                            <div class="col-md-8 col-sm-9">
                                                            <span class="charge_error-tip" style="font-size:55%;"></span>
                                                            </div>
                                                        </div>
                                                    </dl>
                                                    </div>

                                                    <dl class="course-file-item">
                                                        <div class="col-xs-12 col-sm-4">
                                                        <dd>活動人數限額</dd></div>
                                                        <label for="" class="control-label text-right col-sm-2">成年人:</label>
                                                        <div class="col-md-2 col-sm-2">
                                                            <input type="text" class="limit_num form-control" name="parent_act_info[act_adult_limit]" data-info="成年人活動人數限額" id="adult_num" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}">
                                                        </div>
                                                        <label for="" class="control-label text-right col-sm-2">兒童:</label>
                                                        <div class="col-md-2 col-sm-2">
                                                            <input type="text" class="limit_num form-control require" name="parent_act_info[act_child_limit]" data-info="兒童活動人數限額" id="child_num" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}">
                                                        </div>
                                                        <br />
                                                        <div class="people_error">
                                                            <div class="col-xs-12 col-sm-4"></div>
                                                            <div class="col-md-8 col-sm-9">
                                                            <span class="people_error-tip" style="font-size:55%;"></span>
                                                            </div>
                                                        </div>
                                                        <div class="people_t_error">
                                                            <div class="col-xs-12 col-sm-4"></div>
                                                            <div class="col-md-8 col-sm-9">
                                                            <span class="people_t_error-tip" style="font-size:55%;"></span>
                                                            </div>
                                                        </div>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <div class="col-xs-12 col-sm-4">
                                                        <dd>活動時間</dd></div>
                                                        <label for="" class="control-label text-right col-sm-2">由</label>
                                                        <div class="col-md-2 col-sm-2">
                                                            <select name="parent_act_info[from_time]" class="class-control" id="from_time">
                                                                <option value=""></option>
                                                                <?php foreach($timelist as $k=>$v){?>
                                                                <option value="{$k}">{$v}</option>
                                                               <?php }?> 
                                                            </select>
                                                        </div>
                                                        <label for="" class="control-label text-right col-sm-2">至</label>
                                                        <div class="col-md-2 col-sm-2">
                                                            <select name="parent_act_info[to_time]" class="class-control" id="to_time">
                                                                <option value=""></option>
                                                                <?php foreach($timelist as $k=>$v){?>
                                                                <option value="{$k}">{$v}</option>
                                                               <?php }?> 
                                                            </select>
                                                        </div>
                                                        <br />
                                                        <div class="time_error">
                                                            <div class="col-xs-12 col-sm-4"></div>
                                                            <div class="col-md-8 col-sm-9">
                                                            <span class="error-tip" style="font-size:55%;"></span>
                                                            </div>
                                                        </div>        

                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <div class="col-xs-12 col-sm-4">
                                                        <dd>活動開始日期</dd>
                                                        </div>
                                                        <div class="col-md-8 col-sm-9">
                                                            <input type="text" name="parent_act_info[act_date]" id="df" size="10" class="form-control require date" data-info="活動開始日期" readonly>
                                                        </div>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <div class="col-xs-12 col-sm-4">
                                                        <dd>活動結束日期</dd></div>
                                                        <div class="col-md-8 col-sm-9">
                                                            <input type="text" name="parent_act_info[act_closing_date]" id="close_df" size="10" class="form-control require date" data-info="活動結束日期" readonly>
                                                        </div>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <div class="col-xs-12 col-sm-4">
                                                        <dd>活動報名截止日期</dd></div>
                                                        <div class="col-md-8 col-sm-9">
                                                            <input type="text" name="parent_act_info[act_cut_date]" id="cut_df" size="10" class="form-control require date" data-info="活動報名截止日期" readonly>
                                                        </div>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <div class="col-xs-12 col-sm-4">
                                                        <dd>活動目的</dd></div>
                                                        <div class="col-md-8 col-sm-9">
                                                            <textarea cols="40" rows="5" class="comments require" name="parent_act_info[act_aim]" data-info="活動目的"></textarea>
                                                        </div>
                                                    </dl>
                                                    <dl class="course-file-item">
                                                        <div class="col-xs-12 col-sm-4">
                                                        <dd>活動內容</dd>
                                                        </div>
                                                
                                                        <div class="col-md-8 col-sm-9">
                                                            <textarea cols="40" rows="5" class="comments require" name="parent_act_info[act_content]" data-info="活動內容"></textarea>
                                                        </div>
                                                    </dl>
                                                </div>
                                                <div class="step-box">
                                                    <div class="step-btn">
                                                        <a href="javascript:; " class="step-prev">確認</a>
                                                        <!-- <a href="javascript:; " class="step-prev" data-toggle="modal" data-target="#myModal">確認</a> -->
                                                        <a href="javascript:; " class="step-next">取消</a>
                                                        
                                                    </div>
                                                    <div class="loading-btn">
                                                        <a href="javascript:; " class="loading">正在提交...</a>
                                                    </div>
                                                </div>
                                                </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                               家長活動條款及規則
                            </h4>
                        </div>
                        <input type="hidden" class="parent_id" value="{$act_personid}">
                        <div class="modal-body">
                            <!-- <textarea rows="30" cols="80"> -->
                                {template "content","parent_rule"}
                            <!-- </textarea>   -->
                        </div>
                        <div class="modal-footer">
                            <div class="btn_s">
                                 <div class="checkbox checkbox-primary">
                                    <input  type="checkbox" class="agree-check" id="agree-check">
                                    <label for="">我同意以上條款，並開始進行登記</label>
                                </div>
                                <button type="button" class="btn btn_close" data-dismiss="modal" style="background: #fbca21;color:#FFFFFF;">
                                    关闭
                                </button>
                                <button type="button" class="btn btn_submit" style="background: #fbca21;color:#FFFFFF;" disabled="disabled">
                                    提交
                                </button>
                            </div>
                            <div class="loading-btn">
                                <button type="button" class="btn loading" style="background: #fbca21;color:#FFFFFF;">正在提交...</button>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
    <script src="{JS_PATH}add/bootstrapValidator.min.js"></script>
    <script src="{JS_PATH}add_user/imgUp.js"></script>
    <script src="{JS_PATH}add/bootstrap.min.js"></script>

<!-- 调用时间控件 -->
    <link rel="stylesheet" href="{CSS_PATH}add_actdate/bootstrap-datetimepicker.min.css" rel="external nofollow" >
    <script src="{JS_PATH}add_actdate/bootstrap-datetimepicker.js"></script>
<!-- 调用时间控件 -->
</body>

<script type="text/javascript"> 
      $("#df").datetimepicker({
        format: 'yyyy-mm-dd',
        minView:'month',
        language: 'zh-CN',
        autoclose:true,
        startDate:new Date()
      });

      $("#close_df").datetimepicker({
        format: 'yyyy-mm-dd',
        minView:'month',
        language: 'zh-CN',
        autoclose:true,
        startDate:new Date()
      }); 

      $("#cut_df").datetimepicker({
        format: 'yyyy-mm-dd',
        minView:'month',
        language: 'zh-CN',
        autoclose:true,
        startDate:new Date()
      }); 
</script> 

<script>

    //收費模式
    $('.charge_mode').hide();
    $('input[name="parent_act_info[act_ischarge]"]').click(function(){
        $('.charge_mode').toggle();
    });

    //取消添加活動
    $(".step-next").click(function(){
        window.location.href="./index.php?m=person&c=index&a=init";
    });

    function dataValidate(){
        $('#parent_act_add').bootstrapValidator({
            message: '這個欄位必須填寫。',
            excluded : [':disabled'],//[':disabled', ':hidden', ':not(:visible)'] //设置隐藏组件可验证
            //放置form-group中才有用
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                "parent_act_info[act_name]": {
                    validators: {
                        notEmpty: {
                            message: '請填寫活動名稱。'
                        }
                    }
                },
                "parent_act_info[act_area]": {
                    validators: {
                        notEmpty: {
                            message: '請填寫活動區域。'
                        }
                    }
                },
                // "parent_act_info[act_adult_limit]": {
                //     validators: {
                //         notEmpty: {
                //             message: '請填寫活動限制成年人人數。'
                //         }
                //     }
                // },
                // "parent_act_info[act_child_limit]": {
                //     validators: {
                //         notEmpty: {
                //             message: '請填寫活動限制兒童人數。'
                //         }
                //     }
                // },
                "parent_act_info[act_address]": {
                    validators: {
                        notEmpty: {
                            message: '請填寫活動地址。'
                        }
                    }
                },
                "parent_act_info[act_charge]": {
                    validators: {
                        notEmpty: {
                            message: '請填寫活動收費費用。'
                        }
                    }
                },
                "parent_act_info[act_charge_mode]": {
                    validators: {
                        notEmpty: {
                            message: '請填寫活動收費模式。'
                        }
                    }
                },
                "parent_act_info[act_aim]": {
                    validators: {
                        notEmpty: {
                            message: '請填寫活動目的。'
                        }
                    }
                },
                "parent_act_info[act_content]": {
                    validators: {
                        notEmpty: {
                            message: '請填寫活動內容。'
                        }
                    }
                },

                "parent_act_info[act_date]":{
                 trigger:'change',
                 validators:{
                   date:{
                     format:'YYYY-MM-DD',
                     message:'日期格式不正確'
                   },
                   notEmpty: {
                        message: '請填寫活動開始日期。'
                    },
                   callback:{
                     callback:function(value,validator){
                        var s = new Date();
                        var startTime=s.getTime();//今天時間
                       var endTime=value;//填寫的活動開始時間
                       if(startTime&&endTime){
                         return DateDiff(endTime,startTime)>=0;
                       }else{
                         return true;
                       }
         
                     },
                     message:'活動開始日期不能小於等於當前日期'
                   }
                 }
               },
               "parent_act_info[act_closing_date]":{
                 trigger:'change',
                 validators:{
                   date:{
                     format:'YYYY-MM-DD',
                     message:'日期格式不正確'
                   },
                   notEmpty: {
                        message: '請填寫活動結束日期。'
                    },
                   callback:{
                     callback:function(value,validator){
                       var startTime=$("#df").val();
                       var endTime=value;
                       if(startTime&&endTime){
                         return DateDiff(endTime,startTime)>=0;
                       }else{
                         return true;
                       }
                     },
                     message:'結束日期不能小於開始日期'
                   }
         
                }
            },
            "parent_act_info[act_cut_date]":{
                 trigger:'change',
                 validators:{
                   date:{
                     format:'YYYY-MM-DD',
                     message:'日期格式不正確'
                   },
                   notEmpty: {
                        message: '請填寫活動報名截止日期。'
                    },
                   callback:{
                     callback:function(value,validator){
                       var startTime=value;//活動截止時間
                       var endTime=$("#close_df").val();//填寫的活動結束時間
                       var s = $("#df").val();//活动开始时间
                       if(startTime&&endTime&&s){
                         return DateDiff(endTime,startTime)>=0;
                       }else{
                         return true;
                       }
         
                     },
                     message:'活動截止日期不能大於活動結束日期。'
                   }
                 }
               },
            }    
        });
    }
    
    //默认启动时调用启动校验
    $(function(){dataValidate();});
    //点击提交时
    $(".step-prev").click(function(){
        //移除上次的校验配置
        $('#myModal').modal('hide');
        $("#parent_act_add").data('bootstrapValidator').destroy();
        $('#parent_act_add').data('bootstrapValidator',null);
        //重新添加校验
        dataValidate();

        $('#parent_act_add').bootstrapValidator('validate');
        var flag = $('#parent_act_add').data('bootstrapValidator').isValid();//表單驗證正確的標誌
        var date = checkTime();
        var p1 = $("#adult_num").val();
        var p2 = $("#child_num").val();
        var num = checkPerson(p1,p2);
        if(flag && date && num){
            $('#myModal').modal('show');
            $("#agree-check").click(function(){
              if($("#agree-check").is(":checked")){
                $(".btn_submit").removeAttr('disabled');
                $(".btn_submit").click(function(){
                    doSubmit();
                });
              }else{
                $(".btn_submit").attr("disabled",'disabled');
              }
            });
        }
    });

    $("#to_time").change(function(){
        checkTime();
    });

    $("#from_time").change(function(){
        checkTime();
    });

    $("#adult_num").change(function(){
        var p1 = $("#adult_num").val();
        var p2 = $("#child_num").val();
        checkPerson(p1,p2);
    });

    $("#child_num").change(function(){
        var p1 = $("#adult_num").val();
        var p2 = $("#child_num").val();
        checkPerson(p1,p2);
    });

    // if($("#ischarge").is(':checked')){
    //     $("#charge_mode").change(function(){
    //         var flag = $(this).formConfirm();
    //         var v = $("#charge_mode").val();
    //         //v.valueOf()> 0
    //         if(getZ(v)){
    //             $(".charge_error").show();
    //             $(".charge_error-tip").html("請輸入大于0的正数。");
    //             flag =false;
    //         }
    //     });
    // }

    // function getZ(n){
    //     var preg = "/^\d+(\.\d+)?$/";
    //     var p = new RegExp(preg);
    //     return p.test(n+"");
    //     // return /^\d+(\.\d+)?$/.test(n+"");
    // }
    function doSubmit() {
        var parent_act_info=$('#parent_act_add').serialize();
        $(".loading-btn").show();
        $(".step-btn").hide();
        $(".btn_submit").hide();
        $(".btn_close").hide();
        $.ajax({
            url:"{APP_PATH}index.php?m=content&c=index&a=parent_act_add",
            type:"post",
            data:parent_act_info,
            success:function(data){
                alert("發起活動成功!");
                window.location = "?m=person&c=index&a=init";
            },
            error:function(){
                alert("數據錯誤");
                window.location.reload();
            }
        }); 
    }
    function checkPerson(p1,p2){
        var flag = $(this).formConfirm();//表單驗證正確的標誌
        if((p1=="" && p2!= "") || (p1!="" && p2== "") || (p1=="" && p2 == "")){
            $(".people_t_error").hide();
            $(".people_error").show();
            $(".people_error-tip").html("請輸入完整活動限制人數。");
            flag =false;
        }
        
        if(flag){
            $(".people_t_error").hide();
            $(".people_error").hide();
        }
        return flag;
    }

    function checkTime(){
        $(".time_error").hide();
        $(".error-tip").html(" ");
        var flag = $(this).formConfirm();//表單驗證正確的標誌
        //时间选择必须完整
        var from_hour = $('#from_time option:selected').text();
        var to_hour = $('#to_time option:selected').text();

        if ((from_hour=="" && to_hour!= "") || (to_hour=="" && from_hour!= "") || (to_hour=="" && from_hour== "")) {
            flag=false;
            $(".time_error").toggle();
            $(".error-tip").html("請輸入完整的時間。");
        }

        var t11=from_hour.split(":");
        var t21=to_hour.split(":");
        var sj1 = parseInt(t11[0])*24 + t11[1];
        var sj2 = parseInt(t21[0])*24 + t21[1];
        if (sj1 >= sj2) {    
            flag=false;
            $(".time_error").toggle();
            $(".error-tip").html("請輸入正確的時間段。");
        }
        return flag;
    }

    function DateDiff(date1,date2){
        var d1 = new Date(date1);//結束時間
        var d2 = new Date(date2);//開始時間
        var diff = (d1.getTime()-d2.getTime())/(24 * 60 * 60 * 1000);
        return diff;
    }
</script>

</html>