                                        <div class="terms">
                <p>1、歡迎您登記為Tutorseeking（以下稱之為本網站）之導師，當您完成導師登記後，即表示你已經同意接受以下導師收費和合約條款之約束。</p>
<p>2、Tutorseeking有權修訂有關合約條款內容及收費，所有修改內容將透過本網站張貼，而有關修訂也會於張貼後自動生效，本網站會給予您一星期寬限期。倘於該等條款作出任何更改後，仍繼續使用本網站或本網站提供的服務，則表示您已接納該修改條例。</p>
<p>3、Tutorseeking是一個收費平台，所有費用均有導師支付，有關家長預付之一半費用，導師必須在上課時在學費中扣除。而家長與導師私下協議，本網站並不負責。</p>
<p>4、Tutorseeking是一個導師和家長/學生配對平台，其責任僅為導師及家長或學生進行相互配對，使導師可以向家長或學生提供最適合之補習服務, 其間只為雙方提供個人資料以供雙方訂定補習時間及收費，並不存在任何僱傭關係。導師提供之所有個人資料一定要確保正確無誤，本網站並不負責付費後由於資料錯誤所帶給閣下之損失。</p>
<p>5、Tutorseeking是一個商業系統網站，所有登記會員之資料可以用作本網站商業用途之用。</p>
<p>6、Tutorseeking不擔保導師，家長或學生之個人道德、修養、教學質素及質量。</p>
<p>7、Tutorseeking要求所有導師登記時必須聲明沒有性罪行行為。本網站不擔保導師，家長或學生之人生安全，同時亦不承擔有關導師和家長或學生之間之任何法律責任。 </p>
<p>8、Tutorseeking 不擔保家長或學生長期使用導師，導師如使用此網站服務，須自行評估風險或其他個人利益得失。</p>
<p>9、Tutorseeking要求所有登記之會員提供正確之個人資料，本網站不會對每一位會員確認身份，本網站有權提醒所有會員，提供虛假資料屬於違法行為，本網站發現後將會取消該會員資格並保留交予警方處理之權利。所有導師必須在登記後將有關要求之證書及有關資料電郵給本網站。但本網站並不擔保所有會員之個人身份是否屬實。</p>
<p>10、Tutorseeking擁有絕對及不受約束之權力，刪除用戶所提供之任何資料，而毋須向任何一方發出通知或作出賠償。在無損此項權利下，倘導師所提供之任何資料一旦刊登或 繼續刊登，會導致本網站須為第三者負上任何法律責任，或令本網站觸犯任何有效司法管轄區的任何法律或規則或第三者的權益，則本網站擁有權拒絕或修改任何所提供之資料。 </p>
<p>11、Tutorseeking有權停止提供服務給予任何會員或終止任何人士之會員資格而不作任何解釋之權利，同時本網站也有權刪除任何人士提供之任何資料而無須向任何一方發出通知或作賠償。</p>
<div class="hatom-extra" style="display:none;visibility:hidden;"><span class="entry-title">導師登記</span> was last modified: <span class="updated"> 十一月 2nd, 2016</span> by <span class="author vcard"><span class="fn">Tutorseeking admin</span></span></div>                </div>