<head><title>找回密碼-Tutorseeking</title></head>
{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/parent-regis.css">
<link rel="stylesheet" href="{CSS_PATH}add/index.css">
<link href="{CSS_PATH}add_user/index.css" type="text/css" rel="stylesheet">
<style type="text/css">
     .zhanghao ,.haoma ,.shenfen{
        display: none;
    }
    .section-content{
        margin-top: 0 !important;
    }
    .entry-content{
        margin: 20px auto;
    }
    .info-list{
        padding-top: 30px !important;
    }
</style>
        {pc:get sql="select thumb from v9_position where posid=19 order by listorder desc" cache='3600' return="data"}
        {loop $data $v}
        <!--头部结束-->
        <div class="top-tutor-main" style="background-image:url({$v[thumb]})">
        {/loop}
        {/pc}
            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">找回密碼</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>找回密碼</span></li>
                        </ul>
                    </div>
                    <div class="entry-content">
                        <div class="panel-tab">
                            <div class="panel-tab-item active" style="width:100%;">通過手機號碼找回密碼</div>
                            <!-- <div class="panel-tab-item">確認</div> -->
                        </div>
                        <div class="tab-panel-content">

                            <div class="tab-panel-item active">
                                <form  class="form-horizontal tuition-horizontal" id="stu_reg" enctype="multipart/form-data">
                                    <div class="info-list">
                                        <!-- <div class="list-title">個人資料</div> -->
                                        <div class="">
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>手機號碼</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="text" class="form-control" data-info="手機號碼" name="mobile" id="mobile">
                                                    <!--send_msg_code()-->
                                                    <span class="error-tip zhanghao">註冊手機號碼不存在，請先檢查清楚帳號身份是否選錯。</span>
                                                    <span class="error-tip haoma">請輸入正確的手機號碼。</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>新密碼</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="password" class="form-control require" data-info="密碼" name="passwd" id="pwd" placeholder="請輸入六位數以上密碼，密碼由字母+數字組成">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>重複密碼</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <input type="password" class="form-control require" data-info="重複密碼" name="passwd" id="repwd" placeholder="請再次確認您的密碼">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>帳號身份</label>
                                                <div class="col-md-7 col-sm-8">
                                                    <div class="radio-list">
                                                        <div class="radio-inline pl-0">
                                                            <span class="radio radio-primary">
                                                                <input type="radio" name="userType" id="" value="0">
                                                            <label for="">導師</label>
                                                            </span>
                                                        </div>
                                                        <div class="radio-inline">
                                                            <span class="radio radio-primary">
                                                                <input type="radio" name="userType" id="" value="1">
                                                            <label for="">學生家長</label>
                                                            </span>
                                                        </div>
                                                        <span class="error-tip shenfen">請選擇您的身份。</span>
                                                    </div>
                                                    <!--<input type="radio" name="userType" value="0">導師-->
                                                    <!--<input type="radio" name="userType" value="1">學生家長-->
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>驗證碼：</label>
                                                <div class="col-md-3 col-sm-8">
                                                    <input type="text" class="form-control require" placeholder="驗證碼" data-info="驗證碼" name='code' oninput="checkcode();">
                                                    <div class="code-img" id="code">    
                                                {form::checkcode('code_img', '4', '14', 84, 24)}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group msg_code" style="display: none;">
                                                <label for="" class="control-label text-right col-sm-4"><span class="main-color">*</span>短信驗證碼：</label>
                                                <div class="col-md-3 col-sm-8">
                                                    <input type="text" class="form-control" placeholder="短信驗證碼" data-info="短信驗證碼" data-type="msg_code" name='msg_code' style="width: 55%;float: left;">
                                                    <input type="button" value="發送驗證碼" onclick="send_msg_code();" style="height: 33px;width: 45%;" class="send_code">
                                                </div>
                                                
                                            </div>

                                            <input type="hidden" class="form-control" name="re_flag" id="re_flag" value="">
                                            <div class="comfirm">
                                                <a class="btn confirm-btn">確認</a>
                                                <p class="confirm-tip">如在找回密碼過程中有任何疑問，請<a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=8" class="main-color">聯絡我們</a>。</p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
    <script type="text/javascript">

        //驗證號碼存在
        // function validate(){
        // var mobile = $("#mobile").val();
        // var userType = $('input[name="userType"]:checked').val();
        //     if(!userType){
        //         $.post("{APP_PATH}index.php?m=content&c=index&a=checkMobIdentity",{mobile:mobile,userType:userType},function(data){
        //             if(data.code !='existent'){
        //                 $('input[name="mobile"]').parent().append('<span class="error-tip">帳號不存在,請檢查帳號身份是否有誤。</span>');
        //                 $('input[name="mobile"]').focus();
        //             }
        //         },'json');
        //     }
        // }

        //ajax验证图片驗證碼
        function checkcode(){
            var code = $('input[name="code"]').val();
            if(code.length == 4){
                $('input[name="code"]').parent().find('span').remove();
                $.post("{APP_PATH}index.php?m=tparents&c=index&a=ajax_checkcode",{code:code},function(data){
                    if(data == '1'){
                        $('.msg_code').show();
                    }else{
                        $('input[name="code"]').parent().append('<span class="error-tip">請輸入正確的驗證碼。</span>');
                    }
                });
            }
        }

        //发送按钮倒计时
        function countdown(v){
         if(v>0){
            $('.send_code').val((--v)+'秒後重發');
                setTimeout(function(){
                    countdown(v);
                },1000);
            }
            else{
             $('.send_code').val('重發驗證碼');
             $('.send_code').attr("disabled",false);
            }
        }
        //发送短信验证码
        function send_msg_code(){
            var phone = $('input[name="mobile"]').val();
            if(phone == ''){
                alert('請先輸入手機號碼');
                return false;
            }
            
            var mobile = $("#mobile").val();
            var userType = $('input[name="userType"]:checked').val();
            if(userType && mobile){
                $(".haoma").css('display','none');
                $(".shenfen").css('display','none');
                $.ajax({  
                     type : "post",  
                      url : "{APP_PATH}index.php?m=content&c=index&a=checkMobIdentity",  
                      data:{"mobile":mobile,"userType":userType},
                      async : false,  
                      success : function(data){  
                        var data = JSON.parse(data);
                        if(data.code =="existent"){
                            $(".zhanghao").css('display','none');
                            $('.send_code').attr("disabled",true);
                                $.post("{APP_PATH}index.php?m=tparents&c=index&a=send_msg_code",{phone:phone},function(data){
                                    // alert(data.error_code);
                                    if(data.error_code != '2'){
                                        alert(data.msg);
                                        $('.send_code').attr("disabled",false);
                                        // countdown(60);
                                    }else{
                                        countdown(60);//短信发送成功倒计时
                                    }
                                },'json');
                          }else{
                             // $('input[name="mobile"]').parent().append('<span class="error-tip">帳號不存在,請檢查帳號身份是否有誤。</span>');
                             $(".zhanghao").css('display','block');
                            $('input[name="mobile"]').focus();
                          }  
                 } 
                });
            }else if(!userType){
                // $('input[name="userType"]').eq(0).parent().parent().parent().append('<span class="error-tip">請選擇您的身份。</span>');
                $(".shenfen").css('display','block');
                $('input[name="userType"]').eq(0).focus();
            }else if(!mobile){
                // $('input[name="mobile"]').parent().parent().parent().append('<span class="error-tip">請輸入正確的手機號碼。</span>');
                $(".haoma").css('display','block');
                $('input[name="mobile"]').focus();
            }else if(userType){
                $(".shenfen").css('display','none');
            }else if(mobile){
                $(".haoma").css('display','none');
            } 
        }

        

        //提交更改
        function change_passwd(mobile,userType,newpasswd,msg_code){
            $.post("{APP_PATH}index.php?m=content&c=index&a=password_find",{mobile:mobile,userType:userType,newpasswd:newpasswd,msg_code:msg_code},function(data){
                if(data.code == 'error_code'){
                    $('input[name="msg_code"]').parent().append('<span class="error-tip">驗證碼錯誤。</span>');
                    $('input[name="msg_code"]').focus();
                }else if(data.code == 'error_mobile'){
                    $('input[name="mobile"]').parent().append('<span class="error-tip">發送短信與註冊的手機號碼不一致</span>');
                    $('input[name="mobile"]').focus();
                }else{
                    alert('修改成功,請保存好您的新密碼!');
                    window.location.href='{APP_PATH}';
                }
            },'json');
        }

        $('.confirm-btn').click(function(){
            $('.error-tip').remove();//重置所有错误状态
            var error_state = 0;
            var pwd_math=/^[0-9]*$/i;
            var pwd_all=/[a-z0-9]+/i;
            var regPartton_8=/^\d{8}$/;
            var regPartton_11=/^\d{11}$/;
            //验证手机号码
            var mobile = $('input[name="mobile"]').val();
            if(mobile == '' || (!regPartton_8.test(mobile) && !regPartton_11.test(mobile))){
                $('input[name="mobile"]').parent().append('<span class="error-tip">請輸入正確的手機號碼。</span>');
                $('input[name="mobile"]').focus();
                error_state = 1;
            }

            //验证密码
            var passwd = $('input[name="passwd"]').eq(0).val();
            var re_passwd = $('input[name="passwd"]').eq(1).val();
            if(passwd.length < 6){
                $('input[name="passwd"]').eq(0).parent().append('<span class="error-tip">密碼至少由6位英文或數字組成。</span>');
                $('input[name="passwd"]').eq(0).focus();
                error_state = 1;
            }else if(passwd == '' || (!pwd_math.test(passwd) && !pwd_all.test(passwd))){
                $('input[name="passwd"]').eq(0).parent().append('<span class="error-tip">請輸入正確的新密碼。</span>');
                $('input[name="passwd"]').eq(0).focus();
                error_state = 1;
            }else if(passwd != re_passwd){
                $('input[name="passwd"]').eq(1).parent().append('<span class="error-tip">密碼不一致。</span>');
                $('input[name="passwd"]').eq(1).focus();
                error_state = 1;
            }

            //验证账号身份
            var userType = $('input[name="userType"]:checked').val();
            if(!userType){
                $('input[name="userType"]').eq(0).parent().parent().parent().append('<span class="error-tip">請選擇您的身份。</span>');
                $('input[name="userType"]').eq(0).focus();
                error_state = 1;
            }
            //验证验证码
            var code = $('input[name="code"]').val();
            if(code == ''){
                $('input[name="code"]').parent().append('<span class="error-tip">請输入正确的驗證碼</span>');
                $('input[name="code"]').focus();
                error_state = 1;
            }
            //验证短信验证码
            var msg_code = $('input[name="msg_code"]').val();
            if(msg_code == '' && code!=''){
                $('input[name="msg_code"]').parent().append('<span class="error-tip">請填寫收到的手機驗證碼</span>');
                $('input[name="msg_code"]').focus();
                error_state = 1;
            }

            //ajax验证手机号码与身份
            if(error_state == 0){
                $.post("{APP_PATH}index.php?m=content&c=index&a=checkMobIdentity",{mobile:mobile,userType:userType},function(data){
                    if(data.code == 'existent'){
                        change_passwd(mobile,userType,passwd,msg_code);//提交更改
                    }else{
                        $('input[name="mobile"]').parent().append('<span class="error-tip">帳號不存在,請檢查帳號身份是否有誤。</span>');
                        $('input[name="mobile"]').focus();
                    }
                },'json');
            }
        });
    </script>
</body>
</html>