{template "content","header_new"}
    <style>
        .entry-content{
            margin: 50px 0;
        }
        .parent-img{
            margin-bottom: 20px;
            text-align: center;
        }
        .parent-img img{
            width: auto;
            height: auto;
            max-width: 100%;
        }
    </style>
        {php $catid=$catid}
        {pc:get sql="select banner from v9_category where catid=$catid order by listorder desc" cache='3600' return="data"}
        {loop $data $v}
        <div class="top-tutor-main" style="background-image:url({$v[banner]})">
        {/loop}
        {/pc}
            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">{$title}</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>{$title}</span></li>
                        </ul>
                        <div class="bdsharebuttonbox" style="margin-top: -25px;float: right;">
                            <!-- <a href="#" class="bds_more" data-cmd="more"></a> -->
                            <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
                            <!-- <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a> -->
                            <a href="javascript:;" class="copy"  title="分享到WhatsApp" style="background: url({IMG_PATH}add_image/link.jpg) no-repeat;background-size: 95%;" onclick="copy();"></a>
                        </div>
                        <div class="alertbox">
                            <div class="md-modal modal-msg md-modal-transition">
                                <div class="md-modal-inner borderbox">
                                    <div class="md-top">
                                        <a class="closebox"></a>
                                    </div>
                                    <div class="md-content">
                                         <p style="margin:20px;">網址已複製到剪貼板</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript" id="bdshare_js" data="type=tools&uid=0" ></script>
                        <script type="text/javascript" id="bdshell_js"></script>
                        <script>
                             name="<?php echo $title;?>";
                        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":name,"bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};
                        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

                            function copy(url){
                                var url = window.location.href;
                                var save = function (e){
                                    e.clipboardData.setData('text/plain',url);//下面会说到clipboardData对象
                                    e.preventDefault();//阻止默认行为
                                }
                                document.addEventListener('copy',save);
                                document.execCommand("copy");//使文档处于可编辑状态，否则无效
                                $('.alertbox').addClass('md-show');
                            }
                            $('.closebox').click(function () {
                                $('.alertbox').removeClass('md-show');
                            });
                        </script>
                                     
                    </div>


                    <div class="col-sm-12 text-auto">
                        {$content}
                    </div>

                                     
                </div>
            </div>
        </div>
        <!--底部-->
        {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
</body>
</html>