<head><title>家長 / 學生登錄-Tutorseeking</title></head>
{template "content","header_new"}
<link rel="stylesheet" href="{CSS_PATH}add/parent-regis.css">
<link rel="stylesheet" href="{CSS_PATH}add/index.css">
<link href="{CSS_PATH}add_user/index.css" type="text/css" rel="stylesheet">

        {pc:get sql="select thumb from v9_position where posid=4 order by listorder desc" cache='3600' return="data"}
        {loop $data $v}
        <!--头部结束-->
        <div class="top-tutor-main" style="background-image:url({$v[thumb]})">
        {/loop}
        {/pc}
            <span class="overlay-top-main"></span>
            <div class="page-title-content">
                <div class="container">
                    <h1 class="page-title">家長 / 學生登錄</h1>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{APP_PATH}"><span>首頁</span></a></li>
                            <li><span>家長 / 學生登錄</span></li>
                        </ul>
                    </div>
                    <div class="entry-content" style="padding:0;">
                        <div class="panel-tab">
                            <div class="panel-tab-item active" style="width:100%;">家長 / 學生登錄</div>
                            <!-- <div class="panel-tab-item">確認</div> -->
                        </div>
                        <div class="tab-panel-content">
                            <!--登录部分-->
                            <div class="login-widget1" style="text-align: center;">
                                <div class="login-part" style="width: 100%;">
                                    <h2 class="login-title">
                                        <span>TutorSeeking</span>
                                    </h2>
                                    <div class="login-content">
                                        <div class="login-tab">
                                            <div class="login-tab-item">&nbsp;</div>
                                            <div class="login-tab-item">&nbsp;</div>
                                        </div>
                                        <div class="login-tab-panel">
                                            <div class="login-form" >
                                                <!--家長登錄-->
                                                <div class="tab-panel-item" style="display:block;">
                                                    <span class='student error-tip'></span>
                                                    <form  action="" class="studentform">
                                                        <input type="hidden" name="role" class='role' value="1">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control require" placeholder="電郵/電話" data-info="電郵" name='email'>
                                                            <div class="span-icon self-teicon"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" class="form-control require" placeholder="請輸入六位數以上密碼，密碼由字母+數字組成" data-info="密碼" name='pwd'>
                                                            <div class="span-icon"><i class="fa fa-lock"></i></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control require" placeholder="驗證碼" data-info="驗證碼" name='code'>
                                                            <div class="span-icon"><i class="fa fa-key"></i></div>
                                                            <div class="code-img"> 
                                                            {form::checkcode('code_img', '4', '14', 84, 24)}   
                                                            </div>
                                                        </div>
                                                        <div class="btn-part">
                                                            <a type="submit" class="part-btn login-btn">家長登入</a>
                                                            <div class="login-link">
                                                                <a href="{APP_PATH}index.php?m=content&c=index&a=password_find">找回密碼</a>
                                                                &nbsp;|&nbsp;
                                                                <a href="{APP_PATH}index.php?m=tparents&c=index&a=init">註冊</a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {template "content","footer_new"}
        <!--回到顶部-->
        <a href="javascript: ;" id="back-to-top">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
    <script src="{JS_PATH}add/jquery-1.11.2.min.js"></script>
    <script src="{JS_PATH}add/bootstrap.min.js"></script>
    <script src="{JS_PATH}add/base.js"></script>
    <script type="text/javascript">
        //登录验证
        $('.login-btn').click(function () {
            var flag = $(this).formConfirm();//表單驗證正確的標誌
            //表单验证成功后
            if(flag){
               var dataInfo=$('.studentform').serialize();
               var area='student';
                $.ajax({
                    url:'{APP_PATH}index.php?m=content&c=index&a=log',
                    type:"post",
                    data:dataInfo,
                    dataType:"html",
                    success: function(data){  
                        if(data=='0'){
                            var act_id = "{$_GET[act_id]}";
                            var person_id = "{$_GET[act_personid]}"; 
                            var uid = '{$_GET[uid]}';
                            if(uid){
                                window.location.href='{APP_PATH}index.php?m=teachers&c=index&a=tutor_detail&userid={$_GET[uid]}&tutor_id={$_GET[tranid]}';
                            }else if(act_id!='' && person_id!=''){
                                window.location.href='{APP_PATH}index.php?m=content&c=index&a=parent_act_detail&act_id={$_GET[act_id]}&act_personid={$_GET[act_personid]}';
                            }else{
                                window.location.href='{APP_PATH}';
                            }
                        }else if(data=='1'){                                                
                            if(confirm("您的帳號積分可兌換禮品，是否兌換？")){
                                window.location.href="/index.php?m=person&c=index&a=init";
                            }else{
                                var act_id = "{$_GET[act_id]}";
                                var person_id = "{$_GET[act_personid]}"; 
                                var uid = '{$_GET[uid]}';
                                if(uid){
                                    window.location.href='{APP_PATH}index.php?m=teachers&c=index&a=tutor_detail&userid={$_GET[uid]}&tutor_id={$_GET[tranid]}';
                                }else if(act_id!='' && person_id!=''){
                                    window.location.href='{APP_PATH}index.php?m=content&c=index&a=parent_act_detail&act_id={$_GET[act_id]}&act_personid={$_GET[act_personid]}';
                                }else{
                                    window.location.href='{APP_PATH}';
                                }
                            } 
                        }else{
                            $('.'+area+'').html(data);   
                        }       
                    }
                }); 
            }
        });
    </script>
</body>
</html>